@import '../../assets/sass/config';

.media-library {
  @include mq('phone', max) {
    padding-bottom: 47px;
  }
}

.book-info {
  color: $baseGray;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 20px;

  &__content-title {
    color: $baseGrayMediaSpan;
    margin-right: 5px;
  }

  @include mq(1024px, max) {
    font-size: 1rem;
  }
}
