@import '~assets/sass/config';

.search-content-head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include LatoBold;

  font-size: 1.3rem;
  line-height: 15px;
  color: $baseGray;
  padding: 0 11px 10px;
  border-bottom: 1px solid $baseGrayLight;

  p:first-child {
    font-size: 2rem;
    line-height: 24px;
  }

  @include mq('tablet') {
    p:last-child {
      white-space: nowrap;
    }
  }

  @include mq('phone') {
    flex-direction: column;
    padding: 0;

    p:first-child {
      font-size: 1.2rem;
      line-height: 14px;
      width: 100%;
    }

    p:last-child {
      font-size: 0.6rem;
      width: 100%;
      text-align: right;
    }
  }
}

.search-text-result {
  background: $baseOrange;
  padding: 3px;

  @include mq('phone') {
    padding: 8px 3px;
  }
}

.search-content-body {
  padding: 0 30px;

  @include mq('tablet') {
    padding: 0;
  }
}

.search-content-body-item {
  display: block;
  padding: 26px 0;
  cursor: pointer;

  @include LatoBold;

  font-size: 1.4rem;
  line-height: 20px;
}

.search-item-span {
  opacity: 0.5;
  margin-bottom: 11px;
}

.search-item-author {
  margin-bottom: 6px;
}

.search-item-info {
  font-size: 1.2rem;
  margin-bottom: 6px;
}

.search-item-desc {
  @include Lato;

  line-height: 18px;
}

.search-content-body-item + .search-content-body-item {
  border-top: 1px solid $baseGrayLight;
}

.replace-text {
  background: $baseOrange;
}

.big-desc {
  height: 40px;
  overflow: hidden;
}

.search-content-preloader {
  position: relative;
}
