.rpd_days {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  flex-direction: column;
  padding: 7px 14px;

  &.default {
    max-width: 296px;

    @media (max-width: 1024px) {
      max-width: 100%;
    }
  }

  @media (max-width: 1024px) {
    padding: 0;
    gap: 21px;
    flex-direction: row;
    border: none;
    max-width: 100%;
    justify-content: center;

    .rpd__days-wrapper {
      padding: 6px 16px;
      border: 1px solid #dcdcdc;
      border-radius: 5px;
    }
  }

  @media (max-width: 768px) {
    padding: 0 16px 8px;
    width: 100%;
    gap: 5px;
    border: 1px solid #dcdcdc;
    flex-direction: column;

    .rpd__days-wrapper {
      border: none;
      padding: 0;
    }
  }

  &.horizontal {
    @media (min-width: 1023px) {
      flex-direction: row !important;
      width: 100% !important;
      justify-content: space-between !important;
      padding: 4px 36px !important;
    }
  }

  &.change {
    .rpd__circle-day {
      cursor: pointer;
    }
  }

  &.form {
    @media (max-width: 1024px) {
      padding: 0 16px 8px;
      width: 100%;
      gap: 5px;
      border: 1px solid #dcdcdc;
      flex-direction: column;

      .rpd__days-wrapper {
        border: none;
        padding: 0;
      }
    }
  }

  &.min {
    .rpd__circle-day {
      width: 20px;
      height: 20px;
    }
  }
}

.rpd__days--title {
  font-size: 20px;
  color: #807f7f;
  white-space: nowrap;
  font-weight: 700;

  @media (max-width: 1024px) {
    font-size: 18px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.rpd__days-wrapper {
  display: flex;
  gap: 15px;

  @media (max-width: 768px) {
    gap: 0;
    justify-content: space-between;
    width: 100%;
  }
}

.rpd__circle-day {
  flex-shrink: 0;
  width: 25px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    position: relative;
    top: -1px;
  }

  height: 25px;
  border-radius: 50%;
  text-align: center;
  background: #f4f4f4;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25));

  @media (max-width: 1200px) {
    width: 20px;
    font-size: 15px;
    height: 20px;
  }
}

.rpd__circle-day--active {
  background: #fdd213;
  filter: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25) inset;
}
