@import '~assets/sass/config';

.paper__homeText {
  background-color: $cWhite;
  border: 1px solid $baseGrayLight;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    line-height: 25px;
  }
}

.homeText {
  width: calc(110% - 50px);
  padding: 35px 0 50px;
  margin: 0 35px;

  @include mq('tablet-wide') {
    margin: 0 20px;
  }

  @include mq('phone') {
    margin: 0 10px;
  }

  p {
    margin-bottom: 1em;
  }
}

.homeText__signature {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.homeText_title {
  display: inline-block;
  margin-right: 2px;
}
