@import '~assets/sass/config';

.bible-media__arrow-wrap {
  border-left: 1px solid $baseGraySelect;
  position: absolute;
  padding-left: 5px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
