@import '~assets/sass/config';

@mixin mediaDetail {
  background: $cWhite;
  border-radius: 2px;
  border: 1px solid $baseGrayLight;
  padding-top: 30px;
  padding-bottom: 30px;
}

.media-detail-info {
  @include mediaDetail;
}

.media-detail-info-preloader {
  @include mediaDetail;

  min-height: 300px;
  opacity: 0.5;
}
