@import '~assets/sass/config.scss';

.media-detail-video-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 244px;
  margin-left: 65px;
  position: relative;

  & > p {
    @include LatoBold;

    color: $baseDefaultGray;
    font-size: 1.3rem;
  }

  @include mq(1024px, max) {
    margin-left: 32px;
  }

  @include mq('phone', max) {
    width: 100%;
    flex: none;
    margin-left: 0;
  }
}

.media-detail-video-next {
  position: relative;
  margin-top: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid $baseGrayMediaLight;
  padding-bottom: 10px;
}

.media-detail-video-list {
  overflow-y: auto;
  margin-right: -17px;

  @include mq('phone') {
    width: 100%;
  }
}
