@import '../../assets/sass/config';

.translates-select {
  margin-left: auto;
  width: 40%;
  z-index: 140;
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
  background-color: $cWhite;

  > div {
    width: 100%;
  }

  @include mq('tablet') {
    width: 50%;
    margin-bottom: 0;
  }

  @include mq('phone') {
    width: 100%;
    margin-bottom: 0;
  }

  .translate__control {
    width: 220px;
  }

  .translate__menu {
    z-index: 10;
  }
}
