.rpb__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  width: 100%;
  padding-left: 4px;
  padding-right: 7px;
  background: linear-gradient(to right, #d9d9d9 90%, transparent 10%);
  line-height: 1;
  height: 25px;
  border-radius: 5px;

  @media (max-width: 768px) {
    font-size: 11px;
    height: 15px;
  }
}

.rpb__bar-wrapper {
}

.rpb__num {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.rpb__num.right {
  right: 10px;
  left: auto;
  top: 50%;
}

.date-wrapper {
  display: flex;
  justify-content: space-between;
  color: #f90;
  font-size: 18px;
  font-weight: 900;

  @media (max-width: 1200px) {
    font-size: 15px;
  }

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.rpb__bar {
  height: 26px;
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
  bottom: 0;

  @media (max-width: 768px) {
    height: 15px;
  }
}

.rpb__progress {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  top: 0;
}

.rpb__progress-area {
  position: relative;
  border-radius: 5px 0 0 5px;
  width: calc(100%);
  height: 100%;
  background: #09e511;
}

.rpb__progress-text {
  color: #030303;
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 3px;
  font-weight: 600;

  span {
    color: #f90;
    font-weight: 900;
  }

  @media (max-width: 1200px) {
    font-size: 15px;
  }

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.rpb__progress-area--arrow {
  position: absolute;
  right: -35px;
  width: 37px;
  height: 32px;
  z-index: 15;
  top: -3px;
  text-align: center;
  color: #fff;

  img {
    width: 100%;
    height: 100%;
  }

  span {
    position: absolute;
    top: 7px;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-55%);
  }

  @media (max-width: 768px) {
    top: -2px;
    width: 26.649px;
    height: 19px;
    right: -20px;

    span {
      top: 3px;
    }
  }
}

.rpb__lag {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  bottom: 0;
}

.rpb__lag-area {
  position: relative;
  height: 100%;
  left: 2px;
  border-radius: 5px 0 0 5px;
  background: #f8231f;
  color: #f8231f;
}

.rpb__lag-text {
  position: absolute;
  left: 100%;
  top: 4px;
  white-space: nowrap;
  padding-left: 7px;

  @media (max-width: 768px) {
    top: 2px;
  }
}

.lag-bottom {
  left: 50%;
  color: #f8231f;
  top: calc(100% + 4px);
  transform: translateX(-50%);
}
