@import '../../assets/sass/config';

.bible-content__title {
  @include LatoBold;

  font-size: 2.2rem;
  padding-bottom: 10px;
  border-bottom: 1px solid $baseGrayLight;
  margin-bottom: 20px;
}

.bible-content {
  width: 100%;
  border: 1px solid $baseGrayLight;
  margin-left: 30px;
  background-color: $cWhite;

  @include mq('tablet-wide') {
    margin-left: 10px;
  }

  @include mq('tablet') {
    margin: 0;
  }

  .tabs_in-paper {
    border: none;
  }

  .bible-content-preloader {
    border: none;
  }

  @include mq('phone') {
    width: 100%;
  }

  &.collapse {
    display: none;
  }

  &.bible-not-left {
    margin: 0;
  }
}

.bible__title-mobile {
  @include LatoBlack;

  font-size: 2.4rem;
}

.page-bible {
  @include mq(1024px, min) {
    @include mq(1024px) {
      .wrapper_two-col {
        flex-direction: column;
      }

      .testament__nav {
        width: 50%;
        margin: 0 auto;
      }
    }
  }

  .tabs_in-paper {
    .testament__book:last-child {
      .list__item {
        border-bottom: transparent;
      }
    }
  }
}

.bible-tabs__content {
  @include mq('phone') {
    padding: 0 10px;
  }
}

.bible-nav {
  font-size: 1.5rem;

  .tabs__head_justify {
    .tab {
      width: 50%;
      font-size: 1.5rem;
    }

    .tab:first-child {
      padding-right: 5px;
    }
  }

  .list__item {
    margin: -1px 0;
  }
}

.tabs__verseWrapper {
  padding-top: 0;
  padding-left: 17px;

  @include mq(1024px) {
    padding-top: 0;
    padding-left: 5px;
  }

  @include mq('tablet') {
    padding-top: 0;
    padding-left: 5;
  }

  @include mq('phone') {
    padding: 0;

    .tabs__list {
      padding: 0 7px;
    }

    .tab__actions {
      padding: 6px 15px;
    }
  }

  .tab {
    padding: 0;
    font-size: 1.2rem;
    line-height: 16px;
    max-width: 90px;
    text-align: center;

    @include LatoBold;

    margin-right: 10px;

    @include mq(1024px) {
      margin-right: 5px;
      font-size: 1rem;
    }

    @include mq('tablet') {
      font-size: 1.2rem;
      padding: 10px 0;
    }

    @include mq('phone') {
      @include LatoBold;

      margin-right: 5px;
      font-size: 0.9rem;
      max-width: 70px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.tab-action-icon {
  font-size: 2rem;
}

.bible-page {
  .paper {
    border: none;
  }

  .tab__actions {
    @include mq('tablet') {
      padding: 0;
      padding-right: 3px;
    }
  }

  .tab__action-list {
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: 8px;

    .tab__action-item {
      margin-top: 5px;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }

    .tab__action-item + .tab__action-item {
      margin-left: 0;
    }

    @include mq('tablet-wide') {
      .tab__action-item {
        margin-top: 5px;
        margin-right: 3px;
      }
    }

    @include mq('tablet') {
      margin: 0 5px 5px;

      .tab__action-item {
        margin-top: 5px;
        margin-right: 5px;
      }
    }

    @include mq('phone') {
      width: 100%;
      justify-content: space-around;
    }
  }

  .tabs_in-paper {
    border: none;

    @include mq('tablet') {
      &.book-tabs {
        border-left: 1px solid $baseGrayLight;
        border-top: 1px solid $baseGrayLight;
        border-bottom: 1px solid $baseGrayLight;
      }
    }
  }

  .tabs__head {
    border: 1px solid $baseGrayLight;

    @include mq('tablet') {
      border: none;
    }

    @include mq('phone') {
      border: none;

      &.tabs__verseWrapper {
        border: none;
      }
    }
  }

  @include mq('tablet') {
    .side {
      flex: 0 0 234px;
      width: 234px;
    }
  }

  @include mq('phone') {
    .side {
      flex: auto;
      width: 100%;
    }
  }
}

.bible-actions {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 5px;

  @include mq('phone') {
    margin: 5px 0;
  }
}

.chapter-content {
  width: 100%;

  @include mq('phone') {
    border-top: none;

    .verse_translates,
    .verse__parallels,
    .verse-ekzeget-list,
    .empty-content {
      border: none;
    }
  }

  .content-area-for-side {
    padding: 25px 15px;
  }
}
