@import '~assets/sass/config';

// FIXME:
//  Поправить этот mb__item нейминг
.mb__item {
  padding: 20px 20px 30px 20px;

  @include mq('phone') {
    padding: 20px 30px 16px;
  }

  + .mb__item {
    border-top: 1px solid $baseGrayLight;
  }

  &_visual {
    .video-play-iframe {
      height: 100%;
    }

    .mb__item-title {
      margin-bottom: 0;
    }
  }

  &_text {
    .mb__item-title {
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: $baseDefault;
    }
  }

  &_audio {
    .audioplayer {
      display: flex;
    }

    .audioplayer__wrap-second-col {
      // align-self: flex-end;
    }

    .audioplayer__track {
      min-width: auto;
      margin-right: 0;
    }

    .audioplayer__duration,
    .audioplayer__current-value,
    .audioplayer__slash {
      font-size: 1rem;
    }
  }
}

.mb__item-visual {
  display: block;

  picture {
    display: block;
    text-align: center;
  }

  .mb-img-motivator {
    object-fit: cover;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.mb__item-title,
.mb__item-author {
  @include LatoSemiBold;

  display: block;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 15px;
  color: $baseGray;
}

.mb__item-author {
  margin: 0;
  color: $baseDefault;
}

.mb__item-desc {
  display: block;
  max-height: 6em;
  overflow: hidden;
}

.bible-media__books {
  padding: 13px 15px;

  &:last-child {
    border-bottom: 1px solid $baseGrayLight;

    @include mq('tablet', min) {
      border-bottom: transparent;
    }
  }
}

.books__title {
  margin-bottom: 0;

  @include mq('tablet', min) {
    &:hover {
      color: $baseOrange;
    }
  }
}

.books__desc {
  color: $baseGray;
  margin-top: 6px;
}

.mb-video-title {
  display: flex;
  justify-content: space-between;
}

.mb-video-verse-content {
  display: flex;
  margin-top: 5px;
  flex-wrap: wrap;
}

.mb-video-verse {
  font-size: 1.4rem;
  text-align: right;
  line-height: 17px;
  color: $baseDefault;
  white-space: nowrap;
}

.mb-video-verse:not(:last-child) {
  &::after {
    content: ', ';
    margin-right: 5px;
    color: $baseDefault;
  }
}

.mb__item-info {
  margin-top: 10px;
}

.mb-img {
  height: 165px;
}
