@import '~assets/sass/config.scss';

.media-video {
  background: $cWhite;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  padding: 33px;
  border-radius: 2px;
  border: 1px solid $baseGrayLight;

  @include mq('tablet-wide') {
    grid-gap: 15px;
    padding: 33px 10px;
  }

  @include mq('phone') {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }

  @include mq('tablet', min) {
    @include mq('tablet-wide', max) {
      justify-content: space-around;
    }
  }
}
