@import '../../assets/sass/config.scss';

.motivator {
  list-style-type: none;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-left: 26px;
  cursor: pointer;

  @include mq('tablet') {
    margin: 20px;
  }

  @include mq('tablet-wide') {
    margin: 20px;
  }
}

.favorite__verseList-choosen {
  display: flex;
}

.__react_modal_image__header {
  width: 10% !important;
  display: flex;
  justify-content: center;
  right: 0;

  @include mq('tablet-wide', max) {
    display: flex;
    justify-content: flex-end;
    width: 100% !important;
  }
}

.motivator:last-child {
  margin-bottom: 20px;
}

.motivator__actions {
  position: absolute;
  margin-top: 10px;
  margin-left: 220px;
}

.action {
  padding: 8px;
  border-radius: 16px;
  background-color: $baseGrayMedia;
  transition: 0.3s;
  cursor: pointer;
}

.action:hover {
  background-color: $baseOrange;
  transition: 0.3s;
}

.action__search {
  margin-right: 10px;
}

.action__download:hover {
  color: $cBlack;
}
