@import '~assets/sass/config';

.media-multi-audio-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 9;
  padding: 11px 9px 11px 34px;
  margin: -1px -1px 0 -1px;
  border: 1px solid $baseGrayLight;

  .audioplayer__header {
    color: #2f2f2f;
    font-weight: 700;
  }

  @include mq('phone', max) {
    padding: 10px 10px;
  }

  &:hover {
    border-color: $baseOrange;
    z-index: 10;
  }
}

.media-multi-audio-list-info {
  @include mq('phone', max) {
    width: 50%;
  }
}

.media-multi-audio-player {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.media-multi-audio-list-info-glava {
  display: flex;
  font-size: 1.4rem;
  line-height: 17px;

  @include mq('tablet-wide', max) {
    flex-wrap: wrap;
  }

  & h4 {
    margin-right: 3px;
    word-break: break-word;
  }

  & span {
    color: $baseGrayHoverMedia;
  }
}
