@import '../../../assets/sass/config';

.mm-popup__box.mm-popup__box--addNote_popup {
  width: 490px;
  border-radius: 2px;

  .mm-popup__box__body {
    padding: 0;
  }

  .addNote {
    max-height: calc(100vh - 80px);

    .addFavorite__verse__header {
      p {
        margin: 0;
      }
    }

    .addFavorite__verse .addFavorite__verse__title {
      padding-bottom: 14px;
    }

    textarea {
      font-size: 1.6rem;
      width: 100%;
      resize: none;

      @include Lato;
    }
  }

  @include mq('phone') {
    width: 300px;

    .addFavorite__verse__title {
      p {
        font-size: 19px;
      }
    }
  }
}

.add-error {
  color: $cError;
  text-align: center;
}
