@import '../../assets/sass/config';

.yellow__text {
  background-color: yellow;
  font-weight: bold;
}

.search {
  @include mq('tablet') {
    width: 100%;
    flex-direction: column;
    margin-bottom: 16px;

    .select-adaptive {
      width: 100%;
    }

    .header__search {
      margin: 5px 0 15px 0;
    }
  }

  @include mq(1024px, min) {
    @include mq(1024px) {
      .wrapper_two-col {
        flex-direction: row;
      }
    }
  }
}

.search-content {
  margin-left: 30px;

  @include mq('tablet') {
    margin-left: 0;
  }
}
