@import '~assets/sass/config.scss';

.media-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
  grid-gap: 16px;

  @include mq('phone') {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 10px;
  }
}

.material__item {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: $cWhite;
  border: 1px solid $baseGrayLight;
  border-radius: 2px;
  position: relative;
}

.material__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 20px;
  border-bottom: 1px solid $baseGrayMediaLight;
  align-items: center;
  flex-wrap: nowrap;

  @include mq('tablet', max) {
    padding: 9px 10px;
  }
}

.material__body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  @include mq('tablet', max) {
    padding: 20px 10px;
  }
}

.material__count-download {
  @include Lato();

  font-size: 1.4rem;
  font-weight: 600;
  color: $baseDefault;
  white-space: nowrap;

  @include mq('tablet-wide') {
    font-size: 1.2rem;
    line-height: 14px;
  }
}
