@import '~assets/sass/config';

.bible-media-sorts {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $baseGrayLight;
  padding: 10px 25px;

  @include mq('tablet') {
    padding: 10px 20px;
  }

  @include mq('phone') {
    padding: 0 30px;
  }
}

.bible-media-sort {
  display: flex;
  padding: 10px 15px;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
  transition: color 0.3s;

  &.disabled {
    opacity: 0.5;

    &:hover {
      color: rgba(0, 0, 0, 0.3);
      cursor: default;
    }

    &.active {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  &::after {
    content: '↓';
    margin-left: 3px;
    font-size: 1.2rem;
  }

  &:hover,
  &.active {
    color: $baseOrange;

    &.asc {
      &::after {
        content: '↓';
      }
    }

    &.desc {
      &::after {
        content: '↑';
      }
    }
  }

  &:hover:not(.active) {
    &.desc {
      &::after {
        content: '↓';
      }
    }
  }

  &:last-child:not(:only-child) {
    &::after {
      display: none;
    }
  }

  &.isShow {
    display: none;
  }
}

.bible-media-sort-popup {
  position: relative;

  .filter-indicator:not(:empty) {
    font-size: smaller;
    font-weight: bold;
    position: absolute;
    left: 32px;
    top: 0;
    color: $cWhite;
    background-color: $baseOrange;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
}

.bible-inter-book {
  &::after {
    display: none;
  }
}
