@import '~assets/sass/config';

.page_head {
  position: relative;
  margin-bottom: 30px;

  @include mq('phone') {
    margin-top: 4px;
  }

  .page_title {
    max-width: 100%;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    font-size: 36px;

    @include mq('tablet') {
      max-width: 100%;
    }

    @include mq('phone') {
      font-size: 26px;
      line-height: 30px;
    }
  }

  .page_title-lk {
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.page_content {
  display: flex;
  flex-direction: column;
}

.page_head_two-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-page__subtitle {
  padding-left: 5px;
}

.page-head-container {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.page-desc-link {
  @include LatoBold;

  padding-bottom: 1px;
  font-size: 14px;
  background-color: transparent;
  outline: transparent;
  cursor: pointer;

  p {
    border-bottom: 1px solid $baseOrange;
  }

  @include mq('tablet') {
    font-size: 15px;
  }
}

.preloader-meta {
  height: 40px;
}
