@import '~assets/sass/config';

.material__book-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.material_book_info_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.media-content-info-btn {
  margin-top: 16px;

  @include mq('tablet') {
    margin-top: 10px;
  }

  @include mq('phone') {
    margin-top: 16px;
  }
}
