@import '../../assets/sass/config';

.form-wrapper {
  width: 408px;
  background-color: $cWhite;
  margin: 0 auto;
  padding: 30px 40px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;

  @include mq(420px) {
    width: 98vw;
    position: absolute;
    left: 1vw;
    padding: 30px 5px;
  }

  .mm-popup__box__header__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.8rem;
  }
}
