@import '../../../assets/sass/config';

.quiz-ui__link {
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 35px;
  border: 1px solid #d4e7ff;
  background-image: linear-gradient(180deg, #f5f9ff 0%, #d4e7ff 100%);
  padding: 14px 30px;
  margin: 6px auto;
  white-space: nowrap;
  width: 100%;
  max-width: 400px;
  text-align: center;

  &:hover {
    background-image: linear-gradient(180deg, #f5f9ff 40%, #d4e7ff 100%);
  }

  @include mq('phone', min) {
    padding: 8px 30px;
    font-size: 1.4rem;
    max-width: initial;
    width: auto;
  }
}

.quiz-ui__right {
  transform: rotate(-45deg);
  border: solid $baseGray;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin: 0 0 1px 8px;
}
