@import '../../assets/sass/config';

.subscribe {
  padding: 15px;
  border: 1px dotted $input_border;
  border-radius: 8px;
  background-color: $cWhite;
}

.subscribe__form {
  flex-direction: column;

  label {
    font-size: 1.4rem;
    font-weight: 600;
  }

  &__input {
    display: flex;
    margin-top: 8px;

    input {
      border: 1px solid $input_border;
      border-radius: 2px 0 0 2px;
      font-size: 1.4rem;
      padding: 6px 10px;
    }

    button {
      height: 30px;
      width: 30px;
      border-top: 1px solid $input_border;
      border-bottom: 1px solid $input_border;
      border-right: 1px solid $input_border;
      border-radius: 0 2px 2px 0;
      cursor: pointer;
    }
  }
}
