@import '../../../assets/sass/config';

.lectionsinday__datapicker {
  right: -60px !important;
  top: 50px !important;
  left: unset !important;
  z-index: 1;

  @include mq(phone) {
    right: -1px !important;
  }

  @include mq('phone', min) {
    @include mq('tablet') {
      right: 40px !important;
    }
  }
}

.react-calendar {
  width: 280px;
  max-width: 100%;
  background-color: $cWhite;
  border: 1px solid #f0f0f0;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.react-calendar__navigation__arrow {
  display: none;
  font-size: 0;
}

.react-calendar__navigation__label {
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  font-weight: 800;
  font-size: 16px;
  text-align: center;
}

.react-calendar__month-view__days {
  background-color: $baseGrayBody;
}

.react-datepicker__week {
  display: flex;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  color: $lectionBlue;

  > * {
    text-decoration: none;
  }
}

.react-calendar__month-view__days__day--weekend {
  color: black;
}

.react-calendar__month-view__days__day {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: $cWhite;
  border: 1px solid #f9f8f6 !important;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 0;

  &:hover {
    background-color: $baseOrange;
  }

  &.react-calendar__tile--now {
    background-color: $baseOrange;
  }

  &.react-calendar__month-view__days__day--neighboringMonth {
    opacity: 0.5;
  }
}

.react-calendar__navigation__arrow {
  overflow: hidden;
  position: absolute;
  top: calc(50% - 11px);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: $baseOrange !important;
  z-index: 2;
  cursor: pointer;
  min-width: auto !important;
}

.react-calendar__navigation__prev-button {
  display: block;
  left: 10px;

  &::before {
    content: '';
    position: absolute;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%232f2f2f'%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    width: 5px;
    height: 8px;
    top: calc(50% - 4px);
    left: calc(50% - 3px);
  }
}

.react-calendar__navigation {
  position: relative;
  height: 64px;
}

.react-calendar__navigation__next-button {
  display: block;
  right: 10px;

  &::before {
    content: '';
    position: absolute;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%232f2f2f'%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    width: 5px;
    height: 8px;
    top: calc(50% - 4px);
    left: calc(50% - 1px);
  }
}

.react-date-picker__wrapper {
  border: transparent;
}
