@import '../../../assets/sass/config';

.page.favorites {
  flex: 1 1 0;
  border: 1px solid $baseGrayLight;
  border-radius: 2px;
  background-color: $cWhite;

  .preloader {
    min-height: 1px;
    background-color: transparentize($cWhite, 0.4);
    z-index: 4;
  }
}

.favorites {
  @include mq('tablet') {
    margin-right: 10px;
  }
}

.favorites__main {
  border-bottom: 1px solid $baseGrayLight;
  position: sticky;
  top: 0;
  background-color: $cWhite;

  @include mq('phone', max) {
    top: 61px;
  }
}

.favorites__nav {
  display: flex;

  @include mq('phone', max) {
    justify-content: space-between;
  }

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 15px;
    margin: 0 10px;
    cursor: pointer;
    line-height: 1;
    font-weight: normal;

    @include Lato;

    @include mq('phone', max) {
      padding: 19px 10px;
      margin: 0 5px;
    }
  }

  @include mq('tablet', min) {
    flex-wrap: wrap;
  }
}

.favorite__verseList {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    border-bottom: 1px solid $baseGrayLight;
    padding: 10px 20px 10px 24px;
  }

  .favorite__verseList__allTags {
    padding: 10px 20px 10px 24px;
  }

  .favorite__verseTags {
    padding: 0;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;

    p {
      cursor: pointer;
    }
  }

  &__text {
    display: flex;
    justify-content: flex-start;
  }

  &__tags {
    font-style: italic;
    margin-top: 10px;
  }
}

.tag {
  @include mq('tablet') {
    max-width: 350px;
  }

  @include mq('phone') {
    overflow: hidden;
    max-width: 150px;
    text-overflow: ellipsis;
  }
}

.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
  white-space: nowrap;

  @include mq('tablet') {
    max-width: 350px;
  }

  @include mq('phone') {
    max-width: 200px;
  }
}

.favorite__interpretation {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .notes__text {
    width: 100%;
    overflow: hidden;
  }

  li {
    padding: 20px 25px;
    border-bottom: 1px solid $baseGrayLight;

    &:last-child {
      border-bottom: transparent;
    }

    &:hover {
      span {
        visibility: visible;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    margin: 10px 0;

    a {
      margin-right: 6px;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      cursor: pointer;
      visibility: hidden;
    }
  }
}

.notes {
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 1.6rem;
  }

  span {
    cursor: pointer;
  }

  &__content {
    p:first-child {
      margin: 0 0 10px;
    }

    textarea {
      @include Lato;

      width: 100%;
      border: 1px solid $baseGrayLight;
      padding: 10px 12px;
      font-size: 1.4rem;
      line-height: 1.5;
      resize: none;
    }
  }

  &__text {
    padding: 10px 20px;
    background-color: $baseGrayLight;
    border: 1px solid $baseGrayLight_hover;
    border-radius: 2px;
  }
}

.favorite__verseList__allTags {
  display: flex;
  flex-wrap: wrap;

  p {
    margin: 0 6px 6px 0;
    padding: 4px 12px;
    border-radius: 20px;
    background-color: $baseOrange;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    user-select: none;
    order: 1;

    &:hover {
      background-color: $baseOrange_hover;
    }

    &:active {
      transform: scale(0.85);
      transform-origin: center center;
    }

    &.choosen__tag {
      order: 0;
      background-color: $baseOrange_hover;

      &::after {
        content: 'X';
        margin-left: 6px;
      }
    }
  }
}

.favorite__verseList__edit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $cWhite;

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
  }
}

.lk-page {
  .favorite__verseList-link {
    background-color: $baseOrange;

    &:hover {
      transition: 0.4s ease;
      color: $cBlack;
      background-color: $baseOrange_hover;
    }
  }
}

@include mq('tablet') {
  .LK__interpretations {
    border: 1px solid $baseGrayLight;

    .favorites__nav {
      border-bottom: 1px solid $baseGrayLight;
    }

    .myInterp__item {
      p {
        margin-left: 5px;
      }
    }
  }
}

@include mq('tablet', min) {
  .LK__interpretations {
    border: 1px solid $baseGrayLight;

    .favorites__nav {
      border-bottom: 1px solid $baseGrayLight;
    }
  }
}

.choosen__tag {
  padding: 10px 20px;
}
