@import '../../assets/sass/config';

.lectioninday__head {
  display: flex;
  height: 45px;
  line-height: 45px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e8e8e8;

  .bible-tab {
    cursor: pointer;
  }
}

.level-header {
  position: relative;
  text-align: center;
}

.level-header__title {
  display: flex;
  justify-content: center;
}

.level-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 800;
  font-size: 30px;
  line-height: 1.1;

  @include mq(phone) {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
  }
  $fromBase: 766;
  $toBase: 320;
  @media (max-width: 766px) {
    font-size: adaptPx(24, 15, #{$fromBase}, #{$toBase});
  }
}

.level-lead {
  min-height: 100px;
  position: relative;
  margin: 25px auto 0;
  padding: 0 105px;
  max-width: 760px;

  @include LatoSemiBold;

  font-size: 16px;

  .preloader {
    top: 75px;
  }

  @include mq('phone', min) {
    @include mq('tablet') {
      padding: 0 50px;
      min-height: 100px;

      .preloader {
        top: 60px;
      }
    }
  }

  @include mq('phone') {
    padding: 0 34px;
    margin-top: 0;
    font-size: 14px;
    min-height: 80px;

    .preloader {
      top: 40px;
    }
  }
}

// TODO: доделать кнопки на главной после адаптивности
.reading-ctrl {
  position: absolute;
  top: calc(50% - 20px);
  left: 0;
  width: 100%;
}

.reading {
  min-height: 500px;
  position: relative;
  padding: 40px;
  border: 2px solid $baseOrange;
  background-color: $cWhite;

  .external-video {
    width: 50%;
    margin-left: 40px;
    float: right;
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    @media (max-width: 1023px) {
      width: calc(100% - 20px * 2);
      margin: 20px 20px 0 20px;
    }
  }

  & > * {
    width: 100%;
  }

  @include mq('tablet') {
    padding: 0 0 20px;

    .tab {
      font-size: 18px;
    }

    .tabs__content {
      padding: 20px 20px 0 20px;
    }

    .tabs__head {
      padding: 0 10px;
    }
  }
}

.reading-tabs {
  .tab:not(:first-child) {
    margin-left: 30px;

    @include mq('tablet') {
      margin-left: 0;
    }
  }
}

.reading__group {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.reading__group-head {
  margin-bottom: 10px;
}

.reading__group-link {
  @include LatoBold;

  font-size: 1.5rem;
  padding-bottom: 1px;
  border-bottom: 1px solid $baseOrange;
}

.reading-list {
  margin: 0 0 20px;

  dt,
  dd {
    margin: 0 0 15px 0;
  }

  dt {
    font-weight: 800;
    font-size: 16px;
  }

  dd + dt {
    margin-top: 20px;
  }
}

.reading-ctrl__datepicker {
  outline: transparent;
  border: transparent;
  background-color: transparent;
  height: 40px;
  z-index: 100;
}

.reading-ctrl {
}

#js-news-swiper-ctrl .next,
#js-news-swiper-ctrl .prev,
.reading-ctrl__prev,
.reading-ctrl__next,
.react-date-picker__calendar-button > div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $baseOrange;
  font-size: 3rem;
  cursor: pointer;

  &:hover {
    background-color: $baseOrange_hover;
  }

  @include mq(phone) {
    width: 32px;
    height: 32px;
  }
}

.react-date-picker__calendar-button {
  height: 40px;
  margin-right: 30px;
}

#js-news-swiper-ctrl .prev,
.reading-ctrl__prev {
  left: 0;
}

#js-news-swiper-ctrl .next,
.reading-ctrl__next {
  right: 0;

  .icon {
    position: relative;
    left: 3px;
  }
}

.reading-ctrl__prev,
.reading-ctrl__next {
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.react-datepicker__input-container > div {
  font-size: 2rem;

  .icon {
    position: relative;
    bottom: 2px;
  }
}

#js-news-swiper-ctrl .button-small {
  position: absolute;
  top: 50%;
  right: 60px;
  margin-top: -20px;
  line-height: 30px;
}

.lecture {
  margin-top: 30px;
}

.lecture-title {
  margin: 0 0 25px;
  font-weight: 600;
  font-size: 18px;
}

.lecture-data {
  //@extend .row;
}

.lecture-map {
  //@include col(6);
}

.lecture-map-container {
  height: 500px;
  background-color: $baseGrayQuestion;
  border: 8px solid $baseOrange;
}

.lecture-items {
  //@include col(6);
}

.lecture-item {
  display: block;
  position: relative;
  padding: 18px 25px 22px;
  border: 1px solid transparent;
  border-top-color: $whiteGray;
  color: $cBlack;

  &:not(:first-child) {
    margin-top: -1px;
    border-bottom-color: $whiteGray;
  }

  &:hover {
    z-index: 1;
    border-color: $cBlack;
    color: $cBlack !important;
  }

  h3 {
    margin: 0;
    font-weight: 700;
    font-size: 18px;

    span {
      position: relative;
      top: -0.1em;
      display: inline-block;
      margin-right: 10px;
      width: 26px;
      border: 5px solid #5bacdc;
      border-radius: 50%;
      font-weight: 800;
      font-size: 10px;
      line-height: 16px;
      text-align: center;
      vertical-align: middle;
    }
  }

  p {
    margin: 10px 0 0;
    line-height: 1.6;
  }
}

.lecture-more {
  display: block;
  margin-top: 15px;
  padding: 12px 25px;
  border: 1px solid #f0f0f0;
  font-weight: bold;
  font-size: 15px;
  text-align: center;

  &:hover {
    border-color: $cBlack;
  }
}

.reading-ctrl__datepicker {
  width: 40px;
  left: unset;
  right: 60px;
  top: 100%;
  position: absolute;
}

.reading-header__datepicker {
  margin-left: 10px;
}

.react-calendar {
  width: 280px;
  max-width: 100%;
  background-color: $cWhite;
  border: 1px solid #f0f0f0;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.react-calendar__navigation__arrow {
  display: none;
  font-size: 0;
}

.react-calendar__navigation__label {
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  font-weight: 800;
  font-size: 16px;
  text-align: center;
}

.react-calendar__month-view__days {
  background-color: $baseGrayBody;
}

.react-datepicker__week {
  display: flex;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  color: $lectionBlue;

  > * {
    text-decoration: none;
  }
}

.react-calendar__month-view__days__day--weekend {
  color: black;
}

.react-calendar__month-view__days__day {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: $cWhite;
  border: 1px solid #f9f8f6 !important;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 0;

  &:hover {
    background-color: $baseOrange;
  }

  &.react-calendar__tile--now {
    background-color: $baseOrange;
  }

  &.react-calendar__month-view__days__day--neighboringMonth {
    opacity: 0.5;
  }
}

.react-calendar__navigation__arrow {
  overflow: hidden;
  position: absolute;
  top: calc(50% - 11px);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: $baseOrange !important;
  z-index: 2;
  cursor: pointer;
  min-width: auto !important;
}

.react-calendar__navigation__prev-button {
  display: block;
  left: 10px;

  &::before {
    content: '';
    position: absolute;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%232f2f2f'%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    width: 5px;
    height: 8px;
    top: calc(50% - 4px);
    left: calc(50% - 3px);
  }
}

.react-calendar__navigation {
  position: relative;
  height: 64px;
}

.react-calendar__navigation__next-button {
  display: block;
  right: 10px;

  &::before {
    content: '';
    position: absolute;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%232f2f2f'%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    width: 5px;
    height: 8px;
    top: calc(50% - 4px);
    left: calc(50% - 1px);
  }
}

.reading-ctrl__prev,
.reading-ctrl__next {
  border: transparent;
  background-color: transparent;
  outline: transparent;
  cursor: pointer;
}

.chapter__verse-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;

  @include mq('phone') {
    align-items: initial;
  }
}

.chapter__verse-number {
  padding-top: 1px;
  margin-right: 6px;
}

.reading__group-empty {
  font-size: 2rem;
  text-align: center;
  padding: 20px 0;
}

.reading-ctrl__icon {
  width: 20px;
  height: 20px;

  @include mq('tablet', max) {
    width: 18px;
    height: 18px;
  }
}

.page__desc-toggle {
  transition: color 0.4s;

  &:hover {
    color: $baseOrange;
  }
}

.react-date-picker__inputGroup,
.react-date-picker__clear-button {
  display: none;
}
