@import '../../assets/sass/config';

.latest-news {
  @include mq('tablet') {
    .section__title {
      text-align: center;
    }
  }
  $fromBase: 766;
  $toBase: 320;
  @media (max-width: 766px) {
    .section__title {
      font-size: adaptPx(26, 22, #{$fromBase}, #{$toBase});
    }
  }

  .latest-news__item {
    @include mq('tablet') {
      border: 1px solid $baseGrayLight;
      margin-left: 0;
      margin-right: 0;

      // &:nth-last-child(2) {
      //   margin-bottom: 5px;
      // }
    }
  }
}

@include mq(phone) {
  .latest-news__item.latest-news__item_all.paper {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    a {
      white-space: nowrap;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 24px;
      border-bottom: 1px solid $baseOrange;
    }
  }
}

.latest-news__head {
  margin-bottom: 40px;

  @include mq(phone) {
    margin-bottom: 20px;
  }
}

.section__title {
  @include LatoBold;

  font-size: 30px;
  text-align: center;

  @include mq(phone) {
    max-width: 324px;
    margin: 0 auto;
    font-size: 26px;
    text-align: left;
  }
}

.latest-news__body {
}

.latest-news__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include mq(phone) {
    justify-content: center;
  }

  @include mq('tablet') {
    justify-content: space-around;
  }
}

.latest-news__item {
  width: 276px;
  padding: 20px 15px;
  margin: 0 5px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mq(phone) {
    width: 302px;
    justify-content: center;
  }

  @include mq('414px') {
    width: 100%;
  }

  &_all {
    justify-content: center;
    align-items: center;

    @include LatoBold;

    font-size: 2.1rem;
    text-align: center;
  }
}

.latest-news__item-date {
  @include Lato;

  color: $versesActionIcon;
  margin-bottom: 15px;

  @include mq(phone) {
    margin-bottom: 5px;
  }
}

.latest-news__item-title {
  @include LatoBold;

  font-size: 2.1rem;
  margin-bottom: 25px;
  min-height: 65px;

  @include mq('tablet') {
    margin-bottom: 22px;
  }
}

.latest-news__item-desc {
  margin-bottom: 25px;
  text-align: justify;
  flex: 1 1 auto;

  ul {
    padding-left: 20px;
  }
}

.latest-news__item-more {
  a {
    padding-bottom: 1px;
    border-bottom: 1px solid $baseOrange;
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.news__preloader {
  position: relative;
  height: 200px;
}
