@import '../../assets/sass/config';

.quiz-questions__correct-answer-hidden {
  visibility: hidden;
  position: absolute;
}

.quiz-questions.quiz-testaments {
  margin-top: 0;
  position: relative;

  .quiz-ui__link {
    @include mq('phone', min) {
      margin-bottom: 14px;
    }
  }
}

.quiz-questions__preloader {
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.5);
}

.quiz-question {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  border: 1px solid #d4e7ff;
  background-image: linear-gradient(180deg, #f5f9ff 0%, #d4e7ff 100%);
  padding: 14px 24px;
  margin-bottom: 14px;

  @include mq('phone', min) {
    margin: 0 20px 20px;
  }

  @include mq('tablet', min) {
    margin: 0 40px 20px;
  }

  &:hover {
    background-image: linear-gradient(180deg, #f5f9ff 50%, #d4e7ff 80%);
  }
}

.quiz-question__number,
.quiz-question__text {
  @include Lato;

  color: $baseGray;
}

.quiz-question__number {
  font-size: 1.6rem;
  font-weight: 700;
  margin-right: 10px;
}

.quiz-question__text {
  font-size: 1.5rem;
  display: block;
  width: 100%;

  @include mq('phone', min) {
    font-size: 1.6rem;
  }
}

.quiz-correct {
  border-radius: 30px;
  margin-top: 6px;
  background-color: $quizGreenLight;
}

.quiz-correct__head {
  padding: 20px;
}

.quiz-correct__title {
  display: block;

  @include Lato;

  color: $quizGreen;
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.quiz-correct__question {
  @include Lato;

  font-size: 1.4rem;
}

.quiz-correct__body {
  margin: 2px 6px 6px 6px;
  background-color: white;
  border-radius: 0 0 28px 28px;
  padding: 20px;
}

.quiz-correct__explanation,
.quiz-correct__comment {
  display: flex;
  flex-direction: column;
}

.quiz-correct__explanation {
  margin-bottom: 20px;
}

.explanation__title,
.comment__title,
.explanation__text,
.comment__text {
  @include Lato;

  font-size: 1.6rem;
  line-height: 2.2rem;
}

.explanation__text a {
  @include LatoBold;

  border-bottom: 2px solid $baseOrange;
}

.explanation__title,
.comment__title {
  font-weight: 800;
  margin-bottom: 16px;
}

.quiz-correct__desc {
  font-size: 1.6rem;
  color: black;
  margin-bottom: 0;
}

.quiz-correct__question-size {
  font-size: 1.8rem;
}

.quiz-wrong {
  padding: 14px 20px;
  border-radius: 30px;
  background-color: $quizRose;
  margin: 4px 0 20px;
}

.quiz-wrong__title {
  color: $quizRed;
  font-size: 2.4rem;
  display: block;
  margin-bottom: 10px;
}

.quiz-wrong__text {
  font-size: 1.4rem;
}

.quiz-question__quit-link {
  border-radius: 35px;
  padding: 15px 40px;
  margin-bottom: 12px;
  text-align: center;
  width: 100%;
  max-width: 400px;

  @include mq('phone', min) {
    font-size: 1.4rem;
    padding: 8px 30px;
    width: auto;
    max-width: initial;
    margin: 12px auto 36px;
  }
}

@include mq('phone', min) {
  .quiz-questions.quiz-testaments {
    flex-direction: column;
    width: 100%;
  }

  .quiz-correct {
    margin: 6px 14px 0 14px;
  }

  .quiz-correct__question {
    font-size: 1.8rem;
  }

  .quiz-wrong {
    margin: 4px 14px 20px 14px;
  }

  .quiz-wrong__text {
    font-size: 1.8rem;
  }
}

@include mq('tablet', min) {
  .quiz-correct {
    margin: 20px 40px;
  }

  .quiz-wrong {
    margin: 4px 40px 20px 40px;
  }
}

.quiz-link__wrapper {
  text-align: center;

  .quiz-ui__link {
    margin-bottom: 14px;

    @include mq('phone', min) {
      margin-bottom: 0;
    }
  }
}

.quiz-questions__count {
  .quiz-questions {
    display: none;
    width: 100%;
  }

  @include mq(570px, max) {
    .quiz-questions-mobile {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin-bottom: 0;

      .quiz-questions__item:nth-child(6n) {
        margin-right: 0;
      }
    }
  }

  @include mq(571px, min) {
    .quiz-questions-not-mobile {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      &:nth-child(2) {
        margin-bottom: 0;
      }

      .quiz-questions__item:last-child {
        margin-right: 0;
      }
    }
  }
}

.quiz-link__wrapper-to-results {
  margin-bottom: 20px;

  @include mq('phone', min) {
    @include mq('tablet', max) {
      .quiz-ui__link {
        padding: 6px 20px;
        font-size: 1.3rem;
      }
    }
  }
}

.quiz-link__start-question {
  margin: 32px 0 0 0;

  .quiz-testaments__to-quiz {
    padding: 12px 40px;
    font-size: 1.7rem;
    line-height: 1.9rem;

    @include mq('phone', min) {
      font-size: 2rem;
      line-height: 2.4rem;
      padding: 17px 40px;
    }
  }

  @include mq('phone', min) {
    margin-bottom: 40px;
  }

  @include mq('tablet', min) {
    margin: 20px 40px 60px 0;
    text-align: right;
  }
}

.quiz-questions__for-new-user {
  min-height: 400px;
}

.quiz-audio-player {
  @include mq('phone') {
    .rhap_controls-section {
      justify-content: space-between;
    }

    .custom_mute {
      flex: none;
    }
  }
}

.quiz-correct__comment {
  .verse-text {
    margin-bottom: 5px;
    font-size: 1.7rem;
  }

  .comment__title {
    margin-top: 15px;
  }

  .comment__text {
    margin: 15px 0;
  }
}

.quiz-answer-interpretations {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.comment__text {
  grid-column: 1 / span 2;
}

.quiz-answer-interpretations__item {
  grid-column: 1;
  display: inline-block;
  position: relative;
  border: 1px solid $baseGrayLight;
  transition: border 0.4s;
  background-color: $cWhite;

  &:hover {
    z-index: 1;
  }

  .quiz-answer-interpretations__toggle {
    transition: 0.25s ease;
    opacity: 0.9;

    @include Lato;

    display: inline-block;
    padding: 15px 35px 15px 25px;
    cursor: pointer;
    word-break: break-word;
    font-size: 1.5rem;
    width: 100%;
    text-align: left;

    .icon {
      position: absolute;
      font-size: 2.5rem;
      right: 3px;
      top: 50%;
      transform: translate(0, -50%);
      transition: transform 0.3s ease-out;
    }

    &.active .icon {
      transform: translate(0, -50%) rotate(180deg);
    }
  }
}
