@import '../../assets/sass/config';

.textfield__input {
  @include Lato;

  font-size: 1.2rem;
  border-radius: 2px;
  padding: 9px;
  padding-right: 24px;
  border: 1px solid $baseGrayLight;
  line-height: 10px;
  width: 100%;
  transition: border-color 0.4s;

  &:focus {
    border-color: $baseGrayLight_hover;
  }

  @include mq('tablet') {
    min-height: 50px;
    font-size: 16px;
    line-height: 18px;
  }

  @include mq('phone') {
    min-height: 40px;
    font-size: 16px;
  }
}

.textfield__input-wrap {
  position: relative;
  .right-slot {
    position: absolute;
    right: 10px;
    top: 12px;
  }
}

.textfield__input-eye {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  transition: color 0.4s;

  &:hover,
  &.active {
    color: $baseOrange;
  }

  @include mq('phone') {
    top: 10px;
    right: 8px;
  }
}

.textfield__input-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include mq('tablet') {
    height: 100%;
    font-size: 15px;
  }
}

.textfield__password {
  padding-right: 25px;
}

.textfield__label {
  @include mq('phone') {
    overflow: hidden;
    width: 250px;
    display: inline-block;
    text-overflow: ellipsis;
  }
}

.indent {
  @include mq('phone') {
    margin-top: 2px;
  }
}
