@import '~assets/sass/config';

.video-play-container {
  position: relative;
  overflow: hidden;
  padding-top: 0;
  width: 100%;
}

.video-play-iframe {
  position: relative;
  height: 322px;
  width: 100%;

  @include mq('phone', max) {
    height: 210px;
  }

  @include mq('phone', min) {
    @include mq('tablet', max) {
      height: 420px;
    }
  }
}
