@import '../../assets/sass/config';

.bible-group {
  width: 100%;
  overflow: hidden;
  position: relative;

  p {
    font-size: 1.4rem;
    line-height: 24px;
  }

  &__news {
    margin-top: 20px;
  }

  .preloader {
    background-color: $menuInputHover;
    z-index: 3;
  }

  &__content {
    @include Lato;

    margin-bottom: 40px;

    h3 {
      font-size: 2.2rem;
    }

    &__title {
      p {
        opacity: 0.6;
        color: $baseGray;
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
  }

  &__links {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 39px;
    list-style: none;

    a {
      border-bottom: 1px solid $baseOrange;
    }
  }
}

.content__paper {
  background-color: $cWhite;
  border: 1px solid #e8e8e8;

  @include mq('tablet-wide', max) {
    margin: 0 auto;
    width: 80%;
  }

  @include mq('tablet', max) {
    width: 95%;
    margin: 0 auto;
  }

  @include mq('phone', max) {
    width: 100%;
  }
}

.content__paper-border {
  border: 1px solid $baseGrayLight;
}

.container {
  flex-direction: column;
  padding: 25px;

  ul {
    list-style-type: none;
  }

  @include mq('tablet') {
    margin-bottom: 30px;
  }

  @include mq('phone') {
    margin-bottom: 10px;
  }
}

.bible-group__details {
  position: relative;
  flex: 1 1 100%;
  overflow: hidden;
  white-space: pre-line;

  ol {
    list-style-position: inside;
  }

  &__title {
    margin-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 8px;
  }

  &__content {
    text-align: justify;
  }

  &__back {
    margin: 20px;

    a {
      font-size: 1.5rem;
      border-bottom: 1px solid $baseOrange;
    }
  }

  .preloader {
    background-color: $menuInputHover;
  }

  @include mq('tablet') {
    flex: initial;
  }

  @include mq('tablet-wide') {
    flex: initial;
  }
}

.bible-group__chavo {
  background-color: $cWhite;
  border: 1px solid $baseGrayLight;
  border-radius: 4px;

  &__head {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }

  &__head-img {
    display: flex;
    align-items: center;
    flex-basis: 48px;
    margin-right: 24px;
  }

  &__head-title {
    flex: 1 1 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #dedede;

    img {
      transition: transform 0.3s;
    }
  }

  .bible-group__links {
    padding: 0 20px 20px 96px;
    list-style: none;

    li {
      line-height: 22px;
      margin-bottom: 17px;
    }
  }
}

.bible-group__search {
  &-tools {
    display: flex;
    border: 1px solid $baseGrayLight;
    border-radius: 2px;
  }

  &-input {
    flex-basis: 276px;
    background-color: $cWhite;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    ul {
      flex: 1 1 0;
      list-style: none;
      overflow-y: auto;
    }

    li {
      padding: 32px 19px;
      border-bottom: 1px solid $baseGrayLight;

      & > div {
        display: flex;
        cursor: pointer;

        img {
          margin-right: 8px;
        }
      }
    }

    h4 {
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 12px;
      line-height: 1.4;
    }

    p {
      font-size: 1.2rem;
      font-weight: 400;
      letter-spacing: 0.2px;
      line-height: 1.3;
    }
  }

  &-input-text {
    padding: 6px;
    background-color: $baseGrayLight;
    position: relative;

    input {
      @include Lato;

      font-size: 1.4rem;
      font-weight: 400;
      padding: 11px 30px 11px 11px;
      width: 100%;

      @include mq('tablet') {
        padding: 11px 32px 11px 11px;
      }
    }

    img {
      position: absolute;
      right: 16px;
      top: 18px;
    }
  }

  &-map {
    flex: 1 1 0;
    height: 530px;
  }

  &__city-list {
    display: flex;
    margin-bottom: 56px;

    @include mq('phone') {
      flex-direction: column;
    }

    ul {
      list-style: none;
    }
  }

  &__city-list-russian {
    flex: 2 1 0;
    column-count: 2;

    li {
      line-height: 30px;
      padding: 3px 0 6px 0;

      &:hover {
        color: $baseOrange;
      }
    }

    li:first-child {
      .bible-group__search-btn {
        font-weight: 700;
      }

      & + li {
        .bible-group__search-btn {
          font-weight: 700;
        }
      }
    }
  }

  &__city-list-others {
    flex: 1 1 0;

    h4 {
      color: $baseGrayBibleGroup;
      font-size: 1.8rem;
      text-transform: uppercase;
      line-height: 30px;
      font-weight: normal;
    }

    p {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 30px;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: $baseOrange;
      }
    }

    button {
      padding: 4px 0;
    }
  }
}

.google-maps-infoWindow {
  max-width: 412px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;

  @include mq('phone', max) {
    padding-right: 5px;
  }

  .bible-group__map-photo {
    width: 144px;
    height: 132px;
    margin-right: 10px;

    @include mq('phone', max) {
      width: 76px;
      height: 70px;
      margin-right: 10px;
      margin-bottom: auto;
    }
  }

  .bible-group__map-location {
    margin-bottom: 10px;
    font-size: 1.3rem;

    strong {
      font-size: 1.4rem;
    }

    @include mq('phone', max) {
      font-size: 1.2rem;

      strong {
        font-size: 1.3rem;
      }
    }
  }

  .bible-group__map-phone {
    margin-bottom: 10px;
    font-size: 1.3rem;

    strong {
      font-size: 1.4rem;
    }

    @include mq('phone', max) {
      font-size: 1.2rem;

      strong {
        font-size: 1.3rem;
      }
    }
  }

  h3 {
    font-size: 1.8rem;
    margin-bottom: 13px;
    font-weight: 700;

    @include mq('phone', max) {
      font-size: 1.4rem;

      @include Lato;

      font-weight: 700;
    }
  }
}

p.google-maps-infoWindow-dateTime {
  @include Lato;

  .bible-group__map-lessons-title {
    color: $cBlack;
    font-weight: 500;
    font-size: 1.3rem;

    @include mq('phone', min) {
      font-size: 1.4rem;
    }
  }

  .bible-group__map-lessons-desc {
    color: $baseGray;
    opacity: 0.7;
    font-size: 1.2rem;

    @include mq('phone', min) {
      font-size: 1.3rem;
    }
  }
}

/* Group Item */

.bible-group__item {
  flex: 1 1 100%;
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__mainInfo {
    display: flex;
    justify-content: space-between;
    background-color: $cWhite;
    padding: 20px 28px;
    margin-bottom: 32px;
    font-size: 1.5rem;
    line-height: 30px;

    @include mq('phone') {
      flex-direction: column;
    }
  }

  &__mainInfo__about {
    flex: 2 1 0;
    max-width: 468px;
    margin-right: 30px;
  }

  &__mainInfo__contacts {
    flex: 1 1 0;

    & > div {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        width: 15px;
        height: 15px;
        margin-right: 20px;
        max-width: 16px;
        max-height: 16px;
      }
    }
  }

  .preloader {
    background-color: $menuInputHover;
    z-index: 4;
  }

  &__dopInfo {
    text-align: justify;

    > div {
      margin-bottom: 16px;
      line-height: 30px;

      p:first-child {
        margin-bottom: 6px;
      }
    }
  }

  &__map {
    margin-top: 30px;
  }
}

.bible-group__add-group {
  flex: 1 0 100%;
  align-items: center;
  position: relative;

  .preloader {
    background-color: transparentize($cWhite, 0.4);
    z-index: 4;
  }
}

.bible-group__add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.bible-group__form {
  @include Lato;

  max-width: 700px;
  display: flex;
  flex-direction: column;

  label {
    font-size: 1.8rem;
  }

  textarea {
    resize: none;

    @include Lato;

    font-size: 1.4rem;
  }

  .add-group-btn {
    margin: 0 auto;
  }
}

.dropZone-placeholder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  p {
    text-align: center;
  }
}

.bible-group__add-group__contacts {
  margin-top: 20px;
}

.bible-group__add-group__other-questions {
  font-size: 2rem;
  margin: 16px 10px;
}

.err-message-bible-group {
  color: $cError;
  font-size: 1.5rem;
}

.bible-group__other-groups {
  margin-top: 30px;

  nav {
    display: flex;
    flex-direction: column;

    a {
      margin: 6px 0;
      font-size: 1.7rem;
    }
  }
}

.bible-group__video {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__bible-group__haveQuestion {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  font-weight: 700;

  p {
    border-bottom: 1px solid $baseOrange;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $baseOrange;
    }
  }

  @include mq('tablet') {
    margin-top: 10px;
  }
}

.page__bible-group {
  @include mq('tablet') {
    .side {
      flex-direction: column;
      border: transparent;
      background-color: transparent;
    }

    .bible-group-select {
      width: 100%;
      margin-bottom: 0;
    }

    .nav-side {
      margin-bottom: 20px;
    }

    .page__head {
      flex-direction: column;
      align-items: flex-start;
      min-height: 65px;
    }

    .btn {
      padding: 10px 30px;
    }
  }
}

@include mq('tablet') {
  .bible-group__search-tools {
    flex-direction: column;
    border: transparent;
  }

  .bible-group__search-input {
    margin-bottom: 20px;
    border: 1px solid $baseGrayLight;
    min-height: initial;
    flex-basis: auto;
    max-height: 234px;

    ul {
      flex: initial;
    }
  }

  .bible-group__search-map {
    margin-bottom: 20px;
  }

  .bible-group__chavo {
    margin-bottom: 20px;

    .bible-group__links {
      padding: 0 20px 20px;
    }

    .bible-group__chavo__head-title {
      text-align: left;
      width: 100%;
    }

    .bible-group__chavo__head {
      flex-direction: column;
      justify-content: initial;
      align-items: baseline;
      min-height: 120px;
      padding: 10px 24px;
    }
  }

  .bible-group__search__city-list {
    h4 {
      font-size: 16px;
      width: 90px;
      overflow: hidden;
      text-overflow: ellipsis;

      @include mq('tablet') {
        width: 100%;
      }
    }
  }
}

.bible-group__search-btn {
  border: transparent;
  background-color: transparent;
  outline: transparent;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 25px;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: $baseOrange;
  }

  @include mq('tablet', min) {
    &:focus {
      border: 1px solid $baseOrange_hover;
    }
  }

  @include mq('tablet') {
    font-size: 14px;
  }
}

@include mq(1024px, min) {
  @include mq(1024px) {
    .page__bible-group {
      .bible-group__wrapper {
        .nav-side {
          margin: 0 auto;
        }

        .paper {
          text-align: initial;
          margin-bottom: 30px;
        }

        .bible__btn-wrapper {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.bible-group__wrapper {
  @include mq('phone', min) {
    @include mq('tablet') {
      padding: 0 20px;
    }
  }

  @include mq('tablet') {
    flex: auto;
    width: 100%;
  }

  .bible__btn-wrapper {
    justify-content: center;

    & .btn {
      width: 100%;

      @include mq('tablet-wide') {
        padding: 12px 0;
      }

      @include mq('tablet') {
        padding: 12px 45px;
      }

      @include mq('tablet') {
        width: auto;
      }
    }
  }
}

.bible-group__search__city-list-others {
  li {
    padding: 5px 0;
    line-height: 30px;
  }
}

@include mq(769px, min) {
  @include mq('tablet') {
    .bible-group__search-tools {
      flex-direction: row;
    }

    .bible-group__search-input {
      width: 40%;
      max-height: 530px;
    }
  }
}

@include mq(1024px, min) {
  @include mq(1024px) {
    .page__bible-group {
      .bible-group__search {
        width: 100%;
      }
    }
  }
}

.bible-group__search-input {
  li:last-child {
    border-bottom: transparent;
  }
}

.exegetes__wrapper-adaptive {
  padding-top: 5px;
  margin-left: 15px;
}

.bible-group__wrapper {
  .list__item {
    background-color: $cWhite;
  }
}

.bible-group__img {
  width: 170px;
  height: 156px;
  margin-right: 20px;

  @include mq('phone', max) {
    width: 268px;
    height: 247px;
    margin: 0 auto 8px auto;
  }
}

// Не делайте так, а лучше переделайте
// PIZDEC

.gm-style {
  & > div {
    & > div {
      & > div {
        & > div {
          & > div {
            @include mq('phone', max) {
              width: 310px !important;
            }

            & > div {
              & > div {
                &:nth-child(2) {
                  width: 282px !important;

                  @include mq('phone', min) {
                    width: 402px !important;
                  }
                }

                &:last-child {
                  width: 280px !important;

                  @include mq('phone', min) {
                    width: 400px !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.gm-style-iw {
  width: 275px !important;

  @include mq('phone', min) {
    width: 357px !important;
  }

  & > div {
    max-width: 250px !important;

    @include mq('phone', min) {
      max-width: 345px !important;
    }
  }
}

.bible-group__img-map {
  width: 20px;
  height: 20px;
  margin: auto 8px auto 0;
}

.gm-ui-hover-effect {
  right: 25px !important;
}

.gm-style-iw-t {
  position: initial !important;
}

.gm-style-iw-a {
  margin-top: -60px !important;
}

.gm-ui-hover-effect {
  right: 0 !important;
  top: -2px !important;
}

@include mq('phone', min) {
  .bible-group__search {
    .gm-ui-hover-effect {
      right: -55px !important;
    }
  }
}

.bible-group__item__dopInfo {
  font-size: 1.7rem;

  @include mq('tablet', min) {
    margin: 0;
    width: 100%;
  }
}

.bible-group__hidden {
  visibility: hidden;
  position: absolute;
}

.bible-group__chavo__head-title {
  position: relative;
  background-color: transparent;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  outline: transparent;
}

.bible-group__success {
  padding: 45px;
  font-size: 2.2rem;
  text-align: center;

  @include mq('phone', max) {
    padding: 50px 15px;
    font-size: 2rem;
    text-align: center;
  }
}
