@import '~assets/sass/config';

.chapter__verses-action {
  display: flex;

  + .chapter__verses-action {
    margin-left: 20px;
  }

  @include mq('tablet-wide', max) {
    + .chapter__verses-action {
      margin-left: 8px;
    }
  }

  @include mq('phone') {
    margin-left: 0;
  }

  &__text-active {
    text-decoration: underline;
  }
}

.chapter__verses-action-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.chapter__verses-action-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  font-size: 2rem;
  color: $versesActionIcon;
  transition: color 0.4s, box-shadow 0.4s;

  &_active {
    color: $baseGray;
  }
}

.chapter__verses-action__text {
  overflow: hidden;
  max-height: 38px;
  max-width: 70px;
  font-size: 1rem;
  color: $baseGrayLightText;
  margin-bottom: 0;
}
