@import '../../../assets/sass/config';
.logoutConfirmation__btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px;

   .btn {
     border-radius: 35px;
     font-size: 2.2rem;
     padding: 7px 40px;
     transition: 0.3s ease;
     width: 100%;
     max-width: 200px;
     text-align: center;

     @include mq('phone') {
       font-size: 1.8rem;
       padding: 7px 20px;
       margin: 0 12px;
     }
   }
}
