.game__image {
  min-height: 300px;
  object-fit: cover;
  width: 100%;

  @media (max-width: 768px) {
    min-height: 218px;
  }
}

.img__wrapper {
  border-radius: 10px;
  overflow: hidden;
  margin-top: 16px;
  margin-left: 8px;
  min-height: 300px;
  margin-right: 12px;
  position: relative;

  @media (max-width: 768px) {
    min-height: 218px;
  }
}

.pass_image {
  position: absolute;
  top: 10px;
  right: 10px;

  @media (max-width: 768px) {
    bottom: 0;
    right: 0;
    top: auto;
    width: 135px;
  }
}

.game__alert {
  border-radius: 5px;
  border: 1px solid #f8231f;
  margin-left: 8px;
  padding: 15px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin-right: 12px;

  @media (max-width: 768px) {
    font-size: 11px;
    padding: 9px;
  }
}

.game__btn-first {
  width: 350px;
  display: flex;
  padding: 5px 24px 5px 44px;
  align-items: center;
  font-size: 18px !important;
  gap: 17px;
  font-style: normal;
  font-weight: 700;

  svg {
    flex-shrink: 0;
  }

  &.result {
    padding: 13px 17px 17px 35px;
  }

  @media (max-width: 1200px) {
    font-size: 13px !important;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    width: 240px;
  }

  @media (max-width: 768px) {
    width: 100%;
    font-weight: 500;
    font-size: 12px !important;
  }
}

.game__btn {
  width: 350px;
  font-size: 18px !important;
  padding: 15px 0;
  text-align: center;

  @media (max-width: 1200px) {
    font-size: 13px !important;
    padding: 13px 0;
    justify-content: center;
    width: 240px;
  }

  @media (max-width: 768px) {
    width: 100%;
    font-weight: 500;
    padding: 11px 0;
    font-size: 12px !important;
  }
}

.buttons-game {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: column;

  @media (max-width: 768px) {
    gap: 10px;
  }
}

.game__or {
  color: #888;
  text-align: center;
  font-size: 16px;
  font-weight: 900;

  @media (max-width: 768px) {
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;

    ::after {
      content: '';
      height: 1px;
      width: 103.211px;
      background: #d6d6d6;
      flex-grow: 1;
      display: block;
    }
  }
}

.game-label {
  display: flex;
  padding-top: 5px;
  align-items: center;
  color: #676666;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 150px;

  @media (max-width: 1200px) {
    margin-bottom: 0;

    .checkmark {
      width: 18px;
      height: 18px;

      ::after {
        left: 5px;
        top: 2px;
        width: 4px;
        height: 8px;
      }
    }

    .container-label {
      font-size: 11px !important;
    }
  }
}
