@import '~assets/sass/config';

.media-library__materials {
  position: relative;
  flex: 1 1 100%;
  margin-left: 22px;

  @include mq(1024px, max) {
    margin-left: 11px;
  }

  @include mq('tablet', max) {
    margin-left: 0;
  }
}

.wrapper {
  &.media_wrapper {
    padding: 0;
  }
}
