@import '~assets/sass/config.scss';

.media-library__left-wrapper .side {
  margin-right: 0;
  margin-bottom: 20px;

  .side__item {
    margin-bottom: 0;

    .list__item {
      &:first-child {
        border-radius: 2px 2px 0 0;
      }

      &:last-child {
        border-radius: 0 0 2px 2px;
      }
    }
  }
}

.media-preloader-nav {
  position: relative;
  min-height: 300px;
}

.media-library {
  font-size: 1.5rem;

  & .media-library-left-nav {
    & .list__item {
      padding-bottom: -2px;
    }
  }

  & .list__item {
    background: white;

    & .open_child::before,
    & .close_child::before {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      transform: translate(0, -50%);
      right: 18px;
      width: 11px;
      height: 6px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    & .open_child::before {
      background-image: url('../../../../../assets/images/icons/arrow-up.svg');
    }

    & .close_child::before {
      background-image: url('../../../../../assets/images/icons/arrow-down.svg');
    }
  }
}

.media-library__wrapper {
  .list__item-link,
  .media-library-link-child__link {
    &.active {
      font-weight: bold;

      &__parent {
        font-weight: bold;
      }
    }
  }
}

.media-library-link-child {
  display: none;

  &.active {
    display: flex;
    flex-direction: column;
  }

  &__link {
    padding-left: 40px;
  }
}

.media-library__wrapper {
  .nav-side__top {
    min-height: 50px;
    position: relative;
    border-bottom: transparent;
    margin-bottom: 30px;

    @include mq(1024px, max) {
      margin-bottom: 20px;
    }

    @include mq('phone', max) {
      min-height: auto;
    }

    .preloader {
      height: 100%;
      position: absolute;
    }
  }
}
