@import '../../assets/sass/config';

.lk__wrapper {
  @include mq('tablet') {
    background-color: $cWhite;
    width: 100%;

    &:last-child {
      .lk__rp-item {
        margin: 0;
        width: 100%;
      }
    }
  }
}

.lk__personal-form {
  width: 100%;
  max-width: 100%;

  textarea {
    resize: none;
    height: 140px;
  }

  @include mq('tablet') {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 15px;
  }
}

.lk__content-title {
  @include LatoSemiBold;

  font-size: 2.8rem;
  margin-bottom: 30px;
}

.lk__btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.urp__head {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
  padding: 15px;

  @include mq('tablet') {
    border: none;
    background-color: $cWhite;
    padding: 10px 20px;
    margin: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .translates-select {
      margin: 0;
    }
  }

  @include mq('phone') {
    flex-direction: column;
  }
}

.urp__head__leftpart {
  display: flex;
  flex-direction: column;

  @include mq('tablet') {
    width: 100%;
  }

  @include mq('phone') {
    margin-bottom: 10px;
  }
}

.urp__head__leftpart__title {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  @include mq('phone') {
    .urp__title {
      width: 100%;
    }
  }
}

.urp__title {
  @include LatoSemiBold;

  font-size: 2.8rem;
  line-height: 3.4rem;
  color: $baseGray;
  margin-right: 30px;

  @include mq('phone') {
    margin: 0;
    font-size: 21px;
  }

  @include mq('phone', min) {
    @include mq('tablet') {
      margin-right: 15px;
    }
  }
}

.urp__back {
  margin-top: 10px;

  @include LatoSemiBold;

  font-size: 1.5rem;
  color: $cBlack;
  position: relative;
  transition: color 0.2s;

  &::after {
    content: '';
    width: 100%;
    position: absolute;
    height: 1px;
    background-color: $baseOrange;
    bottom: 0;
    left: 0;
  }

  &:hover {
    color: $baseOrange;
  }
}

.urp__interpretators-head {
  padding-top: 10px;
}

.urp__days {
  max-height: 500px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  .list__item {
    border: 0;

    &:hover {
      background: #f9f8f6;
    }

    .list__item-link {
      padding: 10px 25px;

      //@include mq('phone') {
      //  padding-left: 38px;
      //}

      &:hover {
        color: $baseGray;
      }

      &::after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
      }
    }

    &.remainder {
      .list__item-link {
        &::after {
          background-color: $baseRed;
        }
      }
    }

    &.complete {
      .list__item-link {
        &::after {
          background-color: $baseGreenLk;
        }
      }
    }

    &.active {
      background: #f9f8f6;
      border-left: 3px solid $baseOrange;

      .list__item-link {
        padding-left: 23px;
      }
    }
  }

  @include mq('tablet', max) {
    overflow-x: initial;
    overflow-y: initial;

    .custom-select__option {
      padding: 1px 0 0 0;
      height: 43px;
    }
  }

  @include mq('phone') {
    .custom-select__single-value {
      .list__item-link {
        padding-left: 14px;
      }
    }
  }

  @include mq(767px, min) {
    @include mq(767px) {
      .custom-select__single-value {
        .list__item-link {
          padding-left: 5px;
        }
      }
    }
  }
}

.reading-plan__subscribe {
  text-align: center;
  padding: 20px 20px 30px 20px;

  @include mq('tablet') {
    padding: 30px 10px 30px 10px;
  }
}

.reading-plan__subscribe-text {
  @include Lato;

  @include mq('tablet') {
    text-align: center;
    padding-bottom: 14px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid $baseGrayLight;
  }
}

.reading-plan__subscribe-adaptive-text {
  margin: 25px 10% 0 10%;

  @include Lato;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.reading-plan__subscribe-success {
  @include LatoSemiBold;

  padding-bottom: 1px;
  border-bottom: 1px solid $baseOrange;
  cursor: pointer;

  &:hover {
    color: $baseOrange;
  }
}

.reading-plan__days-header {
  text-align: center;
  color: $baseGray;

  @include Lato;

  font-size: 21px;
  font-weight: 800;
  line-height: 20px;
}

.reading-plan__days-select {
  display: flex;
  flex-direction: column;
  margin-bottom: 29px;
  margin-left: 20px;

  @include mq('tablet') {
    margin-left: 0;
    border-top: 1px solid $baseGrayLight;
  }
}

.reading-plan__days-select-item {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;

  input {
    display: none;
  }

  @include mq('tablet') {
    padding: 15px 0;
    border-bottom: 1px solid $baseGrayLight;
  }
}

.reading-plan__days-select-checkbox {
  padding-left: 30px;
  color: $baseGray;

  @include Lato;

  font-size: 16px;
  font-weight: 400;

  @include mq('tablet') {
    width: 100%;
    text-align: right;
    padding-right: 5px;
  }
}

.reading-plan__days-select-checkbox::before {
  content: ' ';
  left: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('./mocks/checkbox_unchecked.svg');
  background-position: center;

  @include mq('tablet') {
    margin-left: 5px;
  }
}

.reading-plan__days-select-checkbox.active::before {
  background-image: url('./mocks/checkbox_checked.svg');
}

.reading-plan__days-button-wrapper {
  text-align: center;
}

.reading-plan__days-preload-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
}

.reading-plan-mobile__wrapper {
  @include mq('tablet') {
    width: 33%;
  }

  @include mq('phone') {
    width: 100%;
    padding-top: 0;
  }

  padding: 30px 11px 0 11px;

  @include mq('phone', min) {
    @include mq('tablet') {
      padding-top: 0;
    }
  }

  @include mq(1024px, min) {
    @include mq(1024px) {
      width: 100%;
    }
  }
}

.reading-plan-mobile__select {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #eabe4a;
  background-color: $cWhite;
  margin-bottom: 24px;

  @include LatoSemiBold;

  font-size: 16px;

  @include mq('phone', min) {
    @include mq('tablet') {
      margin: 0;
    }
  }
}

.reading-plan-mobile__select-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  // margin: 0 -10px;
  z-index: 1000;
  overflow-x: scroll;

  .btn {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
  }
}

.reading-plan-mobile__back {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.wrapper__lk {
  @include mq('phone') {
    padding: 0;
  }

  @include mq('tablet') {
    padding: 0;

    & .lk-content {
      @include mq('tablet') {
        margin-right: 10px;
      }
    }
  }
}

.lk-side {
  & .list__item {
    background-color: $cWhite;
  }

  @include mq(1024px, min) {
    @include mq(1024px) {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .lk__side-two {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }

  @include mq('tablet') {
    flex: none;

    .lk__side-two {
      border-top: 1px solid $baseGrayLight;
      align-items: center;
      justify-content: center;
    }

    flex-direction: column;
  }

  @include mq('phone') {
    .lk__side-two {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
    }
  }
}

@include mq('tablet', max) {
  .lk-side {
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-bottom: 10px;

    .list__item {
      margin: 0;
    }
  }
}

@include mq('phone', max) {
  .lk-side {
    overflow: auto;
    flex-direction: column;
  }
}

.tabs__plan-scroll {
  display: flex;

  .tab {
    white-space: nowrap;
    margin-right: 10px;

    &:last-child {
      margin: 0;
    }
  }
}

@include mq(1024px, min) {
  @include mq(1024px) {
    .lk-page {
      .wrapper__lk {
        flex-direction: row;
      }

      .lk-side {
        width: 30%;
      }
    }
  }
}

.content-area-for-side {
  // display: flex;
  flex-direction: row;
  justify-content: center;
}

.form__submit {
  text-align: center;
}

.lk-content {
  flex: 1 1 100%;

  @include mq('tablet') {
    margin-left: 10px !important;
  }
}

.lk-page {
  .content.paper {
    padding: 0;
    border: 1px solid $baseGrayLight;
    position: relative;
    min-height: 600px;
  }

  .lk__bookmarks {
    overflow: hidden;

    .list__item {
      border-bottom: 1px solid $baseGrayLight;
      border-left: transparent;
      border-right: transparent;
    }
  }

  @include mq('tablet', min) {
    .custom-select__control {
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  .page.favorites {
    flex: initial;
    width: 100%;
  }

  .paper {
    border-bottom: transparent;
    margin-bottom: 0;
  }

  .lk__rp-list {
    justify-content: center;
  }
}

@include mq(1024px, min) {
  @include mq(1024px) {
    .lk-page {
      .lk-side,
      .lk__side-two {
        flex-direction: column;
      }

      .lk__rp.content {
        border: 1px solid $baseGrayLight;
      }
    }

    .content_two-col {
      .audioplayer {
        margin: 10px 0;
        min-height: 65px;
        justify-content: space-between;

        // @include mq('tablet') {
        //   flex-direction: column;
        // }
      }
    }
  }
}

.lk-page {
  .lk__rp.content {
    z-index: 0;
  }

  @include mq('tablet', min) {
    .lk__rp.content {
      border: transparent;
    }
  }

  .page__body {
    @include mq('tablet') {
      padding-bottom: 50px;
    }
  }

  @include mq('tablet', min) {
    .favorite__verseList {
      li {
        &:last-child {
          border-bottom: transparent;
        }
      }
    }
  }

  .page {
    padding-bottom: 0;
  }

  .page.favorites {
    @include mq('tablet') {
      padding: 0;
      width: auto;
    }
  }

  .list__item-link {
    @include mq('tablet') {
      font-size: 15px;
    }
  }

  .lk__side-two {
    @include mq('tablet', min) {
      margin-top: 20px;
    }

    .preloader__whiteBG {
      top: 66px;
    }

    @include mq('tablet', min) {
      border-bottom: 1px solid $baseGrayLight;
    }
  }
}

.reading-plan__days {
  background-color: $cWhite;
  border: 1px solid $baseGrayLight;
  padding: 20px 0;
  margin-top: 20px;

  @include mq('tablet') {
    margin-top: 0;
    border: transparent;
    padding: 20px 10px;
  }
}

.reading-plan__days-header {
  @include Lato;

  font-weight: 600;
  margin-bottom: 10px;
}

@include mq('tablet') {
  .reading-plan__days-header {
    text-align: left;
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.reading-plan__unsubscribe {
  background-color: transparent;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #f9d063;
  border-radius: initial;
  transition: color 0.2s;

  &:focus {
    background-color: $cWhite;
  }

  &:hover {
    background-color: $cWhite;
    color: $baseOrange;
  }
}

.reading-plan__change-subscribe {
  margin-bottom: 20px;
}

.reading-plan__subscribe-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;

  @include mq('tablet') {
    margin-bottom: 40px;
  }
}

.subscribe-plan-mobile__wrapper {
  padding-top: 0;
}

@include mq('phone', min) {
  @include mq('tablet') {
    .lk__side-two {
      padding: 20px 0;
    }
  }
}

.chapter__verses {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: justify;

  &_inline {
    .chapter__verse {
      display: inline;
      margin-right: 4px;
    }

    .chapter__verse + .chapter__verse {
      margin-top: 10px;
    }
  }
}

sup {
  margin-right: 3px;
}
