.rp__share-block {
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  background: #fff;
}

.rp__bottom-grid {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 35px;

  @media (max-width: 1200px) {
    gap: 20px;
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.monitoring_bar {
  margin-top: 10px;
}

.rpm__btn-back {
  margin: 20px auto 600px;
  display: block;
  padding: 11px 94px 15px;
  white-space: nowrap;
  font-size: 22px;
  width: min-content;

  @media (max-width: 1024px) {
    font-size: 20px;
    font-weight: 500;
  }

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.rpm__btn-join {
  margin: 9px auto 20px;
  display: block;
  width: 300px;
  text-align: center;
  padding: 11px 0 15px;
  white-space: nowrap;
  font-size: 22px;

  @media (max-width: 1024px) {
    font-size: 20px;
    font-weight: 500;
  }

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.rp__wrapper {
  position: relative;
}

.rp__admin-monitoring {
  position: absolute;
  right: 0;
  color: #929292;
  text-align: right;
  font-size: 18px;
  font-weight: 900;
  top: -25px;

  @media (max-width: 1024px) {
    font-size: 16px;
    top: -74px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.rp__admin-flex {
  display: flex;
  flex-direction: column;
}
