.cp__button-main {
  font-weight: 700;
  color: #2f2f2f;
  text-align: center;
  cursor: pointer;
  border-radius: 32.574px;
  line-height: 1;

  &:hover {
    color: #2f2f2f;
  }

  &:disabled {
    opacity: 0.7;
  }
}

.cp__button-s {
  width: auto;
}

.cp__button-m {
  font-size: 2.2rem;

  @media (max-width: 1024px) {
    font-size: 18px;
    font-weight: 500;
  }
}

.cp__button-yellow {
  border: 1px solid #dcdcdc;
  background: linear-gradient(180deg, #ffdc81 15.1%, #f8cf61 100%);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25) inset;
}

.cp__button-gray {
  border: 1px solid rgba(255, 255, 255, 0.63);
  background: linear-gradient(180deg, #fff 0%, #f3f3f3 100%);
  box-shadow: 0 1.76074px 4.40184px 0 rgba(0, 0, 0, 0.25);
}

.cp__button-blue {
  border: 1px solid #dbe9fc;
  background: linear-gradient(180deg, #f2f6fa 4.38%, #c5ddfa 100%);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
}
