@import '../../../assets/sass/config';

.book-page {
  .book-tabs {
    .tabs__head {
      border-right: none;

      @include mq('phone') {
        border-right: 1px solid $baseGrayLight;

        .tab {
          width: 50%;
        }
      }
    }
  }
}

.content__head {
  display: flex;
}

.content__head-actions {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $baseGrayLight;
  padding-right: 30px;

  @include mq('tablet', min) {
    border-right: 1px solid $baseGrayLight;
    border-top: 1px solid $baseGrayLight;
  }
}

.book__chapter-actions {
  display: flex;
  align-items: center;
}

.book__chapter-action {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
  margin-left: 25px;

  &:first-child {
    margin-left: 0;
  }

  @include mq('tablet') {
    visibility: visible;
    opacity: 1;
  }

  @include mq(400px, min) {
    @include mq('tablet') {
      flex-direction: row;
    }
  }
}

.list__item {
  .book__chapter-action {
    opacity: 1;
    visibility: visible;
  }

  &.activeBookmark {
    .book__chapter-action_bookmark {
      opacity: 1;
      visibility: visible;
    }
  }
}

.list__item_column {
  flex-direction: column;
  flex-flow: wrap;
}

.list__item {
  .list__item-link {
    @include mq('tablet') {
      padding-left: 10px;

      @include LatoBold;
    }
  }

  .list__item-actions {
    @include mq('tablet') {
      padding-left: 10px;
      padding-right: 15px;
    }
  }
}

.book__chapter-action_audio {
  &.playing {
    opacity: 1;
    visibility: visible;
  }
}

.book__chapter-action_bookmark {
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.bible__info-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  @include mq('phone') {
    flex-direction: column;
    align-items: flex-start;

    .btn {
      padding: 10px 20px;
    }
  }
}

.bible__info-preacher {
  @include LatoSemiBold;

  font-size: 2.8rem;
  padding-right: 20px;
  flex: 1 1 auto;

  @include mq('tablet') {
    font-size: 26px;
    margin-bottom: 20px;
  }
}

.bible__info-preaching-text {
  white-space: pre-line;
}

.book__add-favorite {
  margin-left: 5px;

  @include mq(400px) {
    margin-left: 0;
  }
}

.book {
  .content__head-actions {
    max-width: 400px;

    @include mq('tablet') {
      border-top: 1px solid $baseGrayLight;
      border-right: 1px solid $baseGrayLight;
    }
  }

  .tabs_in-paper {
    border: transparent;
  }
}

@include mq('phone', min) {
  @include mq(767px) {
    .book {
      .list__item-link {
        max-width: 287px;
        padding-left: 5px;
      }
    }
  }
}

.bible-tabs__content {
  .modal-popup-addFavorite {
    top: 10px;
    background-color: $cWhite;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);

    @include mq('phone', min) {
      @include mq('tablet') {
        top: 80px;
      }
    }

    @include mq('phone') {
      top: 60px;
    }
  }
}

@include mq('phone') {
  .book {
    .list__item {
      text-align: center;
    }

    .list__item-actions {
      margin: 0 auto;
      padding: 0;
    }

    .list__item-link {
      display: flex;
      flex-direction: column;
      min-width: 220px;
    }

    .list__item-link > div {
      display: flex;
      flex-direction: column;
    }

    .bible-tabs__content {
      padding: 15px;
    }
  }

  .book__chapter-actions {
    align-items: center;
  }

  .mm-popup__box--popup_add_favorite_verse {
    .mm-popup__close {
      right: 2px;
      top: 2px;

      &::before,
      &::after {
        width: 20px;
      }
    }

    .addFavorite__verse__color-btn {
      width: 26px;
      height: 26px;
    }
  }
}

@include mq('tablet') {
  .book {
    .list__item_column {
      justify-content: center;
      text-align: center;
      margin-top: 10px;
      border-bottom: 1px solid $baseGrayLight;
      padding: 0 60px 15px;
    }

    .content__head-actions {
      overflow: hidden;
      white-space: nowrap;
      max-width: 220px;
      text-overflow: ellipsis;
      display: inline-block;
      padding: 15px;
    }
  }

  .book__chapter-actions {
    flex-direction: row;
  }

  .mm-popup__box--popup_add_favorite_verse {
    .mm-popup__close {
      right: 5px;
      top: 5px;

      &::before,
      &::after {
        width: 20px;
      }
    }

    .addFavorite__verse__color-btn {
      width: 26px;
      height: 26px;

      @include mq('phone', min) {
        margin-right: -15px;
      }
    }
  }
}

@include mq('tablet', min) {
  .book {
    .list__item-link > div {
      display: flex;
      flex-direction: column;
    }
  }
}

@include mq(400px, min) {
  @include mq('tablet') {
    .book__chapter-actions {
      flex-direction: row;
      align-items: center;
    }
  }
}

@include mq(400px, max) {
  .book__chapter-actions {
    flex-direction: column;
    align-items: flex-start;
  }
}

.book {
  @include mq('tablet') {
    .list__item {
      border-bottom: 1px solid $baseGrayLight;

      &:last-child {
        border-bottom: 1px solid $baseGrayLight;
      }
    }
  }

  .content {
    .tab {
      @include LatoSemiBold;
    }
  }
}

@include mq(1024px, min) {
  @include mq(1024px) {
    .book {
      .paper {
        width: 100%;
      }
    }
  }
}

.bible-book-content {
  @include mq('tablet') {
    border-left: 1px solid $baseGrayLight;
    border-right: 1px solid $baseGrayLight;
  }

  .list__item {
    margin: -1px 0;
  }
}

.book {
  .bible-side {
    flex: none;
    width: 270px;
  }

  .content {
    margin-left: 30px;
  }

  @include mq('tablet-wide') {
    .bible-side {
      width: 246px;
    }

    .content {
      margin-left: 10px;
    }
  }

  @include mq('tablet') {
    .content {
      margin-left: 0;
    }
  }
}
