@import '../../../../assets/sass/config';

.plan-details-info-content {
  display: flex;
  padding: 10px 80px;
  border-top: 1px solid $baseGrayLight;
}

.plan-details-info-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;

  b:last-child {
    margin-left: 5px;
    font-size: 15px;
  }

  &.yellow-text b:last-child {
    color: $baseOrange;
  }

  &.blue-text b:last-child {
    color: $lectionBlue;
  }
}
