@import '~assets/sass/config';

.media-multi-audio-list-info-ready {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  line-height: 14px;
  color: $baseGrayHoverMedia;
  transition: 0.65s ease;
  margin-top: 8px;

  & .icon {
    display: flex;
    margin-right: 10px;

    & svg.svg-inline {
      width: 12px;
      height: 14px;

      & path {
        transition: 0.65s ease;
      }
    }
  }

  & a {
    color: $baseGrayHoverMedia;
    border-bottom: 1px solid $baseOrange;
    padding-bottom: 2px;
    white-space: nowrap;
  }

  &:hover {
    & a {
      color: $baseGray;
    }

    & .icon {
      & svg.svg-inline path:not(:last-child) {
        fill: $baseGray;
      }
    }
  }
}
