@import '~assets/sass/config.scss';

.media-library__search-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid $baseGrayForm;
  padding: 7px 10px 7px 20px;
  width: 100%;
  background-color: $cWhite;
  height: 40px;

  &:focus {
    border: 1px solid $baseGrayForm;
  }
}

.media-library__search {
  position: relative;
  width: 100%;
}

.media-library__search-inpt {
  font-size: 1.4rem;
  color: $baseGray;
  width: 90%;
}

.media-library__search-inpt::placeholder {
  opacity: 0.4;
}

.media-library__search-icon-container {
  cursor: pointer;
  display: flex;
  width: 30px;
  height: 25px;
  justify-content: center;
  flex-direction: column;

  &:hover {
    transition: 0.3s ease;
    opacity: 0.7;
  }
}

@include mq('phone', max) {
  .media-library__search-wrapper {
    padding: 9px;
    height: 32px;
  }

  .media-library__search-inpt {
    font-size: 1.2rem;
    line-height: 14px;
  }

  .media-library__search-icon-container {
    width: 25px;
    height: 15px;
  }
}
