@import '../../../assets/sass/config';

.mm-popup__box {
  &.mm-popup__box--popup_auth {
    width: 600px;
    border-radius: 2px;
    height: auto;

    @include mq('phone') {
      width: 300px;
      min-height: 120px;
    }
  }
}

.auth-form {
  width: 326px;
  margin: 0 auto;

  @include mq('phone') {
    width: 260px;
  }

  .preloader {
    background-color: transparentize($color: $cWhite, $amount: 0.4);
    z-index: 4;
  }

  .textfield__input {
    font-size: 16px;
    border-radius: 7px;
    border: 1px solid #dcdcdc;
    padding: 9px 24px 9px 15px;
    height: 48px;
    background-color: $cWhiteDisabled;

    &::placeholder {
      font-size: 16px;
      color: $greenFooter;
      opacity: 0.9;
    }
  }
}

.auth__reg-button {
  display: block;
  background-color: $greenFooter;
  color: #fff;

  @include LatoBold;

  font-size: 1.6rem;
  cursor: pointer;
  text-align: center;
  line-height: 48px;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: background-color 0.4s;

  &:hover {
    background-color: lighten($greenFooter, 15%);
  }

  @include mq('phone') {
    margin-top: 14px;
  }
}

.auth-form__forgot-password {
  @include mq('phone') {
    margin-left: auto;
    margin-right: auto;
    max-height: 64px;
    overflow: hidden;
  }
}

.auth-form__forgot-password-link {
  color: #7c7474;
  padding-bottom: 1px;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: $baseOrange;
  }
}

.popup__content__divider {
  width: 80%;
  margin: 20px auto 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #7c7474;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .popup__content__divider__line {
    border-top: 2px solid #d9d9d9;
    width: 40%;
  }
}

.single-sign-on {
  text-align: center;
  margin-top: 35px;
  font-size: 20px;
  font-weight: bold;
  color: #7c7474;
}

.single-sign-on__providers {
  max-width: 385px;
  margin: 5px auto;
  width: 385px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

  .single-sign-on__provider_logo {
    cursor: pointer;
    width: 57px;
    height: 57px;
  }
}
