@import '~assets/sass/config.scss';

.media-btn-base {
  position: relative;
}

.mediaBth {
  border: 1px solid #f9d063;
  transition: 0.3s ease;
  padding: 10px 16px;
  font-size: 1.4rem;
  line-height: 17px;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap;

  @include mq('tablet-wide', min) {
    &:hover {
      background: $baseOrange;
    }
  }

  @include mq('tablet-wide') {
    &:active {
      background: $baseOrange;
    }
  }
}

.media-btn-error {
  position: absolute;
  color: red;
  left: 50%;
  transform: translate(-50%, 0);
  top: -20px;
  font-size: 1rem;
}
