@import '../../assets/sass/config';

.not-fount {
  padding-top: 80px;
  text-align: center;
  margin-bottom: 90px;
}

.not-fount__404 {
  @include LatoBold;

  font-size: 7.6rem;
  letter-spacing: 3.5px;
  color: $baseOrange;
  margin-bottom: 5px;
}

.not-fount__title {
  @include LatoBold;

  font-size: 2.8rem;
  line-height: 3rem;
  margin-bottom: 40px;
}

.not-fount__subtitle {
  font-size: 1.6rem;
  width: 80%;
  margin: 4px auto 6px auto;
}

.not-fount__to-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12px;

  @include mq('phone', min) {
    .btn:first-child {
      margin-right: 10px;
    }

    .btn:last-child {
      margin-left: 10px;
    }
  }

  @include mq('phone', max) {
    flex-direction: column;
    align-items: center;

    .btn {
      width: 190px;
      margin: 14px 0 0 0;
    }
  }
}
