@import '~assets/sass/config';

.verse_translates {
  flex: 1 1 auto;
  position: relative;
  border-top: none;

  @include mq('tablet') {
    width: 100%;
  }
}

.verse_translate {
  padding: 30px;
  border-top: 1px solid $baseGrayLight;
  margin-top: -1px;

  @include mq('tablet') {
    padding: 15px;
  }

  @include mq('phone') {
    &:first-child {
      border-top: none;
    }
  }
}

.verse_translate-name {
  display: block;

  @include LatoBold;

  font-size: 2rem;
  margin-bottom: 20px;
}
