@import '../../assets/sass/config';

@mixin bapItemLabel {
  .bap__item-label {
    box-shadow: none;
    color: $baseGray;

    &::before {
      opacity: 1;
      visibility: visible;
    }
  }
}

.bap {
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  align-items: center;

  @include mq('phone') {
    margin-bottom: 10px;
  }
}

.bap-nav {
  position: relative;
  z-index: 12;
}

.bap__item {
  flex: 1 1 100%;

  + .bap__item {
    margin-left: 1px;
  }
}

.bap__item-label {
  @include LatoBold;

  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  line-height: 2rem;
  color: $baseGray;
  padding: 15px 20px;
  background-image: linear-gradient(180deg, #fff 0%, #f3f3f3 100%);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.3s ease-out;
  cursor: pointer;
  z-index: 0;
  white-space: nowrap;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(360deg, #ffde88 0.92%, #efae04 98.65%);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
    z-index: -1;
  }

  span:first-child {
    display: block;
    padding-bottom: 3px;
    border-bottom: 1px solid $baseOrange;
    text-overflow: ellipsis;
    max-width: 270px;
    overflow: hidden;

    @include mq(1024px) {
      max-width: 180px;
    }

    @include mq('tablet', max) {
      max-width: 170px;
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    @include mq('phone') {
      max-width: 70px;
    }
  }

  @include mq('tablet', max) {
    padding: 15px 10px;
  }

  @include mq('phone', max) {
    font-size: 1rem;
    padding: 10px;
  }
}

.bap__item {
  display: flex;
  height: 54px;

  &:first-child {
    .bap__item-label {
      border-radius: 10px 0 0 10px;
      justify-content: center;

      &::before {
        border-radius: 10px 0 0 10px;
      }
    }
  }

  @include mq('phone') {
    height: 40px;
  }
}

.bap__item_nav-prev,
.bap__item_nav-next {
  max-width: 168px;

  @include mq(1024px, max) {
    max-width: 131px;
  }

  @include mq('tablet') {
    max-width: 106px;
  }
}

.bap__item_nav-prev {
  @include mq('phone') {
    .bap__item-label {
      padding: 10px 0 10px 8px;
    }
  }
}

.bap__item_nav-next {
  .bap__item-label {
    border-radius: 0 10px 10px 0;
    justify-content: center;

    &::before {
      border-radius: 0 10px 10px 0;
    }
  }

  @include mq('phone') {
    .bap__item-label {
      padding: 10px 8px 10px 0;
    }
  }
}

.bap__item-content {
  position: absolute;
  top: 95%;
  left: 0;
  width: 100%;
  background-color: $cWhite;
  border: 1px solid $baseOrange;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: top 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
}

.bap__item-content.active {
  opacity: 1;
  visibility: visible;
  top: 90%;
}

.bible-translate {
  width: 50%;
  left: 47%;

  .bible-content-item {
    .btn {
      width: 100%;
      white-space: normal;
      min-height: 54px;

      @include mq('tablet-wide') {
        padding: 11px 10px;
      }

      @include mq('phone') {
        padding: 0;
        min-height: 40px;
      }

      + .btn {
        margin-top: 15px;
      }
    }
  }

  @include mq('tablet-wide') {
    left: 48%;
  }

  @include mq('tablet', max) {
    left: 43%;
    width: 55%;
  }

  @include mq('phone') {
    width: 100%;
    left: 0;

    .btn_gradient {
      font-size: 1.5rem;
    }
  }
}

.bible-chapter {
  width: 60%;
  left: 23%;

  .bible-content-item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(56px, 1fr));
    grid-gap: 8px;

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 56px;
      padding: 18px;
    }
  }

  @include mq('phone') {
    width: 100%;
    left: 0;

    .bible-content-item {
      grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
      padding: 10px 12px;

      .btn {
        width: 48px;
        height: 48px;
      }
    }
  }
}

.not-chapter {
  left: 36%;

  @include mq(1024px) {
    left: 33%;
  }

  @include mq('phone') {
    left: 0;
  }
}

.bap__item_translate {
  max-width: 330px;

  @include mq('phone') {
    flex: 1 0 95px;
    max-width: 95px;
  }
}

.bap__item_chapters {
  max-width: 175px;

  @include mq(1024px, max) {
    max-width: 148px;
  }

  @include mq('tablet') {
    max-width: 100px;
  }

  @include mq('phone') {
    flex: 1 0 40px;

    .bap__item-label {
      padding: 10px 15px 10px 0;
      display: flex;
      justify-content: center;
    }
  }
}

.bap__item_not_chapters {
  max-width: 40%;
}

.bap__item_nav {
  text-align: center;

  .bap__item-label {
    @include Lato;
  }

  .icon {
    position: absolute;
    top: 13px;
    font-size: 2.5rem;

    @include mq('phone', max) {
      top: 8px;
    }
  }

  &-prev {
    .icon {
      left: 10px;

      @include mq('tablet') {
        left: 0;
      }

      @include mq('phone') {
        left: -6px;
      }
    }
  }

  &-next {
    .icon {
      right: 10px;

      @include mq('tablet') {
        right: 0;
      }

      @include mq('phone') {
        right: -6px;
      }
    }
  }
}

.bap__item_books {
  flex: 1 0 330px;
  position: relative;

  .bap__item-content {
    padding: 0;
    width: 100%;
  }

  @include mq('tablet') {
    flex: 1 0 200px;
  }

  @include mq('phone') {
    flex: 1 0 95px;
  }
}

.bap__item-dropdown {
  .icon {
    position: absolute;
    font-size: 2.5rem;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    transition: transform 0.3s ease-out;

    @include mq('tablet') {
      right: 5px;
    }

    @include mq('phone') {
      font-size: 2rem;
      right: 0;
    }
  }

  &.active {
    .icon {
      top: 50%;
      transform: translate(0, -50%) rotate(180deg);
    }
  }
}

.bap__item:hover {
  @include mq('phone', min) {
    @include bapItemLabel();
  }
}

.bap__item:active {
  @include bapItemLabel();
}

.bap__item.active {
  @include bapItemLabel();
}

.bap__item-label-hidden-text {
  @include mq('phone') {
    @include LatoBold;
  }
}

.bible-action-filter {
  position: relative;
  flex: 1 1 100%;
}

.bible-content-item {
  display: flex;
  flex-direction: row;
  padding: 15px 15px 24px;

  @include mq('phone') {
    flex-direction: column;

    .bible-translate-item {
      width: 100%;
    }
  }
}

.bible-translate-item {
  width: 50%;
}

.bible-translate-item + .bible-translate-item {
  margin-left: 10px;

  @include mq('phone') {
    margin-left: 0;
    margin-top: 15px;
  }
}
