@import '~assets/sass/config';

.media-content {
  display: block;
  position: relative;

  @include mq('tablet', max) {
    margin-bottom: 60px;
  }
}

.media-content-preloader {
  min-height: 200px;
  opacity: 0.5;
  position: relative;
}
