@import '../../assets/sass/config';

.site-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include mq('phone') {
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid $baseGrayLight;
    padding: 12px 0;
  }

  @include mq(767px, 'fixed') {
    justify-content: initial;
  }

  @include mq('phone', min) {
    flex-wrap: wrap;
  }
}

.site-nav__item {
  position: relative;
  display: block;
  padding: 0 10px;

  @include LatoBold;

  font-size: 2.1rem;
  line-height: 50px;
  cursor: pointer;

  @include mq(767px, 'fixed') {
    line-height: 38px;
  }

  @include mq('phone', max) {
    font-size: 1.7rem;
  }

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: $baseOrange;
    transition: all 0.4s ease-in;
  }

  &.active {
    &::after {
      width: 100%;
      left: 0;
    }
  }
}

.header__humburger__sideMenu {
  .header__nav {
    background-color: $cWhite;
  }
}

@include mq('phone') {
  .header__humburger__sideMenu {
    .site-nav__item {
      line-height: 35px;
      margin: 4px 0;
    }
  }
}

@include mq('tablet') {
  .header__humburger__close {
    button {
      width: 36px;
      height: 36px;
      text-align: center;
      margin-left: -5px;
    }

    img {
      width: 18px;
    }
  }
}
