@import '~assets/sass/config';

.cp__min-field {
  border: 1px solid $baseOrange2;
  border-radius: 5px;
  line-height: normal;
  line-height: 1;
  padding: 4px 5px;
  max-width: 100px;
  position: relative;
  font-size: 1.7rem;

  @media (max-width: 768px) {
    font-size: 15px;
    max-width: 80px;
  }
}

.cp__min-field--one {
  padding: 0 8px;
  width: auto;
  font-weight: 700;
  text-align: center;
  max-width: 32px;
  font-size: 1.8rem;

  @media (max-width: 1024px) {
    max-width: 25px;
    width: auto;
    padding: 1px 6px;
  }

  @media (max-width: 768px) {
    font-size: 15px;
    max-width: 30px;
  }
}

.cp__min-field--two {
  max-width: 36px;

  @media (max-width: 1024px) {
    max-width: 36px;
  }

  @media (max-width: 768px) {
    max-width: 33px;
  }
}
