@import '~assets/sass/config.scss';

.media-motivator-img {
  position: relative;
  width: 100%;
  height: 190px;
  cursor: pointer;

  @include mq('phone') {
    height: 170px;
  }
}

.media-motivator__item {
  @include mq('phone') {
    width: 250px;
    height: 100%;
    margin: auto;
  }
}

@include mq('phone', min) {
  @include mq('tablet-wide', max) {
    .media-motivator__item,
    .media-motivator-img {
      width: 191px;
      margin-bottom: 20px;
    }

    .media-motivator-img {
      height: 139px;
    }
  }
}

.media-motivator-icons {
  position: absolute;
  display: flex;
  top: 10px;
  right: 10px;

  .icon_shares {
    width: 30px;
    height: 30px;
  }

  a {
    height: 30px;
  }

  .media-icons-item {
    .svg-inline {
      width: 30px;
      height: 30px;

      path {
        transition: 0.65s ease;
      }
    }

    &:hover {
      .svg-inline {
        > path {
          fill: $baseOrange;
        }

        g path {
          fill: $baseGray;
        }
      }
    }
  }

  .media-icons-download {
    margin-right: 10px;
  }
}

.media-motivator-link-img {
  display: block;
  width: 100%;
  height: 100%;

  & .book-info__img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

.media-motivator-share {
  width: 30px;
  height: 30px;
  margin-left: 5px;

  .chapter__verses-action-icon {
    display: flex;
    justify-content: center;
    height: 30px;
    z-index: 1;
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    color: $baseDefault;

    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      background: $grayGradient;
      box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.4);
      border-radius: 100%;
    }

    &.chapter__verses-action-icon_active,
    &:hover {
      color: $baseGray;

      &::before {
        background: $orangeGradient;
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
      }
    }
  }

  .chapter__verses-action__text {
    font-size: 1rem;
    line-height: 22px;
    color: $baseGrayLightText;
  }
}
