@import '../../assets/sass/config';

.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

.pagination__item {
  @include LatoBold;

  color: $newsDateColor;
  transition: color 0.4s;
  padding: 0 18px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  outline: transparent;

  &:hover {
    color: $baseOrange;
  }

  &.active {
    color: $baseOrange;
    cursor: default;
  }

  @include mq('phone') {
    padding: 0 5px;
  }
}

.pagination__item_dot {
  cursor: default;

  &:hover {
    color: $newsDateColor;
  }
}
