@import '~assets/sass/config';

.mm-popup__box--popup_warning {
  right: auto;
  width: 600px;

  @include mq('phone') {
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0);

    .mm-popup__close {
      right: 0;
    }
  }
}

.warning-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.4rem;

  p {
    text-align: center;
  }
}

.warning-btn {
  margin-top: 5px;
  font-size: 1.3rem;
  transition: color 0.25s ease;
  cursor: pointer;

  &:hover {
    color: $baseOrange;
  }
}
