@import '../../assets/sass/config.scss';

ul {
  list-style-type: none;
}

.media-chapter {
  width: 100%;
  padding: 16px 30px;
}

.media-book {
  background-color: $cWhite;
  border: 1px solid $baseGrayLight;
  padding: 30px;
  margin-bottom: 20px;
}

.media-book__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.media-book__info {
  display: flex;

  @include mq('phone') {
    display: block;
  }
}

.media-book__header-mobile {
  display: flex;
  justify-content: space-between;
}

.book-info__img {
  width: 72px;
  height: 100px;

  @include mq('phone') {
    width: 50px;
    height: 72px;
  }
}

.media-book__name {
  @include Lato;

  display: flex;
  flex-direction: column;
  max-width: 410px;
  margin-left: 20px;

  @include mq('phone') {
    margin-left: 0;
    margin-top: 12px;
  }
}

.media-book__name-main {
  @include LatoBold;
}

.media-book__name-note {
  color: $baseDefault;
}

.media-book__action {
  background-color: $baseGrayLight;
  padding: 7px;
  margin-left: 15px;
  border-radius: 50px;
  transition: 0.4s;

  &:hover {
    color: $cBlack;
    background-color: $baseOrange;
  }

  @media (min-width: 320px) and (max-width: 374px) {
    margin-left: 10px;
  }
}

.media-book__description {
  text-align: justify;
}

.media-book__description_show {
  @include LatoBold;

  margin-top: 8px;
  cursor: pointer;
  border-bottom: 1px solid $baseOrange;
}

.media-book__connections {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.media-book__inner-list {
  display: flex;
  flex-wrap: wrap;
}

.media-book__inner-record {
  margin-right: 25px;
}

.media-book__connections-wrapper {
  width: 50%;
}

.media-book-link {
  font-size: 1.2rem;
  color: $baseGray;
  padding-bottom: 1px;
  border-bottom: 1px solid #f9d063;
}
