@import '../../../assets/sass/config';

.lk__rp {
  .tabs_in-paper {
    @include mq('tablet') {
      border-top: none;
    }
  }

  .content-area-for-side {
    flex-direction: column;
    justify-content: initial;
    width: 100%;
  }

  .tabs__plan-scroll {
    @include mq('phone') {
      border-right: transparent;
    }
  }

  .side_right-today {
    padding: 15px 20px;
    border-bottom: 1px solid $baseGrayLight;

    @include mq('phone') {
      border-top: 1px solid $baseGrayLight;
      border-bottom: 1px solid $baseGrayLight;
    }
  }

  @include mq(1024px, min) {
    @include mq(1070px) {
      .content-area-for-side {
        width: 400px;
      }

      .side_right {
        flex: 0 0 200px;
      }

      .side_right-today {
        padding: 15px 10px;
      }
    }
  }

  .tabs__head {
    position: sticky;
    z-index: 1;
    top: -4px;
    padding: 1px;
    padding-bottom: 0;

    @include mq('tablet') {
      border-top: none;
    }

    @include mq('phone', max) {
      top: 60px;
    }
  }

  @include mq(1025px, min) {
    .tabs__head {
      border-top: 1px solid $baseGrayLight;
    }

    .side_right {
      border-right: transparent;
      padding-right: 1px;
    }
  }

  .urp__notEmpty {
    border-right: transparent;
    background-color: $cWhite;
  }

  .emptyRemainder {
    height: 100%;
    flex: initial;
    border: transparent;
  }
}

.lk__rp {
  .content_two-col {
    flex-direction: row;

    @include mq('tablet', max) {
      flex-direction: column-reverse;
    }

    @include mq('tablet', min) {
      min-height: 700px;
    }

    @include mq('tablet', max) {
      @include mq('phone', min) {
        min-height: 600px;
      }
    }

    @include mq('phone') {
      min-height: 400px;
    }

    @include mq(767px, min) {
      @include mq(767px) {
        flex-direction: column-reverse;
        flex: initial;
      }
    }
  }

  .side_right {
    flex: 0 0 242px;

    @include mq('tablet') {
      flex: auto;
      flex-direction: column;
    }
  }

  .lk__resetDays-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: transparent;
    padding: 20px 4px;

    @include mq('tablet') {
      border-left: transparent;
      border-right: transparent;
    }

    @include mq('phone') {
      padding-top: 5px;
    }

    .lk__resetDays-desc {
      margin: 5px 0 20px 0;
    }
  }

  .content-area-for-side {
    padding: 0;

    .lk__rp__audio {
      .audioplayer {
        border-bottom: 1px solid $baseGrayLight;
        padding: 20px 30px 20px;
      }
    }

    .chapter__verses {
      padding: 10px 15px;
    }
  }

  @include mq('tablet') {
    padding: 0;

    .content-area-for-side {
      .lk__rp__audio {
        .audioplayer {
          padding: 20px 10px 20px;
        }
      }

      .chapter__verses {
        padding: 5px 10px;
      }
    }
  }

  .tabs__chapters {
    display: flex;
    flex: 1 1 auto;
    background-color: $cWhite;
  }

  .tabs_in-paper {
    position: relative;
  }

  .tabs__chapters-absolute {
    position: absolute;
    width: calc(100% - 240px);
    top: 56px;
    z-index: 10;
    background-color: $cWhite;
  }

  .chapter__audio {
    padding: 0;
    border: none;
    margin-bottom: 20px;
  }

  @include mq('phone') {
    .tabs__head {
      display: flex;
      flex-direction: column;
      min-height: 50px;
      width: 100%;
    }

    .tab {
      padding: 10px 0;
      line-height: 30px;
    }

    .content_two-col {
      flex-direction: column-reverse;
    }
  }

  @include mq('phone', min) {
    @include mq('tablet') {
      .content-area-for-side {
        width: 80%;
      }

      .side_right {
        flex: auto;
      }
    }
  }

  @include mq(767px) {
    .side_right {
      width: 100%;
      flex: initial;
      overflow: initial;
      border-left: transparent;
      border-right: transparent;
      margin-left: 0;
    }
  }
}

.lk__rp__translate {
  @include mq('phone', min) {
    @include mq('tablet') {
      padding-top: 20px;
      width: 50%;
      margin: 0 auto;
    }
  }

  @include mq('tablet') {
    padding-bottom: 30px;
  }

  .lk__rp__translate__text {
    text-align: center;
    margin-bottom: 20px;

    @include mq('tablet') {
      text-align: left;
      margin-bottom: 15px;
      font-size: 16px;
    }
  }

  .translates__control {
    background-color: $cWhite;
  }

  & > div {
    z-index: 150;
  }
}

.lk__rp__completeDay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-right: 1px solid $baseGrayLight;
  border-left: 1px solid $baseGrayLight;

  .btn {
    margin: 20px 0;
  }

  @include mq('tablet') {
    margin: 0;
    width: 100%;
  }

  @include mq(1024px, min) {
    @include mq(1024px) {
      border: transparent;
    }
  }
}

.lk__rp__audio {
  margin-bottom: 5px;
}

.lk__rp__text-translate {
  margin-bottom: 20px;

  @include mq('tablet') {
    margin: 0 10% 25px 10%;

    @include Lato;

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}

.lk__rp-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  &::after {
    content: '';
    display: block;
    width: 276px;
    height: 0;
    max-width: 100%;
  }

  @include mq('tablet') {
    margin-bottom: 15px;
  }

  @include mq('tablet') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq('phone') {
    grid-template-columns: 1fr;
  }
}

.lk__rp-create-plan {
  margin: 0 auto 35px;
  display: block;
  width: min-content;
  white-space: nowrap;
  padding: 13px 41px;

  @media (max-width: 1200px) {
    padding: 12px 28px;
    font-size: 20px;
  }

  @include mq('phone') {
    width: auto;
    font-weight: 500;
    font-size: 18px;
    padding: 14px 16px;
    width: min-content;
  }
}

.lk__rp-item-wrapper {
  display: flex;
  min-height: 500px;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $baseGrayLight;
  border-top: 3px solid $baseOrange;
  background-color: $cWhite;

  @include mq('tablet') {
    border: transparent;
    border-bottom: 1px solid $baseGrayLight;

    &.active {
      border: transparent;
      border-bottom: 1px solid $baseGrayLight;
    }
  }
}

.lk__rp-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 2px;
  padding: 25px 20px 20px;
  position: relative;

  &.active {
    border-top-color: $baseGreenLight;
  }

  @include mq('tablet-wide') {
    &.active {
      border: transparent;
    }
  }

  @include mq('tablet') {
    margin-bottom: 0;
    border: transparent;
    min-height: auto;

    &.active {
      border: transparent;
    }
  }

  @include mq('phone') {
    width: 100%;
    min-height: auto;
  }
}

.lk__rp-item-head {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90px;
  padding-bottom: 15px;
  border-bottom: 1px solid $baseGrayLight;
  margin-bottom: 28px;

  @include mq('tablet-wide') {
    margin-bottom: 11px;
  }

  @include mq('phone') {
    min-height: 40px;
    padding-bottom: 20px;
  }
}

.lk__rp-item-title {
  @include LatoBold;

  font-size: 2.1rem;
  line-height: 2.4rem;
  color: $baseGray;
  text-align: center;

  @include mq('tablet-wide') {
    font-size: 1.8rem;
  }

  @include mq('tablet') {
    max-height: 350px;
    overflow: hidden;
  }

  @include mq('phone') {
    max-height: 220px;
  }
}

.lk__rp-item-desc {
  margin-bottom: 30px;

  &:empty {
    margin-bottom: 0;
  }
}

.lk__rp-item-plug {
  @include LatoSemiBold;

  display: block;
  text-align: center;
  max-width: 220px;
  margin: 0 auto;

  &.login {
    background: #628fc2;
    color: white;
  }

  &:hover,
  &:focus {
    color: $baseGray;

    &.login {
      background: #4a6e97;
      color: white;
    }
  }

  @include mq('tablet-wide') {
    min-width: 212px;
    text-align: center;
  }

  @include mq('tablet') {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 8px 15px;
    max-width: 450px;
    height: 40px;
  }

  @include mq('phone') {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 8px 15px;
    max-width: 250px;
    height: 40px;
  }
}

.lk__rp-item-more {
  text-align: center;
  display: flex;
  margin-top: 10px;

  @include mq('tablet') {
    margin: 10px auto 0 auto;
  }

  @include mq('phone') {
    margin: 10px auto 0 auto;
  }
}

.lk__rp-item-more-link {
  font-size: 1.2rem;
  cursor: pointer;
  border-bottom: 1px solid $baseGray;
  transition: border-color 0.3s, color 0.3s;

  &:hover {
    color: $baseOrange;
    border-color: $baseOrange;
  }
}

.lk__rp-turn-on-group {
  padding: 12px 0;
  background: #243737;
  text-align: center;
  width: 100%;
  cursor: pointer;
  color: #fff;
  display: block;
  line-height: 1.2;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 20px;
  transition: all 0.25s;

  &:hover {
    color: $baseOrange;
  }
}

.lk__my-created-plan {
  .lk__rp-item-head {
    min-height: 0;
  }

  border-top: 0 !important;

  .lk__rp-item-more {
    display: flex;
    justify-content: space-between;
  }
}

.lk__head-my-plan {
  background: #628fc2;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 3px;
  border-top: 3px solid black;
  position: relative;
  color: #fff;
  font-style: normal;
  font-weight: 400;
}

.lk__head-my-plan-mentor {
  height: 65px;
}

.delete-plan {
  position: absolute;
  cursor: pointer;
  right: 10px;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
}
