@import '../../assets/sass/config';

.exeget__search {
  width: 575px;
  margin-bottom: 40px;
}

.exeget__list {
  display: flex;
  flex-direction: column;
  height: 95%;

  @include mq('tablet') {
    height: 75%;
  }

  @include mq('phone') {
    height: 85%;
  }
}

.exeget__list-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid $baseGrayLight;
  margin-bottom: 25px;

  span {
    margin-right: 5px;
  }

  @include mq('tablet') {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
}

.exeget__list-count {
  @include LatoBold;

  font-size: 2.2rem;
  line-height: 2.4rem;
}

.exeget__list-pager {
  display: flex;
  align-items: center;

  .ekzeget__control {
    width: 50px;
    background-color: transparent;
    border-radius: unset;
    border: unset;
    color: unset;
  }

  .ekzeget__indicator.ekzeget__dropdown-indicator {
    padding: 0;
  }

  .ekzeget__indicator-separator {
    display: none;
  }
}
