@import '~assets/sass/config';

.bible-media-nav-child {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 210px));
  grid-gap: 10px;
  margin-top: 15px;
  padding-left: 40px;

  .bible-media__nav-item,
  .bible-media__nav-item .btn {
    width: 100%;
  }

  .bible-media__nav-item {
    text-align: center;
    margin: 0;
  }

  // .bible-media__nav-item+.bible-media__nav-item {
  //   margin-left: 172px;
  // }

  .bible-media__nav-item .btn {
    @include LatoBold;

    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    color: $baseDefault;
    transition: border-color 0.65s ease;
    border-bottom: 2px solid $cWhite;
    padding-bottom: 18px;

    &.active,
    &:hover {
      border-bottom: 2px solid $baseOrange;
      color: $baseGray;
    }

    &.btn_gradient::before {
      display: none;
    }

    &:hover {
      &::before {
        display: none;
      }
    }
  }
}
