@import '../../assets/sass/config';

.confirm_reg {
  padding-top: 80px;
  text-align: center;
  margin-bottom: 90px;

  &__title {
    @include LatoBold;

    font-size: 2.8rem;
    line-height: 3rem;
    margin-bottom: 40px;
  }

  &__text {
    line-height: 2.4rem;
    font-size: 2rem;
  }

  &__links {
    margin: 40px auto 0;
    font-size: 2rem;

    a {
      margin: 0 16px;
      text-decoration: underline;
    }
  }
}
