@import '../../../assets/sass/config';

.chapter__verses {
  position: relative;
  text-align: justify;

  &_inline {
    .chapter__verse {
      display: inline;
      margin-right: 4px;
    }
  }
}

.chapter__verse {
  @include Lato;

  line-height: 2.4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 20px;

  @include mq(1024px) {
    line-height: 2rem;
  }

  .checkbox__visible {
    margin-bottom: 20px;
  }

  .checkbox__hidden {
    padding-left: 0;
    margin-left: 0;
    margin-right: 5px;
  }

  .checkbox__hidden_par {
    position: relative;
    padding-left: 15px;
  }

  &__checkbox {
    position: absolute;
    left: 0;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid $input_border;
    background-color: $checkboxFavorite;
    transition: background-color 0.3s;
    cursor: pointer;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    svg:not(:root).svg-inline {
      width: 10px;
      height: 8px;
    }

    &.verseVisible {
      visibility: visible;
    }

    &.selectedVerse {
      visibility: visible;
      background-color: $baseOrange;
    }

    @include mq('tablet-wide') {
      left: 0;
      top: 5px;
      visibility: visible;
    }

    @include mq('tablet') {
      left: 0;
      visibility: visible;
    }

    @include mq('phone') {
      left: 0;
      visibility: visible;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  sub {
    position: relative;
    bottom: 4px;
    margin-right: 3px;
    font-size: 1rem;
  }

  &:hover {
    a {
      color: $baseGray;
    }

    .chapter__verse-description {
      border-bottom: 1px solid $baseOrange;
      padding-bottom: 1px;
    }

    .chapter__verse__checkbox {
      visibility: visible;
    }
  }
}

.chapter__verse-parallels {
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.chapter__verse-parallel {
  font-size: 1.2rem;
  color: $baseGray;
  padding-bottom: 1px;
  border-bottom: 1px solid $baseOrange;
  cursor: pointer;
}

.chapter__parallel-close {
  cursor: pointer;
}

.chapter__verses-actions,
.chapter__audio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px 15px 30px;
  border-bottom: 1px solid $baseGrayLight;

  @include mq('tablet-wide') {
    padding: 15px 10px;
  }
}

.chapter__audio {
  height: auto;

  @include mq(1024px) {
    .audioplayer__track {
      min-width: 200px;
    }
  }

  @include mq('tablet') {
    .audioplayer__track {
      min-width: 180px;
    }
  }
}

.chapter__verse-parallel-wrap {
  display: inline-block;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }

  @include mq('tablet') {
    margin-right: 10px;
  }

  @include mq('tablet', min) {
    &:hover {
      .chapter__verse-parallel-hidden {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.chapter__verse-parallel-hidden {
  width: 340px;
  position: absolute;
  left: 0;
  top: 90%;
  background-color: $cWhite;
  padding: 15px 20px 25px 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
  max-height: 350px;
  overflow: auto;
  z-index: 1;

  @include mq('phone', max) {
    top: 88%;
  }

  @include mq('phone', min) {
    @include mq('tablet') {
      left: 20%;
      top: calc(100% + 5px);
    }
  }

  @include mq('phone') {
    width: 288px;
    padding: 12px;
  }
}

.parallelOpen {
  opacity: 1;
  visibility: visible;
}

.chapter__verse-parallel-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 28px;
}

.chapter__verse-parallel-hidden-title {
  @include LatoBold;

  font-size: 1.5rem;
  margin-bottom: 5px;
}

.verse__preaching-verses {
  margin-bottom: 20px;
}

.verse__preaching-verse {
  @include LatoBold;

  font-size: 1.5rem;
  margin-right: 10px;
  cursor: pointer;

  &:hover {
    color: $baseGray;
  }

  &:hover > span {
    border-bottom: 1px solid $baseOrange;
    padding-bottom: 1px;
  }

  sup {
    margin-right: 5px;
  }

  &--empty {
    display: flex;
    align-items: baseline;
    margin: 0;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: lighten($baseGray, 33%);

    sup {
      margin-right: 5px;
    }

    @include mq('tablet-wide') {
      padding-left: 35px;
    }

    @include mq('tablet') {
      padding-left: 30px;
      margin: 15px 0;
    }

    @include mq('phone') {
      padding-left: 20px;
      margin: 10px 0;
    }
  }

  @include mq('phone') {
    padding-left: 0;
  }
}

.bible__bottom-nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.verse__preaching {
  position: relative;
  border: 5px solid $baseGrayLightSelect;
  border-radius: 8px;

  @include mq('phone') {
    margin-top: 10px;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  svg:not(:root).svg-inline {
    width: 10px;
    height: 8px;
  }

  &:hover {
    .chapter__verse__checkbox {
      visibility: visible;
    }
  }

  &-text {
    background-color: $cWhite;
    padding: 20px 15px;
    text-align: justify;
    white-space: pre-line;
    font-size: 1.4rem;
    line-height: 3rem;
  }

  + .verse__preaching {
    margin-top: 30px;
  }
}

.chapter__action-panel {
  background-color: $cWhite;
  position: relative;
}

.chapter__head_one-col {
  flex-direction: column;
}

@include mq('phone') {
  .chapter__verses-actions {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    padding: 0;
  }

  .chapter__verses-action:not(:nth-child(1)) {
    justify-content: center;
  }

  .chapter__verses-action:nth-child(1) {
    width: 100%;
  }

  .chapter {
    .bible__nav {
      width: 100%;
    }
  }

  .chapter__video-item {
    display: flex;
    flex-direction: column;
  }

  .chapter__video-preview {
    width: 100%;
    flex: initial;
    margin: 0;
  }

  .manuscript-popup__title {
    display: flex;
    flex-direction: column;
  }

  .chapter__audio {
    padding: 10px 10px;
  }

  @include mq('tablet') {
    .bible__nav {
      .svg-inline {
        margin-bottom: 1px;
      }
    }
  }
}

.chapter {
  .side.paper {
    border-bottom: transparent;
  }

  .content {
    .tab {
      @include LatoSemiBold;

      line-height: 20px;
      padding: 0;
      font-size: 15px;

      a {
        display: block;
        padding: 18px 20px;

        @include mq('phone', max) {
          padding: 16px 14px;
        }
      }
    }
  }

  @include mq('tablet', min) {
    .content_two-col {
      justify-content: flex-end;

      .preloader {
        width: 100%;
        height: 500px;
      }
    }
  }

  .audioplayer__wrap-first-col {
    width: 100%;
  }

  .side_right {
    .tab {
      line-height: 20px;
      padding: 18px 10px;
    }
  }

  .exegetes__wrapper-adaptive {
    margin: 0 8px;
  }

  .tabs__scroll {
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 10;
    border-bottom: 1px solid $baseGrayLight;

    @include mq(767px, min) {
      @include mq(767px) {
        top: 80px;
      }
    }

    @include mq('phone') {
      top: 60px;

      .tab {
        padding: 0 15px;
      }
    }
  }

  @include mq('tablet') {
    .content_two-col {
      flex-direction: column-reverse;
      min-height: 400px;

      .chapter__verses-area {
        padding-left: 5px;
      }

      .chapter__withOut_inline {
        padding-left: 18px;
      }
    }

    .side_right {
      .tabs_in-paper {
        border-left: transparent;
        border-right: transparent;
      }
    }
  }

  .tabs__content {
    .content-area-for-side {
      width: 100%;
      padding: 25px 15px 25px 0 !important;

      @include mq('tablet', min) {
        min-height: 700px;
      }
    }
  }

  .tab__action-list {
    justify-content: space-around;
    height: 40px;
    width: 150px;
    align-items: center;

    .note-added {
      .icon {
        color: $baseOrange;
      }
    }

    .icon {
      color: darken($baseGrayLight, 5%);

      &:hover {
        color: $baseDefault;
      }
    }

    .tab__action-item {
      margin: 0;
    }

    @include mq('tablet-wide') {
      width: 100px;
    }

    @include mq(1024px) {
      width: 120px;
    }

    @include mq('phone') {
      width: 100%;
    }
  }
}

.chapter.chapter-preloader {
  min-height: 400px;
}

.chapter__verses-talks {
  width: 28px;
  height: 28px;
  padding: 1px;
}

.book__chapter-action_audio {
  @include mq('phone', min) {
    @include mq('tablet') {
      padding: 5px;
    }
  }
}

.chapter {
  .icon_manuscript {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icon_play[type='play'] {
    padding-left: 1.5px;
  }
}

.favorite {
  padding-top: 10px;
  border-top: 1px solid $baseGrayLight;
}

.tags-chapter {
  padding-left: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.allTags__tag {
  color: $cBlack;
}

.allTags__chapter {
  display: flex;
}

.tab__action {
  display: flex;
  justify-content: space-between;
}

.favorite__description {
  @include LatoBold;

  font-size: 1.6rem;
  margin: 10px 0 0 18px;
  border-bottom: 2px solid $baseOrange;
}

.favorite__verseList {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    border-bottom: 1px solid $baseGrayLight;
    padding: 10px 20px 10px 24px;
  }

  .favorite__verseList__allTags {
    padding: 10px 0 10px 10px;
  }

  .favorite__verseTags {
    padding: 0;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;

    p {
      cursor: pointer;
    }
  }

  &__text {
    display: flex;
    justify-content: flex-start;
  }

  &__tags {
    font-style: italic;
    margin-top: 10px;
  }
}

.tag {
  @include mq('tablet') {
    max-width: 350px;
  }

  @include mq('phone') {
    overflow: hidden;
    max-width: 150px;
    text-overflow: ellipsis;
  }
}

.favorite__verseList__allTags {
  display: flex;
  flex-wrap: wrap;

  p {
    margin: 0 6px 6px 0;
    padding: 4px 12px;
    border-radius: 20px;
    background-color: $baseOrange;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    user-select: none;
    order: 1;

    &:hover {
      background-color: $baseOrange_hover;
    }

    &:active {
      transform: scale(0.85);
      transform-origin: center center;
    }

    &.choosen__tag {
      order: 0;
      background-color: $baseOrange_hover;

      &::after {
        content: 'X';
        margin-left: 6px;
      }
    }
  }
}

.pagination {
  margin-top: 30px !important;
  margin-bottom: 25px;
}

.chapter-preaching {
  width: 100%;

  @include mq('tablet', max) {
    margin-bottom: 0 !important;
  }
}

.chapter-preaching .list__item {
  @include mq('tablet', max) {
    border: 0.5px solid $baseGrayLight;
  }
}

.chapter-preaching__preloader {
  display: flex;
  justify-content: center;

  @include mq('tablet-wide') {
    display: block;
    margin: 50%;
  }
}

.chapter__verses-action_mobile {
  z-index: 100;
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: space-between;
  width: 100px;
  background-color: $cWhite;
  border: 0.5px solid $baseGrayLight;
  padding: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.test {
  padding-left: 20px;
}

.csya_old__container a span .verse-text {
  .verse-number {
    @include Lato;
  }

  @include CsyaOld;

  font-size: 1.7rem;
}

.grek__container a span .verse-text {
  .verse-number {
    @include Lato;
  }

  @include Greek;
}

.content_two-col.verse_content {
  flex-direction: row;

  @include mq('tablet', min) {
    .side_right {
      border-left: transparent;
      border-bottom: transparent;
    }

    .chapter__verses-area {
      border-bottom: 1px solid $baseGrayLight;
    }
  }

  @include mq('tablet-wide', min) {
    .side_right {
      border: 1px solid $baseGrayLight;
    }
  }
}

.chapter__verse-actions {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .chapter__verses-action {
    width: auto;
  }

  @include mq('phone') {
    flex-direction: column;
  }
}

.chapter__verses-action {
  .chapter__verses-action-icon {
    font-size: 1.2rem;
    position: relative;
    z-index: 1;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;

    div {
      position: relative;
    }

    &::before {
      position: absolute;
      content: '';
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #fff 0%, #f3f3f3 100%);
      z-index: -1;
      border-radius: 100%;
      transition: background-color 0.65s ease, box-shadow 10.33s ease;
      box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.4);
    }

    &.chapter__verses-action-icon_active {
      .chapter__verses-action__text {
        color: $baseGray;
      }
    }

    @mixin chapterVersesActionIcon {
      color: $baseGray;

      &::before {
        background: $baseOrange;
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
      }
    }

    &.chapter__verses-action-icon_active {
      @include chapterVersesActionIcon;
    }

    @include mq('tablet-wide', min) {
      &:hover {
        @include chapterVersesActionIcon;
      }
    }

    &.chapter__verses-action-icon_disabled {
      .chapter__verses-action__text {
        color: $baseGrayLight;
      }

      &:hover {
        color: $versesActionIcon;

        &::before {
          background-color: $baseGrayLight;
        }
      }
    }
  }
}

.chapter-verses-middle {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;

  @include mq('phone') {
    width: 100%;
    justify-content: space-between;
    padding: 0 12px 12px;
  }
}

.chapter-verses-left {
  display: flex;

  @include mq('phone') {
    padding: 10px 12px 5px;
    width: 100%;
    justify-content: space-between;
  }
}

.chapter-verse-title {
  display: flex;
  align-items: baseline;
  background-color: $baseGrayLightSelect;
  padding-bottom: 5px;

  sup {
    margin-right: 5px;
  }
}

.chapter-verse-padding {
  padding-left: 25px;

  @include mq('tablet') {
    padding-left: 45px;
  }

  @include mq('phone') {
    padding-left: 20px;
  }
}

.not-translate {
  font-size: 1.8rem;
  text-align: center;
}
