@import '~assets/sass/config';

.bible-media-shadow-paper {
  background-color: $cWhite;
  border: 1px solid $baseOrange;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.extend .bible-media__default {
  .bible-media__nav {
    flex-direction: row;

    .bible-media__nav-item {
      width: calc((100% - 64px) / 4);
      margin: 16px 8px 0 8px;
    }
  }
}

.bible-media__default {
  .bible-media__nav {
    flex-direction: column;

    .bible-media__nav-item {
      width: 100%;
      margin: 0;
      margin-top: 16px;
    }
  }
}
