.dd__wrapper {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and(max-width: 1024px) {
  .dd__wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and(max-width: 1400px) {
  .dd__wrapper {
    padding-left: 10px;
    padding-right: 15px;
  }
}

.dd__opened {
  border-radius: 3px;
  border-color: #373c43;
  color: #373c43;
}

.dd__disabled {
  border-color: #6d757b;
  color: #6d757b;
}

.dd__error {
  border-color: #e9596a;
}

.dd__selectControl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  border-radius: 3px;
  background-color: #fff;
  color: #373c43;
  line-height: 20px;
  cursor: pointer;
  overflow: hidden;
}

.dd__error .dd__selectControl {
  color: #e9596a;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dd__disabled .dd__selectControl {
  cursor: default;
}

.dd__selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
}

.dd__multi .dd__selected {
  margin-top: -2px;
}

.dd__search {
  display: inline-block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: 1px solid transparent;
  outline: 0;
  opacity: 0;
  min-height: 20px;
  word-break: break-word;
}

.dd__multi .dd__search {
  margin-top: 2px;
}

.dd__opened .dd__search {
  opacity: 1;
}

.dd__placeholder {
  border: 1px solid transparent;
  color: #6d757b;
}

.dd__multi .dd__placeholder {
  margin-top: 2px;
}

.dd__error .dd__placeholder {
  color: #e9596a;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dd__selectedItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid transparent;
}

.dd__multi .dd__selectedItem {
  border-color: #a9b6d2;
  background-color: #e3eaf6;
  border-radius: 2px;
  margin-top: 2px;
  margin-right: 2px;
  padding: 0 4px;
}

.dd__crossIcon {
  margin-left: 5px;
}

.dd__expandIcon {
  width: 9px;
  height: 15px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  fill: #2d3136;
  display: none;
}

.dd__error .dd__expandIcon {
  fill: #e9596a;
}

.dd__list {
  display: none;
  position: absolute !important;
  background-color: #fff;
  overflow: auto;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
  min-width: 100%;
  border: 1px solid #f9d063;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 7px 0 rgba(#000, 0.08);
  box-shadow: 0 3px 7px 0 rgba(#000, 0.08);

  /* Without this property, Chrome repaints the entire Grid any time a new row or column is added.
	Firefox only repaints the new row or column (regardless of this property).
	Safari and IE don't support the property at all.
	*/
  will-change: transform;
}

.dd__opened .dd__list {
  display: block;
}

.dd__opened .dd__list:empty {
  display: none;
}

.dd__listVirtualized {
  overflow-y: auto;
  overflow-x: hidden;

  :global(.Grid__innerScrollContainer) {
    overflow: hidden;
    position: relative;
  }
}

.dd__openTobottom {
  top: 100%;
  margin-top: 5px;
}

.dd__openTotop {
  bottom: 100%;
  margin-bottom: 5px;
}

.dd__optionVirtualized {
  position: absolute;
}

.dd__option {
  padding: 5px;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
}

.dd__option:hover {
  background-color: #f1f1f1;
}

.dd__selectedOption {
  background-color: #f1f1f1;
}

.dd__optionDisabled {
  cursor: default;
}

.dd__optionDisabled:hover {
  background-color: transparent;
}
