@import '../../assets/sass/config';

.news__details {
  .news__details__body {
    padding: 6px 0 30px;
  }

  &__content {
    flex: 2 1 0;
    background-color: $cWhite;
    padding: 25px;
    margin-right: 25px;
    border-radius: 4px;
    border: 1px solid $baseGrayLight;

    &-text {
      margin-bottom: 25px;
      text-align: justify;

      .preloader {
        position: relative;
        min-height: 50px;
      }

      p {
        text-align: justify;
        white-space: pre-line;
      }

      iframe {
        width: 100% !important;
      }

      img {
        width: 100% !important;
        height: 100% !important;
      }
    }

    @include mq('tablet') {
      padding: 10px;
      border: 1px solid $baseGrayLight;
      border-radius: 0;
      margin: 0 0 15px;
    }
  }

  &__date {
    flex: 1 1 0;
    max-width: 280px;

    @include mq('phone') {
      width: 100%;
      max-width: initial;
    }
  }

  &__date-content {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px dotted $input_border;
    border-radius: 8px;

    p {
      font-style: italic;
      font-weight: 600;
      font-size: 1.3rem;
    }
  }
}

.text-format {
  font-size: 1.4rem;
  line-height: 1.6;

  a {
    text-decoration: underline;
  }

  p {
    margin-bottom: 20px;
  }

  ul {
    padding-left: 30px;
    margin-bottom: 30px;
  }
}
