@import '../../assets/sass/config';

.pulldown {
  background-color: $cWhite;
  position: absolute;
  border: 1px solid $baseGrayLight;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: opacity 0.3s, visibility 0.3s;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.pulldown__head {
  display: flex;
  padding: 15px 20px;
  border-bottom: 1px solid $baseGrayLight;
}

.pulldown__title {
  @include LatoSemiBold;

  font-size: 1.5rem;
  flex: 1 1 auto;
}

.pulldown__actions {
  flex: 0 0 auto;
}

.pulldown__body {
  padding: 20px;
}
