@import '~assets/sass/config.scss';

.media-detail-video-ready {
  position: relative;
  margin-top: 34px;

  @include mq('phone', max) {
    margin-top: 20px;
  }
}

.media-detail-video-ready-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 30px;

  .media-detail-video-ready-item {
    width: 210px;
    margin-bottom: 36px;
    margin-right: 36px;

    @include mq('tablet-wide') {
      width: 170px;
      margin-right: 21px;
    }

    @include mq('phone') {
      width: 100%;
      margin-right: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.media-detail-video-ready-head {
  padding-bottom: 10px;
  border-bottom: 1px solid $baseGrayMedia;

  p {
    @include LatoBold;

    font-size: 2rem;
    line-height: 24px;
  }
}

.media-detail-video-ready-content-img {
  display: block;
  height: 250px;
  margin-bottom: 7px;
  position: relative;

  .media-detail-ready-authors {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: top;
  }

  @include mq('tablet-wide') {
    height: 220px;
  }

  @include mq('tablet') {
    height: 200px;
  }

  @include mq('phone') {
    height: 250px;
  }
}
