@import '~assets/sass/config.scss';

.media-tag-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 8px;
  min-height: 32px;
  flex: 1 0 103px;
  padding: 0;
  margin-left: 10px;
  background: linear-gradient(180deg, #fff 0%, #f3f3f3 100%);
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  @include mq('tablet', max) {
    height: 40px;
    flex: 1 0 89px;
  }

  @include mq('phone', max) {
    height: 32px;
  }
}

.media-tag-mobile-list {
  position: absolute;
  top: 41px;
  right: 0;
  background: $cWhite;
  z-index: 999;
  width: 249px;
  border-radius: 8px;
  border: 1px solid $baseOrange;

  & .media-tag {
    justify-content: flex-end;
    padding: 6px 8px;
  }

  @include mq('phone', max) {
    width: 279px;
    top: 33px;
  }
}

.tags-btn-open {
  background: linear-gradient(360deg, #ffde88 0.92%, #efae04 98.65%);
  box-shadow: none;
}

.tags-btn {
  @include LatoBlack();

  font-size: 1.8rem;
  line-height: 20px;
  width: 100%;
  height: 100%;

  @include mq('phone', max) {
    font-size: 1rem;
  }
}
