@import '~assets/sass/config';

.header__nav {
  background-color: $darkGreen;

  @include mq('tablet') {
    font-size: 11px;
  }

  @media only screen and(max-width: 1024px) {
    font-size: 11px;
  }
}

.header__nav-item {
  & .social__links {
    max-width: initial;
    flex-wrap: nowrap;

    & .social__links-item {
      margin-bottom: 0;
    }
  }
}

.header {
  @include mq('phone') {
    z-index: 9000;
  }
}

.header__humburger {
  @include mq('tablet') {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
  }
}

.header__logo {
  @include mq('phone') {
    height: 60px;

    a {
      height: 60px;

      img {
        height: 100%;
      }
    }
  }
}
