@import '../../assets/sass/config';

.toggle-layout {
  margin-bottom: 10px;
  padding: 0;
}

.toggle-layout__item {
  display: block;
  font-size: 1.4rem;
  line-height: 17px;
  width: 100%;
  max-width: 100%;
  padding: 10px 20px;
  background-color: $cWhite;
  border: 1px solid $baseGrayLight;
  color: $baseDefault;
  text-align: center;
  cursor: pointer;
  transition: 0.65s ease;
  position: relative;

  &:hover {
    color: $baseOrange;
    border-color: $baseOrange;

    & .toggle-layout-icon {
      transition: 0.65s ease;

      path {
        stroke: $baseOrange;
      }
    }
  }
}

.bible-side-right {
  .toggle-layout-icon {
    right: 10px;
    left: auto;

    &.icon-is-show {
      left: 10px;
      right: auto;
    }
  }
}

.bible-nav-width {
  flex: 1 0 270px;

  @include mq('tablet-wide') {
    flex: 1 0 246px;
  }

  @include mq('tablet') {
    flex: 1 0 234px;
  }
}

.toggle-layout-icon {
  display: flex;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);

  &.icon-is-show {
    left: auto;
    right: 10px;
  }
}

.content-center {
  flex: 1 1 100%;
  margin-left: 30px;

  .toggle-layout__item {
    width: 270px;
  }

  @include mq('tablet-wide') {
    margin-left: 10px;

    .toggle-layout__item {
      width: 246px;
    }
  }

  @include mq('tablet') {
    margin-left: 0;

    .toggle-layout__item {
      width: 234px;
    }
  }
}
