@import '~assets/sass/config';

.bible-content-preloader {
  display: block;
  position: relative;
  background: $cWhite;
  width: 100%;
  height: 500px;
  border-top: none;
  border-radius: 2px;
  border: 1px solid $baseGrayLight;
  border-top: none;

  &.bible-preloader-border {
    border-top: 1px solid $baseGrayLight;
  }

  .preloader {
    top: 50%;
    transform: translate(0, -50%);
  }
}
