@import '../../assets/sass/config';

.lecture__content-title {
  @include LatoBold;

  font-size: 1.8rem;
  padding-bottom: 2px;
  border-bottom: 1px solid $baseGrayLight;
  margin-bottom: 15px;

  @include mq('tablet', min) {
    font-size: 2.2rem;
  }

  @include mq('tablet') {
    padding-bottom: 8px;
  }
}

.lecture__content-text {
  white-space: pre-line;
  font-size: 1.4rem;

  & h4 {
    margin-top: 16px;
  }
}

.easter__form {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;

  .textfield {
    margin-right: 30px;
  }
}

.easter__celebrations-calendar {
  @include LatoBold;

  text-align: center;
  color: $baseGrayDark;
  margin-bottom: 15px;
}

.easter__celebration {
  &:nth-child(5) {
    @include LatoBold;

    color: $baseRed;
  }

  &:nth-child(8) {
    margin-bottom: 30px;
  }
}

.easter__celebration-value {
  @include LatoBold;
}

@include mq('tablet') {
  .page {
    .lecture-title {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .lecture {
    margin-top: 10px;

    .content {
      margin: 0;
      padding: 0;
    }

    .select-adaptive {
      width: 100%;
      margin-bottom: 0;
    }

    .content_two-col {
      flex-direction: column-reverse;
    }

    .content-area-for-side {
      border: 1px solid $baseGrayLight;
      padding-left: 20px;
      padding-right: 20px;
      background: $cWhite;
    }
  }

  .easter__form {
    flex-direction: column;
    min-height: 140px;
    align-items: center;
    justify-content: space-between;

    .textfield {
      margin: 0;
    }

    .btn {
      padding: 10px 30px;
    }
  }

  .lecture__content-text {
    span {
      margin: 0;
    }
  }

  .lecture-page {
    .lecture-subtitle {
      margin-top: 10px;
    }
  }
}

@include mq('phone') {
  .side_right {
    border-bottom: transparent;
  }
}

.lecture__interpretators-head {
  overflow: hidden;
  text-overflow: ellipsis;
}

@include mq('desktop', max) {
  .lecture-page .lecture__interpretators {
    min-height: auto;
  }

  .lecture {
    .side_right {
      width: 100%;
      flex: initial;
      overflow: initial;
      margin-bottom: 24px;
      margin-left: 0;
    }
  }
}

@include mq(1024px, min) {
  @include mq(1024px) {
    .lecture-page {
      .wrapper_two-col {
        flex-direction: row;
      }
    }
  }
}

.lecture__interpretators {
  @include mq('tablet', min) {
    .lecture__scrollbar-wrapper {
      height: 400px;

      & > div {
        & > div {
          max-height: 100% !important;
        }
      }
    }
  }

  @include mq(1024px) {
    height: 100%;
    min-height: auto;
    overflow: initial;
  }
}

.lecture-page {
  position: relative;

  @include mq('tablet') {
    padding-top: 0;
  }

  .content {
    position: relative;

    .content-area-for-side {
      flex-direction: column;

      @include mq('desktop', max) {
        background: white;
        border: 1px solid $baseGrayLight;
      }

      @include mq(1024px) {
        width: 100%;
        border-top: 1px solid $baseGrayLight;
      }
    }
  }

  .side__interpretators {
    & > div {
      & > div {
        overflow-y: initial !important;
      }
    }
  }

  .lecture-title {
    margin-bottom: 0;
  }

  .lecture {
    margin-top: 0;

    @include mq('tablet') {
      padding: 0;
    }
  }

  @include mq(1024px) {
    .content-area-for-side {
      border: 1px solid $baseGrayLight;
      background: $cWhite;
    }

    .side_right {
      border-bottom: transparent;
    }
  }

  @include mq(769px, min) {
    @include mq('tablet') {
      .side__item.nav-side {
        border: 1px solid $baseGrayLight;
      }
    }
  }
}

.easter {
  width: 100%;
  border: 1px solid $baseGrayLight;

  .content-area-for-side {
    justify-content: initial;
  }

  .easter-content {
    padding: 30px 20px;
    background-color: $cWhite;
  }
}

.lecture__scrollbar-wrapper {
  .list__item {
    width: 100%;
  }
}

.csya_old__container a span .verse-text {
  .verse-number {
    @include Lato;
  }

  @include CsyaOld;

  font-size: 1.7rem;
}

.grek__container a span .verse-text {
  .verse-number {
    @include Lato;
  }

  @include Greek;
}

.content_two-col .lecture_list_width {
  flex: 0 0 219px;

  @include mq('desktop', min) {
    margin-left: 30px;
  }

  @include mq('desktop', max) {
    flex: auto;
  }
}

.lecture__item {
  &a {
    font-size: 1.4rem;
  }
}

.lecture-content {
  align-items: flex-start;
  justify-content: flex-end;
  padding-left: 30px;

  @include mq('desktop', max) {
    padding-left: 0;
    flex-direction: column-reverse;

    .all-about-bible-list {
      border: 1px solid $baseGrayLight;
      padding: 22px 20px;
    }
  }
}
