@import 'source/assets/sass/icons';
@import 'source/assets/sass/config';

.external-video {
  $selector: &;

  height: 0;
  padding-bottom: calc(56.25% / 2);
  position: relative;

  &-padding {
    padding-bottom: 56.25%;
  }

  &__video {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &__poster {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    height: 100%;
    position: absolute;
    transform: scale(1.01); // Для постеров с чёрной границей в 1px
    width: 100%;
    z-index: 1;
    //transition: 2s opacity ease;

    &:hover {
      &::before {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }

    &::after {
      @include SVGFont;

      color: #fff;
      content: '\f116';
      font-size: calc(1vw + 1rem);
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.5s ease;
    }

    &::before {
      background: #000;
      border-radius: 100%;
      content: '';
      height: calc(1.5vw + 3.2rem);
      width: calc(1.5vw + 3.2rem);
      left: 50%;
      opacity: 0.3;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.5s ease;
    }

    &-opacity {
      opacity: 0;
      z-index: -1;
      transition: 2s opacity linear, 2s z-index linear;
    }
  }
}

@media (max-width: 1023px) {
  .external-video {
    $selector: &;

    height: 0;
    margin: 20px 20px 0 20px;
    padding-bottom: calc(56.25% - 30px);
    position: relative;
    width: calc(100% - 20px * 2);

    &__video {
      width: 100%;
      //height: 100%;
      position: absolute;
    }
  }
}
