@import '~assets/sass/config.scss';

.book_desc_text_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 16px;
}

.book-info {
  transition: 0.65s ease-in-out;

  &.book-desc__text {
    font-weight: normal;
  }
}

.book_desc_text_content .book-desc__text {
  @include Lato();

  font-size: 1.4rem;
  line-height: 18px;
  overflow: hidden;
  position: relative;
  margin-bottom: 16px;

  @include mq(1024px, max) {
    line-height: 18px;
  }

  &.toggleActive {
    &::after {
      opacity: 0;
    }
  }

  &.toggleActive {
    max-height: 300px;
  }
}

.defaultHeight {
  max-height: 56px;
}

.toggleHeight {
  &.toggleActive {
    overflow-y: auto;
    max-height: 384px;

    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
  }
}

.book-desc__text-empty {
  display: none;
}
