@import '../../assets/sass/config';

.quiz-results__title {
  @include Lato;

  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
}

.quiz-result__container {
  display: flex;
  flex-direction: column;
  padding: 0 0 12px 0;
  border-bottom: 1px solid $baseGrayQuestion;

  .quiz-questions__count {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 8px 0 0 0;
  }

  .quiz-questions__item {
    margin: 0 15px 10px 0;
  }

  &:last-child {
    border: transparent;
  }
}

.quiz-result__text,
.quiz-result__date,
.quiz-result__desc {
  @include Lato;

  margin-bottom: 6px;
}

.quiz-result__date {
  font-size: 1.4rem;

  @include mq('phone', min) {
    white-space: nowrap;
  }
}

.quiz-result__text,
.quiz-result__book-link {
  font-size: 1.6rem;
}

.quiz-result__book-link {
  display: inline-block;
}

.quiz-result__text {
  @include mq('phone', min) {
    max-width: 70%;
  }
}

.quiz-result__desc {
  font-size: 1.4rem;
  font-weight: 700;

  @include mq('phone', min) {
    white-space: nowrap;
  }
}

.quiz-results__container {
  flex-direction: column;

  @include mq('phone', min) {
    margin: 0 0 18px 0;
  }
}

.quiz-result__text-container {
  display: flex;
  flex-direction: column;

  @include mq('phone', min) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
}

.quiz-result__border-container {
  margin: 10px;
  padding: 20px;

  @include mq('tablet', min) {
    margin: 20px 40px;
  }
}

.quiz-result__latest {
  border: 2px solid $baseOrange;
}

.quiz-result__desc-container {
  @include mq('phone', max) {
    display: flex;
    flex-direction: column-reverse;
  }
}

@include mq('phone', min) {
  .quiz-result__desc-container {
    position: relative;
    min-height: 40px;
    margin-top: -20px;

    // Мне было пиздец как лень менять сетку из-за еще одной идеи дизайнера
    .quiz-ui__link {
      position: absolute;
      right: 0;
      margin-top: 6px;
    }
  }

  .page__title {
    white-space: nowrap;
    margin: 0;
  }
}

.quiz-result__books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

.quiz-result__btn-desc {
  margin-top: 0;
}

.quiz-result__book {
  span {
    font-size: 1.6rem;
    opacity: 0.6;
  }

  &:not(:last-child)::after {
    content: ', ';
    margin-right: 3px;
  }
}

.quiz-result__desc-main {
  display: flex;
  flex-direction: column;

  @include mq('phone', min) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.quiz-results__start-again {
  text-align: center;
}

$b: '.quiz-questions';

#{$b} {
  &__message {
    &-question {
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: bold;
      border-bottom: 1px solid #f9d063;
    }

    &-right {
      padding: 14px 20px;
      background-color: #cbf3d3;
    }

    &-wrong {
      padding: 14px 20px;
      background-color: #ffd8d8;

      #{$b} {
        &-header {
          color: #d83a3a;
        }
      }
    }

    &-header {
      font-size: 2.4rem;
    }

    &-description {
    }

    & > * {
      border-radius: 30px;
      overflow: hidden;

      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }
}
