@import '../../../assets/sass/config';

.mm-popup__box.mm-popup__box--chapter__bible-group__popup {
  width: 590px;

  & .mm-popup__box__body {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 90px;
    overflow: auto;
    max-height: calc(100vh - 80px);

    > div {
      max-height: unset;

      h1,
      p {
        text-align: center;
      }

      p {
        margin-top: 12px;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  .btn {
    margin: 28px auto 0;
  }

  .preloader {
    background-color: transparentize($color: $cWhite, $amount: 0.4);
  }
}

.bible-group__question__form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
