@import '~assets/sass/config';

@mixin bibleMediaActive {
  &::before {
    opacity: 1;
    visibility: visible;
  }
}

.bible-media__content {
  position: relative;
  background-color: $cWhite;
  height: 100%;
  z-index: 0;

  @include mq('phone') {
    border: 1px solid $baseGrayLight;
    min-height: 400px;
  }
}

.bible-media__pulldown {
  position: relative;

  &.pulldown_middle {
    width: 40%;

    .bible-media__nav {
      display: block;

      & > * {
        margin-top: 16px;
      }
    }

    .bible-media__nav-item {
      width: 100%;
      margin: 16px 0;
    }
  }
}

.bible-media__pulldown-head {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  background-image: linear-gradient(180deg, $cWhite 0%, #f3f3f3 100%);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 10px 45px 10px 20px;
  cursor: pointer;
  z-index: 5;
  font-size: 1.6rem;

  @include mq('phone') {
    height: 40px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    width: 101%;
    height: 100%;
    background-image: linear-gradient(360deg, #ffde88 0.92%, #efae04 98.65%);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
    z-index: -1;
    border-radius: 2px;
  }

  &:hover {
    @include mq('phone', min) {
      @include bibleMediaActive();
    }
  }

  &:active {
    @include bibleMediaActive();
  }

  &.active {
    @include bibleMediaActive();
  }

  > span:first-child {
    @include LatoBold;

    font-size: 1.5rem;
    line-height: 2rem;
    border-bottom: 1px solid $baseOrange;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
    display: inline-block;

    @include mq('tablet-wide') {
      max-width: 135px;
      font-size: 1.3rem;
    }

    @include mq('tablet') {
      max-width: 120px;
      font-size: 1.1rem;
    }

    @include mq('phone') {
      max-width: 170px;
      font-size: 1.5rem;
    }

    @include mq(319px, max) {
      max-width: 140px;
    }
  }

  .icon {
    font-size: 2rem;
    line-height: 3rem;
    transition: transform 0.3s ease-out;
  }
}

.bible-media__pulldown-body {
  position: absolute;
  top: 95%;
  right: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background: $cWhite;
  box-shadow:
    0 3px 15px rgba(0, 0, 0, 0.1),
    0 1px 0 $baseOrange,
    -1px 0 0 $baseOrange,
    1px 0 0 $baseOrange;
  border-radius: 0 0 8px 8px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out, transform 0.3s ease-out;
  z-index: 3;
  pointer-events: none;

  .bible-media__nav {
    flex-direction: column;
    gap: 16px;
    display: grid;
  }

  .bible-media__nav-item {
    width: 100%;
    margin: 0;
    height: 34px;
  }
}

.bible-media__pulldown-head.active {
  .icon {
    transform: rotate(180deg);
  }

  + .bible-media__pulldown-body {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: all;
  }
}

.bible-media-select-child {
  z-index: 1;

  @include mq('phone') {
    margin-top: 20px;
  }
}

.verse-page .bible-media-interpretations,
.chapter .bible-media-interpretations {
  .list__item {
    border-left: none;
    border-right: none;
    margin: 0;
  }

  &.bible-media-chapter {
    .tabs__head.tabs__head_justify {
      border-bottom: 1px solid $baseGrayLight;
      border-top: none;
    }
  }

  .tabs__head.tabs__head_justify {
    position: relative;
    background-color: $baseGrayLight;
    border: none;
    border-top: 1px solid $baseGrayLight;
    overflow: hidden;

    @include mq('phone') {
      border: none;
    }
  }

  .tab {
    width: 50%;
    background-color: $cWhite;
  }

  .tab-common {
    @include LatoBold;

    background-color: $baseGrayLight;
    padding: 0;
    width: 50%;

    &.active {
      transition: color 0.25s ease;
      box-shadow: none;
    }

    &::after {
      transition: background-color 10s ease;
      transition: none;
    }

    @include mq('tablet-wide') {
      padding: 0;
    }

    @include mq('phone') {
      padding-left: 10px;
    }
  }

  @include mq('tablet') {
    .tab {
      padding-right: 0;
      opacity: 1;
    }

    .tab:first-child {
      padding-left: 0;
      padding-right: 10px;
    }
  }

  .tab-common.active {
    position: relative;
    background-color: $cWhite;
    z-index: 2;
    border: none;

    &::after {
      content: '';
      background: none;
    }
  }
}

.bible-media-interpretations {
  border: none;
  margin-top: 30px;

  &.bible-media-padding {
    margin-top: 0;
  }

  @include mq('phone') {
    margin-top: 0;
    padding-bottom: 0;
  }

  .tabs__head {
    height: auto;
  }

  .tab-item.active {
    position: absolute;
    display: block;
    width: 30px;
    height: 100%;
    z-index: 1;
    top: 0;
    background: $cWhite;
    box-shadow: 0 0 15px -6px rgba(0, 0, 0, 0.3);

    @include mq('phone') {
      height: 56px;
    }
  }

  .tab-item.tab-left.active {
    border-radius: 0 2px 0 0;
    left: 42%;
    transform: skew(10deg);

    @include mq('tablet-wide') {
      left: 40%;
    }

    @include mq('phone') {
      left: 47%;
    }

    @include mq(375px, max) {
      left: 44%;
    }
  }

  .tab-item.tab-right.active {
    border-radius: 2px 0 0 0;
    top: 0;
    right: 42%;
    transform: skew(-10deg);

    @include mq('tablet-wide') {
      right: 40%;
    }

    @include mq('phone') {
      right: 47%;
    }

    @include mq(375px, max) {
      right: 44%;
    }
  }

  .bible-media__pulldown {
    margin: 20px 20px 0;

    @include mq('phone') {
      margin: 20px 30px 0;
      width: auto;
    }
  }
}

.extend {
  .bible-media-interpretations {
    margin-top: 30px;
  }
}

.extend {
  &.bible-not-left {
    .tab-item.tab-left.active {
      left: 48%;
    }
  }

  .tab-item.tab-left.active {
    left: 48%;
  }
}

.extend {
  &.bible-not-left {
    .tab-item.tab-right.active {
      left: 49%;
    }
  }

  .tab-item.tab-right.active {
    right: 49%;
  }
}
