@import '~assets/sass/config';

.bible-mobile-interpretation {
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0 20px;

  @include mq('phone') {
    margin-bottom: 0;
  }

  .bible-media__nav-item {
    width: 100%;
    margin: 0;
    height: 34px;

    @include mq('phone') {
      .btn {
        justify-content: flex-start;
        margin: 0;
      }
    }
  }
}

.bible-mobile-interpretation-icon {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 40px;
}

.bible-interpretation {
  width: 100%;
  margin: 0;

  @include mq('phone') {
    .btn_gradient {
      box-shadow: none;
      border: 1px solid $baseOrange;
      border-radius: 4px;
      padding-left: 10px;
      text-align: left;

      &:hover {
        &::before {
          display: none;
        }
      }

      span {
        display: block;
        max-width: 212px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 10px;
      }
    }
  }
}

.bible-mobile-interpretation-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9000;
  background-color: $cWhite;

  .bible-media-interpretations .tabs__head.tabs__head_justify {
    border-top: none;
  }
}

.bible-mobile-back {
  display: flex;
  position: sticky;
  top: 0;
  padding: 17px 0 12px 9px;
  width: 100%;
  background-color: $cWhite;
  z-index: 99;
  border-bottom: 1px solid $baseGrayLight;
}
