.track-vertical {
  right: 2px;
  bottom: 2px;
  top: 2px;
  border-radius: 3px;
}

.track-horizontal {
  transition: opacity 200ms ease 0s;
  opacity: 0;
  right: 2px;
  bottom: 2px;
  left: 2px;
  border-radius: 3px;
}

.track-vertical,
.track-horizontal {
  z-index: 2;
}
