.chapters__wrapper {
  display: flex;
  position: relative;
}

.chapters__slider {
  display: flex;
  position: relative;
  margin-top: 20px;
  align-items: center;
  gap: 4px;

  svg {
    cursor: pointer;
  }
}

.slider__wrapper {
  width: calc(62px * 5);
  overflow: visible;

  @media (max-width: 768px) {
    width: calc(62px * 4);
  }
}
