@import '~assets/sass/config.scss';

.media-detail-main {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;

  @include mq(1024px, max) {
    padding-left: 16px;
    padding-right: 16px;
  }

  @include mq('phone', max) {
    padding-top: 36px;
    padding-left: 10px;
    padding-right: 10px;

    .media-detail-main-header__info {
      margin-top: 16px;
    }
  }
}

.media-detail-main-header {
  @include mq('phone', max) {
    flex-direction: column;
  }

  &__img {
    display: block;
    float: left;
    max-width: 375px;
    height: 256px;
    margin-right: 20px;

    @include mq('tablet-wide') {
      max-width: 293px;
      height: 240px;
    }

    @include mq('phone') {
      flex: none;
      width: 100%;
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      height: auto;

      &.media-detail-img-book {
        height: 240px;
      }
    }

    img {
      max-width: 375px;
      height: 100%;
      cursor: pointer;
      display: block;
      border-radius: 2px;

      @include mq('tablet-wide') {
        max-width: 293px;
      }

      @include mq('phone') {
        object-fit: contain;
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

.media-detail-main-desc {
  & .media-btn-info {
    margin: 0;
  }

  & .book-desc__text {
    font-size: 1.4rem;
    line-height: 20px;
  }
}

.media-detail-main-header__info {
  & .book-info {
    font-size: 1.2rem;

    &.media-detail-title {
      font-size: 1.8rem;
      margin-bottom: 16px;
      flex-wrap: wrap;
      padding-right: 110px;

      @include mq('phone') {
        padding-right: 0;
      }
    }

    &.media-detail-author {
      font-size: 1.4rem;
      margin-bottom: 8px;
    }
  }
}

.mm-popup__box--media-detail-img-popup {
  background: none;

  @include mq('tablet') {
    right: auto;
    width: 100%;

    .mm-popup__close {
      right: 35px;
      top: 0;
    }
  }

  @include mq('phone') {
    .mm-popup__close {
      right: 10px;
      top: 10px;
    }
  }

  .mm-popup__box__body {
    padding: 0;
    background: rgba(0, 0, 0, 0.2);

    .media-detail-img-popup-item {
      .book-info__img {
        width: 100%;
        max-height: calc(100vh - 80px);
        object-fit: contain;
      }
    }

    @include mq('phone') {
      .media-detail-img-popup-item {
        height: 300px;
      }
    }
  }
}
