.bible-group__details__content {
  span,
  a {
    font-size: 1.3rem !important;
  }
}

.bible-group-arrow {
  display: inline-flex;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
}
