@import '~assets/sass/config.scss';

.media-motivator {
  background: $cWhite;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  padding: 33px;
  border-radius: 2px;
  border: 1px solid $baseGrayLight;

  @include mq('phone', max) {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    padding: 33px 10px;
    grid-gap: 10px;
  }
}

@include mq('phone', min) {
  @include mq('tablet-wide', max) {
    .materials__list.media-motivator {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      grid-gap: 30px;
      justify-content: space-between;
      padding: 34px;
    }
  }
}
