@import '~assets/sass/config';

.portal-container {
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5000;
}

.portal-content {
  position: relative;
  width: 60%;

  @include mq('tablet-wide') {
    width: 70%;
  }

  @include mq('tablet') {
    width: 70%;
  }

  @include mq(479px) {
    width: 100%;
  }
}

.portal-close {
  position: absolute;
  cursor: pointer;
  top: 5%;
  right: 15%;
  font-size: 25px;
  color: $cWhite;
  transition: color 0.65s ease;

  &:hover {
    color: $baseOrange;
  }

  @include mq('tablet-wide') {
    display: none;
  }
}
