@import '../../../assets/sass/config';

.bab {
  display: flex;
}

.bab__head {
  @include LatoBold;

  font-size: 2.4rem;
  line-height: 1;
  text-align: center;
  padding: 25px 20px;
  background-color: $baseGrayQuestion;

  @include mq('phone', max) {
    font-size: 1.4rem;
    padding: 20px 3px;
  }
}

.bab__list {
  display: grid;
  grid-gap: 20px 10px;
  padding: 30px 15px 40px 25px;

  @include mq('tablet') {
    padding: 20px 14px 40px 14px;
  }

  @include mq('phone', max) {
    padding: 10px 10px 20px 10px;
    grid-gap: 10px;
  }
}

.bab__item {
  width: 100%;
  padding: 7px 5px;
  font-size: 1.2rem;
  line-height: 2rem;

  @include mq('phone', max) {
    font-size: 0.9rem;
    max-width: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.4rem;
  }
}

.bab__testament {
  &_old {
    flex: 1 1 100%;

    .bab__list {
      grid-template-columns: repeat(auto-fill, minmax(129px, 1fr));
      border-right: 1px solid $baseGrayLight;

      @include mq('phone') {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
      }
    }
  }

  &_new {
    flex: 0 0 38%;
    border-right: 1px solid $quizBorder;

    @include mq('phone', max) {
      flex: 0 0 30%;
    }

    .bab__list {
      grid-template-columns: repeat(auto-fill, minmax(129px, 1fr));

      @include mq('tablet') {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      }

      @include mq('phone') {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
      }
    }
  }
}
