@import '../../assets/sass/config';

.breadcrumbs-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.breadcrumbs {
  display: flex;
  padding: 33px 0 32px;
  position: relative;

  .preloader {
    left: 20px;
  }

  @include mq('tablet') {
    padding: 20px 0 10px;
  }

  @include mq('phone') {
    flex-flow: wrap;
    font-size: 1.2rem;
  }

  @include mq('tablet', min) {
    padding: 25px 0 10px;
  }
}

.breadcrumbs__item {
  position: relative;
  margin-right: 45px;

  &::after {
    content: '>';

    @include LatoSemiBold;

    position: absolute;
    right: -25px;
    top: 0;
  }

  &:last-child {
    margin-right: 0;

    &::after {
      display: none;
    }
  }

  @include mq('phone') {
    margin-right: 45px;
    padding-bottom: 5px;

    &::after {
      content: '>';
      right: -25px;
    }
  }
}

.breadcrumbs__item-link {
  @include LatoSemiBold;

  border-bottom: 1px solid $baseOrange;

  &:not([href]) {
    color: $grayMiddle;
    border-bottom: none;
  }

  @include mq('tablet') {
    max-height: 62px;
    overflow: hidden;
  }
}
