.table__archive {
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  background: #fff;
  overflow: hidden;
  margin-bottom: 30px;
}

.table__archive-head {
  color: #929292;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: normal;
  padding-top: 7px;
  text-align: center;
  padding-bottom: 9px;

  @media (max-width: 1024px) {
    font-size: 2rem;
  }

  @media (max-width: 768px) {
    font-size: 1.7rem;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.row_archive {
  display: grid;
  font-weight: 700;
  padding: 10px 20px;
  font-size: 15px;
  grid-template-columns: 157px 100px 80px 40px 83px 70px 64px 57px;
  gap: 40px;
  background: #f6f6f6;

  & div {
    align-self: center;
    text-align: center;
  }

  div:first-child {
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @media (max-width: 1400px) {
    gap: 20px;
    justify-content: center;
  }

  @media (max-width: 1190px) {
    grid-template-columns: 137px 80px 80px 40px 70px 70px 54px 54px;
    justify-content: center;
  }

  @media (max-width: 1100px) {
    gap: 10px;
  }

  @media (max-width: 1024px) {
    gap: 20px;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    padding: 0;
    gap: 0;

    & div {
      align-self: center;
      text-align: left;
      padding: 5px;
      font-size: 14px;
    }

    & div:nth-child(2n) {
      background: white;
    }
  }
}

.row_archive__head {
  background: #628fc2;
  color: white;
  padding: 5px 33px 5px 20px;
  font-weight: 600;

  div:first-child {
    font-weight: 600;
  }

  @media (max-width: 768px) {
    background: #f6f6f6;
    color: #000;
    padding: 0;
    border-right: 1px solid rgb(206, 206, 206);
  }
}

.table-wrapper {
  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 120px 1fr;
  }
}

.table__archive-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 68px 17px;

  div {
    color: #929292;
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 5px;
  }

  p {
    font-size: 2rem;
  }

  @media (max-width: 768px) {
    padding: 5px 5px 15px;

    div {
      font-size: 1.5rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}
