@import '~assets/sass/config';

.bible-media__nav-item {
  .btn {
    width: 100%;

    @include LatoSemiBold;

    font-size: 1.5rem;
    padding: 0 3px;
    height: 34px;
  }

  + .bible-media__nav-item {
    margin-top: 15px;
  }
}

.bible-media__nav-btn_back {
  position: relative;

  .icon_back {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
  }
}
