@import '~assets/sass/config';

.mm-popup__box--media-popup-motivator {
  max-width: 100%;
  background: none;

  @include mq(1024px, max) {
    width: 822px;
    height: 625px;
  }

  @include mq('tablet', max) {
    width: 610px;
    height: 463px;
    left: auto;
    top: auto;
    right: auto;
  }

  @include mq('phone') {
    width: 100%;
    height: auto;
  }

  & .mm-popup__close {
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    background-color: transparent;
    top: -35px;
    right: -35px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    transition: all 0.6s;
    cursor: pointer;
    z-index: initial;

    &.mm-popup__close::before,
    &.mm-popup__close::after {
      background-color: $cWhite;
    }

    @include mq('phone', max) {
      display: none;
    }
  }

  .mm-popup__box__body {
    padding: 0;
    overflow: initial;
    background: none;
    max-height: fit-content;
  }
}

.media-slider-motivator {
  .slick-prev::before,
  .slick-next::before {
    display: none;
  }

  .slick-arrow {
    width: 17px;
    height: 30px;
    display: block;

    &.slick-disabled {
      .svg-inline {
        path {
          opacity: 0.5;
        }
      }
    }

    .svg-inline {
      width: 100%;
      height: 100%;

      path {
        fill: $baseOrange;
      }
    }

    @include mq('phone') {
      width: 11px;
      height: 18px;
    }
  }

  .slick-prev {
    left: 30px;

    @include mq('phone', max) {
      left: 10px;
    }
  }

  .slick-next {
    right: 30px;

    @include mq('phone', max) {
      right: 10px;
    }
  }

  .slick-next,
  .slick-prev {
    z-index: 9;
  }

  .media-motivator-img {
    cursor: default;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    position: relative;

    @include mq('tablet') {
      height: 100%;
    }

    @include mq('phone') {
      height: auto;
    }
  }
}

.media-motivator-slide-img {
  width: 100%;
  object-fit: cover;
}
