@import '~assets/sass/config';

.media-multi-video {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 86px;
  grid-row-gap: 24px;

  @include mq('tablet', max) {
    grid-gap: 32px;
  }

  @include mq('phone', max) {
    grid-gap: 32px;
    grid-template-columns: repeat(1, 1fr);
  }
}
