@import '../../assets/sass/config';

.latest-interpritations__head {
  margin-bottom: 50px;

  @include mq('tablet') {
    margin-bottom: 20px;
  }
}

.latest-interpritations__body {
  @include mq('tablet') {
    max-width: 100%;
    background-color: $cWhite;
    padding: 20px;
    border: 1px solid $baseGrayLight;
    border-radius: 0;
    margin: 0 auto;
  }

  @include mq('phone') {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.latest-interpritations__list {
  max-width: 100%;
  margin: 0 auto;
}

.latest-interpritations__item {
  margin-bottom: 20px;
  font-size: 1.6rem;
  display: flex;

  @include mq('phone') {
    flex-direction: column;
  }

  &:last-child {
    margin-bottom: 0;
  }

  a {
    margin-right: 25px;
    padding-bottom: 1px;
    border-bottom: 1px solid $baseOrange;

    @include mq('phone') {
      margin-right: 0;
    }
  }
}

.latest-interpritations__item-link {
  flex: 1 1 0;
  font-size: 1.5rem;

  @include mq('tablet') {
    margin-bottom: 16px;
  }

  @include mq(phone) {
    text-align: center;
  }
}

.latest-interpritations__item-verse {
  color: $grayMiddle;
  margin-right: 15px;

  @include mq(phone) {
    margin-right: 5px;
  }
}

.latest-interpritations__item-author {
  @include LatoBold;
}

.latest-interpritations__item-added {
  display: inline;
  flex: 1 1 0;
  font-size: 1.4rem;
  text-align: end;

  @include mq('tablet-wide') {
    margin-bottom: 15px;
    // text-align: inherit;
  }

  @include mq(phone) {
    margin-bottom: 15px;
    text-align: center;
  }
}

.latest-interpritations__item-username {
  @include LatoSemiBold;
}

.latest-interpritations {
  min-height: 200px;
  position: relative;

  @include mq('tablet') {
    .section__title {
      text-align: center;
    }
  }
}
