@import '../../assets/sass/config';

.btn {
  display: inline-block;
  cursor: pointer;
  background-color: $baseOrange;
  border-radius: 25px;
  font-size: 1.6rem;
  padding: 12px 45px;
  transition: background-color 0.4s, color 0.3s ease-out, box-shadow 0.3s ease-out;

  &:hover,
  &:focus {
    background-color: $baseOrange_hover;
  }

  .icon + * {
    margin-left: 10px;
  }

  &_circle {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: $baseGrayMedia;
    color: $baseDefault;
    font-size: 1.3rem;
    padding: 0;
  }

  &_delete {
    background-color: $baseLilac;

    &:hover,
    &:focus {
      background-color: $baseLilac_hover;
    }
  }

  &_small {
    font-size: 1.4rem;
    padding: 10px 30px;
  }

  &_complete {
    background-color: $baseGreen;

    &:hover,
    &:focus {
      background-color: $baseGreen_hover;
    }
  }

  &_disabled {
    opacity: 0.8;
    cursor: not-allowed;

    &:hover {
      background-color: $baseOrange;
    }

    .icon {
      animation: 1s linear 0s normal none infinite running rotate;

      svg {
        height: auto;
      }
    }
  }
}

.btn_gradient {
  @include Lato;

  position: relative;
  text-align: center;
  background-image: linear-gradient(180deg, #fff 0%, #f3f3f3 100%);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 8px;
  z-index: 0;
  font-size: 1.5rem;
  padding: 11px 20px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(360deg, #ffde88 0.92%, #efae04 98.65%);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
    z-index: -1;
  }

  &:hover {
    color: $baseGray;
    box-shadow: none;

    &::before {
      opacity: 1;
      visibility: visible;
    }
  }

  &.active {
    border-color: $cWhite;
    background: linear-gradient(360deg, #ffde88 0.92%, #efae04 98.65%);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
  }

  @include mq(1024px) {
    width: 150px;
  }

  @include mq('tablet') {
    width: 120px;
    line-height: 16px;
    padding: 7px 0;
    font-size: 1.2rem;
    margin-top: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.2);
    white-space: normal;
  }

  @include mq('phone') {
    font-size: 1rem;
    white-space: nowrap;
  }
}

.delete {
  @include mq('phone') {
    position: relative;

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
