@import '../../assets/sass/config';

.font-resizer {
  display: flex;
  justify-content: center;
  cursor: pointer;

  .icon {
    cursor: pointer;
    font-size: 25px;

    svg {
      vertical-align: top;

      path {
        fill: $cWhite;
      }
    }
  }
}

.font-resizer__icon-container {
  display: flex;
}

.font-resizer__icon-container {
  &:first-child {
    margin-right: 10px;
  }
}

.header__humburger .font-resizer {
  margin: 12px auto 0;

  .icon svg path {
    fill: $baseGray;
  }
}

:export {
  defaultreadingfontsize: $defaultReadingFontSize;
  defaultrootfontsize: $defaultRootFontSize;
  maxrootfontsize: $maxRootFontSize;
  deltarootfontsize: 5;
  deltareadingfontsize: 0.1;
}
