@import '../../../assets/sass/config';

.page__preview {
  display: flex;
}

.exeget__century {
  color: $baseGrayHoverMedia;
}

.exeget__type {
  color: $baseGrayHoverMedia;
  margin-bottom: 25px;
}

.page__desc-text {
  position: relative;
  font-size: 1.5rem;
  font-style: italic;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.3s;
  text-align: justify;
  white-space: pre-line;

  &.active {
    max-height: unset;

    &::after {
      display: none;
    }
  }
}

.exeget__preview {
  @include mq('tablet') {
    flex-direction: column;
    padding: 5px;
  }
}

.exeget__adaptive {
  text-align: center;
  margin-bottom: 15px;

  img {
    width: 182px;
    height: 196px;
  }
}

.exeget__search {
  @include mq('tablet') {
    width: 100%;

    .textfield__input-search {
      font-size: 15px;
      right: 15px;
    }
  }

  @include mq('phone') {
    .textfield__input-search {
      font-size: 12px;
      right: 10px;
    }
  }
}

.exeget__interpretations {
  height: 100%;

  @include mq('phone') {
    height: auto;

    .exeget__list {
      margin-bottom: 10px;
    }
  }
}

.exeget__main {
  .exeget__preview-content {
    @include mq('tablet') {
      padding: 0;
    }
  }

  .exeget__preview {
    flex-direction: row;
    justify-content: space-between;
  }

  .exeget__desc.active {
    max-height: 400px;
    overflow-y: auto;
  }

  .exeget__desc {
    padding-right: 17px;

    @include mq('tablet') {
      font-style: normal;
    }
  }

  .collection {
    @include mq('phone') {
      min-height: 150px;
    }
  }

  .collection__list {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;

    .collection__list-item {
      width: 25%;

      @include mq('phone') {
        width: 33%;
      }
    }

    @include mq('tablet') {
      .collection__list-link {
        border-bottom: 1px solid $baseOrange;
      }
    }
  }

  .exeget__body {
    display: flex;
    border: 1px solid $baseGrayLight;
    background-color: $cWhite;
    padding: 20px;
    margin-top: 10px;

    @include mq('tablet') {
      padding: 0;
      background-color: $cWhite;
    }

    .exeget__wrapper {
      @include mq('tablet') {
        padding: 0;
        background-color: $cWhite;
        padding-top: 10px;

        .textfield__input-wrap {
          padding: 0 10px;
        }

        .exeget__list {
          padding: 0 10px;
        }
      }
    }
  }

  .exeget__list {
    @include mq('tablet') {
      .pagination {
        justify-content: center;
        flex-flow: wrap;
      }

      .pagination__item {
        padding: 0 10px;
      }
    }

    @include mq('phone') {
      .pagination {
        padding: 0 4px;
      }

      .pagination__item {
        margin: 0 2px;
        padding: 0 4px;
      }
    }
  }
}

.exeget__main {
  .page__head {
    @include mq('tablet') {
      padding: 0 0 35px;
      margin-top: 0;
    }
  }

  .text_underline {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    background-color: transparent;
    outline: transparent;
  }
}

.isMaxShowDesc {
  max-height: inherit;
}
