.interpretationRules {
  display: flex;
  flex-direction: column;
  max-width: 940px;
  padding: 0 20px;
  text-align: justify;

  h3 {
    margin: 0 16px;
  }

  p {
    margin-bottom: 8px;
  }

  ul {
    list-style-position: inside;

    ul {
      padding-left: 16px;
    }
  }
}
