@import '~assets/sass/config';

.bible-types-list {
  position: absolute;
  top: 34px;
  right: 0;
  z-index: 99;
  width: 240px;
  background-color: $cWhite;
  border: 2px solid $baseGrayLight;
  border-top: none;

  .list__item {
    color: $baseGray;
    border: 1px solid $baseGrayLight;
    margin: -1px -1px -1px 0 !important;

    &.research {
      border-bottom: 3px solid $baseGrayLight;

        .icon {
          display: inline;
          margin-right: 10px;
        }
    }

    &.active {
      box-shadow: inset 5px 0 0 -1px $baseOrange;
      fill: $baseOrange;
      stroke: $baseOrange;
    }
  }

  .list__item-link {
    @include Lato;

    background-color: none;
    padding: 10px 20px; // text-transform: capitalize;
  }
}
