@import '../../../../assets/sass/config.scss';

.extra-info {
  display: flex;
  margin-bottom: 10px;
}

.extra-info__wrapper {
  margin-right: 20px;
}

.extra-info__icon {
  margin-right: 16px;
  font-weight: bold;

  @include mq('phone', max) {
    margin: 0 8px;
  }
}

.extra-info__title {
  font-size: 1.2rem;
  color: $baseGray;
  padding-bottom: 1px;
  border-bottom: 1px solid #f9d063;
}

.prallels-container {
  display: flex;
  flex-direction: row;
}
