@import '../../../assets/sass/config';

.LK__interpretations {
  position: relative;
  flex: 1 1 0;
  background-color: $cWhite;
  border-radius: 2px;

  &__list {
    margin: 0;
    counter-reset: section;
    list-style-type: none;
  }
}

.myInterp__item {
  display: flex;
  transition: border 0.3s;
  box-sizing: border-box;
  border-top: 1px solid transparentize($baseGrayLight, 1);
  border-right: 1px solid transparentize($baseGrayLight, 1);
  border-bottom: 1px solid $baseGrayLight;
  border-left: 1px solid transparentize($baseGrayLight, 1);
  transition: border 0.3s;

  &:last-child {
    border-bottom: 1px solid transparentize($baseGrayLight, 1);

    &:hover {
      border: 1px solid $baseOrange;
    }
  }

  &:hover {
    border: 1px solid $baseOrange;
  }

  &::before {
    counter-increment: section;
    content: counter(section) '.';
    margin-right: 10px;
    margin-left: 30px;
    display: flex;
    align-items: center;

    @include mq('tablet') {
      margin-left: 10px;
    }
  }

  a {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    padding: 16px 30px 16px 0;

    &:hover {
      color: $baseGray;
    }

    @include mq('tablet') {
      padding: 16px 5px 16px 0;

      p {
        margin: 0;
      }
    }
  }

  p {
    margin-right: 10px;
  }

  &__data {
    margin-left: auto;
    margin-right: 16px;
  }
}

.LK__interpretations__details {
  ol {
    list-style-position: inside;
  }

  &-head {
    display: flex;
    align-items: center;
    padding: 12px 30px 12px 10px;
    border-bottom: 1px solid $baseGrayLight;

    a {
      margin-right: 14px;
    }
  }

  &-content {
    display: flex;
    padding: 16px 30px;
    flex-direction: column;
  }

  &-comment {
    margin: 16px;
    padding: 16px;
    background-color: $menuInputHover;
  }

  &-back {
    border-radius: 50%;
    background-color: $baseOrange;
    position: relative;
    width: 34px;
    height: 34px;

    &::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      top: 10px;
      left: 13px;
      transform: rotateZ(-45deg);
      border-top: 2px solid $cWhite;
      border-left: 2px solid $cWhite;
    }

    @include mq('phone') {
      padding: 18px;
    }
  }
}

.LK__interpretations__empty {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  padding: 10px;

  p {
    text-align: center;
    font-size: 1.6rem;
  }
}
