@import '~assets/sass/config';

.media-detail-multi-popup {
  max-height: 680px;

  .video-play-iframe {
    height: 322px;

    @include mq('phone', min) {
      height: 420px;
    }
  }

  .video-play-container {
    max-height: 350px;
  }

  @include mq('phone') {
    max-height: 428px;

    .video-play-iframe {
      height: 134px;
    }
  }
}

.mm-popup__box.mm-popup__box--media-popup-multi-video {
  .mm-popup__box__body {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    max-height: 100%;

    @include mq('phone', max) {
      max-height: 428px;
    }

    // TODO  удалить если будет не нужно 27.02.20
    // @include mq('phone', min) {
    //   @include mq('tablet-wide', max) {
    //     overflow-y: auto;

    //     .media-detail-multi-popup-body-desc {
    //       max-height: initial;
    //       overflow-y: initial;
    //     }
    //   }
    // }
  }
}

.media-detail-multi-popup-head {
  padding: 35px 80px 35px 50px;
  font-size: 2.2rem;
  line-height: 26px;
  display: flex;
  flex-direction: row;
  align-items: baseline;

  p {
    margin: 0;
  }

  span {
    font-size: 1.7rem;
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
  }

  @include mq('phone', max) {
    padding: 20px 10px;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;

    span {
      font-size: 1.2rem;
      margin-left: 0;
    }
  }
}

.media-detail-multi-popup-head-title {
  font-weight: 600;
}

.media-detail-multi-popup-body-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;

  svg.svg-inline {
    width: 40px;
    height: 40px;

    & > path {
      fill: linear-gradient(180deg, #fff 0%, #f3f3f3 100%);
    }
  }

  padding: 16px 50px 0;

  @include mq('phone', max) {
    padding: 0 5px;
  }
}

.media-detail-multi-popup-body-desc {
  font-size: 1.6rem;
  line-height: 26px;
  letter-spacing: 0.1px;
  overflow-y: scroll;
  height: 130px;
  padding: 0 50px;
  margin-top: 20px;

  @include mq('phone', max) {
    font-size: 1.4rem;
    line-height: 20px;
    padding: 0 5px;
    height: 70px;
  }
}

.mm-popup__box--media-popup-multi-video {
  width: 720px;

  .mm-popup__box__body {
    padding: 0;
  }

  .mm-popup__close {
    width: 15px;
    height: 15px;
    top: 41px;
    right: 41px;

    @include mq('phone', max) {
      top: 10px;
      right: 10px;
    }

    &.mm-popup__close::before,
    &.mm-popup__close::after {
      width: 20px;
      background-color: $cBlack;
      height: 2px;
    }
  }

  @include mq('phone') {
    width: 100%;
    right: 0;
  }
}
