.cp__top-flex {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 21px;
  margin-bottom: 20px;

  @media (max-width: 1200px) {
    padding-bottom: 5px;
  }

  @media (max-width: 1024px) {
    padding-right: 11px;
  }

  @media (max-width: 768px) {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    gap: 9px;
  }

  @media (max-width: 768px) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.cp__label-descr {
  @media (max-width: 1200px) {
    flex-direction: column;
    gap: 5px;
    justify-content: start;
  }

  @media (max-width: 1200px) {
    flex-direction: column;
    gap: 5px;
    justify-content: end;
  }
}

.cp__block-textarea--wrapper {
  width: 405px;
  flex-shrink: 0;

  @media (max-width: 1200px) {
    width: 423px;
  }

  @media (max-width: 1024px) {
    width: 271px;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.cp__block-textarea {
  height: 74px;

  @media (max-width: 1200px) {
    height: 59px;
  }

  @media (max-width: 768px) {
    height: 92px;
  }
}

.cp__count-symb {
  color: #8e8e8e;
  font-size: 12px;
  text-align: right;
  font-weight: 900;

  @media (max-width: 768px) {
    display: none;
  }
}

.cp__name-plan {
  margin-bottom: 20px;

  @media (max-width: 1200px) {
    margin-bottom: 32px;
  }

  @media (max-width: 1024px) {
    margin-bottom: 24px;
  }

  @media (max-width: 768px) {
    margin-bottom: 9px;
  }
}
