@import '~assets/sass/config.scss';

.material__options {
  width: 140px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.material__btn-option {
  cursor: pointer;
  font-size: 1.4rem;
  padding: 9px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  width: 30px;
  height: 30px;

  &.media_icon_item {
    background-color: $baseGrayMedia;
  }

  &:hover {
    transition: 0.4s ease;
    background-color: $baseOrange;
    color: $cBlack;
  }

  .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .svg-inline {
    width: 14px !important;
    height: 12px !important;
  }
}

.material__btn-option--empty {
  display: block;
  width: 30px;
  height: 30px;
}
