.rp__share-block-qr {
  padding: 30px 40px 30px 12px;

  @media (max-width: 1200px) {
    padding: 30px 23px 30px 20px;
  }

  @media (max-width: 1023px) {
    padding: 16px 37px 31px 33px;
  }

  @media (max-width: 767px) {
    padding: 16px 14px 20px;
  }
}

.rp__qr-block-title {
  color: #929292;
  white-space: nowrap;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 7px;
  margin-bottom: 26px;

  @media (max-width: 1200px) {
    text-align: center;
    font-size: 1.8rem;
  }

  @media (max-width: 1023px) {
    text-align: center;
    font-size: 2rem;
  }

  @media (max-width: 767px) {
    margin-bottom: 20px;
    padding-bottom: 0;
    font-size: 16px;
    border-bottom: none;
  }
}

.rp__share-link {
  padding: 13px 12px 13px 15px;
  cursor: pointer;
  flex-grow: 1;
  border-radius: 7px;
  border: 1px solid #ededed;
  justify-content: space-between;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  gap: 16px;

  div {
    max-width: 236px;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (max-width: 1200px) {
      max-width: 207px;
    }
  }

  @media (max-width: 1023px) {
    flex-grow: 1;

    div {
      max-width: 430px;
    }
  }

  @media (max-width: 768px) {
    div {
      max-width: 100%;
    }
  }
}

.rp__share-link_btn {
  border-radius: 7px;
  background: #f9d063;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.6rem;
  width: 147px;

  svg {
    flex-shrink: 0;
  }

  padding: 12px 16px 12px 8px;

  @media (max-width: 1200px) and (min-width: 768px) {
    max-width: 135px;
    padding-left: 13px;
    font-size: 15px;
    padding-right: 13px;

    svg {
      width: 22px;
    }
  }

  @media (max-width: 767px) {
    justify-content: center;
    width: 100%;
  }
}

.rp__share-link {
  min-width: 306px;

  @media (max-width: 1200px) {
    min-width: 286px;
  }

  @media (max-width: 767px) {
    min-width: 0;
  }
}

.rp__share-buttons {
  display: flex;
  gap: 41px;
  justify-content: space-between;

  @media (max-width: 1200px) {
    gap: 18px;
  }

  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.rp_qr-wrapper {
  display: flex;
  margin-top: 26px;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.rp__description-qr {
  color: #929292;
  font-size: 2rem;
  font-weight: 900;
  line-height: 149%;

  @media (max-width: 1200px) {
    font-size: 1.5rem;
  }

  @media (max-width: 767px) {
    font-size: 1.2rem;
  }
}

.rp__qr {
  min-width: 145px;
  flex-shrink: 0;

  @media (max-width: 1200px) {
    min-width: 133px;
  }

  @media (max-width: 767px) {
    min-width: 75px;
  }
}
