.preview__plan-container {
  margin: 0 auto;
  max-width: 900px;
}

.preview__buttons {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 30px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
  }
}

.cp__buttons {
  width: 251px;
  padding: 13px 0;
  font-size: 2.2rem;
}
