@import '../../assets/sass/config';

.bible-group__search-input-text {
  padding: 6px;
  background-color: $baseGrayLight;
  position: relative;

  input {
    @include Lato;

    font-size: 1.4rem;
    font-weight: 400;
    padding: 11px 30px 11px 11px;
    width: 100%;

    @include mq('tablet') {
      padding: 11px 32px 11px 11px;
    }
  }

  .bible-map__search-icon {
    position: absolute;
    right: 16px;
    top: 18px;
  }
}

.bible-map {
  .bible-map__search-icon {
    top: 50%;
    transform: translate(0, -50%);
    width: 18px;
  }

  .preloader {
    min-height: 400px;
  }

  @include mq('phone') {
    padding: 0;
  }

  .testament__book-wrapper {
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    height: auto;
    margin: 0;
    z-index: 9;

    @include mq('phone', min) {
      margin: 0;
    }
  }

  .page__head_two-col {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .wrapper_two-col {
    flex-direction: column;
    position: relative;
  }

  .btn {
    min-width: 140px;
    max-width: 200px;
    height: 40px;
    border-radius: 2px;
    padding: 11px 16px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .page__desc-toggle {
    width: 135px;
  }

  .bible-map__inBooks-btns {
    display: flex;
    flex-direction: row;

    @include mq('phone', min) {
      @include mq('tablet') {
        justify-content: center;
      }
    }
  }

  .bible-map__inBooks-btn {
    background-color: $cWhite;
    color: $baseOrange;
    border: 1px solid $baseOrange;
    border-radius: 20px;

    &:nth-child(2) {
      margin-left: 15px;
    }

    @include mq('phone', min) {
      @include mq('tablet') {
        min-width: 160px;
      }
    }

    @include mq('phone') {
      padding: 11px;
      min-width: 50%;

      &:nth-child(2) {
        margin-left: 5px;
      }
    }
  }

  .activeBtn {
    background-color: $baseOrange;
    color: $cBlack;
  }

  .bible-map__search-input-text {
    height: 52px;

    @include mq(1024px) {
      height: 40px;
      padding: 0;
      border-bottom: 1px solid $baseGrayLight;
    }
  }

  @include mq('tablet') {
    padding-top: 0;

    .wrapper {
      padding: 0;
    }

    .page__body {
      padding-top: 0;
      padding-bottom: 40px;
    }
  }
}

.testament__book-wrapper.paper {
  margin: 0;
}

.bible-map__container {
  width: 100%;
  border: 1px solid $baseGrayLight;
}

.bible-map__wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 2;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
}

.bible-map__select {
  width: 184px;
  height: 40px;

  @include mq('tablet', min) {
    .custom-select__value-container {
      @include Lato;

      font-size: 1.4rem;
    }
  }
}

.bible-map__btn-close {
  cursor: pointer;
}

.bible-map__search-input {
  flex-basis: 376px;
  width: 376px;
  position: absolute;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  border: 1px solid $baseGrayLight;
  z-index: 2;

  @include mq('tablet') {
    width: 100%;
    max-height: 99.9%;
    border-bottom: transparent;
  }
}

.bible-map__btns-wrapper {
  display: flex;
  flex-direction: row;
  width: 525px;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  right: 16px;
  top: 8px;
}

.bible-map__search-result {
  width: 100%;
  background: #fff;
  padding: 20px 14px;
  overflow-x: initial;
  overflow-y: scroll;

  @include mq('tablet') {
    width: 50%;
  }

  @include mq('phone') {
    width: 100%;
  }
}

.bible-map__target-img {
  height: 168px;
  width: auto;
  margin: 0 auto 16px;

  @include mq('tablet') {
    margin: 0 auto 16px auto;
  }

  //@include mq('phone') {
  //  width: 100%;
  //}
}

.bible-map__target-text {
  font-size: 14px;

  @include Lato;

  max-height: 64px;
  overflow: hidden;
}

.bible-map__target-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bible-map__target-content {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
}

.targetActive {
  max-height: 100%;
}

.bible-map__list {
  list-style: none;
  padding-bottom: 4px;
  border-bottom: 1px solid $baseGrayLight;
  min-height: 20px;
}

.bible-map__item {
  margin-top: 20px;
}

.bible-map__item-head {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.bible-map__item-title {
  margin-right: 5px;
  opacity: 0.5;
}

.bible-map__item-link {
  border-bottom: 1px solid $baseOrange;
}

.bible-map__inBooks-desc {
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    color: $baseOrange;
  }
}

.bible-map__inBooks {
  padding-bottom: 8px;
}

.bible-map__inBooks-title {
  margin: 10px 0;
}

.bible-map__inBooks-list {
  list-style: none;
  margin-top: 24px;
}

.bible-map__inBooks-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.bible-map__inBooks-count-container {
  min-width: 48px;
  display: flex;
  flex-direction: row;
}

.bible-map__inBook-icon {
  margin-right: 15px;
}

.bible-map__inBook-count {
  text-align: right;
  width: 100%;
}

.bible-map__btn-popup {
  position: absolute;
  left: 20px;
  bottom: 30px;
  z-index: 1;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $baseOrange;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.27);

  .icon {
    color: black;
  }

  &:hover {
    background-color: $baseOrange_hover;
  }
}

.biblePopUp {
  position: initial;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 10px 10px 10px;
  background-color: $menuInputHover;
  width: 100%;
  height: 100%;
  border-top: 1px solid $baseGrayLight;

  .bible-map__select {
    width: 100%;
    margin-bottom: 16px;

    @include mq('tablet', max) {
      height: auto;
    }
  }

  .btn-showAll {
    width: 100%;
    max-width: 100%;
    border-radius: 2px;
    border: 1px solid $baseOrange;
    background-color: white;
    color: $cBlack;
  }

  .bible-map__btn-reset {
    font-weight: 600;
    border: transparent;
    background: transparent;
    border-bottom: 1px solid $baseOrange;
    padding: 0;
    height: 25px;
    font-size: 1.5rem;
    width: 50%;
    margin: 0 auto;
  }
}

.bible-map__select-popup {
  height: 93%;
  display: flex;
}

.bible-map__btn-adaptive {
  @include mq('tablet', max) {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    min-height: 100px;
    justify-content: space-between;
  }
}

.bible-map__search-list {
  display: flex;
  flex-direction: column;
  max-height: 340px;
  overflow-y: auto;
  position: absolute;
  top: 56px;
  background-color: white;
  left: 7px;
  width: 362px;
  border: 1px solid $baseGrayMap;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);

  @include mq('phone', min) {
    @include mq('tablet') {
      top: 45px;
      left: 0.5%;
      width: 99%;
    }
  }

  @include mq('phone') {
    top: 43px;
    left: 1%;
    width: 98%;
  }
}

.bible-map__search-item {
  padding: 6px 10px 6px 10px;
  cursor: pointer;

  &:hover {
    background-color: $baseGrayBody;
  }
}

.bible-map__search-nothing {
  padding: 10px;
  font-size: 14px;

  @include Lato;

  color: $baseGray;
  opacity: 0.5;
}

.bible-map__no-image {
  height: 100%;
}

.bible-map__empty-data {
  margin-top: 20px;
}

.bible-map__container-animation {
  animation-name: blinker;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(1, 2, 0, 1);
  animation-duration: 0.5s;
}

@keyframes blinker {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}

.bible-map__select-nothing {
  background-color: $cWhite;
  border: 1px solid $baseGrayMap;
  margin-top: 5px;
  width: 186px;
  margin-left: -1px;
  box-shadow: 0 0 1px 0 $baseGrayMap;

  @include mq('tablet', max) {
    width: 100%;
    margin-top: 10px;
  }
}

.bible-map__nothing-text {
  padding: 10px;

  @include Lato();

  opacity: 0.5;

  @include mq('tablet', max) {
    text-align: center;
    padding: 15px 10px;
  }
}

.bible-map__nothing-all {
  width: 141px;

  @include mq('tablet', max) {
    width: 100%;
    margin-top: 10px;
  }
}

.bible-map__select-testament {
  margin-left: 9px;

  @include mq('tablet', max) {
    margin: 0;
  }
}

.bible-map__btns-container {
  display: flex;
  flex-direction: row;

  @include mq('tablet', max) {
    flex-direction: column;
  }
}

@include mq('tablet', max) {
  .btn-showAll-adaptive {
    font-size: 1.4rem;
    background-color: $baseOrange;
    padding: 12px 60px;
    border-radius: 20px;
    font-weight: 500;

    @include Lato;

    font-style: normal;
    opacity: 1;

    &:disabled {
      opacity: 0.8;
    }
  }
}

.bible-map__hidden {
  display: none;
  position: absolute;
}
