@import '../../assets/sass/config';

.prevention {
  padding-top: 90px;
  text-align: center;
}

.prevention__icon {
  margin-bottom: 15px;
}

.prevention__icon-img {
  max-width: 100%;
}

.prevention__title {
  @include LatoBold;

  font-size: 2.8rem;
  line-height: 3rem;
  margin-bottom: 55px;
}

.prevention__subtitle {
}
