@import '../../assets/sass/config';

.tabs__head_justify {
  .tab {
    font-size: 14px;
  }
}

.tab__actions {
  padding: 0 10px 0 0;

  @include mq('phone') {
    padding-right: 8px;
  }
}

.tabs {
  &_in-paper {
    flex: 1 1 auto;

    @include mq('desktop', max) {
      width: 100%;
      background-color: $cWhite;
      border: 1px solid $baseGrayLight;
    }

    .tab {
      padding: 0 20px;
      line-height: 16px;
      height: 55px;

      @include mq('phone') {
        padding: 0 11px;
      }
    }

    .tabs__content {
      padding-top: 0;

      @include mq('desktop', max) {
        & .content_two-col {
          background-color: $cWhite;
        }
      }
    }
  }
}

.interpretation_detail__content__leftSide-title {
  .note-added:hover {
    color: $baseDefault;
  }

  @include mq('phone') {
    position: relative;

    .tab__action-item {
      position: absolute;
      font-size: 1.5rem;
      top: 15px;
      right: 2px;
    }
  }
}

.tabs__head {
  display: flex;
  border-bottom: 1px solid $baseGrayLight;

  &_justify {
    justify-content: space-between;

    .tab {
      flex: 1 1 auto;
      text-align: center;
    }
  }
}

.tabs__content {
  padding-top: 30px;
}

.tab {
  position: relative;
  display: block;
  padding: 0 10px;
  border: transparent;
  background-color: transparent;
  outline: transparent;
  opacity: 0.9;
  color: $baseDefault;

  @include mq('tablet') {
    opacity: 0.6;
  }

  @include LatoBold;

  font-size: 1.5rem;
  line-height: 50px;
  cursor: pointer;

  @include mq('tablet') {
    border-bottom: transparent;
    text-align: center;
  }

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: $baseOrange;
    transition: all 0.4s ease-in;
  }

  &.active {
    color: $baseGray;
    opacity: 1;

    &::after {
      width: 100%;
      left: 0;
    }
  }

  &_big {
    font-size: 2.2rem;
  }
}

.tab__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  flex: 1 1 auto;
}

.tab__action-list {
  display: flex;
}

.tab__action-item {
  color: $baseDefault;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.4s;

  &:hover {
    color: $baseOrange;
  }
}

.tab__action-item + .tab__action-item {
  margin-left: 20px;
}

.tab__action-item .icon {
  color: $baseGrayLight;
  transition: 0.25s ease;

  &:hover {
    color: $baseDefault;
  }
}

.tabs__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tabs__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;

  @include mq('phone', max) {
    flex-direction: column;
  }
}

.verse-page {
  .wrapper_two-col {
    .tabs__verseWrapper {
      flex-direction: column;

      @include mq('phone', min) {
        height: auto;
      }
    }
  }
}

.tabs__verse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;

  .custom-select__control {
    width: 237px;
  }

  @include mq('phone', max) {
    padding: 0 10px;
  }
}
