@import '../../assets/sass/config';

.mm-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9000;

  @include mq('tablet') {
    .mm-popup__box--chapter__bible-group__popup {
      width: 94%;
    }

    .auth__reg-button {
      margin-bottom: 10px;
    }
  }
}

.mm-popup__box__body {
  @include mq('tablet') {
    padding-left: 17px;
    padding-right: 17px;
  }
}

.page-desc-popup__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-desc-popup__icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $baseOrange;
  font-size: 3rem;
}

.mm-popup--visible {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mm-popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
}

.mm-popup__close {
  width: 35px;
  height: 35px;
  display: block;
  position: absolute;
  background-color: transparent;
  top: -35px;
  right: -35px;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  transition: all 0.6s;
  cursor: pointer;
  z-index: 1000;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 3px;
    background-color: $cWhite;
    transform-origin: center;
    transition: background-color 0.4s;
  }

  &::before {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }

  &::after {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }

  &:hover {
    &::before,
    &::after {
      background-color: $baseOrange;
    }
  }

  @include mq('phone') {
    right: 20px;
    top: -30px;
    width: 16px;
    height: 16px;
  }
}

.mm-popup__input {
  display: block;
  width: 100%;
  height: 30px;
  border-radius: 3px;
  background: #f5f5f5;
  border: 1px solid #e9ebec;
  outline: none;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  font-size: 14px;
  padding: 0 12px;
  color: $popupGray;
}

.mm-popup__btn {
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0;
  line-height: 32px;
  height: 32px;
  border: 1px solid #666;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  color: $popupBrown;
  background: transparent;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

.mm-popup__btn--success {
  background-color: $popupGreen;
  border-color: $popupGreen;
  color: $cWhite;
}

.mm-popup__btn--danger {
  background-color: $popupRed;
  border-color: $popupRed;
  color: $cWhite;
}

.mm-popup__box {
  width: 750px;
  max-width: 100%;
  position: relative;
  background: $cWhite;
  z-index: 1001;

  @include mq('phone') {
    position: absolute;
    width: auto;
  }
}

.mm-popup__box__header {
  padding: 25px 50px 25px 30px;
  border-bottom: 1px solid $cWhiteLight;

  @include mq('phone') {
    padding: 12px 50px 12px 16px;
  }
}

.mm-popup__box__header__title {
  margin: 0;
  color: #7c7474;

  @include LatoBold;

  font-size: 2.2rem;
  line-height: 1.1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mm-popup__box__body {
  padding: 30px 30px 40px;
  background: #fff;
  position: relative;
  z-index: 2;
  max-height: calc(100vh - 150px);
  overflow-y: hidden;

  @include mq('phone') {
    padding: 16px 16px 20px;
    max-height: calc(100vh - 20px);
    overflow-y: auto;
  }

  white-space: pre-line;
}

.mm-popup__box--popup_visitor {
  @include mq('phone') {
    .mm-popup__close {
      top: 14px;
    }

    .mm-popup__box__body {
      display: flex;
      flex-direction: column;
      min-height: 300px;
    }

    .popup_page-desc {
      margin-bottom: 15px;
    }
  }

  @include mq('phone', min) {
    @include mq('tablet') {
      .popup_page-desc {
        margin-bottom: 20px;

        p {
          font-size: 15px;
        }
      }

      .mm-popup__box__body {
        margin-right: 6px;
        margin-left: 12px;
        padding: 20px 0;
      }
    }
  }

  .mm-popup__box__body {
    p {
      font-size: 16px;

      @include mq('tablet') {
        font-size: 15px;
      }
    }
  }
}

.mm-popup__box__body p {
  margin: 0 0 5px;
}

.mm-popup__box__footer {
  overflow: hidden;
  padding: 40px 20px 20px;
}

.mm-popup__box__footer__right-space {
  float: right;
}

.mm-popup__box__footer__right-space .mm-popup__btn {
  margin-left: 5px;
}

.mm-popup__box__footer__left-space {
  float: left;
}

.mm-popup__box__footer__left-space .mm-popup__btn {
  margin-right: 5px;
}

.mm-popup__box--popover {
  border: 1px solid $baseGrayLight;
  border-radius: 2px;
  overflow: hidden;
  position: absolute;
  width: 300px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);

  .mm-popup__close {
    display: none;
  }

  .mm-popup__box__body {
    padding: 0;
  }
}

@media (max-width: 420px) {
  .mm-popup__box__footer__left-space {
    float: none;
  }

  .mm-popup__box__footer__right-space {
    float: none;
  }

  .mm-popup__box__footer {
    padding-top: 30px;
  }

  .mm-popup__box__footer .mm-popup__btn {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}

.mm-popup__box {
  max-width: 100%;
  max-height: calc(100vh - 80px);

  @include mq('phone') {
    max-height: 100%;
  }
}

.mm-popup__box--not-header {
  &.mm-popup__box--popup_auth .mm-popup__box__header {
    padding: 30px 30px 10px 30px;
  }

  .mm-popup__box__header {
    padding: 40px 30px 25px 30px;
    margin-bottom: 15px;
    border-bottom: 0;

    @include mq('phone') {
      padding: 35px 20px 25px 20px;
      font-size: 26px;
      font-weight: normal;
      margin-bottom: 0;
    }
  }

  .mm-popup__box__header__title {
    text-align: center;
    font-size: 2.8rem;

    @include mq('phone') {
      text-align: left;
    }
  }
}

.mm-popup__box--popup_auth,
.mm-popup__box--popup_reg,
.mm-popup__box--popup_reg-success {
  width: 590px;

  @include mq('tablet') {
    top: -25px;
  }

  @include mq('phone') {
    width: 300px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.mm-popup__box--popup_auth {
  .mm-popup__box__body {
    padding: 0;
  }

  & .contact__successfull_popup {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mm-popup__box--popup_reg-success {
  .mm-popup__box__body {
    padding: 0 94px 40px 94px;

    @include mq('phone') {
      padding: 14px 14px 20px;
    }

    p {
      margin-bottom: 40px;
    }
  }
}

.mm-popup__box--popup_rp-detail {
  width: max-content !important;

  .mm-popup__box__header__title {
    font-size: 2.5rem;
    font-weight: 700;
    color: $cBlack;
  }

  .mm-popup__box__header {
    padding-top: 34px !important;
    padding-bottom: 17px !important;
  }

  .mm-popup__box__body {
    overflow: hidden;
    padding-top: 0;
    min-height: 500px;

    .rpd__list {
      overflow: auto;
    }
  }

  @media (max-width: 1024px) {
    max-height: 79vh;
  }

  @media (max-width: 768px) {
    width: 100% !important;
  }
}

.mm-popup__box--chapter__manuscript-popup {
  .manuscript-popup__title {
    a {
      font-size: 1.4rem;
      padding-bottom: 1px;
      border-bottom: 1px solid $baseOrange;
      margin-left: 50px;

      @include mq('phone') {
        margin-left: 0;
        margin-top: 5px;
        border-bottom: transparent;
      }
    }
  }

  width: 1000px;
  max-width: 100%;

  iframe {
    width: 100%;
    height: 500px;
  }

  @include mq('tablet') {
    width: 98%;
  }

  @include mq('phone') {
    width: 93%;
  }
}

.mm-popup__box--chapter__video-popup {
  .mm-popup__box__body {
    max-height: unset;
  }
}

.mm-popup__box--popup_exegetes {
  @include mq('tablet') {
    padding: 0 14px;

    .mm-popup__box__header {
      padding: 60px 10px 12px 17px;
    }

    .page-desc-popup__title-text {
      width: 75%;
    }
  }

  @include mq('phone', min) {
    @include mq('tablet') {
      .mm-popup__box__body {
        padding: 18px;
      }
    }
  }
}

@include mq('phone') {
  .mm-popup__box--popup__delete-favorite {
    .deleteFavorite__verse-text {
      padding: 34px 15px 10px 15px;
    }
  }
}

.mm-popup__box--popup_add_favorite_verse {
  @include mq('tablet') {
    .addFavorite__verse__header {
      padding: 30px 47px 10px 30px;
    }
  }

  @include mq('phone') {
    .addFavorite__verse__header {
      padding: 34px 15px 10px 15px;
      align-items: center;

      .addFavorite__verse__color {
        align-items: center;
      }

      p {
        margin: 0;
      }
    }
  }

  .addFavorite__verse__form {
    button {
      font-size: 18px;
    }
  }
}

@media (min-width: 768px) and (max-height: 750px) {
  .mm-popup__box--popup_auth,
  .mm-popup__box--popup_reg,
  .mm-popup__box--popup_reg-success {
    height: 80%;
  }

  .mm-popup__box--not-header .mm-popup__box__header {
    margin-bottom: 0;
    padding: 15px 30px;
  }

  .mm-popup__box__body {
    overflow: auto;
  }

  .form__fieldset {
    margin-bottom: 10px;
  }
}

@media (max-width: 360px) {
  .mm-popup__box--not-header .mm-popup__box__header {
    margin-bottom: 0;
    padding: 10px;
  }

  .form__fieldset {
    margin-bottom: 10px;
  }
}

// Перебив стилей библиотеки React Popup

@include mq('tablet') {
  .mm-popup__box--popover {
    left: 350px !important;
  }
}

@include mq('phone') {
  .mm-popup__box--popover {
    left: 10px !important;
  }
}
