@import '~assets/sass/config';

.media-multi-audio-download-all {
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
  padding-bottom: 21px;
  padding-right: 24px;
}

.media-download-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  position: relative;
  color: $baseGrayLightText;
  transition: 0.65s ease;

  & p {
    position: absolute;
    white-space: nowrap;
    bottom: -14px;
  }

  & svg.svg-inline {
    width: 30px;
    height: 30px;

    @include mq('phone', max) {
      width: 25px;
      height: 25px;
    }

    & > path {
      transition: 0.65s ease;
      fill: $baseGrayMedia;
    }

    & g path {
      fill: $baseGray;
    }
  }

  &:hover {
    & svg.svg-inline > path {
      fill: $baseOrange;
    }
  }
}

.margin_top {
  margin-top: 6px;
}
