@import '../../assets/sass/config';

.alphabet-filter__list {
  flex-flow: wrap;
  display: flex;
  margin-top: 10px;

  &:empty,
  &:first-child {
    margin-top: 0;
  }

  @include mq(1024px) {
    .alphabet-filter__item {
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 6px;
      line-height: 25px;
    }
  }

  @include mq('tablet') {
    justify-content: center;

    .alphabet-filter__item {
      width: 22px;
      height: 22px;
      margin-left: 4px;
      line-height: 22px;
    }
  }

  @include mq('phone') {
    .alphabet-filter__item {
      width: 24px;
      height: 24px;
      margin-left: -3px;
    }
  }
}

.alphabet-filter__list:last-child {
  margin-top: 0;
}

.alphabet-filter {
  & .alphabet-filter__item {
    &.active {
      background: $baseOrange;
      color: $baseGray;
    }
  }
}

.alphabet-filter__item {
  @include LatoBold;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 30px;
  cursor: pointer;
  transition: background 0.4s, color 0.4s;
  border: transparent;
  background: transparent;
  outline: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    background: $baseOrange;
    color: $baseGray;
  }

  @include mq('tablet', min) {
    margin: 0 1px;
  }

  @include mq('tablet', max) {
    &:hover {
      background: none;
    }

    &:focus {
      background: $baseOrange;
    }
  }
}
