@import '../../../assets/sass/config';

.mm-popup__box.mm-popup__box--popup_add_favorite_verse {
  width: 590px;
  padding: 0;

  @include mq('phone') {
    width: 95%;
    left: 5px;
    right: 5px;
  }

  .mm-popup__box__body {
    overflow: unset;
    max-height: unset;
    padding: 0;
  }
}

.addFavorite__verse {
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    font-size: 1.4rem;
    font-weight: 700;
    border-bottom: 1px solid $baseGrayLight;

    @include mq('phone') {
      font-size: 13px;
      padding: 20px 15px;
    }
  }

  .addFavorite__verse__title {
    font-size: 2.1rem;
    font-weight: 800;
    padding-bottom: 24px;
    border-bottom: 1px solid $baseGrayLight;

    p {
      margin: 24px 30px 0;
    }

    @include mq('phone') {
      p {
        margin: 24px 15px 0;
      }
    }
  }

  &__content {
    border-bottom: 1px solid $baseGrayLight;
    overflow-y: auto;
    max-height: calc(100vh - 150px);
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;

    @include mq('phone') {
      margin: 25px 15px;
    }

    .btn {
      font-size: 1.4rem;
      font-weight: 700;
      padding: 10px 28px;
      margin-right: 12px;
    }
  }

  &__back {
    margin: 10px 28px;
    font-size: 1.4rem;
    font-weight: 700;
    border-bottom: 1px solid $baseOrange;
    cursor: pointer;
  }

  &__input {
    padding: 8px 12px;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 2px;
    border: 1px solid $addFavorite__border_input;
  }

  &__tagForm {
    display: flex;
    flex-direction: column;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px;
    border-bottom: 1px solid $baseGrayLight;

    input {
      flex: 1 1 0;
      margin-right: 16px;
    }

    button {
      flex-basis: 28px;
      height: 28px;
      border-radius: 20px;
      background-color: $baseOrange;
      cursor: pointer;
    }

    @include mq('phone') {
      padding: 16px 15px;
    }
  }

  .addFavorite__verse__allTags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;

    .allTags__item {
      cursor: pointer;
      border-radius: 20px;
      padding: 5px 14px 3px;
      margin: 6px;
      background-color: transparentize($baseOrange, 0.4);
    }
  }

  .addFavorite__verse__tags {
    min-height: 106px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 8px 30px 0;

    p {
      margin: 8px 12px 0 8px;
      padding: 5px 14px 3px;
      border-radius: 20px;
      background-color: transparentize($baseOrange, 0.4);
      white-space: nowrap;
      cursor: pointer;

      &::after {
        content: '×';
        opacity: 0.7;
        margin: 0 -3px 0 6px;
      }
    }

    @include mq('phone') {
      padding: 8px 15px 0;
    }
  }

  .preloader {
    min-height: 1px;
    background-color: transparentize($cWhite, 0.4);
  }
}

.addFavorite__verse__color {
  position: relative;
  display: flex;
  justify-content: flex-end;

  .circle-picker {
    position: absolute;
    top: 110%;
    left: 50px;
    background-color: $cWhite;
    border-radius: 4px;
    padding: 10px 0 0 10px;
    z-index: 1;
    box-shadow: 0 0 3px;

    @include mq('tablet') {
      left: -90px;
    }
  }

  &-btn {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 12px;

    @include mq('phone') {
      width: 21px;
    }
  }

  @include mq('phone') {
    font-size: 13px;
  }
}
