@import '~assets/sass/config';

.bible-media-tabs-right {
  .side__interpretators {
    display: flex;
    flex-wrap: wrap;

    .list__item.filtered-interpretations-all {
      flex-basis: 100%;
    }

    .list__item {
      flex-basis: 50%;

      @include mq('phone') {
        flex-basis: initial;
      }
    }
  }
}

.side__interpretators_for-popup {
  @include mq('tablet') {
    height: calc(100vh - 160px);
  }
}

.side__interpretators-century {
  display: block;
  padding: 10px 20px 0 20px;
  color: $grayMiddle;
  font-size: 1.5rem;
}

.verse-page {
  .side__interpretators {
    border-bottom: transparent;
  }
}

.filtered-interpretations-all {
  border-bottom: 1px solid $baseGrayLight;

  .list__item-link {
    padding: 15px 0;

    @include LatoBold;

    text-align: center;
    background-color: none;
  }
}

.bible-media .side__interpretators .list__item.filtered-interpretations-all {
  position: sticky;
  top: 0;
  border-bottom: 1px solid $baseGrayLight;
  border-left: none;
  border-right: none;
  z-index: 2;
  margin: 0;
}

.extend {
  .filtered-interpretations-items {
    display: flex;
    flex-wrap: wrap;

    .list__item {
      width: 50%;
    }
  }
}

.side__interpretators {
  position: relative;
  overflow-x: auto;
}
