@import '~assets/sass/config.scss';

.mm-popup__box--media-popup-comment-follow {
  max-width: 590px;

  .mm-popup__box__body {
    padding: 0;
  }

  @include mq('phone') {
    top: 50%;
    transform: translate(0, -50%);
  }
}

.comment-form-follow {
  padding: 40px 111px;

  & p {
    @include LatoBold;

    font-size: 2.8rem;
    line-height: 34px;
    margin-bottom: 24px;
    text-align: center;
    color: $baseGray;
  }

  @include mq('phone') {
    padding: 30px 10px;
  }
}
