@import '../../assets/sass/config';

.scroll {
  border-radius: 50%;
  position: fixed;
  right: 25px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  background-color: $baseOrange;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
  z-index: 100000;

  .icon {
    transform: rotate(270deg);
    font-size: 3.4rem;
    display: flex;
    justify-content: center;
    color: $cBlack;
    padding-left: 6px;
  }

  &:hover {
    background-color: $baseOrangeLight;
  }

  @include mq('tablet') {
    right: 12px;
  }
}
