.dropdown-wrapper {
  position: relative;
  z-index: 300;

  svg {
    transition: all 0.2s;
    flex-shrink: 0;
  }
}

.cpm__translates {
  position: absolute;
  top: 100%;
  padding-top: 5px;
  margin-top: 10px;
  left: -100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  border-radius: 8px;
  width: 620px;
  background: white;
  display: flex;
  flex-direction: row;
  padding: 15px 15px 24px;
  border: 1px solid #f90;

  .btn {
    width: 100%;
    white-space: normal;
    min-height: 54px;
    margin-bottom: 5px;
  }
}

.cpm__translate-dropdown {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 1;
  text-align: right;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #f9d063;

  @media (max-width: 1200px) {
    font-size: 13px;
  }
}

.open-dropdown {
  svg {
    rotate: 180deg;
  }
}
