.contact__captcha {
  margin: 35px 0;
  .user_form_input {
    margin: 0;
  }

  &__image {
    display: flex;
    align-items: center;
    margin: 10px 2px;
    height: 50px;
  }

  .contact__captcha__image button.btn {
    display: flex;
    padding: 8px;
    margin: 0 0 0 20px;

    img {
      max-width: 18px;
    }
  }

  .preloader {
    height: 50px;
    width: unset;
    position: relative;
    margin: 10px;
  }

  input.textfield__input {
    border-radius: 7px;
    padding: 9px;
    border: 1px solid #e8e8e8;
    line-height: 10px;
    width: 100%;
    transition: border-color 0.4s;
  }
}
