@import '../../../assets/sass/config';

.add-bookmark {
  position: relative;
}

.add-bookmark__popover {
  padding: 10px;
}

.pulldown__head {
  margin-bottom: 8px;
}

.add-bookmark__notice {
  text-align: center;
  margin-top: 20px;
}
