@import '../../assets/sass/config';

.bread-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.4rem;
  padding: 30px 0 23px;

  @include mq('tablet') {
    align-items: center;
  }

  @include mq('phone') {
    padding-top: 7px;
    align-items: baseline;
  }

  .breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    padding-left: 5px;
    line-height: 40px;

    @include mq('phone') {
      height: auto;
      line-height: 20px;
    }

    .breadcrumbs__item {
      .breadcrumbs__item-link {
        line-height: 15px;
        padding: 0;
      }
    }
  }
}
