@import '../../assets/sass/config';

.exegetes__search {
  width: 100%;
  margin-bottom: 16px;

  @include mq('tablet') {
    margin-top: 16px;
    width: 100%;

    .textfield__input-search {
      font-size: 15px;
    }
  }

  @include mq('phone') {
    margin-bottom: 24px;

    .textfield__input-search {
      font-size: 12px;
    }
  }
}

.exegetes__list {
  @include mq(1024px, min) {
    @include mq('desktop', max) {
      border: none;
    }
  }

  @include mq('tablet') {
    padding: 20px 30px;

    .content {
      margin: 0;
      padding: 0;
    }
  }

  @include mq('phone') {
    padding: 20px;
  }
}

.collection {
  min-height: 350px;

  @include mq('tablet', max) {
    min-height: 150px;
  }
}

.collection__list {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;

  .collection__list-item {
    width: 25%;

    @include mq('phone') {
      width: 50%;
    }
  }

  @include mq('tablet') {
    .collection__list-link {
      border-bottom: 1px solid $baseOrange;
    }
  }
}

.exegetes__list-group {
  display: flex;
  flex-direction: column-reverse;
}

.exegetes__list-group-content:empty {
  + .exegetes__list-separate {
    display: none;
  }
}

.exegetes__list-separate {
  @include LatoBold;

  font-size: 1.4rem;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid $baseGrayLight;
}

.exegetes__wrapper {
  @include mq('tablet') {
    width: 100%;
    margin-top: 0;
    margin-bottom: 16px;

    .side {
      background-color: $baseGrayBody;
      border: transparent;
    }
  }
}

.exeget-types {
  @include mq('tablet') {
    width: 100%;
  }
}

.exegetes__input {
  @include mq('tablet') {
    padding: 9px 32px 10px 20px;
  }

  @include mq('phone') {
    padding: 9px 25px 9px 13px;
  }
}

.exegetes__selects {
  @include mq('tablet') {
    border-bottom: 1px solid $baseGrayLight;
  }

  @include mq(769px, min) {
    @include mq('tablet') {
      border: 1px solid $baseGrayLight;
    }
  }
}

.side__exegets {
  .exegetes__scroll-list {
    margin: 0;

    @include mq('tablet') {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    @include mq('phone', min) {
      @include mq('tablet') {
        padding: 5px 20px 0 20px;
        justify-content: space-around;
      }
    }
  }
}

.exegetes {
  .exegetes-select__wrapper {
    border: transparent;

    @include mq('tablet', min) {
      .custom-select__control {
        height: 50px;
        padding: 10px 22px;
      }
    }

    @include mq('tablet') {
      margin-top: 20px;

      & > div {
        width: 100%;
      }
    }
  }

  @include mq('tablet') {
    .exegets_paper {
      padding-bottom: 0;
    }
  }
}

.exegetes-item {
  border: transparent;
  outline: transparent;
  background-color: transparent;
  text-align: left;
  font-size: 1.4rem;
}

.exegetes-page {
  @include mq('tablet', min) {
    .exegetes__wrapper {
      .custom-select__control {
        border-left: 1px solid $baseGrayLight;
        border-right: 1px solid $baseGrayLight;
        border-top: 1px solid $baseGrayLight;
      }
    }
  }

  @include mq('tablet') {
    padding: 0;

    .exegets_body {
      padding: 0;
    }
  }

  @include mq(1024px, min) {
    @include mq(1024px) {
      .exegetes {
        flex-direction: row;
      }
    }
  }
}

.lecture__interpretators-head {
  overflow: hidden;
  text-overflow: ellipsis;
}

.side__interpretators {
  & > div {
    & > div {
      overflow-y: initial !important;
    }
  }
}

.lecture__interpretators {
  @include mq('tablet', min) {
    min-height: 460px;

    .ekzegets-scrollbar {
      height: 400px;

      & > div {
        & > div {
          max-height: 100% !important;
        }
      }
    }
  }

  @include mq('tablet', max) {
    height: 100%;
    overflow: initial;
  }
}

.ekzegets-scrollbar {
  .list__item {
    width: 100%;
  }
}

.list_width {
  flex: 0 0 219px;
  width: 219px;

  @include mq('desktop', max) {
    width: 100%;
    flex: 1;
    margin-bottom: 20px;
  }

  @include mq('tablet') {
    margin-bottom: 0;
  }
}

.exegetes_left {
  width: 100%;
  padding: 20px 34px 0 30px;

  @include mq('desktop', max) {
    padding: 0;
  }
}

.not-padding {
  padding: 0;
}

.side__interpretators {
  .list_item_font_size {
    font-size: 1.3rem;
    padding: 10px 10px 10px 15px;
  }
}

.side__interpretators {
  &.not-height {
    height: auto;
  }
}

.page__preview-content {
  padding-right: 30px;
}

.exegetes__select-adaptive {
  width: 100%;
}

.ekzeget-body {
  @include mq('desktop', max) {
    flex-direction: column-reverse;
  }
}
