.cpd-aside__wrapper {
  border: 1px solid #f3f2f1;
  background: #fff;
  font-size: 1.5rem;
  max-width: 247px;
}

.cpd__aside-scroll {
  max-height: 520px;
  overflow: auto;
}

.cpd__aside-scroll {
  max-height: 520px;
  overflow: auto;
}

.cpd__aside-scroll::-webkit-scrollbar {
  width: 10px;
}

.cpd__aside-scroll::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #f1f1f1;
}

.cpd__aside-scroll::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 5px;
  border: 2px solid #f1f1f1;
}

.cpd__aside-top {
  margin-top: 17px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.cpd__aside-day {
  width: 100%;
  line-height: 1;
  padding: 13px 28px;
  display: flex;
  gap: 6px;
  align-items: center;
  border-left: 2px solid #fff;
}

.cpd__aside-day--active {
  background: #f9f8f6;
  border-color: #f9d063;
}

.cpd__dot {
  background: #09e511;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.dot-red {
  background: #f8231f;
}
