@import '../../../../assets/sass/config';

.navigation {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 10px;
  border: 1px solid $baseGrayLight;
  padding: 10px 10px 11px;

  @include mq('tablet-wide') {
    justify-content: space-around;
  }

  @include mq('tablet') {
    margin-bottom: 30px;
  }

  @include mq('phone', max) {
    flex-flow: wrap;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  // for tablet and mobile
  &.navigation-adaptive {
    & .navigation__item {
      &.active {
        border-color: $cWhite;
        background: linear-gradient(360deg, #ffde88 0.92%, #efae04 98.65%);
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.navigation-adaptive {
  & .navigation__item {
    &:hover {
      color: $baseGray;
      background: linear-gradient(180deg, #fff 0%, #f3f3f3 100%);
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.2);
    }

    &:focus {
      background: linear-gradient(360deg, #ffde88 0.92%, #efae04 98.65%);
    }
  }
}

.navigation__item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 190px;

  @include LatoBold;

  font-size: 1.3rem;
  background: linear-gradient(180deg, #fff 0%, #f3f3f3 100%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  line-height: 29px;
  padding: 7px 0;
  border-radius: 8px;
  transition: background 0.65s ease-in;
  white-space: nowrap;

  &:hover {
    color: $baseGray;
    background: #efae04;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);

    @include mq(1024px, max) {
      background: none;
    }
  }

  &.active {
    border-color: $cWhite;
    background: linear-gradient(360deg, #ffde88 0.92%, #efae04 98.65%);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
  }

  @include mq(1224px) {
    width: 155px;
  }

  @include mq('tablet') {
    width: 120px;
    line-height: 16px;
    padding: 7px 0;
    font-size: 1.2rem;
    margin-top: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.2);
  }

  @include mq(phone) {
    margin-top: 10px;
    padding: 3px 0;
  }
}
