@import '~assets/sass/config';

.verse__preaching-content {
  flex: 1 1 auto;

  .list__item {
    border-left: transparent;
  }

  .pagination {
    border: 1px solid $baseGrayLight;
    border-top: none;
    margin-top: 0 !important;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 25px;
  }
}

.verse-preaching-content-list {
  border-top: none;

  .list__item {
    border-top: 1px solid $baseGrayLight;
    border-right: transparent;
  }
}
