@import '~assets/sass/config';

.mb__content {
  overflow-x: hidden;

  .mb-item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));

    @include mq(1024px) {
      grid-template-columns: repeat(auto-fill, minmax(206px, 1fr));
    }
  }

  .mb-item + .mb-item {
    border-top: 1px solid $baseGrayLight;
  }

  &.mb-middle {
    // max-height: 400px;
    padding: 20px 0;

    .mb-item {
      padding: 20px 50px;
      grid-gap: 40px;

      @include mq(1024px) {
        padding: 20px 30px;
        grid-gap: 20px;
      }
    }

    .mb__item {
      padding: 3px;
    }

    .mb__item:nth-child(n + 4) {
      padding-right: 0;
    }

    .mb__item + .mb__item {
      border-top: none;
    }
  }

  @include mq('phone') {
    height: 500px;
  }
}

.extend {
  .mb-item-audio {
    grid-template-columns: 1fr;
  }
}

.mb-media-not-scroll {
  overflow-y: hidden;
}

.mb__item_audio {
  .rhap_main-controls {
    align-self: center;
    margin-bottom: 10px;
    width: 100%;
  }

  .rhap_controls-section {
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .rhap_repeat-button {
    justify-content: flex-end;
  }

  @include mq(768px) {
    .rhap_controls-section {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    .dd__wrapper {
      margin-left: 0;
    }
  }

  @include mq(766px) {
    .rhap_controls-section {
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }

  @include mq(468px) {
    .rhap_controls-section {
      flex-direction: row;
    }

    .dd__wrapper {
      margin-left: 0;
    }
  }
}
