@import '../../assets/sass/config';

.interpretation_detail {
  position: relative;
  border: 1px solid $baseGrayLight;

  .tabs__content {
    padding: 0;
    border: none;
  }

  .empty-content {
    border-top: none;
  }

  &__content {
    display: flex;
    flex-direction: row;
    width: 100%;

    &__leftSide {
      flex: 1 1 0;
      background-color: $cWhite;
      // border: 1px solid $baseGrayLight;
      border-top: none;
      padding: 32px 18px 45px;
      text-align: justify;

      @include mq('tablet') {
        padding: 25px 18px 45px;
      }

      @include mq('phone') {
        // border: none;
        padding: 25px 10px;
      }
    }

    &__leftSide-title {
      display: flex;
      padding: 30px 16px 0;

      @include mq('phone') {
        padding: 30px 15px 0 5px;
        text-align: left;
      }

      p {
        font-size: 1.4rem;
        line-height: 1;
      }

      a {
        font-size: 2rem;
        font-weight: 800;
        border-bottom: 2px solid $baseOrange;
        line-height: 1.5;

        &:last-child {
          font-size: 1.6rem;
        }

        @include mq('tablet') {
          font-size: 1.8rem;
        }
      }

      @include mq('tablet-wide') {
        padding-top: 20px;
      }
    }

    &__leftSide-head {
      background-color: $baseGrayLightSelect;
      padding: 10px 16px 5px;

      @include mq('phone') {
        padding: 10px 5px 5px;
        text-align: left;
      }
    }

    &__leftSide-verse {
      display: flex;

      p {
        font-size: 2rem;
        font-weight: bold;
        line-height: 30px;

        @include mq('phone') {
          font-size: 1.6rem;
          line-height: 20px;
          text-align: left;
        }
      }
    }

    &__leftSide-text {
      padding: 10px 16px 5px;

      @include mq('phone') {
        padding: 10px 5px;
      }

      white-space: pre-line;
    }

    &__rightSide {
      flex-basis: 240px;
      display: flex;
      flex-direction: column;
      background-color: $cWhite;
      border-right: 1px solid $baseGrayLight;
      border-bottom: 1px solid $baseGrayLight;
    }
  }

  .tab__actions {
    justify-content: flex-end;

    @include mq('phone', max) {
      overflow: scroll;
      justify-content: initial !important;
    }
  }
}

.interpretation_detail__header.tabs_in-paper {
  height: 55px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $cWhite;
  border: 1px solid $baseGrayLight;
  padding: 0 25px;
}

.interpretation__page__nav {
  margin-left: auto;
}

.interpretation {
  .tabs__verseWrapper {
    flex-direction: column;
  }

  .tabs__verse {
    padding: 4px 30px;
    align-items: center;
  }

  .icon_manuscript {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .interpretation_detail__content__rightSide {
    border-right: transparent;
    border-left: 1px solid $baseGrayLight;
    height: 100%;
  }

  .page__head {
    margin-bottom: 40px;
  }

  .content {
    background-color: $cWhite;
    margin: 0;

    @include mq('phone') {
      background: none;
    }
  }

  .interpretation_detail {
    background-color: $cWhite;
    margin-bottom: 100px;
    margin-left: 30px;
    width: 100%;

    @include mq(1024px) {
      margin-left: 10px;
    }

    @include mq('tablet') {
      margin-left: 0;
    }
  }

  .content_two-col {
    border-top: transparent;
    justify-content: flex-end;
    position: relative;

    .list__item,
    .side_right {
      margin: -1px 0;

      @include mq('phone') {
        margin-bottom: 0;
      }
    }

    .side_right {
      border-right: transparent;
    }

    @include mq('tablet') {
      flex-direction: column-reverse;

      .side_right {
        width: 100%;
      }
    }
  }
}

@include mq('tablet') {
  .interpretation {
    .page__head {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      align-items: flex-start;
    }

    .testament__book-wrapper {
      margin: 0 -11px;
    }

    .interpretation__page__nav {
      margin: 0;
      justify-content: space-around;
      width: 100%;
    }

    .interpretation_detail__content {
      flex-direction: column-reverse;
    }

    .interpretation_detail {
      padding: 0;
    }
  }
}

.interpretation {
  .interpretation__page__nav {
    @include mq('phone', min) {
      @include mq('tablet') {
        width: 320px;
        margin: 0 auto;
      }
    }
  }
}

.interpretation_detail__content__leftSide-text {
  img {
    width: 100%;
    height: 100%;
  }
}

.interpretation_detail__content {
  border-top: none;

  @include mq('tablet', min) {
    min-height: 560px;
  }
}

.mm-popup--visible {
  .mm-popup__box--popup__delete-favorite {
    width: 590px;

    @include mq('phone', max) {
      width: 95%;
    }

    .mm-popup__box__body {
      padding: 0;
    }
  }
}

.side__interpretators {
  .list__item-link {
    position: relative;
    padding-right: 31px;
    padding-left: 14px;

    .icon_list__item-fav {
      position: absolute;
      right: 14px;
      top: 7px;
      color: $baseOrange;
      font-size: 1.5rem;

      @include mq('tablet', max) {
        right: 15px;
        font-size: 1.7rem;
      }
    }
  }
}

.link_text.verse-link-current {
  background-color: $latestBibleUrl;
}

.csya_old__container a span .verse-text {
  .verse-number {
    @include Lato;
  }

  @include CsyaOld;

  font-size: 1.7rem;
}

.grek__container a span .verse-text {
  .verse-number {
    @include Lato;
  }

  @include Greek;
}

.interpretation_detail {
  .bible-content-preloader {
    border-top: none;
  }

  .tabs__head {
    border: 1px solid $baseGrayLight;
  }
}

.interpretation .paper {
  border: none;
}

.tab-action-icon {
  font-size: 2rem;
}

.inter-detail-content-body {
  border-radius: 8px;
  border: 5px solid $baseGrayLightSelect;
}

.inter-detail-content-body + .inter-detail-content-body {
  margin-top: 30px;
}

.interpretation-tabs {
  &.tabs__verseWrapper {
    padding-top: 10px;

    @include mq('phone') {
      padding-top: 0;
    }
  }

  .tabs__list {
    width: 100%;
    justify-content: space-evenly;
  }

  .tab__actions {
    flex: 1 1 50%;
  }
}

.bible-page .interpretation_detail .tabs__head {
  border: none;
  border-bottom: 1px solid #ebebeb;
}
