@import '~assets/sass/config';

.rpd__scroll-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  width: 934px;
  border: 1px solid #dedede;
  background: #fff;

  table {
    width: 100%;
  }

  @media (max-width: 1200px) {
    width: auto;
  }
}

.rpd__item {
  display: grid;
  grid-template-columns: 183px auto 1fr;

  @media (max-width: 1024px) {
    grid-template-columns: 121px auto 1fr;
  }

  @media (max-width: 768px) {
    grid-template-columns: 80px 24px 1fr;
    font-size: 13px;
  }
}

.rpd__item {
  & > td:nth-child(3) {
    padding-left: 52px;

    @media (max-width: 1200px) {
      padding-left: 30px;
    }
  }
}

.rpd__item:nth-child(2n) {
  background: $baseGrayLight;
}

.rpd__item-day {
  padding-left: 42px;
  text-align: center;

  span {
    color: $baseOrange2;
  }

  @media (max-width: 1024px) {
    max-width: 141px;
    padding-left: 38px;
  }

  @media (max-width: 768px) {
    padding: 0 2px !important;
  }
}

.rpd__title-head {
  font-size: 2rem;
  margin-top: 13px;
  margin-bottom: 11px;
  text-align: center;
  font-weight: 700;

  span {
    color: $baseOrange2;
  }

  @media (max-width: 1200px) {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 9px;
    margin-top: 0;
  }

  @media (max-width: 768px) {
    font-size: 15px;
    margin-bottom: 3px;
  }
}

.rpd__item-link {
  padding: 1px;
  margin-right: 20px;
  white-space: nowrap;
  display: table-cell;

  &:last-child {
    flex-grow: 1;
    margin-right: 0;
  }

  @media (max-width: 767px) {
    margin-right: 0;
  }
}

.rpd__item-duration {
  font-weight: 700;
  width: 150px;
  text-align: center;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;

  @media (max-width: 1200px) {
    width: 150px;
  }

  @media (max-width: 1024px) {
    width: 100px;
  }

  @media (max-width: 768px) {
    width: 38px;
  }
}

.rpd__item-right {
  display: grid;
  grid-template-columns: 120px 110px 110px 1fr;
  padding-left: 30px;

  @media (max-width: 767px) {
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.rpd__scroll-container_min {
  width: 100%;
  border-radius: 10px;

  .rpd__title-head {
    margin-top: 0;
  }

  .list__scroll {
    overflow: auto;
    max-height: 320px;
  }

  .rpd__item-right {
    display: grid;
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 1200px) {
      padding-left: 50px;
      gap: 0 5px;
      grid-template-columns: repeat(3, auto);
    }

    @media (max-width: 767px) {
      padding-left: 10px;
      gap: 0 5px;
      grid-template-columns: repeat(3, auto);
    }
  }

  .rpd__item-day {
    width: auto;
    padding-left: 25px;
    text-align: center;

    @media (max-width: 1200px) {
      padding-left: 2px;
    }
  }

  table {
    width: 100%;
  }

  .rpd__item-duration {
    font-weight: 700;
    width: 72px;

    @media (max-width: 768px) {
      width: 37px;
    }

    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
  }

  .rpd__item {
    display: grid;
    grid-template-columns: 120px auto 1fr;

    @media (max-width: 1200px) {
      grid-template-columns: 90px 28px 1fr;
    }
  }
}
