@import '~assets/sass/config';

.media-detail-multi-video-item {
  cursor: pointer;

  & .media-btn-info {
    margin-left: 0;
  }

  & .book_desc_text_content {
    margin-top: 8px;
    height: auto;
  }

  & .book-desc__text {
    margin-bottom: 10px;
  }
}

.media-detail-multi-video-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;

  .bold-video-title {
    font-weight: 600;
  }

  & svg.svg-inline {
    width: 30px;
    height: 30px;
    cursor: pointer;

    & > path {
      transition: 0.65s ease;
      fill: $baseGrayMedia;
    }

    & g path {
      fill: $baseGray;
    }

    &:hover {
      & > path {
        transition: 0.65s ease;
        fill: $baseOrange;
      }
    }
  }
}

.media-detail-multi-video-img {
  margin-top: 13px;
  position: relative;

  & .book-info__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.media-detail-multi-video-img-item {
  height: 204px;

  @include mq('tablet-wide') {
    height: 160px;
  }

  @include mq('tablet') {
    height: 175px;
  }

  @include mq('phone') {
    height: 155px;
  }
}

.media-detail-multi-video-duration {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: $cWhite;
  padding: 0 5px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.5);
}
