@import '~assets/sass/config';

.favorites-verses {
  padding-top: 10px;
}

.favorites-verse {
  display: flex;
  align-items: flex-start;
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid $baseGrayLight;

  &:last-child {
    border: none;
  }
}

.favorites-verse__content {
  flex: 1 1 100%;
}

.favorites-verse__num {
  @include LatoBold;

  display: block;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $baseDefault;
  margin-bottom: 5px;
}

.favorites-verse__tags {
  display: block;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.favorites-verse__actions {
  display: flex;
}

.favorites-verse__action {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $baseOrange;
  }

  + .favorites-verse__action {
    margin-left: 15px;
  }

  & .icon {
    display: flex;
    font-size: 10px;
  }
}
