@import '../../../assets/sass/config';

.footer {
  background-color: $greenFooter;
  color: $cWhite;
}

.footer__middle {
  max-width: 1500px;
  margin: 0 auto;
  padding: 40px 0;

  @include mq('desktop') {
    max-width: 100%;
    padding: 40px 60px;
  }

  @include mq(tablet, max) {
    max-width: 100%;
    padding: 30px 20px;
  }

  @include mq('phone') {
    max-width: 100%;
    padding: 22px 10px;
  }
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: nowrap;

  @include mq('phone') {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer__col {
  margin-right: 90px;
  display: flex;
  flex-direction: column;
  margin-right: 0;

  &:last-child {
    margin-right: 0;
  }

  @include mq('phone') {
    width: 100%;
    margin: 0 auto 22px;

    &:last-child {
      margin: 0 auto;
    }
  }
}

.footer__orphus {
  margin-top: 10px;

  @include mq('phone', max) {
    width: 75%;
  }
}

.footer__logo {
  margin-bottom: 20px;

  @include mq('phone') {
    margin-bottom: 12px;
  }
}

.footer__nav {
  display: flex;
}

.footer__nav-title {
  @include LatoBold;

  white-space: nowrap;
  font-size: 2.2rem;
  margin-bottom: 16px;

  @include mq(1024px, max) {
    font-size: 2rem;
    line-height: 24px;
  }

  @include mq('phone') {
    font-size: 1.8rem;
  }
}

.footer__nav-item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    color: $cWhite;

    @include mq('phone') {
      font-size: 1.4rem;
    }
  }
}

.footer__nav-list {
  opacity: 0.8;
}

.footer__donations {
  margin-bottom: 50px;

  @include mq('phone') {
    margin-bottom: 24px;
  }

  .btn {
    @include mq('phone') {
      padding: 8px 24px 11px;
    }
  }
}

.footer__partners-title {
  margin-bottom: 20px;

  @include mq('phone') {
    font-size: 1.8rem;
  }
}

.footer__partners-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include mq('tablet-wide') {
    flex-direction: column;
    align-items: inherit;
    flex-wrap: initial;
  }

  @include mq('phone') {
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.footer__partners-item {
  margin-right: 30px;

  @include mq('tablet-wide') {
    margin-bottom: 10px;
  }

  @include mq('phone') {
    margin-bottom: 0;
    margin-right: 0;
  }

  a {
    display: flex;
    align-items: center;

    @include LatoBold;

    font-size: 2rem;
    color: $cWhite;

    @include mq('phone') {
      font-size: 1.5rem;
      text-align: center;

      img {
        width: 80%;
      }
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.footer__donations-title {
  @include LatoBold;

  font-size: 2.2rem;
  margin-bottom: 16px;

  @include mq(1024px, max) {
    font-size: 2rem;
    line-height: 24px;
  }
}

.footer__bottom {
  background-color: $greenFooterBottom;
  padding: 16px 0 14px 0;
}

.footer__copyright {
  text-align: center;
}

.footer__copyright-link {
  color: $cWhite;
}

.footer__logo-img {
  width: 148px;
}

// crutch
@media (width: 767px) {
  .footer__row {
    justify-content: space-between;
    padding: 10px;
  }

  .footer__col {
    margin-right: 60px;
  }

  .footer__partners {
    display: flex;
    justify-content: space-between;
  }

  .footer__col:last-child {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .footer__donations {
    margin: 20px auto;
  }

  .footer__partners {
    display: flex;
    flex-direction: column;
  }

  .footer__partners-title {
    display: flex;
    justify-content: center;
  }

  .footer__partners-list {
    justify-content: space-around;
  }
}

#orphus {
  display: none;
}

.footer__partner-svg {
  height: 100px;

  @include mq('phone', max) {
    height: 80px;
  }
}

.footer__donations-btn {
  white-space: nowrap;
  font-size: 1.5rem;
  line-height: 18px;

  @include mq(1024px, max) {
    padding: 12px 32px;
  }
}

.footer-social-title {
  @include LatoBold;

  font-size: 2rem;
  line-height: 24px;
  margin-bottom: 21px;
}

.footer-social-tablet {
  & .social__links-item {
    background: none;
  }

  & .social__links {
    path {
      fill: $cWhite;
    }
  }
}

.footer_nav_mobile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
