@import '../../../assets/sass/config';

.lk__bookmark-item {
  display: flex;
  align-items: center;

  > .icon {
    margin-right: 20px;
    color: $cWhite;
    min-width: 26px;
  }
}

.active-bible-bookmark {
  cursor: default;
  color: $cWhite;
}
