@import '../../assets/sass/config';

.aboutUs {
  .side__item {
    flex-basis: 276px;
    margin-right: 0;

    @include mq('tablet') {
      flex-basis: 38px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  @include mq(1024px, min) {
    @include mq(1024px) {
      .wrapper_two-col {
        flex-direction: row;
      }
    }
  }

  .page__head .page__title {
    font-size: 3rem;
  }
}

.about-us__wrapper {
  .side__item {
    border-bottom: transparent;
  }
}

.about-us__link {
  @include mq('tablet') {
    max-width: 100%;
    display: block;
    text-align: center;
  }
}

.aboutUs__content {
  flex: 1 1 100%;
  font-size: 1.6rem;
  text-align: justify;

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 2rem;
    margin-bottom: 16px;
  }

  a {
    text-decoration: underline;
  }

  p {
    margin-bottom: 14px;
    font-size: 1.6rem;
  }

  .preloader {
    min-height: 1px;
    position: relative;
  }

  blockquote {
    font-style: italic;
    margin: 20px 30px;
    font-size: 1.6rem;
  }

  @include mq('tablet') {
    margin-right: 0;
    background-color: $cWhite;
    padding: 8px;

    p {
      font-size: 14px;
    }

    h3 {
      font-size: 22px;
    }
  }
}

@include mq('tablet') {
  .aboutUs__body {
    .nav-side {
      border: 1px solid $baseGrayLight;
    }
  }
}

.news__item {
  text-align: left;
  font-size: 1.4rem;
  padding: 15px 30px;
}

.container-body {
  position: relative;
  width: 100%;
  background-color: $cWhite;
  min-height: 400px;
  border: 1px solid $baseGrayLight;
  border-radius: 2px;
  padding: 22px 15px;
}
