@import '../../assets/sass/config';

.news {
  .page__head .page__title {
    font-size: 3rem;
  }

  .side__item {
    flex-basis: 276px;
    margin-bottom: 10px;

    @include mq('tablet') {
      margin-right: 0;
      flex-basis: 38px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  @include mq('tablet') {
    .breadcrumbs {
      padding: 20px 0 5px;
    }
  }

  @include mq('phone') {
    .latest-interpritations__body {
      margin: 0;
      max-width: 100%;
    }
  }

  @include mq(400px, min) {
    @include mq('phone', max) {
      .section__title {
        text-align: center;
      }

      .latest-interpritations__item {
        text-align: center;
      }
    }
  }
}

.news__wrapper {
  @include mq('tablet') {
    width: 100%;
    background-color: $cWhite;
    border: 1px solid $baseGrayLight;
    border-bottom: transparent;
    margin: 8px 0 0 0;

    .nav-side {
      margin: 0;
    }
  }
}

.news__body__list {
  flex: 1 1 100%;
  overflow: hidden;

  @include mq('tablet') {
    overflow: initial;
  }
}

.news__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @include mq('tablet') {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: space-between;
  }
}

.news__list-item {
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 0 0 16px;
  border: 1px solid $baseGrayLight;
  border-radius: 4px;
  background-color: $cWhite;

  &:last-child {
    margin: 0;
  }

  @include mq('tablet') {
    display: flex;
    flex-direction: column;
    min-height: 520px;
    border-radius: initial;
  }

  @include mq('phone', min) {
    @include mq('tablet') {
      width: 50%;

      &:nth-child(2n) {
        border-left: transparent;
      }
    }
  }
}

.news__list-icon {
  flex-basis: 160px;
  height: 148px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include mq('tablet') {
    width: 260px;
    height: 240px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    flex-basis: initial;
    margin-top: 8px;
  }
}

.news__list-text {
  flex: 1 1 0;
  margin: 0 24px;
  overflow: hidden;

  @include Lato;

  min-height: 140px;

  & > p {
    color: $baseGray;
    overflow: hidden;
    max-height: 42px;
  }

  h2 {
    margin-bottom: 8px;
    overflow: hidden;
  }

  .news__list-text__preview {
    max-height: initial;
    overflow: initial;
  }

  @include mq('tablet') {
    overflow: initial;
    margin: 0 10px;
    flex: initial;
    height: inherit;
  }
}

.news__list-text-link {
  display: flex;
  margin-bottom: 18px;

  a {
    height: 20px;
    width: 85px;
    border-radius: 15px;
    background-color: $baseOrange;
    color: $baseGray;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    margin-right: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px;

    &:visited {
      color: $baseGray;
    }
  }

  p {
    margin: 0;
    font-style: italic;
    color: $newsDateColor;
  }

  @include mq('tablet') {
    display: flex;
    flex-direction: column;
    margin: 20px 0 4px 0;
    justify-content: space-around;
    min-height: 60px;
    max-height: 110px;
  }

  @include mq('phone') {
    min-height: 50px;
    max-height: 100px;
  }
}

.news__list-btn {
  flex-basis: 136px;
  margin-right: 20px;

  a {
    padding: 8px 30px;
    border-radius: 20px;
    border: 1px solid $baseOrange;
    color: $baseOrange;
    background-color: $cWhite;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      color: $baseGray;
      background-color: $baseOrange;
    }
  }

  @include mq('tablet') {
    flex-basis: initial;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 30px auto 5px auto;
    height: 36px;

    a {
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 6px 15px;
    }
  }

  @include mq('phone') {
    width: 230px;
  }
}

.news__list-text__preview {
  text-align: justify;
}

.news__preloader {
  position: relative;
  min-height: 265px;

  p {
    text-align: center;
    font-size: 1.6rem;
  }
}

.news__list__updates {
  width: 100%;

  p {
    text-align: center;
    font-size: 1.6rem;
  }
}

.updates__list {
  list-style: none;
  padding: 16px 32px;
  border-radius: 2px;

  &-item {
    display: flex;
    align-items: baseline;
    margin-bottom: 16px;

    p {
      margin-right: 10px;
    }

    a {
      display: flex;
      align-items: baseline;
    }
  }

  &-item-red {
    color: darken($baseOrange, 33%);
  }

  .updates__list-item-username {
    font-size: 1.3rem;
  }
}

.news__interpretations {
  flex: 1 1 100%;
}

.news__content-wrapper {
  display: flex;
  align-items: center;
  width: 76%;

  @include mq('tablet') {
    flex-direction: column;
    justify-content: space-between;
  }

  @include mq('phone') {
    width: 100%;
  }
}

.news__item {
  text-align: left;
  font-size: 1.4rem;
  padding: 15px 30px;
}

@include mq('tablet', max) {
  text-align: center;
}

@include mq(1024px, min) {
  @include mq(1024px) {
    .news {
      .wrapper_two-col {
        flex-direction: row;
      }
    }
  }
}

@include mq('tablet', max) {
  .news__list-item {
    img {
      width: 240px;
      height: 220px;
    }
  }
}

@include mq('tablet', min) {
  .news__list-item {
    img {
      width: 24%;
    }
  }

  .news__list-picture {
    width: 24%;

    img {
      width: 100%;
    }
  }
}
