@import '../../assets/sass/config.scss';

.bibleGroups-container {
  width: 100%;
}

.sheet {
  @include Lato;

  border: 1px $baseGrayMedia solid;
  background-color: $cWhite;
}

.position {
  margin-top: 16px;

  @include mq('phone') {
    padding-top: 22px;
  }
}

.header-sheet {
  display: flex;

  @include mq('phone') {
    display: block;
  }
}

.header-sheet__update {
  @include LatoBold;

  background-color: $baseLilac;
  margin-top: 32px;
  margin-left: 24px;
  padding: 6px 12px;
  border-radius: 15px;
  max-width: 148px;
  text-align: center;
  white-space: nowrap;

  @include mq('phone') {
    margin-top: 12px;
  }
}

.header-sheet__data {
  margin-top: 36px;
  margin-left: 24px;
  font-style: italic;
  color: $newsDateColor;

  @include mq('phone') {
    margin-top: 10px;
  }
}

.header-sheet-location {
  display: flex;
}

.header-sheet-location__shape {
  margin-top: 36px;
  margin-left: 32px;

  @include mq('phone') {
    margin-top: 10px;
    margin-left: 24px;
  }
}

.header-sheet-location__description {
  margin-top: 36px;
  margin-left: 8px;
  font-style: italic;
  color: $newsDateColor;

  @include mq('phone') {
    margin-top: 10px;
  }
}

.about {
  display: flex;
  justify-content: space-between;

  @include mq('phone') {
    display: block;
  }
}

.text__header {
  @include LatoBold;

  display: inline-block;
  font-size: 18px;
  margin-top: 22px;
  margin-left: 26px;

  @include mq('phone') {
    font-size: 16px;
    margin-right: 26px;
    margin-top: 10px;
  }
}

.text__description {
  margin: 12px 26px 30px 26px;
  text-align: justify;
}

.more {
  padding-top: 12px;
  margin-right: 36px;

  @include mq('phone') {
    text-align: center;
    padding-top: 0;
    margin-top: -16px;
    margin-right: 0;
    padding-bottom: 30px;
  }
}

.more__btn {
  width: 136px;
  height: 36px;
  border-radius: 20px;
  border: 1px solid $baseOrange;
  color: $baseOrange;
  transition: 0.3s;
  cursor: pointer;
}

.more__btn:hover {
  color: $cBlack;
  transition: 0.3s;
  background-color: $baseOrange;
}

.sticker_hover:hover {
  color: $cBlack;
}

.header_orange {
  background-color: $baseOrange;
}
