.media-filter {
  .media-filter-authors-container {
    position: relative;
    width: 100%;
  }
}

.media-filter-author-popup-container {
  padding: 30px 10px 15px;
}

.media-filter-authors-popup {
  &.active {
    padding: 15px 5px;
    top: auto;
  }
}

.media-filter-authors-popup-item {
  display: flex;
  flex-direction: column;
  padding: 0;

  .media-default-item {
    width: 100%;
  }

  .media-default-item + .media-default-item {
    margin-top: 10px;
  }
}
