@import '../../../assets/sass/config';

.collection__list {
  padding: 15px 0;
}

.collection__list-item {
  margin-bottom: 20px;

  @include mq(1024px) {
    padding-right: 5px;
  }
}

.collection__list-link_underline {
  border-bottom: 1px solid $baseOrange;
  padding-bottom: 1px;
}
