@import '~assets/sass/config';

.mb-audio-head {
  margin-bottom: 10px;
}

.mb-audio-title {
  font-weight: 500;
  margin-bottom: 5px;
}

.mb-audio-span {
  color: $baseDefault;
}

.mb-audio-verse-link {
  .mb-audio-span {
    transition: 0.65s ease;

    &:hover {
      color: $baseGray;
    }
  }

  &:not(:last-child) {
    &::after {
      content: ', ';
      margin-right: 5px;
      color: $baseDefault;
    }
  }
}

.mb-audio-verses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
