.chapter__wrapper {
  position: relative;
  min-width: 62px;
  margin-top: 16px;
  cursor: pointer;
  overflow: visible !important;
}

.chapter__circle {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: -1px;
  transform: translateY(-50%);
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
}

.chapter__body {
  display: flex;
  flex-shrink: 0;
  line-height: 1;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 5;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding-bottom: 6px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}

.chapter__num {
  font-size: 12px;
  height: 15px;
  text-align: center;
  width: 15px;
  border-radius: 50%;

  span {
    position: relative;
    top: 1px;
  }
}

.chapter__num-passed {
  background: #09e511;
}

.chapter__name {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 52px;
}

.chapter__passed-icon {
  position: absolute;
  transform: translate(50%, -50%);
  user-select: none;
  z-index: 10;
  right: 0;
  top: 0;
}

.arrow-ch {
  position: absolute;
  width: 14px !important;
  top: 30px;
}

.arrow-ch.prev {
  left: -12px;
}

.arrow-ch.next {
  right: -12px;
}

.chapter__selected {
  .chapter__circe-shadow {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25) inset;
    transform: translateY(-50%);
    height: 100%;
    position: absolute;
    border-radius: 50% 50% 0 0;
    left: 1px;
    right: 1px;
    top: -1px;
    height: 17px;
    z-index: 20;
  }

  .chapter__body {
    background: #facf5b;
    box-shadow: none;
    padding-bottom: 7px;
  }

  .chapter__circle {
    background: #facf5b;
  }
}
