@import '../../assets/sass/config';

.donation {
  .page__title {
    margin-bottom: 8px;
  }

  .page__head__description {
    margin-top: 20px;

    p {
      font-size: 1.6rem;
      max-width: 960px;
    }
  }

  @include mq('phone') {
    .page__head__description {
      margin-top: 0;
    }
  }

  .page__head .page__title {
    font-size: 3rem;
  }

  .donation__header {
    @include mq('tablet') {
      background-color: $cWhite;
      padding-bottom: 26px;
    }
  }

  @include mq(1024px, min) {
    @include mq(1024px) {
      .wrapper_two-col {
        flex-direction: row;
      }
    }
  }
}

.donation__body {
  border-top: 1px solid $baseGrayLight;
  margin-top: 40px;

  @include mq('tablet') {
    margin-top: 0;

    .wrapper_two-col {
      padding: 5px 10px 24px 10px;
    }
  }
}

.donation__content {
  flex: 1 1 0;
  justify-content: space-between;
  display: flex;
  flex-direction: column;

  h2 {
    line-height: 1.1;
    margin-bottom: 24px;
  }

  @include mq('tablet') {
    flex: initial;

    h2 {
      margin-bottom: 16px;
    }
  }

  @include mq('phone') {
    .donation__content_sberbankInfo {
      margin: 0 auto;
    }
  }

  @include mq('phone', min) {
    @include mq('tablet') {
      .donation__content_sberbankInfo {
        margin: 0 auto;
        width: 80%;
      }
    }
  }
}

.donation__content_sberbankInfo {
  p {
    font-size: 1.6rem;
    line-height: 26px;
  }

  @include mq('tablet') {
    h2 {
      font-weight: 300;
      font-size: 22px;
    }
  }
}

.donation__content_otherPayMethod {
  margin-top: 80px;
}

.donation__content_otherPayMethod-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & > div {
    margin-right: 42px;

    p:last-child {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
}

.donation_form {
  max-width: 377px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;

  .btn {
    margin: 16px auto;
  }

  @include mq('phone', min) {
    @include mq('tablet') {
      max-width: 80%;
    }
  }
}

.donation_form_note {
  font-size: 1.2rem;
  text-align: center;

  @include mq('tablet') {
    width: 90%;
    margin-bottom: 24px;
  }
}
