@import '../../assets/sass/config';

.contacts {
  .page__head__description {
    margin-top: 20px;

    p {
      font-size: 1.6rem;
    }
  }

  .page__head .page__title {
    font-size: 3rem;
  }
}

.contacts__leftSide {
  margin: 0 auto;
  padding: 0 20px;
  flex: 1 1 0;
  max-width: 450px;
  min-width: 300px;

  .preloader {
    background-color: transparentize($cWhite, 0.4);
  }

  @include mq('phone', min) {
    @include mq('tablet') {
      width: 100%;
    }
  }

  @include mq('phone') {
    width: 80%;
  }
}

.contacts__form {
  display: flex;
  flex-direction: column;

  .btn {
    margin: 16px auto;
  }
}

.contact__successfull_popup {
  padding: 40px 20px;

  p {
    text-align: center;
    font-size: 1.8rem;
    margin: 0;
  }
}

@include mq(1024px, min) {
  @include mq(1024px) {
    .contacts {
      .contacts__leftSide {
        width: 100%;
      }
    }
  }
}
