@import '~assets/sass/config.scss';

.media-filter {
  display: flex;
  margin-bottom: 31px;
  border-radius: 8px;
  position: relative;
  z-index: 7;
  background: $baseGrayBody;

  @include mq('tablet') {
    top: 0;
  }

  @include mq('phone') {
    flex-wrap: wrap;
    z-index: inherit;

    &::before {
      content: '';
      width: 100%;
      height: 1px;
      background: $mediaBorder;
      position: absolute;
      top: 33px;
      z-index: 3;
    }
  }
}

.media-filter-container {
  position: initial;
  height: 54px;

  @include mq(1024px) {
    height: 48px;
  }

  @include mq('phone') {
    width: calc(100% / 3 - 0.8px);
    height: 33px;
  }
}

// book
.media-filter-book {
  border-radius: 8px 0 0 8px;

  @include mq('phone') {
    border-radius: 8px 0 0 0;
    margin-bottom: 1px;
  }
}

.media-filter-book-container {
  max-width: 240px;

  @include mq('tablet-wide') {
    max-width: 100%;
  }
}

.media-book-content-new {
  flex: 1 0 10%;
  border-right: 1px solid #d7d7d7;

  @include mq('phone') {
    flex: 1 0;
  }
}

.media-book-content-old {
  flex: 2 0;
}

.media-filter-book-popup {
  left: 0;

  @include mq('phone') {
    &.active {
      top: 35%;
      z-index: 11;
    }
  }
}

// author, translate
.media-filter-translates,
.media-filter-author {
  @include mq('phone') {
    z-index: 2;
  }
}

.media-filter-translates-container,
.media-filter-author-container {
  max-width: 260px;
  margin-left: 1px;

  @include mq(1024px) {
    max-width: 135px;
  }

  @include mq('phone') {
    max-width: 100%;
  }
}

.media-filter-author-popup-item {
  @include mq('tablet') {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }

  @include mq('phone') {
    padding: 20px 0 0;
  }
}

.media-filter-other-popup {
  padding: 30px 0 20px;

  @include mq('phone') {
    padding-bottom: 0;
  }
}

.media-filter-translates-popup {
  width: 50%;
}

.media-filter-translates-popup,
.media-filter-author-popup {
  @include mq('phone') {
    top: 80%;
    z-index: 1;
    left: 0;
  }
}

.media-filter-translates-popup {
  .media-filter-translates-popup-item {
    @include mq('tablet') {
      grid-template-columns: repeat(auto-fill, minmax(130px, auto));
    }
  }
}

// verse
.media-filter-verse {
  @include mq('phone') {
    border-radius: 0 8px 0 0;
  }
}

.media-filter-verse-container {
  max-width: 127px;
  margin-left: 1px;

  @include mq(1024px) {
    max-width: 120px;
  }

  @include mq('tablet') {
    max-width: 135px;
  }

  @include mq('phone') {
    max-width: 100%;
  }
}

// chapter
.media-filter-chapter {
  @include mq('phone') {
    margin-bottom: 1px;
  }
}

.media-filter-chapter-container {
  max-width: 131px;
  margin-left: 1px;

  @include mq(1024px) {
    max-width: 134px;
  }

  @include mq('tablet') {
    max-width: 120px;
  }

  @include mq('phone') {
    max-width: 100%;
  }
}

.media-filter-chapter-popup {
  @include mq('phone') {
    z-index: 11;
  }
}

// common

.media-filter-chapter-popup,
.media-filter-verse-popup {
  left: 0;

  @include mq('phone') {
    &.active {
      top: 40%;
      left: 0;
    }
  }
}

.media-filter-verse-popup-item,
.media-filter-chapter-popup-item {
  grid-template-columns: repeat(auto-fit, 48px);
  justify-content: space-around;

  .media-default-item {
    height: 48px;
  }
}

.media-filter-book-container,
.media-filter-chapter-container,
.media-filter-verse-container {
  @include mq('phone') {
    .media-filter-default {
      z-index: 12;
    }

    .media-filter-default-delete {
      z-index: 13;
    }

    .media-filter-defaul-popup {
      z-index: 11;
    }
  }
}

.media-filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 54px;
  background: $grayGradient;
  border-radius: 0 8px 8px 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 1px hsla(0, 0%, 100%, 0.5);
  position: relative;
  z-index: 8;
  padding: 0 16px;
  margin-left: 1px;

  @include mq(1024px) {
    width: 107px;
    padding: 0 11px;
    height: 48px;
  }

  @include mq('phone') {
    width: calc(100% / 3 - 0.8px);
    border-radius: 0 0 8px 0;
    height: 33px;
    z-index: 2;
    margin-left: 1px;
    padding: 0 5px;

    &.full-btn {
      width: 66.5%;
    }

    .mediaBth {
      font-size: 1rem;
      padding: 5px 10px;
    }
  }

  .mediaBth {
    cursor: pointer;
    width: 100%;

    @include mq(1024px) {
      padding: 11px;
    }

    @include mq('phone') {
      padding: 6px;
      line-height: 11px;
    }
  }
}

.media-filter-author-popup-container {
  width: 100%;
}

.media-filter-author-popup-buttons {
  display: flex;
  justify-content: space-around;

  .media-default-item {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include mq('tablet-wide') {
    .media-default-item + .media-default-item {
      margin-left: 10px;
    }
  }

  &.defaultPadding {
    padding-bottom: 15px;
  }
}

.media-filter-translates-popup-container {
  display: flex;
  width: 100%;
}

.media-filter-alphabet {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .alphabet-filter__list {
    display: flex;
    justify-content: center;
  }
}
