@import '../../assets/sass/config';

.share-social {
  position: relative;
  transition: 0.68s ease;
  display: flex;
  flex-direction: column;
  align-items: center;

  .share-social-icon {
    transition: 0.68s ease;
    background-color: $cWhite;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }

  @include mq('tablet-wide', min) {
    &:hover {
      .share-social-icon {
        background-color: $baseOrange;
      }
    }
  }

  &.isActive {
    .icon_shares {
      color: $baseGray;
    }

    .share-social-icon {
      transition: 0.68s ease;
      background-color: $baseOrange;
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
    }
  }
}

.share-list {
  display: flex !important;
  flex-wrap: nowrap;
  width: auto;
  padding: 18px 15px;
  background-color: $cWhite;
  border: 1px solid $baseOrange;
  border-radius: 8px;

  @include mq('phone', max) {
    padding: 12px 6px;
  }

  .share-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;

    .icon {
      font-size: 1.4rem;
    }
  }

  .share-content-item {
    display: flex;
    margin-bottom: 0;
    cursor: pointer;
  }

  .share-content-item + .share-content-item {
    margin-left: 10px;
  }

  .telegram {
    fill: $cBlack;
  }
}

.icon_shares {
  transition: color 0.68s ease;
  width: 28px;
  height: 28px;
  display: flex;
  position: relative;
  cursor: pointer;
  color: $baseDefault;
  font-size: 1.4rem;
}

.shares-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5000;
  visibility: hidden;

  &.isOpen {
    visibility: visible;
  }
}

.shares-box {
  position: absolute;
  z-index: 5000;
}
