@import '../../assets/sass/config';

@mixin menuBorder {
  border: 1px solid $baseOrange;
  border-right: none;
  margin: -1px 0 -1px -1px;
}

.testament__nav {
  position: relative;
  z-index: 2;

  .preloader {
    height: 500px;
  }

  @include mq('tablet-wide', max) {
    .tab {
      padding: 0 10px;
    }
  }
}

.testament__nav_w100p {
  width: 100%;
}

.list > div {
  position: relative;
}

.testament__book {
  .list__item-link {
    &.active,
    &:hover {
      box-shadow: none;
      background: initial;
    }

    &.active {
      @include LatoBold;

      box-shadow: inset 4px 0 0 -1px $baseOrange;
      margin-left: -1px;
      border-left: none;

      &:hover {
        border-left: none;
      }

      @include mq('tablet', max) {
        margin-left: 0;
      }
    }

    &:hover {
      @include menuBorder();
    }
  }

  &.active {
    .testament__book-chapters {
      opacity: 1;
      visibility: visible;
    }
  }
}

.testament__book-chapters {
  background-color: $cWhite;
  position: absolute;
  top: -1px;
  left: calc(100% + 1px);
  padding: 16px;
  border: 1px solid #f9d063;
  border-left: none;
  border-radius: 0 10px 10px 10px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  display: grid;
  grid-gap: 8px;
}

.testament__book-chapter,
.btn.testament__book-chapter {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
}

.testament__book-select {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #eabe4a;
  background-color: $cWhite;
  margin-bottom: 24px;

  @include LatoSemiBold;

  font-size: 16px;

  @include mq('tablet') {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 15px;
  }
}

.testament__book-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  margin: 0 -11px;
}

.testament__back {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-bottom: 1px solid #e8e8e8;

  @include mq('tablet') {
    border-bottom: transparent;
  }
}

// TODO закоментил ведутся работы

// .testament__book_scroll {
//   overflow: scroll;
//   height: calc(100vh - 117px);
// }

.page {
  .testament__book-wrapper {
    .tabs__head_justify {
      border-left: transparent;
      border-right: transparent;
    }
  }
}
