@import '~assets/sass/config.scss';

.media-filter-sort {
  z-index: 10;
  box-shadow: none;

  @include mq('phone') {
    border-radius: 0 0 0 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 1px #ffffff80;
  }
}

.media-filter-container.media-filter-sort-container {
  height: 40px;
  max-width: 385px;
  margin-left: 20px;
  border: 1px solid #bebebe;
  border-radius: 2px;
  box-shadow: none;
  position: relative;

  @include mq('tablet-wide') {
    max-width: 300px;
  }

  @include mq('tablet') {
    position: relative;
    max-width: 270px;
    margin-left: 10px;
  }

  @include mq('phone') {
    border: none;
    margin-left: 0;
    z-index: 2;
    max-width: 100%;
    height: 33px;
    position: initial;
  }

  .media_filter_sort_popup_item {
    grid-template-columns: repeat(auto-fill, 100%);
  }

  .media-filter-sort-popup {
    z-index: 1;
    width: 100%;
    right: 0;

    @include mq('tablet') {
      z-index: 1;
      padding: 5px;
    }

    @include mq('phone') {
      top: 80%;
      left: 0;
      width: 80%;
    }
  }
}
