@import '~assets/sass/config';

.media-detail-multi-link {
  display: flex;
  border-bottom: 1px solid $baseGrayLight;
  padding-right: 30px;
  padding-left: 30px;

  @include mq('phone', max) {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
  }
}

.media-detail-multi-link-item {
  display: flex;
  flex-direction: column;
  margin-right: 100px;

  @include mq('phone', max) {
    margin-right: 0;
  }

  p:first-child {
    @include LatoBold;

    font-size: 1.1rem;
    line-height: 13px;
    color: $baseDefault;
    text-align: right;
    height: 13px;

    @include mq('phone', max) {
      font-size: 0.8rem;
    }
  }
}

.media-detail-multi-link-item {
  &.active {
    & .media-detail-multi-link-item-content {
      border-bottom: 2px solid $baseOrange;

      .media-detail__download-count {
        color: $baseDefault;
      }

      .media-detail__download-title {
        color: $baseGray;
      }

      & svg.svg-inline {
        path {
          fill: $baseOrange;
        }
      }
    }
  }
}

.media-detail-multi-link-item-content {
  display: flex;
  padding-bottom: 23px;
  flex-direction: column;

  @include mq('phone', max) {
    padding-bottom: 10px;
  }

  & svg.svg-inline {
    width: 15px;
    height: 15px;

    & path {
      fill: $baseDefault;
    }
  }
}

.media-detail__content {
  @include LatoBold;

  font-size: 2rem;
  line-height: 20px;
  margin-left: 10px;
  color: $baseDefault;

  @include mq('phone', max) {
    font-size: 1.2rem;
    line-height: 14px;
  }
}

.media-detail__download-count {
  margin: 0;
}

@include mq('phone', max) {
  .media-detail__download-count {
    white-space: nowrap;
    max-width: 74px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .media-detail__download-count-adaptive {
    max-width: 78px;
    margin-left: 6px;
  }

  .media-detail__download-max-count-adaptive {
    max-width: 82px;
    margin-left: 2px;
  }
}

.media-detail-title-container {
  display: flex;
}
