@import '../../assets/sass/config';

.header-auth__link {
  display: flex;
}

.header .header__middle .header__profile-img {
  height: auto;
}

.onlyDesktop {
  @include mq('phone') {
    display: none;
  }
}
