@import '../../assets/sass/config';

.form__fieldset {
  margin-bottom: 13px;

  @include mq('phone') {
    margin-bottom: 20px;
  }
}

.form__submit {
  @include mq('phone') {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_align-center {
    text-align: center;
  }
}

.form__notice {
  text-align: center;
  margin-bottom: 20px;

  &_success {
    color: green;
  }

  &_error {
    color: $cError;
  }
}

.form__decriptor {
  text-align: center;
  margin-bottom: 35px;

  @include mq('phone') {
    text-align: left;
    min-height: 110px;
    margin: 0;
  }
}
