@import '../../../assets/sass/config';

.reg-success__content {
  text-align: center;

  p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  a {
    @include LatoBold;

    font-size: 1.6rem;
    padding-bottom: 1px;
    border-bottom: 1px solid $baseOrange;
  }
}
