@import '~assets/sass/config';

// только когда менюха с медиатекой раскрыта
.side_right.extend .NavPanel {
  @include mq('phone', min) {
    .bible-media-nav-child {
      display: flex;
      width: 100%;
      flex-wrap: nowrap;
      flex-direction: row;
      padding-left: 0;
      padding: 0 10px;
      margin: 0;
      border-bottom: 1px solid $baseGrayLight;
    }

    .navigation__item {
      padding: 20px 5px;
    }
  }
}
