@import '~assets/sass/config';

.media-multi-ready-controls {
  display: flex;

  @include mq('phone', max) {
    justify-content: space-between;
  }

  .media-controls-item + .media-controls-item {
    margin-left: 10px;

    @include mq('phone') {
      margin-left: 0;
    }
  }
}

.media-controls-item {
  display: flex;
  align-items: center;
  line-height: 17px;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid $baseOrange;

  @include mq('phone', max) {
    padding: 5px 8px;
    white-space: nowrap;
  }
}
