@import '~assets/sass/config.scss';

.media-filter-default {
  @include Lato;

  display: flex;
  align-items: center;
  color: $baseGray;
  font-size: 1.4rem;
  line-height: 15px;
  font-weight: 900;
  white-space: nowrap;
  background: $grayGradient;
  width: 100%;
  height: 100%;
  text-align: left;
  padding-left: 8px;
  position: relative;
  z-index: 3;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 1px #ffffff80;
  transition: opacity 0.3s ease;
  opacity: 1;

  @include mq('tablet', min) {
    &:hover {
      cursor: pointer;
      background: $orangeGradient;
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);

      & .media-filter-default-title {
        border-bottom-color: $orangeGradient;
      }
    }
  }

  @include mq('tablet') {
    font-size: 1.3rem;
  }

  @include mq('phone') {
    z-index: 9;
    font-size: 1rem;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    right: 8px;
    width: 13px;
    height: 10px;
    top: 50%;
    background-image: url('../../../../assets/images/icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(0, -50%);
    transition: transform 0.3s ease-out;

    @include mq('phone') {
      width: 8px;
      height: 4px;
      background-size: contain;
      top: 50%;
      background-position: none;
      transform: translate(0, -50%);
    }
  }

  &.activeButton {
    &::before {
      top: 50%;
      transform: translate(0, -50%) rotate(180deg);
    }
  }

  &.activeButton {
    cursor: pointer;
    background: $orangeGradient;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);

    & .media-filter-default-title {
      border-bottom-color: $orangeGradient;
    }
  }

  &:hover {
    opacity: 0.8;
  }
}

.media-filter-default-title {
  display: inline-block;
  border-bottom: 1px solid $baseOrange;
  position: relative;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 80%;

  &.isMediaValue {
    max-width: calc(100% - 40px);

    @include mq('phone') {
      max-width: calc(100% - 30px);
    }
  }
}

.popup-disabled-on {
  pointer-events: none;

  & .media-filter-default-title {
    opacity: 0.5;
  }
}
