@import '../../../assets/sass/config.scss';

.rp__head-table-main {
  padding-top: 7px;
  padding-bottom: 9px;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  color: #929292;

  @include mq('tablet-wide') {
    font-size: 18px;
  }

  @include mq('phone') {
    text-align: left;
    font-size: 16px;
    padding-left: 9px;
    padding-right: 14px;
  }
}

.rp__head-sort {
  display: flex;
  gap: 8px;
  font-size: 14px;
  align-items: center;
  font-weight: 600;
  color: black;

  span {
    max-width: 100px;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 768px) {
      max-width: 100%;
    }

    @media (max-width: 480px) {
      max-width: 80px;
    }
  }
}

.rp__pop-btn {
  position: absolute;
  right: 16px;
  top: 16px;
}

.rp__users-row:nth-child(2n) {
  background: #f6f6f6;
}

.rp__share-block-users {
  margin-bottom: 20px;
}

.rp__table-users {
  width: 100%;
  border-spacing: 0;
  text-align: center;
  font-size: 18px;

  @include mq('phone') {
    font-size: 14px;
  }
}

.scroll_container {
  max-height: 205px;
  overflow: auto;

  @include ScrollbarCustom;
}

.rp__users-row {
  position: relative;
  display: grid;
  grid-template-columns: 168px 168px 168px 168px 168px 168px 140px;

  & div {
    align-self: center;
  }

  @media (max-width: 1200px) {
    gap: 20px;
    grid-template-columns: repeat(7, 140px);
  }

  @media (max-width: 1150px) {
    gap: 10px;
  }

  @media (max-width: 1100px) {
    gap: 3px;
  }

  @media (max-width: 1150px) {
    gap: 0;
  }

  @media (max-width: 1024px) {
    gap: 10px;
    grid-template-columns: repeat(7, 120px);
  }

  @media (max-width: 950px) {
    gap: 4px;
  }

  @media (max-width: 910px) {
    gap: 10px;
    grid-template-columns: repeat(7, 100px);
  }

  @media (max-width: 814px) {
    gap: 0;
    grid-template-columns: 110px 103px 90px 90px 90px 110px 90px;
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 0;
  }
}

.mentor {
  font-weight: 700;
}

.rp__name,
.rp__email {
  text-align: left;
  white-space: nowrap;
  padding-left: 23px;

  @include mq('tablet-wide') {
    padding-left: 0;
  }
}

.rp__name {
  @include mq('tablet-wide') {
    padding-left: 17px;
  }
}

.rp__email {
  @include mq('tablet-wide') {
    padding-left: 13px;
    max-width: 139px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }

  @include mq('phone') {
    max-width: 99px;
  }
}

.rp__name-head,
.rp__email-head {
  text-align: left;
  padding-left: 40px;

  @include mq('tablet-wide') {
    padding-left: 30px;
  }
}

.rp__head-table {
  background: #628fc2;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 3px;
  line-height: 100%;
  padding-top: 10px;
  font-weight: 600;

  @include mq('tablet-wide') {
    font-weight: 400;
  }
}

.rp__past-head {
  @include mq('phone') {
    padding-right: 28px;
  }
}

.rp__open-arrow {
  position: absolute;
  top: 10px;
  right: 18px;
  transition: all 0.3s;
}

.rp__open-arrow--active {
  rotate: 180deg;
}

.rp__past {
  @media (max-width: 767px) {
    padding-right: 26px;
  }
}

.rp__users-row--active {
  @media (max-width: 767px) {
    background: #fad162 !important;
    box-shadow: 0 3.33913px 3.33913px 0 rgba(0, 0, 0, 0.25) inset !important;
  }
}

.rp__dl-wrapper {
  dl {
    display: flex;
    gap: 25px;
  }
}

.accordion-content {
  padding: 6px 11px 23px 14px;
}

.wrapper-content {
  text-align: left;
  font-weight: 700;
  display: grid;
  gap: 0 18px;
  grid-template-columns: 1fr auto;

  dl {
    display: flex;
    justify-content: space-between;
    gap: 17px;
  }
}

.rp__remove-user--wrapper {
  cursor: pointer;

  @media (max-width: 767px) {
    display: flex;
    margin-left: auto;
    margin-bottom: 15px;
    font-weight: 700;
    gap: 7px;
    color: #4dcd10;
    align-items: center;
    justify-content: right;
  }
}

.popover__inner {
  padding: 16px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background: #fff;
  width: 240px;
  display: grid;
  gap: 10px;

  button {
    text: 15px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}
