@import '../../assets/sass/config';

.dictonaries__wrapper {
  @include mq('tablet') {
    .dictonaries {
      border: transparent;
    }

    .dictonaries__side {
      background-color: $baseGrayBody;
    }

    .pagination {
      margin-top: 40px;
      margin-bottom: 10px;
    }
  }

  @include mq('tablet', min) {
    @include mq(1024px) {
      flex-direction: row;
    }
  }

  @include mq('phone') {
    & .dictonaries {
      margin-bottom: 16px;
    }
  }

  .dictonaires-link {
    border: transparent;
    background-color: transparent;
    outline: transparent;
    text-align: left;
    font-size: 1.4rem;
  }
}

.dictonaries {
  position: relative;

  .dictonaries__side {
    width: 100%;

    @include mq(769px, max) {
      width: 100%;
    }
  }

  @include mq('phone', min) {
    @include mq('tablet') {
      margin-bottom: 16px;
    }
  }
}

.dictonaries__list-wrapper {
  display: flex;

  @include mq('tablet', min) {
    flex-direction: column;
  }

  @include mq('phone', min) {
    @include mq('tablet') {
      overflow: scroll;
    }
  }
}

.dictonaries_content {
  & .alphabet-filter__item {
    @include LatoBold;

    width: 27px;
    height: 27px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.3rem;
    line-height: 30px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
    border: transparent;
    outline: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mq('tablet', min) {
      margin: 0 1px;
    }
  }
}

.dictonaries-page {
  .collection__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    background-color: $cWhite;
    min-height: 6px;
    position: relative;
    padding: 0;
    margin-bottom: 30px;

    @include mq(1024px) {
      padding: 0;
    }

    @include mq('tablet', max) {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    @include mq('phone', max) {
      padding: 22px;
    }

    @include mq('phone') {
      padding: 0;
      flex-flow: column;
    }

    .collection__list-item {
      width: 100%;
      margin-bottom: 0;
    }
  }

  .dictionary__scrollbar-wrapper {
    .list__item-link {
      padding: 10px 20px;
    }

    .active {
      .list__item-link {
        padding-left: 16px;
      }
    }
  }

  .select-adaptive {
    width: 100%;
  }

  .dictionary {
    position: relative;
    min-height: 500px;
    display: flex;
    flex-direction: row;

    @include mq(1024px) {
      border: 1px solid $baseGrayLight;
    }

    @include mq('tablet', max) {
      border: 1px solid $baseGrayLight;
      display: flex;
      flex-direction: column;
      min-height: 200px;
    }

    .side__interpretators-head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
    }

    .side_right {
      height: 460px;
    }
  }
}

@include mq('tablet') {
  .dictonaries-page {
    padding-top: 0;

    .page__body {
      padding-top: 0;
    }

    .pagination {
      justify-content: space-around;
    }

    .dictionaries-title {
      flex-direction: column;
      align-items: baseline;

      .page-desc-link {
        margin-top: 4px;
      }
    }
  }
}

.dictonaries__list-wrapper {
  .dictonaires-link {
    border-left: 3px solid transparent;
  }
}

.dictionary__container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: 100%;
  background: #fff;

  @include mq('phone', max) {
    padding: 20px;
  }
}

.dictionary__title {
  @include LatoBold();

  font-size: 2.2rem;
  max-width: 65%;

  @include mq('phone', max) {
    max-width: 100%;
  }
}

.dictionary__content {
  text-align: justify;
}

.dictionary__error {
  text-align: center;
  padding-top: 80px;

  @include Lato();

  font-size: 2.2rem;
}

.dictionary__search {
  border: 1px solid $baseGrayLight;
  background-color: $cWhite;
  padding: 11px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq('phone', max) {
    margin-left: 0;
    width: 100%;
  }

  @include mq('tablet') {
    margin-bottom: 16px;
  }

  @include mq('phone') {
    margin-bottom: 24px;
  }
}

.dictionary__search-input {
  @include Lato;

  font-size: 1.4rem;
  width: 90%;
}

.dictionary__search-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

.dictionary__scrollbar-wrapper {
  height: 391px;
}

.collection__list-link {
  font-size: 1.3rem;
  line-height: 2rem;

  @include Lato;
}

.dictionary__word {
  @include LatoBlack;

  font-size: 2rem;
}

.dictionary__link {
  @include Lato;

  border-bottom: 1px solid $baseOrangeLight;
  transition: 0.3s ease;
  cursor: pointer;

  &:hover {
    color: $baseOrangeLight;
  }
}

.dictionary__link-back {
  font-size: 1.2rem;

  &:hover {
    cursor: pointer;
  }
}

.dictionary__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid $baseGrayLight;

  @include mq('tablet', max) {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
  }
}

.dictionary__link-translate {
  font-size: 1.5rem;
  font-weight: 500;
  max-height: 25px;
  white-space: nowrap;
  max-width: 35%;

  @include mq('phone', max) {
    max-width: 100%;
    margin-top: 4px;
  }
}

.dictionary__others {
  padding-bottom: 16px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $baseGrayLight;
  width: 100%;
}

.dictionary__others-title {
  @include Lato;

  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.7;
}

.dictionary__other-link {
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 2px;
}

.dictionary__variables {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid $baseGrayLight;
  width: 100%;

  .dictionary__others-title {
    padding-bottom: 4px;
  }
}

@include mq('desktop', max) {
  .dictionary__other-words {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 2px;
    cursor: pointer;

    &:hover,
    :focus {
      .dictionary__word-desc {
        color: $baseOrangeLight;
      }
    }

    @include mq('tablet') {
      margin-bottom: 0;
    }
  }

  .dictionary__word {
    padding: 6px 12px;
    border-radius: 50%;
    background-color: $baseOrangeLight;
    font-size: 1.5rem;
    font-weight: 700;

    @include Lato;
  }

  .dictionary__word-desc {
    padding-left: 20px;
  }

  .dictionary__mobile-popup {
    margin: 0 -49px;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: $cWhite;
  }

  .dictionary__back {
    padding: 10px 2px;
    border-bottom: 1px solid $baseGrayLight;
  }

  .dictionary__mobile-btn {
    padding-left: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .dictionary__scrollbar-wrapper {
    margin-top: 18px;
    height: calc(100vh - 160px);
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .dictionary__animate {
    .side__interpretators-head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0 12px;
      padding: 14px 2px;
    }

    .list__item-link {
      font-weight: 400;

      @include Lato;

      font-size: 1.6rem;
    }

    .dictionary__link-back {
      font-size: 1.4rem;
    }
  }
}

.dictionary__item.active {
  z-index: 1;
  background-color: $baseGrayBody;
  border-left: 4px solid $baseOrange;
}

.dictionary__mobile-popup {
  margin: 0;

  @include mq(1024px) {
    margin-top: 20px;
  }

  @include mq('tablet') {
    margin-top: 0;
  }
}

.dictonaries_content {
  @include mq(1024px) {
    padding: 0;
    background-color: $baseGrayBody;
  }
}

.seeAll {
  transition: 0.25s ease;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    color: $cBlack;
  }
}

.dictonaries-side {
  @include mq('tablet') {
    margin-bottom: 0;
  }
}

.dictionary_mobile {
  background: #fff;
  padding: 20px 0;
  border: 1px solid $baseGrayLight;
  border-bottom: none;
}

.dictonaries-side-select {
  width: 100%;
}

.dictionary-right {
  border-left: 1px solid $baseGrayLight;
  border-bottom: 1px solid $baseGrayLight;

  .dictionary__scrollbar-wrapper {
    overflow: hidden scroll;
  }
}

.dictionary-list {
  padding: 20px 20px;
  border: 1px solid $baseGrayLight;
}

.dictionary {
  background-color: $cWhite;
  border: 1px solid $baseGrayLight;
}
