@import '../../assets/sass/config';

.quiz-btn__disabled {
  opacity: 0.6;
}

.quiz-continue {
  width: 100%;
  text-align: center;

  @include mq('phone', min) {
    text-align: right;
  }
}

.quiz-preload {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;

  .preloader__icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.quiz-page {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: initial;

    @include mq('phone', min) {
      flex-direction: row;
      align-items: center;
    }
  }

  .quiz-testaments__to-quiz {
    border-radius: 35px;
    font-size: 2rem;
    padding: 20px 40px;
    line-height: 1.6rem;
    margin-bottom: 4px;
    font-weight: initial;
    transition: 0.3s ease;
    width: 100%;
    max-width: 400px;
    text-align: center;

    @include mq('phone', min) {
      width: auto;
      font-size: 2.4rem;
      padding: 20px 60px;
      line-height: 2rem;
      white-space: nowrap;
      max-width: 325px;
    }
  }

  @include mq('phone', min) {
    .wrapper {
      margin-top: -2px;
    }
  }

  @include mq('tablet', min) {
    margin-top: 0;
    padding-top: 10px;
  }
}

.quiz-page__header {
  display: flex;
  flex-direction: column;

  @include mq('phone', min) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
  }

  @include mq('tablet', min) {
    padding-top: 4px;
  }

  .quiz-btn {
    margin: 10px 0 0 0;
    font-size: 1.1rem;
    padding: 5px 8px;
    border-width: 1px;

    @include mq('phone', min) {
      margin-right: 10px;
    }

    @include mq('tablet', min) {
      padding: 8px 12px;
    }
  }
}

.container-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-right: 16px;
  cursor: pointer;
  font-size: 1.8rem;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  @include mq(350px, max) {
    font-size: 1.7rem;
  }

  @include mq('phone', max) {
    margin-right: 0;
  }
}

.container-label {
  &:hover input:not(:checked) ~ .checkmark {
    background-color: $ccc;
  }

  &:hover input:checked ~ .checkmark {
    background-color: $baseOrangeDark;
  }

  input:checked ~ .checkmark {
    background-color: $baseOrange;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  border: 1px solid #bdbdbd;
  background-color: $checkboxFavorite;
  transition: background-color 0.4s ease;
  cursor: pointer;
}

.checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

.container-label {
  input:checked ~ .checkmark::after {
    display: block;
  }

  .checkmark::after {
    left: 7px;
    top: 2px;
    width: 8px;
    height: 13px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.quiz-testaments__checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 22px;

  .container-label:last-child {
    margin-left: 30px;
  }
}

.quiz-testament__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $baseGrayQuestion;
  margin: 0 -10px;
  padding: 10px;

  @include mq('phone', min) {
    margin: 0;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.quiz-testament__btn {
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(180deg, #fff 0%, #f3f3f3 100%);
  padding: 10px 4px;
  margin: 14px 4px 0 4px;
  text-align: center;
  width: 90%;
  font-size: 1.3rem;
  background-color: $cWhite;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s ease;

  @include mq('tablet', min) {
    &:hover {
      opacity: 0.8;
      background-image: linear-gradient(to top, #ffde88 0%, #efae04 100%);
      border: 1px solid $baseOrange;
    }
  }
}

.quiz-testaments__btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.quiz-testament__item {
  width: 33%;
  display: flex;
  flex-direction: row;

  @include mq(350px, max) {
    width: 50%;
  }

  @include mq(1024px, min) {
     width: 25%;
    }
}

.quiz-testaments {
  display: flex;
  flex-direction: column;
  margin: 18px 0;
  width: 100%;

  @include mq('phone', min) {
    flex-direction: row;
    background-color: $cWhite;
    border: 1px solid $quizBorder;
  }
}

.quiz-questions__title {
  background-color: $baseGrayQuestion;

  @include Lato;

  font-size: 1.5rem;
  padding: 14px;
  margin: 0 -10px 14px -10px;
  font-weight: 600;
}

@include mq('phone', min) {
  .quiz-questions__title {
    margin: 0 0 20px 0;
    padding: 14px 20px;
    font-size: 1.8rem;
  }

   .quiz-testament__container {

     &:first-child {
       width: 40%;
       border-right: 1px solid $quizBorder;

       .quiz-testament__item {
         width: 50%;
       }

       @include mq(1024px, min) {
         width: 33%;
       }

       @include mq(1440px, min) {
         width: 45%;

         .quiz-testament__item {
           width: 33%;
         }
       }
     }

     &:last-child {
      width: 60%;

       @include mq(1024px, min) {
         width: 67%;
       }

       @include mq(1440px, min) {
         width: 55%;
       }
     }
   }

  .quiz-btn-bottom {
    display: none;
  }

  .quiz-testament__title {
    width: 100%;
    text-align: center;
    padding: 0 64px 0 0;
  }

  .quiz-testaments__btns {
    padding: 4px 8px;
  }

  .quiz-testament__head {
    padding: 18px 22px;
  }

  .container-label {
    margin-right: 0;
  }
}

.quiz-testament__title {
  @include mq('phone', min) {
    @include mq('tablet', max) {
      padding: 0 45px 0 0;
    }
  }

  @include mq('phone', max) {
    min-width: 200px;
  }
}

@include mq('tablet', min) {
  .quiz-questions__title {
    padding: 20px 40px;
  }
}

.quiz-testament__btn--active {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4);
  border: 1px solid #fff;
  background-image: linear-gradient(to top, #ffde88 0%, #efae04 100%);

  &:hover {
    opacity: 0.8;
  }
}

@include mq('phone', min) {
  .quiz-again__container {
    text-align: center;
  }
}

.quiz-testament__btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 66px;

  .quiz-testaments__to-quiz {
    margin-left: 0;
  }

  @include mq('phone', min) {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 325px) 1fr;

    .quiz-ui__link {
      margin: 0;
    }
  }
}

// Едет в ресайзе у сафари 10 ios
// Эта дичь "правит"

.quiz-testament__safari,
.quiz-testament__header-safari {
  min-height: 1vh;
}

@include mq('phone', max) {
  .quiz-testament__safari.quiz-testament__continue {
    height: 23vh;
  }

  .quiz-testament__header-safari-results {
    height: 11vh;
  }
}

.quiz-testament__with-next-link {
  @include mq('phone', min) {
    justify-content: space-between;
  }
}

.mm-popup__box__body {
  .quiz-video {
    width: 100%;
    height: 100%;
    padding-top: 40px;
  }
}

@include mq(500px, min) {
  @include mq('tablet', max) {
    .mm-popup__box--quiz-video {
      height: 90%;

      .mm-popup__box__body {
        height: 95%;
        max-height: 95%;
      }
    }
  }
}

@include mq('tablet', min) {
  .mm-popup {
    .mm-popup__box--quiz-video {
      height: 100%;
      width: 80%;
    }

    .mm-popup__box__body {
      height: 100%;
      max-height: 100%;
    }
  }
}

.quiz-questions__header {
  width: 100%;

  .quiz-title {
    display: none;
  }

  @include mq('phone', min) {
    margin: 6px 0 12px 0;
    display: grid;
    grid-template-columns: 1.15fr 0.85fr 1fr;
    position: relative;
    align-items: center;
    min-height: 44px;

    .quiz-title {
      display: flex;
      margin-top: 0;
      white-space: nowrap;
    }

    .quiz-ui__link {
      margin: 0;
    }
  }

  @include mq('tablet', min) {
    margin: -10px 0 18px 0;
  }

  .quiz-link__wrapper-to-results {
    margin-bottom: 0;
  }
}

.quiz-warning {
  text-align: center;
}

.quiz-warning__desc {
  display: block;
  padding: 4px 0;
  font-size: 1.8rem;

  @include mq('tablet', max) {
    font-size: 1.6rem;
  }
}

.quiz__not-found {
  padding: 20px;
  font-size: 2rem;
  text-align: center;

  @include LatoSemiBold;
}

.quiz-faq {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  @include mq('phone', min) {
    flex-direction: column;
    display: block;
    margin-top: 10px;
  }
}

.quiz-stats {
  text-align: center;
  display: flex;
  padding: 22px 0 2px 0;
  cursor: pointer;
  transition: none;
  margin-left: 0;
  flex-direction: row;
  align-items: center;
  position: relative;

  @include mq('phone', min) {
    flex-direction: column;
    margin-left: 50%;
    padding: 10px 0 0 0;
  }
}

.quiz-stats__icon {
  background-image: url('../../assets/images/icons/quiz-stats.svg');
  position: absolute;
  height: 80px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  top: -8px;

  &:hover,
  &:focus,
  &:active {
    top: -12px;
    background-image: url('../../assets/images/icons/quiz-stats-active.svg');
  }

  @include mq('phone', min) {
    top: -4px;
    width: 100%;

    &:hover,
    &:focus,
    &:active {
      top: -4px;
      background-image: url('../../assets/images/icons/quiz-stats-active.svg');
    }
  }
}

.quiz-stats__text {
  margin-left: 40px;
  color: $baseGrayLightText;

  @include mq('phone', min) {
    margin: 40px 0 0 0;
  }
}

.quiz-stats__link-mob {
  padding: 0;

  .quiz-stats__icon {
    right: 0;
  }
}

.quiz-page__hide-stats-link {
  display: none !important;
}

.quiz-page__header-items {
  @include mq('phone', min) {
    .breadcrumbs {
      padding: 10px 0 0 0;
      max-width: 75%;
    }

    .quiz-title {
      margin-top: 40px;
    }
  }

  @include mq('tablet', min) {
    .breadcrumbs {
      max-width: 80%;
    }
  }
}

.quiz-page {
  .quiz-btn {
    background-color: transparent;
    border: 1px solid $baseOrange;
    transition: 0.3s ease;
    margin: 20px 10px 0 10px;

    @include mq('phone', min) {
      margin: 0;
      font-size: 1.4rem;
      padding: 10px 16px;
    }

    &:hover {
      background-color: $baseOrange;
    }
  }
}

.quiz-page__header-quiz-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-bottom: -10px;

  .quiz-btn {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .quiz-title {
    width: 65%;
  }

  .quiz-page__check-title {
    margin-top: 0;
  }

  @include mq('phone', min) {
    margin: 0;
    align-items: center;
    flex-direction: row;

    .quiz-page__check-title {
      margin-top: 10px;
    }

    .quiz-title {
      display: none;
      width: auto;
    }

    .quiz-btn {
      position: initial;
      margin-top: 2px;
    }

    .breadcrumbs {
      padding-top: 8px;
    }
  }

  @include mq('tablet', min) {
    .quiz-btn {
      margin-top: 10px;
    }

    .breadcrumbs {
      padding-top: 3px;
    }
  }

  @include mq('phone', min) {
    @include mq('tablet', max) {
      margin-top: 8px;
    }
  }

  @include mq(405px, max) {
    .quiz-title {
      width: 100%;
    }

    .quiz-btn {
      position: initial;
      margin: 10px 0 0;
      font-size: 12px;
      padding: 11px;
      width: 100%;
    }
  }
}

.quiz__wrapper {
  max-width: 100%;

  .content {
    position: relative;
  }
}

.quiz__all-questions {
  text-align: right;
  font-size: 0.6rem;
  line-height: 1.9rem;
  position: absolute;
  right: 0;
  bottom: -90px;
  white-space: nowrap;

  @include Lato;

  @include mq('tablet', min) {
    font-size: 0.7rem;
  }
}

.quiz-testament__container {
  width: 100%;
}
