@import '~assets/sass/config';

.media_not_content {
  background: #fff;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 40px 30px;

  & p {
    @include LatoBold;

    font-size: 2.2rem;
    line-height: 24px;
  }
}

.btn_reset {
  margin-top: 16px;
  font-size: 1.5rem;
  line-height: 18px;
  border-bottom: 1px solid $baseOrange;
  padding-bottom: 2px;
  cursor: pointer;
  transition: 0.25s ease;

  &:hover {
    color: $baseOrange;
    border-bottom: 1px solid $cWhite;
  }
}
