@import '~assets/sass/config';
@import '../../../../components/UICreatePlan/styles';

.cp__wrapper {
  padding: 20px;
  background: $cWhite;
  padding-bottom: 157px;

  @media (max-width: 1200px) {
    background: transparent;
    padding: 0;
  }
}

.cp__block {
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  background: $cWhite;
  border-radius: 5px;
  padding: 15px 20px 20px;
}

.cp__block-input {
  max-width: 322px;

  @media (max-width: 1024px) {
    max-width: 246px;
  }

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.cp__error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
  text-align: center;
}

.cp__field-wrapper {
  display: flex;
  width: 100%;
  gap: 16px;
  align-items: start;
  justify-content: space-between;

  @media (max-width: 1024px) {
    gap: 8px;
  }

  @media (max-width: 768px) {
    justify-content: start;
    flex-direction: column;
    gap: 3px;
  }
}

.cp__buttons-btn {
  width: 251px !important;
  font-size: 2.2rem;
  padding: 13px 0 !important;

  @media (max-width: 1024px) {
    font-weight: 500;
    font-size: 20px;
  }

  @media (max-width: 768px) {
    font-size: 18px;
  }
}
