@import '~assets/sass/config.scss';

.media-detail-video-head {
  @include LatoBold;

  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  line-height: 24px;
  padding: 0 20px 25px 30px;
  border-bottom: 1px solid $baseGrayMediaLight;

  @include mq('phone', max) {
    font-size: 1.8rem;
    padding-left: 10px;
  }
}

.media-detail-video__title {
  flex-grow: 1;
}

.media-detail-video-body {
  padding: 30px 30px 0;
  display: flex;
  justify-content: space-between;

  @include mq('phone') {
    flex-direction: column;
    padding: 30px 10px;
  }
}

.media-detail-video-body-left {
  flex: 1 1 100%;

  @include mq('phone', max) {
    width: 100%;
    flex: none;
    margin-bottom: 20px;
  }

  & .book_desc_text_content {
    height: auto;
  }

  & .media-btn-info {
    margin-left: 0;
  }

  & .video-play-iframe {
    height: 223px;

    @include mq('phone', max) {
      height: 155px;
    }

    @include mq('phone', min) {
      @include mq('tablet', max) {
        height: 240px;
      }
    }

    @include mq('tablet-wide', min) {
      height: 286px;
    }
  }
}

.media-detail-video-body-left-desc {
  max-height: 140px;
  font-size: 1.3rem;
  line-height: 18px;

  @include mq('phone', max) {
  }
}

.media-detail-video-episode {
  margin-top: 10px;
}
