@import '~assets/sass/config';

.bible_right {
  margin-left: 30px;
  flex: 1 0 270px;
  position: relative;

  &.extend {
    flex: 1 100%;

    .bible-media .side__interpretators .list__item {
      max-width: 100%;
    }

    .bible-interpretators-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include mq('tablet-wide') {
    margin-left: 10px;
    flex: 1 0 246px;

    &.extend {
      flex: 1 100%;
    }
  }

  @include mq('tablet') {
    flex: 1 0 234px;
    margin-left: 10px;

    &.extend {
      margin: 0;
    }
  }

  @include mq('phone') {
    flex: none;
    width: 100%;
    margin-left: 0;
    overflow: initial;
  }

  .tab {
    @include LatoSemiBold;

    font-size: 15px;
    white-space: nowrap;

    @include mq('tablet') {
      padding-left: 0;
    }
  }

  &.collapse {
    display: none;

    + .content {
      margin-left: 0;
    }
  }
}

.bible-media__nav-item {
  width: calc((100% - 64px) / 4);
  margin: 16px 8px 0 8px;

  .btn {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
  }
}
