@import '../../assets/sass/config';

.paper__rga {
  background-color: $cWhite;
  border: 1px solid $baseGrayLight;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rga {
  width: calc(110% - 50px);
  max-width: 778px;
  padding: 35px 0 50px;
  margin: 0 10px;
}

.rga__head {
  margin-bottom: 30px;
}

.rga__title {
  @include LatoBold;

  font-size: 2.2rem;
  text-align: center;

  @include mq(phone) {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.8rem;

    span {
      opacity: 0.4;
      color: $baseGray;
      font-size: 1.4rem;
      line-height: 24px;
    }
  }
}
