@import '~assets/sass/config';

.bible-side {
  flex: 1 0 270px;

  @include mq('tablet-wide') {
    flex: 1 0 246px;
  }
}

.bible-nav {
  &.collapse {
    display: none;

    + .content {
      margin: 0;
    }
  }
}

.isOtherBlock {
  .testament__book-chapters {
    grid-template-columns:
      repeat(
        auto-fill,
        56px
      ) !important; // только когда меню раскрыто на все ширину + веб-1440px

    width: 100%;
    top: 52px;
    left: 0;
    border-radius: 0 0 10px 10px;
    border: 1px solid $baseOrange;
  }
}
