@import '~assets/sass/config.scss';

.media-video-link-img {
  display: block;
  width: 100%;
  height: 140px;
  background: $cWhiteLight;
  cursor: pointer;

  & .book-info__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include mq('tablet-wide') {
    height: 125px;
  }

  @include mq('phone') {
    width: 278px;
    height: 150px;
    margin: auto;
  }
}

.media-video__item {
  @include mq('phone') {
    width: 278px;
    height: 100%;
    margin: auto;

    .media-video-link-img {
      max-width: 320;
      height: 150px;
    }
  }

  @include mq($phoneSE, max) {
    @include mq($phoneSE, min) {
      width: 100%;

      .media-video-link-img {
        width: 100%;
        height: 140px;
      }
    }
  }
}
