@import '../../../assets/sass/config';

.quiz-questions__count {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0;
  cursor: pointer;

  @include mq('phone', min) {
    margin: 20px 20px;
  }

  @include mq('tablet', min) {
    margin: 20px 40px;
  }
}

.quiz-questions__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 4px solid $baseGrayQuestion;
  margin: 9px 9px 0 0;
  cursor: default;
}

.quiz-questions__desc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  @include Lato;

  font-size: 1.6rem;
  font-weight: 700;
  color: $baseDefault;
}

.quiz-question__current {
  background-color: $baseGrayQuestion;
}

.quiz-questions__points {
  color: $baseGrayLight;
}

.quiz-question__failed {
  border: 4px solid rgba(216, 58, 58, 0.4);
}

.quiz-question__completed {
  border: 4px solid rgba(46, 159, 68, 0.4);
}

.quiz-question__failed.interactive, .quiz-question__completed.interactive {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.2s box-shadow;

  &:hover {
    box-shadow: none;
  }
}
