@import '~assets/sass/config';

.media-ready-online-container {
  margin: 20px 0;

  li + li {
    margin-top: 5px;
  }
}

.media-ready-online-nav {
  @include mq('phone') {
    padding-right: 5px;
  }
}

.media-ready-online-nav-item {
  @include LatoBold();

  font-size: 1.6rem;
  cursor: pointer;
  color: $baseGrayLightText;
  transition: color 0.65s ease;
  text-align: left;
  width: 100%;

  &.active {
    color: $baseGray;
  }

  @include mq('phone') {
    word-break: break-word;
  }
}

.media-ready-online-content {
  margin-top: 15px;
  font-size: 1.4rem;
  opacity: 0;
  display: none;

  &.active {
    display: block;
    opacity: 1;
  }
}
