@import '../../../assets/sass/config';

.mm-popup__box.mm-popup__box--addInterpretation_popup {
  width: 90%;
  height: 90%;

  .mm-popup__box__body {
    padding: 0;
    height: 100%;
    max-height: 100%;

    @include mq('phone', max) {
      padding: 12px;
    }
  }
}

.addInterpretation {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.addInterpretation__header {
  display: flex;
  justify-content: space-between;
  padding: 24px 32px;
  border-bottom: 0.5px solid $baseGrayLight;

  @include mq('phone') {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }
}

.addInterpretation__description {
  @include LatoBold;

  font-size: 2rem;
}

.addInterpretation__subheader {
  display: flex;
  justify-content: space-between;
  margin: 14px 32px;

  @include mq('phone') {
    flex-direction: column;
    margin: 10px 0 8px 0;
  }
}

.addInterpretation__select {
  margin: 0 32px 16px 32px;
  display: flex;
  justify-content: space-between;

  @include mq('phone') {
    display: block;
  }

  @include mq('tablet', max) {
    margin-left: 0;
  }

  .add-interp__control {
    width: 210px;
    border: none;
    border-bottom: 1px solid $baseOrange;
    background-color: transparent;

    @include mq('phone') {
      width: 100%;
    }

    .add-interp__placeholder {
      @include LatoBold;

      color: $baseGray;
      font-size: 14px;
    }
  }

  .add-interp__menu {
    z-index: 20;
    max-width: 210px;
  }
}

.addInterpretation__stickers {
  display: flex;
  flex-wrap: wrap;
  margin: 14px 32px;

  @include mq('phone') {
    margin: 0;
  }
}

.addInterpretation__sticker {
  margin: 6px;
  background-color: $baseOrange;
  padding: 8px;
  border-radius: 16px;
  cursor: pointer;
}

.addInterpretation__actions {
  display: flex;

  @include mq('phone') {
    display: block;
  }
}

.addInterpretation__textarea {
  margin: 0 32px 32px;
  font-size: 1.2rem;
  font-weight: 400;
  flex: 1;
  position: relative;

  @include mq('phone') {
    height: 310px;
    margin: 0;
    flex: 1;
  }

  & > div {
    height: 100%;

    @include Lato;
  }

  .DraftEditor-root {
    height: 100%;
  }

  .RichTextEditor__editor___1QqIU {
    overflow: auto;
    max-height: 250px;

    @include mq('phone') {
      height: calc(100% - 110px);
    }
  }

  .RichTextEditor__editor___1QqIU .RichTextEditor__paragraph___3NTf9,
  .RichTextEditor__editor___1QqIU pre {
    margin: 0;
  }

  .ButtonWrap__root___1EO_R {
    z-index: 4;
  }

  @media (min-width: 320px) and (max-width: 374px) {
    .RichTextEditor__editor___1QqIU {
      height: calc(100% - 90px);
      overflow-y: auto;
    }
  }
}

.addInterpretation__rules-link {
  @include LatoBold;

  border-bottom: 1px solid $baseOrange;
  margin-top: 12px;
}

.addInterpretation__add {
  @include LatoBold;

  font-size: 1.4rem;
  padding: 10px 28px;
}

.addInterpretation__error {
  display: flex;
  align-self: center;
  color: $cError;
}

@media (min-width: 767px) and (max-width: 1023px) {
  .addInterpretation__select {
    margin-left: 32px;
  }
}

.contact__successfull_popup {
  height: 180px;
  overflow-y: hidden;

  @include Lato;

  font-size: 2.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;

  p {
    text-align: center;
  }

  @include mq('phone', max) {
    font-size: 2.1rem;
  }
}

.contact__successfull_popup-interpretation {
  @include LatoBold;

  font-size: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @include mq('phone', max) {
    text-align: center;
  }
}

.addInterpretation__extra-buttons {
  display: inline-block;
  position: absolute;
  margin-top: 11px;
  padding: 3px 8px;
  height: 30px;
  width: 140px;
  line-height: 22px;
  background-color: $cWhite;
  border: 1px solid #999;
  border-radius: 2px;
  color: $cBlack;
  text-decoration: none;
  cursor: pointer;

  &.source {
    @include mq('tablet', min) {
      margin-left: 240px;
    }

    @include mq('phone', max) {
      margin-left: 105px;
    }

    @media (min-width: 767px) and (max-width: 1023px) {
      margin-left: 240px;
    }
  }

  &.note {
    @media (min-width: 767px) and (max-width: 1023px) {
      margin-left: 400px;
    }

    @include mq('tablet', min) {
      margin-left: 400px;
    }

    @include mq('phone', max) {
      margin-top: 73px;
      margin-left: 105px;
    }
  }
}

.ButtonGroup__root___3lEAn {
  @include mq('phone', max) {
    margin: 0;
  }
}

.EditorToolbar__root___3_Aqz {
  @include mq('phone', max) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
