@mixin Lato {
  font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin LatoSemiBold {
  font-family: 'Lato Semibold', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin LatoBold {
  font-family: 'Lato Bold', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin LatoItalic {
  font-family: 'Lato Italic', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin LatoBlack {
  font-family: 'Lato Black', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin CsyaOld {
  font-family: 'Irmologion ieUcs', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin Greek {
  font-family: 'Greek', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin ScrollbarCustom {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border: 0 solid #d9d9d9;
  }
}

$phoneSE: 568px;

$breakpoints: (
  'phone': 767px,
  'tablet': 1024px,
  'tablet-wide': 1200px,
  'desktop': 1440px,
);

@mixin mq($width, $type: max) {
  @if $type== 'fixed' {
    @media only screen and (width: $width) {
      @content;
    }
  }

  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type==max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }

  @else {
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@function adaptPx($from, $to, $fromBase, $toBase) {
  @return calc(
    (#{$to} * 1px) + (#{$from} - #{$to}) *
    ((100vw - #{$toBase} * 1px) / (#{$fromBase} - #{$toBase}))
  );
}

@mixin SVGFont() {
  font-family: 'SVGFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* COLORS MAP */

$cWhite: #fff;
$cBlack: #000;
$cError: #ff1744;
$cWhiteLight: #e1e1e1;
$cWhiteDisabled: #f5f5f5;
$baseWhiteHome: #fafafa;
$baseOrange: #f9d063;
$baseOrange_hover: #daae5c;
$baseOrange_sticker: #ffd400;
$baseOrangeDark: #ffbb08;
$baseOrangeSocial: #ee8208;
$baseOrangeLight: #f9d063;
$brightYellowLight: #ffd103;
$baseOrange2: #f90;
$baseGray: #2f2f2f;
$baseGrayLightSelect: #f4f4f4;
$baseDefault: #9e9e9e;
$baseDefaultGray: #9c9c9c;
$baseGrayBody: #f9f8f6;
$baseGrayMap: #d6d6d6;
$baseGrayLight: #ebebeb;
$baseGraySelect: #bebebe;
$baseGrayLight_hover: #b4b4b4;
$baseGrayMedia: #ededed;
$baseGrayQuestion: #eee;
$baseGrayMediaLight: #dedede;
$baseGrayForm: #bebebe;
$baseGrayFromLabel: #555;
$baseGrayAdaptive: #f9f9f9;
$baseGrayHoverMedia: #777;
$baseGrayMediaSpan: #b6b6b6;
$baseGrayLightText: #7f7f7f;
$baseRed: #ff2121;
$baseGrayDark: #999;
$baseGrayDark2: #807f7f;
$ccc: #ccc;
$baseGreen: #a5d6a7;
$baseGreen_hover: #9bc99d;
$baseGreenLight: #00ae6e;
$baseGreenLk: #00ab1b;
$brightGreen: #09e511;
$baseLilac: #ccd3ff;
$baseLilac_hover: #c4caf5;
$input_border: #bdbdbd;
$newsDateColor: #979797;
$checkboxFavorite: #fbfbfb;
$addFavorite__border_input: #d1d1d1;
$latestBibleUrl: #fff497;
$menuInputHover: #f9f8f6;
$baseGrayBibleGroup: #b9b9b9;
$textLabel: #555;
$quizBorder: #d7d7d7;
$mediaBorder: #c4c4c4;
$darkGreen: #243837;
$grayWhite: #e8e8e8;
$grayLight: #797979;
$grayMiddle: #888;
$greenFooter: #243737;
$greenFooterBottom: #182625;
$whiteGray: #f0f0f0;
$quizRed: #d83a3a;
$quizRose: #ffd8d8;
$quizGreen: #219638;
$quizGreenLight: #cbf3d3;
$popupRed: #c5545c;
$popupGreen: #27ae60;
$popupBrown: #333;
$popupGray: #808080;
$popupGrayLight: #b0b0b0;
$lectionBlue: #4fc4f6;
$darkBlue: #5184bf;

$orangeGradient: linear-gradient(360deg, #ffde88 0.92%, #efae04 98.65%);
$orangeGradient2: linear-gradient(180deg, #ffdc81 15.1%, #f8cf61 100%);
$grayGradient: linear-gradient(180deg, #fff 0%, #f3f3f3 100%);
$blueLightGradient: linear-gradient(180deg, #f2f6fa 4.38%, #c5ddfa 100%);

$versesActionIcon: #a5a5a5;

/* DIMENSIONS */

$defaultReadingFontSize: 1.4rem;
$defaultRootFontSize: 62.5%;
$maxRootFontSize: 77.5%;

/* shadow */
$shadowBorderTop: 0 -1px 0 0 rgba(196, 196, 196, 1);
$shadowBorderLeft: 1px 0 0 0 rgba(196, 196, 196, 1);
$shadowBorderRight: -1px 0 0 0 rgba(196, 196, 196, 1);
$shadowBorderBottom: 0 1px 0 0 rgba(196, 196, 196, 1);
$shadowCircleTop: 0 2px 2px 0 rgba(0, 0, 0, 0.25) inset;
