@import './config';

$fonts_path: '../fonts/';
$fonts_path_icons: '../fonts/icons/';

@font-face {
  font-family: 'Lato';
  src: url($fonts_path+'subset-Lato-Regular.eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  font-display: swap;
  src: local('Lato Bold'), url($fonts_path+'Lato-Bold-cy.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Lato Italic';
  font-display: swap;
  src: local('Lato Italic'), url($fonts_path+'Lato-Italic-cy.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Irmologion ieUcs';
  font-display: swap;
  src: url($fonts_path+'IrmIEUcs.ttf');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Greek';
  font-display: swap;
  src: url($fonts_path+'Greek.eot');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00BB;
}

@font-face {
  font-family: 'SVGFont';
  src: url($fonts_path_icons+'SVGFont.eot');
  src:
    url($fonts_path_icons+'SVGFont.eot#iefix') format('embedded-opentype'),
    url($fonts_path_icons+'SVGFont.woff') format('woff'),
    url($fonts_path_icons+'SVGFont.woff2') format('woff2'),
    url($fonts_path_icons+'SVGFont.ttf') format('truetype'),
    url($fonts_path_icons+'SVGFont.svg#SVGFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.csya {
  font-family: 'Irmologion ieUcs', 'Arial', sans-serif;
  font-size: 1.7rem;
}

.greek {
  font-family: 'Greek', 'Arial', sans-serif;
}
