@import 'fonts';
@import 'config';

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  background-color: $baseGrayLight;
}

html {
  font-size: $defaultRootFontSize;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $baseGray;
  background-color: $cWhite;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @include Lato;

  font-size: 1.4rem;
  line-height: 1.5;
  scroll-behavior: smooth;

  &.mod_eyeless {
    font-size: 1.8rem;
  }

  button {
    color: $baseGray;
  }
}

ul {
  list-style: none;
}

a {
  color: $baseGray;
  transition: color 0.4s;
  text-decoration: none;

  @include mq('tablet', min) {
    &:hover {
      color: $baseOrange;
    }
  }

  .icon + span {
    margin-left: 5px;
  }

  &.btn {
    &:hover {
      color: $baseGray;
    }
  }

  &.link_text {
    padding-bottom: 0;
    display: inline;
    border-bottom: 1px solid $baseOrange;
  }
}

button {
  background: none;
}

// TODO: удалить если не нужны будут

// .side__interpretators {
//   & > div {
//     overflow: hidden !important;

//     & > div {
//       overflow-x: initial !important;
//       height: 100%;
//     }
//   }
// }

.error {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.error-description {
  font-size: 20px;
  text-align: center;

  @include mq('phone', max) {
    font-size: 16px;
  }
}

.error-link {
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 1px;
  border-bottom: 1px solid $baseOrange;
  transition: color 0.4s;
  margin: 8px 0;
  text-align: center;

  &:hover {
    color: $baseOrange;
  }
}

.page-wrapper {
  .csya_old {
    @include CsyaOld;
  }
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;

  @include mq('tablet-wide') {
    padding: 0 20px;
  }

  @include mq(phone) {
    padding: 0 10px;
  }

  &_two-col {
    display: flex;
    align-items: flex-start;
  }
}

.wrapper_two-col {
  @include mq('tablet') {
    display: flex;
    flex-direction: column;
    align-items: normal;
  }
}

.wrapper_multi-col {
  display: flex;
  align-items: flex-start;

  @include mq('phone') {
    flex-direction: column-reverse;
  }
}

.wrapper__header {
  @include mq('phone') {
    padding: 0 10px;
  }
}

.side {
  flex: 1 0 270px;

  + .content {
    margin-left: 30px;
  }

  @include mq('tablet-wide') {
    flex: 1 0 246px;

    + .content {
      margin-left: 10px;
    }
  }

  @include mq('tablet') {
    flex: none;

    + .content {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}

.side__item {
  position: relative;
  background-color: white;

  @include mq('tablet') {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }

  + .side__item {
    margin-top: 30px;
  }

  .preloader {
    position: relative;
  }

  .preloader__whiteBG {
    position: absolute;
  }
}

.nav-side__link {
  transition: 0.25s ease;
  opacity: 0.9;

  &:hover {
    background: $menuInputHover;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 10px 5px rgba(0, 0, 0, 0.05);
  }

  @include mq('tablet') {
    opacity: 0.6;
  }

  &.active {
    background: $menuInputHover;
    box-shadow:
      inset 5px 0 0 -1px $baseOrange,
      inset 0 1px 4px rgba(0, 0, 0, 0.2),
      inset 0 10px 5px rgba(0, 0, 0, 0.05);
    opacity: 1;
    font-weight: normal;
  }

  @include mq('tablet') {
    padding: 15px 5px;
    min-width: 150px;
    min-height: 50px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.active {
      border-left: transparent;
      border-bottom: 2px solid $baseOrange;
    }
  }

  @include mq('phone') {
    padding: 10px;
    min-width: 70px;
    font-size: 15px;
    height: 100%;
    min-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 240px;
    display: inline-block;

    &.active {
      border-left: transparent;
      border-bottom: 2px solid $baseOrange;
    }
  }
}

.content {
  // flex: 1 1 100%;
  flex-grow: 1;

  &.collapse {
    display: none;

    + .side {
      flex: 1 1 100%;
    }
  }
}

.content_two-col {
  position: relative;
  display: flex;

  .side {
    flex: 0 0 245px;
  }
}

.content-area-for-side {
  min-height: 500px;
  position: relative;
  padding: 25px 30px;
  flex: 1 1 auto;

  @include mq('tablet-wide') {
    padding: 25px 15px;
  }

  @include mq('phone') {
    padding: 25px 3px;
  }
}

.paper {
  background-color: $cWhite;
  border: 1px solid $baseGrayLight;

  @include mq('tablet') {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
  }
}

.nav-side {
  @include mq('tablet') {
    border: transparent;
    position: relative;
  }

  // TODO to script
  // @include mq('phone'  - 1px) {
  @include mq('phone') {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  @media (max-width: 350px) {
    flex-direction: column;
    align-items: center;
  }
}

.empty-content {
  position: relative;
  width: 100%;
  padding: 30px;
  text-align: center;

  @include LatoSemiBold;

  font-size: 2rem;
}

.empty-content_side {
  padding: 20px;
  font-size: 1.5rem;
}

.text_underline {
  @include LatoBold;

  padding-bottom: 1px;
  border-bottom: 1px solid $baseOrange;
}

.text_justify {
  text-align: justify;
}

// PAGE
.page {
  position: relative;
  padding-bottom: 50px;
  min-height: calc(100vh - 182px);

  @include mq('tablet') {
    min-height: 600px;
    padding-bottom: 100px;
  }

  @include mq(767px) {
    padding-top: 60px;
  }

  @include mq('phone') {
    padding-top: 60px;
    min-height: 600px;
  }
}

.page__head {
  margin-top: 30px;
  position: relative;

  @include mq('phone') {
    margin-top: 4px;
  }

  .page__title {
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;

    @include mq('tablet') {
      max-width: 100%;
    }

    @include mq('phone') {
      font-size: 23px;
      line-height: 30px;
      max-width: 300px;
    }
  }

  .page__title-lk {
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.page__head__description {
  @include mq('tablet') {
    margin-top: 24px;
  }
}

.page__head_preview {
  background: linear-gradient(to bottom, #fafafa 0, #fff 100%);
  border: 1px solid $baseGrayLight;
  padding: 30px 20px 35px;
}

.page__head_two-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page__body {
  position: relative;
  padding: 35px 0 50px;
  min-height: 650px;

  @include mq('tablet') {
    padding: 20px 0 0;
    min-height: 500px;
  }

  @include mq('phone') {
    padding: 20px 0 0;
    min-height: 400px;
  }
}

.page__title {
  @include LatoBlack;

  font-size: 3.3rem;
  line-height: 1.2;
  margin-bottom: 30px;

  @include mq('tablet') {
    font-size: 2.5rem;
    margin-bottom: 0;
    line-height: 1;
  }
}

.page__desc-toggle {
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
  cursor: pointer;
}

.user_form_input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;

  label {
    margin-bottom: 5px;
  }

  input,
  textarea {
    width: 100%;
    border-radius: 2px;
    border: 1px solid $input_border;
    padding: 10px;
    font-size: 1.6rem;

    @include Lato;
  }

  input {
    &:required {
      box-shadow: none;
    }

    &[type='number'] {
      -moz-appearance: textfield;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  textarea {
    resize: none;
    max-height: 117px;

    &:required {
      box-shadow: none;
    }
  }
}

.react-datepicker-popper {
  transform: inherit !important;
}

// .not-supported {
//   padding-top: 90px;
//   text-align: center;
// }

// .not-supported__icon {
//   margin-bottom: 15px;
// }

// .not-supported__icon-img {
//   max-width: 100%;
// }

// .not-supported__title {
//   @include LatoBold;

//   font-size: 2.8rem;
//   line-height: 3rem;
//   margin-bottom: 55px;
// }

// .not-supported__subtitle {
//   width: 560px;
//   margin: 0 auto 40px auto;
// }

// .not-supported__browsers {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .not-supported__browser {
//   display: block;
//   margin: 0 11px;
// }

// .not-supported__browser-img {
//   max-width: 100%;
// }

.preloader__whiteBG {
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;
  position: absolute;
}

.page {
  .custom-select__control {
    height: 40px;
    box-shadow: none;
    background-color: $cWhite;
    border: 0;
    font-weight: 600;
    border-radius: 0;
    padding: 11px 10px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    @include mq('tablet') {
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 30px;
      height: 43px;
    }

    @include mq('phone') {
      font-size: 15px;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 2px;
    }
  }

  .custom-select__control--is-disabled {
    background-color: $cWhiteDisabled;
  }

  .custom-select__single-value {
    border-bottom: 2px solid $baseOrange;
    transition: color 0.4s;

    &:hover {
      color: $baseOrange;
    }
  }

  .custom-select__menu {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }

  .custom-select__indicator-separator {
    display: none;
  }

  .custom-select__option {
    color: $baseGray;
    border-bottom: 1px solid $grayWhite;
    height: 100%;
    background-color: $cWhite;
    cursor: pointer;

    &:hover {
      color: $baseOrange;
    }

    @include mq('tablet') {
      padding-left: 20px;
    }

    @include mq('phone') {
      font-size: 15px;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 15px;
    }
  }

  .custom-select__indicator-separator {
    display: none;
  }

  .custom-select__menu {
    margin-top: 0;
    border-radius: initial;
  }
}

.translates-select-plan {
  .custom-select__single-value {
    border-bottom: none !important;
  }
}

.page .custom-select__control,
.page .custom-select__control:hover {
  border-bottom: 1px solid #f9d063;
}

.page__bible-group {
  .custom-select__control {
    height: auto;
    min-height: 40px;
    padding: 8px 10px;
  }
}

.select-adaptive {
  @include mq('tablet') {
    margin-bottom: 20px;
  }

  @include mq('phone') {
    margin-bottom: 16px;
  }
}

.custom-select__placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preloader-meta {
  position: initial;
  margin-left: 40px;

  @include mq('tablet', max) {
    margin-left: 0;
  }
}

.side__interpretators {
  .list__item-link {
    position: relative;
    padding-right: 31px;
    padding-left: 14px;

    .icon_list__item-fav {
      display: flex;
      align-items: center;
      height: 65%;
      position: absolute;
      right: 14px;
      top: 7px;
      color: $baseOrangeLight;
      font-size: 1.5rem;

      @include mq('tablet', max) {
        right: 15px;
        font-size: 1.7rem;
      }
    }
  }
}

.verse__preacher {
  display: inline-flex;

  @include LatoSemiBold;

  font-size: 2.4rem;
  padding-bottom: 1px;
  border-bottom: 2px solid $baseOrange;
  margin-bottom: 15px;
}

.verse__preacher {
  @include mq('tablet-wide') {
    font-size: 2rem;
  }

  @include mq('phone') {
    display: inline;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}

.bible__nav {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.bible__nav-item {
  background-color: $baseOrange;
  border-radius: 25px;
  padding: 0 10px;
  text-align: center;
  line-height: 28px;
  margin-left: 20px;
  transition: color 0.4s, background-color 0.4s;
  white-space: nowrap;

  &_prev {
    svg {
      margin-bottom: -1px;
    }
  }

  &_dot {
    position: relative;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-right: -1px;
    }
  }

  &_next {
    svg {
      margin-bottom: -1px;
    }

    @include mq('tablet') {
      margin-left: auto;
      margin-right: 20px;
    }
  }

  &:hover,
  &.active {
    background-color: $baseOrange_hover;
    color: $baseGray;
  }
}

.side__interpretators {
  .list__item {
    width: 100%;

    &:hover,
    &.active {
      background-color: $baseGrayBody;
    }

    &:hover {
      color: $cBlack;
    }

    &.active {
      z-index: 1;

      .list__item-link {
        box-shadow: inset 4px 0 0 -1px $baseOrange;
      }
    }

    .list__item-link {
      @include Lato;

      font-size: 1.4rem;
      padding: 10px 30px 10px 20px;

      &:hover {
        color: $cBlack;
      }
    }
  }
}

.side__interpretators-head {
  @include LatoBold;

  padding: 20px 10px;
  text-align: center;
  border-bottom: 1px solid $baseGrayLight;
}

@include mq('phone') {
  .page {
    .tabs {
      .tabs__column {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: initial;

        .tabs__list {
          border-bottom: 1px solid $baseGrayLight;
          height: 54px;
          padding-bottom: 0;
        }

        .exegetes__wrapper-adaptive {
          margin: 0;
        }
      }
    }
  }
}

.wrapper__main {
  .main-section {
    min-height: 600px;

    @include mq('phone', max) {
      min-height: 800px;
    }
  }
}

.wrapper__container {
  max-width: 1057px;
  margin: 0 auto;
}

.csya_old__container a span .verse-text {
  .verse-number {
    @include Lato;
  }

  @include CsyaOld;

  font-size: 1.7rem;
}

.grek__container a span .verse-text {
  .verse-number {
    @include Lato;
  }

  @include Greek;
}

.video-schema__hidden {
  display: none;
}

.body-visible {
  opacity: initial;
}

.wrapper {
  .note-added {
    .icon {
      color: $baseOrange;
    }
  }
}

.container-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-right: 16px;
  cursor: pointer;
  font-size: 1.8rem;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  @include mq(350px, max) {
    font-size: 1.7rem;
  }

  @include mq('phone', max) {
    margin-right: 0;
  }
}

.container-label {
  &:hover input:not(:checked) ~ .checkmark {
    background-color: $ccc;
  }

  &:hover input:checked ~ .checkmark {
    background-color: $baseOrangeDark;
  }

  input:checked ~ .checkmark {
    background-color: $baseOrange;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  border: 1px solid #bdbdbd;
  background-color: $checkboxFavorite;
  transition: background-color 0.4s ease;
  cursor: pointer;
}

.checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

.container-label {
  input:checked ~ .checkmark::after {
    display: block;
  }

  .checkmark::after {
    left: 7px;
    top: 2px;
    width: 8px;
    height: 13px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
