@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');
@import '../../assets/sass/config';

.promo {
  @include mq('phone') {
    padding-top: 0;
  }
  &__slider {
    margin-bottom: 30px;
    @include mq('phone') {
      margin-bottom: 15px;
    }

    .slick {
      $s: &;

      &-slider {
        padding: 0 20px;
      }

      &-track {
        height: min-content;
      }

      &-slide {
        padding: 0 4.5px;
        @include mq(phone) {
          padding: 0 calc(6.5px / 2);
        }
      }

      &-prev {
      }

      &-next {
      }
    }
  }
}
