.stats__wrapper {
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #fff;
  height: 100%;
  width: 482px;
  flex-grow: 1;

  @media (max-width: 1024px) {
    width: 100%;
  }
}

.stats__container {
  display: grid;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.stats__title {
  color: #8e8e8e;
  font-size: 25px;
  font-weight: 700;
  text-align: center;

  @media (max-width: 1200px) {
    font-size: 18px;
  }

  @media (max-width: 767px) {
  }
}

.stats__item {
  display: flex;
  color: #000;
  font-size: 17px;
  height: min-content;
  justify-content: space-between;
  padding: 4px 33px 3px 15px;

  @media (max-width: 1200px) {
    font-size: 15px;
  }
}

.stats__item:nth-child(2n + 1) {
  background: #f6f6f6;

  @media (max-width: 1024px) {
    background: white;
  }

  @media (max-width: 768px) {
    background: #f6f6f6 !important;
  }
}

.stats__item:nth-child(4n + 1),
.stats__item:nth-child(4n + 2) {
  @media (max-width: 1024px) {
    background: #f6f6f6;
  }

  @media (max-width: 768px) {
    background: white;
  }
}

.stats-progress {
  padding: 0 16px;
  margin-top: 10px;

  @media (max-width: 1024px) {
    display: none;
  }
}
