@import '~assets/sass/config.scss';

.media-detail-video-list-item {
  display: flex;
  cursor: pointer;
}

.media-detail-video-list-item + .media-detail-video-list-item {
  margin-top: 10px;
}

.media-detail-video-list-item-img {
  flex: 0 0 110px;
  margin-right: 10px;
  height: 60px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.media-detail-video-list-item-title {
  @include LatoBold;

  font-size: 1.2rem;
  margin-bottom: 4px;
  color: $baseGray;
}

.media-detail-video-list-item-author {
  color: $baseDefaultGray;
  font-size: 1.1rem;
}
