@import '../../assets/sass/config';

.page__body {
  .quiz__wrapper-questions {
    padding: 0;

    @include mq('phone', min) {
      padding: 0 10px;
    }
  }
}

.quiz {
  width: 100%;

  .pagination {
    margin-top: 30px;
  }

  .pagination__item {
    padding-right: 20px;
    margin-top: 4px;
  }

  .quiz__not-found {
    text-align: center;
    width: 100%;
    margin: 30px 0;
    display: block;
  }
}

.quiz__link-container {
  margin: 0 10px 16px 10px;
  text-align: center;
}

.quiz__questions {
  display: flex;
  flex-direction: column;
  background-color: $cWhite;

  @include mq('phone', min) {
    border-left: 1px solid $baseGrayLight;
    border-right: 1px solid $baseGrayLight;
  }
}

.quiz__question {
  display: flex;
  flex-direction: row;
  border-top: 1px solid $baseGrayLight;
  position: relative;

  &:last-child {
    border-bottom: 1px solid $baseGrayLight;
  }
}

.quiz__arrows {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  transform: rotate(-90deg);
}

.quiz__arrow-wrapper {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.quiz__arrow {
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: $baseGray;
  display: inline-block;
  transition: background-color 0.4s ease;

  &:first-of-type {
    left: 0;
    transform: rotate(45deg);
  }

  &:last-of-type {
    right: 0;
    transform: rotate(-45deg);
  }
}

.quiz__question-link {
  transition: color 0.4s ease;
  width: 100%;
  padding: 15px 26px 15px 12px;

  @include Lato;

  font-size: 1.6rem;
  line-height: 1.9rem;
  color: $baseGray;

  &:hover {
    color: $baseOrange;

    .quiz__arrow {
      background-color: $baseOrange;
    }
  }
}
