.cp__block-head {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 60px;

  @media (max-width: 1200px) {
    gap: 20px;
  }

  @media (max-width: 1024px) {
    gap: 13px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;
    gap: 3px;
    margin-bottom: 3px;
    padding: 5px 6px;
  }
}

.cp__head-title {
  margin-left: 9px;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1;

  @media (max-width: 1200px) {
    font-size: 2rem;
    margin-right: 29px;
  }

  @media (max-width: 1024px) {
    font-size: 2rem;
    margin-right: 0;
    margin-left: 0;
  }

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.cp__label-head {
  display: flex;
  position: relative;
  top: 6px;
  gap: 6px;
  align-items: center;

  @media (max-width: 1024px) {
    gap: 4px;
  }

  @media (max-width: 768px) {
    justify-content: space-between;
  }
}

.cp__label-field {
  color: #8e8e8e;
  font-size: 1.8rem;
  position: relative;
  top: -5px;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.cp__head-label {
  @media (max-width: 1024px) {
    font-size: 15px;
  }

  @media (max-width: 768px) {
    font-size: 13px;
  }
}

.cp__arrow-accordion {
  position: absolute;
  right: 40px;
  transform: translateY(-50%);
  transition: all 0.3s;
  top: 5px;
  rotate: 180deg;

  @media (max-width: 1200px) {
    right: 30px;
  }

  @media (max-width: 768px) {
    right: 12px;
  }
}

.cp__arrow-accordion-open {
  top: 15px;
  rotate: 0deg;
}
