@import '~assets/sass/config';

.bm-questions {
  display: block;
  position: relative;
  overflow: hidden;
  overflow-y: inherit;

  .preloader {
    position: absolute;
  }

  @include mq('phone') {
    height: 500px;
  }
}

.navigation__item.bm-quiz-link {
  margin: 15px 10px 10px 30px;
  padding: 0;
  width: 190px;
  height: 34px;
  font-size: 1.3rem;
  line-height: 29px;
}

.bm-question {
  position: relative;
  padding: 10px 10px 10px 30px;
  border-bottom: 1px solid $baseGrayLight;

  &:last-child {
    border-bottom: 0;
  }
}

.bm-question-num {
  @include LatoSemiBold;

  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $versesActionIcon;
  margin-right: 2px;
}

.bm-question-verse {
  font-size: 1.4rem;
  line-height: 2.4rem;
  padding-bottom: 2px;
  color: $baseDefault;
}

.bm-question-text {
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease-out;

  &:hover {
    color: $baseGray;
    border-color: $baseOrange;
  }
}

.bm-question-head {
  display: flex;
}

.loading-questions {
  min-height: 54px;
}

.loading-questions-not {
  visibility: hidden;
  min-height: 54px;
}
