@import '../../../assets/sass/config';

.about_bible_h_one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.not_padding {
  padding: 0;
}

.exegetes__list {
  margin-top: 30px;

  @include mq('desktop', max) {
    padding: 20px 34px 36px 30px;
    background-color: $cWhite;
    border: 1px solid $baseGrayLight;
  }

  @include mq('tablet') {
    padding: 20px 30px;

    .content {
      margin: 0;
      padding: 0;
    }
  }

  @include mq('phone') {
    margin-top: 24px;
  }
}

.all_about_bible {
  & .list__item {
    background-color: $cWhite;
  }
}

.all_about_bible .paper {
  @include mq('desktop', max) {
    border: none;
  }
}

.all_about_bible .tabs__head {
  @include mq('tablet') {
    overflow: hidden;
  }

  @include mq('phone') {
    justify-content: space-around;
  }
}

.all_about_bible .tab.tab_content {
  padding: 0;
  line-height: 19px;
  margin: 20px 30px 20px 20px;

  &::after {
    bottom: -21px;
  }

  @include mq('phone') {
    margin: 0;
    padding: 20px 30px 20px 20px;

    &::after {
      bottom: 0;
    }
  }
}

.page .all_about_bible .custom-select__control {
  border: 1px;
  border-top: 1px solid $baseGrayLight;
  border-right: 1px solid $baseGrayLight;

  @include mq('desktop', max) {
    border: 1px solid $baseGraySelect;
    border-radius: 2px;
  }
}

.all_about_bible .custom-select__menu {
  position: relative;
}

.all-about-bible-content {
  margin-left: 30px;
  flex: 1 1 100%;

  @include mq('desktop', max) {
    &.paper {
      background: none;
    }
  }

  @include mq(1024px) {
    margin-left: 10px;
  }

  @include mq('tablet') {
    margin-left: 0;
  }
}

.all-about-bible-right-nav {
  border: 1px solid $baseGrayLight;
  margin-top: -1px;
  margin-right: -1px;

  .list__item {
    border: 0;
    margin: 0;
  }

  @include mq(1024px) {
    margin: 0;
    border: none;
  }

  @include mq('tablet') {
    border: none;
  }
}

.all-about-bible-rigth-select {
  position: relative;

  @include mq('desktop', max) {
    margin-left: 0;
  }
}

.all-about-bible-side {
  position: relative;

  @include mq('tablet') {
    width: 100%;
    background-color: transparent;
    margin-bottom: 16px;
    border: transparent;
    width: 100%;
    flex: auto;
  }
}

.all-about-bible-list {
  padding: 30px 0;
  min-height: 300px;
  position: relative;
  background: $cWhite;
  border-radius: 2px;

  @include mq('desktop', max) {
    border: 1px solid $baseGrayLight;
    padding: 22px 20px;
  }

  @include mq('phone', max) {
    .collection {
      .collection__list-link {
        border: transparent;
      }
    }
  }
}

.all-about-bible-alphabet {
  margin-bottom: 24px;

  @include mq(1024px) {
    margin-bottom: 30px;
  }
}
