@import '../../assets/sass/config';

.mm-popup__box.mm-popup__box--learn-video-popup {
  width: 80%;
  height: 80%;
  background: none;

  @include mq('phone') {
    height: 70%;
  }

  @include mq('phone') {
    width: 100%;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  & .mm-popup__box__body {
    top: 50%;
    transform: translate(0, -50%);
    height: 100%;
    overflow: hidden;
    padding: 0;
    max-height: initial;
    background: none;

    @include mq(1024px) {
      padding: 0;
      padding-left: 0;
    }

    & iframe {
      padding: 0;
    }
  }
}

.learn-btn {
  background-color: $baseGrayBody;
  border: 1px solid $baseOrange;
  border-radius: 20px;
  transition: 0.3s ease;
  padding: 8px;
  font-size: 1rem;
  width: initial;
  white-space: nowrap;
  cursor: pointer;

  @include mq('phone') {
    font-size: 1.1rem;
    padding: 5px 8px;
  }

  &:hover {
    background-color: $baseOrange;
  }
}

.learn-video {
  width: 100%;
  height: 100%;
  padding-top: 40px;
}
