.comments__wrapper {
  margin-top: 23px;

  @media (max-width: 1200px) {
    border: 1px solid #f0f0f0;
    background: #fff;
    padding: 29px 30px 18px 23px;
  }

  @media (max-width: 1024px) {
    border: none;
    margin-top: 0;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.comments__head {
  display: flex;
  align-items: center;
  gap: 36px;
}

.comments__input-wrapper {
  position: relative;
}

.comments_send {
  position: absolute;
  padding: 0 7px;
  border-radius: 30px;
  cursor: pointer;
  background: #f9d063;
  color: white;
  font-size: 20px;
  transition: all 0.2s;

  &:hover {
    background: #e6c15b;
  }
}

.comments__head-title {
  color: #000;
  font-size: 1.6rem;
  font-weight: 700;

  @media (max-width: 1200px) {
    font-size: 15px;
  }
}

.comments__head-button {
  color: #000;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  border-bottom: 1px solid #f9d063;

  @media (max-width: 1200px) {
    font-size: 15px;
  }
}

.comments__input {
  width: 100%;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  padding-bottom: 4px;
  background: none;
  margin-bottom: 20px;
  margin-top: 12px;

  ::placeholder {
    color: #575757;
  }
}

.comment__head {
  display: flex;
  margin-bottom: 8px;
  gap: 15px;
}

.comment__name {
  color: #000;
  font-weight: 700;
  line-height: normal;

  @media (max-width: 1200px) {
    font-size: 12px;
  }
}

.comment-block {
  font-size: 15px;
  margin-bottom: 20px;
}

.comment__text {
  margin-bottom: 9px;
  font-size: 16px;

  @media (max-width: 1200px) {
    font-size: 15px;
    margin-bottom: 6px;
  }
}

.answer__btn {
  padding: 7px 15px;
  font-size: 16px;
  border-radius: 30px;
  border: 1px solid #f9d063;
  font-weight: 500;
  cursor: pointer;

  @media (max-width: 1200px) {
    padding: 4px 7px;
    font-size: 14px;
  }
}

.comment__time {
  color: #575757;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media (max-width: 1200px) {
    font-size: 12px;
  }
}

.comment__read-next {
  color: #575757;
  display: block;
  font-size: 18px;
  font-weight: 500;

  @media (max-width: 1200px) {
    font-size: 13px;
  }
}

.open-answers {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  font-size: 19px;
  font-weight: 500;

  @media (max-width: 1200px) {
    font-size: 15px;
  }

  svg {
    transition: all 0.2s;
  }
}

.open-answers-active {
  svg {
    rotate: 180deg;
  }
}

.answers-block {
  margin-top: 19px;
  margin-left: 38px;
}

.open__next-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.open__next {
  font-size: 19px;
  border-bottom: 1px solid #f9d063;
  cursor: pointer;
  font-weight: 500;
  line-height: normal;
}

.comments__inner {
  max-width: 571px;
  margin: 0 auto;
}

.input__answer {
  padding-left: 20px;
}

.comment__name-mentor {
  color: #34aa85;
  font-weight: 700;

  &::after {
    content: ' (Руководитель)';
  }
}

.bnts_wrapper {
  display: flex;
  gap: 20px;
}
