@import '~assets/sass/config.scss';

.tags__container {
  position: relative;
  min-height: 60px;
}

.tags__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-flow: wrap;
  padding-top: 16px;
  padding-right: 10px;
}

.tag__item {
  margin-left: 20px;
  margin-bottom: 10px;
}

.tag__btn {
  border-radius: 12px;
  background: linear-gradient(180deg, #fff 0%, #f3f3f3 100%);
  padding: 3px 10px;
  font-size: 1.1rem;
  line-height: 1.2;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #ffff;
  cursor: pointer;
}

.tag__btn-active {
  transition: all 0.65s ease;
  border: 1px solid #ffff;
  background: linear-gradient(360deg, #ffde88 0.92%, #efae04 98.65%);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
}

.book-info__tag-btn {
  cursor: pointer;
  word-break: break-all;
}

.media-tags-container {
  position: relative;
  min-height: 140px;
  width: 100%;
  background-color: $cWhite;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  padding-bottom: 16px;
  border: 1px solid $baseGrayLight;
}

.media-tags-preloader {
  position: relative;
}

.media-tag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 21px 16px 15px 22px;
  border-bottom: 1px solid $baseGrayMediaLight;
}

.tags__reset-btn {
  color: $baseGray;
  border-bottom: 1px solid $baseOrange;

  @include Lato();

  font-size: 1.5rem;
  line-height: 18px;
  font-weight: 500;
  border-bottom: 1px solid $baseOrangeLight;
  cursor: pointer;

  &:hover {
    transition: 0.3s ease;
    color: $baseOrangeLight;
  }
}

.tags__desc {
  @include LatoBlack();

  font-size: 1.8rem;
  line-height: 20px;
}
