@import '~assets/sass/config';

.search-navigation {
  flex: 1 0 270px;

  @include mq('tablet') {
    flex: none;

    &.media-library {
      padding-bottom: 0;
    }
  }
}

.search-children {
  padding-left: 60px;
}

.search-sub-children {
  padding-left: 70px;
}
