@import '~assets/sass/config.scss';

.media-icons {
  position: absolute;
  right: 0;
  top: -30px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include mq('phone') {
    right: 10px;
  }

  .media-icons-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: $baseDefault;

    & > p {
      font-size: 1rem;
      line-height: 22px;
      color: $baseGrayLightText;
    }

    &:hover {
      color: $baseGray;

      .icon_download {
        & svg.svg-inline {
          & g path {
            fill: $baseGray;
          }
        }
      }

      .media-icons-download {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .media-icons-item + .media-icons-item {
    margin-left: 10px;
  }

  .media-icons-item-img {
    width: 28px;
    height: 28px;
  }

  & img {
    width: 100%;
  }
}

.icon_download {
  cursor: pointer;
  width: 28px;
  height: 28px;
  margin-left: auto;
  margin-right: auto;

  & svg.svg-inline {
    width: 28px;
    height: 28px;
    background: linear-gradient(180deg, #fff 0%, #f3f3f3 100%);
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.4);
    border-radius: 100%;

    &:hover {
      background: linear-gradient(360deg, #ffde88 0.92%, #efae04 98.65%);
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
    }

    & > path {
      display: none;
    }

    & g path {
      fill: $baseDefault;
    }
  }
}

.media-icons-download {
  transition: 0.65s ease;
  position: absolute;
  top: 55px;
  right: 0;
  visibility: hidden;
  width: 250px;
  opacity: 0;

  @include mq('phone') {
    right: -110%;
  }
}

.media-icons-download-content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 90px);
  grid-gap: 20px;
  justify-content: center;
  background-color: $cWhite;
  padding: 30px 20px;
  width: 100%;
  border: 1px solid $baseGrayLight;
  box-sizing: border-box;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;

  & .media-controls-item {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-left: 0;
    width: 90px;
    height: 36px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -20px;
    left: 93%;
    transform: translate(-50%, 0);
    border: 10px solid transparent;
    border-bottom: 10px solid $baseGrayLight;
    z-index: 9;

    @include mq('phone') {
      left: 75%;
    }
  }

  &::after {
    top: -19px;
    border-bottom: 10px solid $cWhite;
  }
}

.media-icons-item {
  .chapter__verses-action-icon {
    display: flex;
    justify-content: center;
    width: 28px;
    height: 28px;
    z-index: 1;
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    &::before {
      content: '';
      position: absolute;
      width: 28px;
      height: 28px;
      background: linear-gradient(180deg, #fff 0%, #f3f3f3 100%);
      box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.4);
      border-radius: 100%;
      z-index: -1;
    }

    &.chapter__verses-action-icon_active,
    &:hover {
      color: $baseGray;

      &::before {
        background: linear-gradient(360deg, #ffde88 0.92%, #efae04 98.65%);
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
      }
    }
  }

  .chapter__verses-action__text {
    font-size: 1rem;
    line-height: 22px;
    color: $baseGrayLightText;
    overflow: inherit;
  }
}
