@import '~assets/sass/config';

.bible-media__head {
  padding: 30px 20px;
  padding-bottom: 0;

  &.bible-media-head-mobile {
    padding: 0;
    padding-bottom: 10px;
  }

  @include mq('tablet-wide') {
    padding: 20px 8px 0;
  }

  @include mq('tablet') {
    padding: 20px 12px 0;
  }
}

.bible-media__title {
  @include LatoBold;

  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  margin-bottom: 20px;
  white-space: nowrap;
}
