@import '../../assets/sass/config';

.main-page__bible {
  position: relative;
  background-color: $cWhite;
  min-height: 500px;

  @include mq('phone') {
    min-height: initial;
  }

  .tabs__head {
    padding: 0 55px;
    white-space: nowrap;

    @include mq(tablet) {
      padding: 0;
    }

    @include mq(phone) {
      padding: 0;
    }
  }

  .tab {
    line-height: 70px;
    margin: 0 25px;

    @include mq(phone) {
      font-size: 1.6rem;
      line-height: 2.6;
      white-space: nowrap;
      margin: 0 15px;
      padding: 10px 0;
      border: none;
    }
  }

  .tabs__content {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: -1px;
    overflow: hidden;

    @include mq('tablet') {
      min-height: 470px;
    }
  }

  .collection__list-item {
    margin-bottom: 0;
    border-right: 1px solid $baseGrayLight;

    @include mq('phone') {
      min-width: 50%;
    }

    &:hover {
      .collection__list-link {
        background-color: $cWhiteDisabled;
        color: $cBlack;
      }
    }
  }

  .collection__list-link {
    display: block;
    padding: 15px 20px 15px;
    text-align: center;
    font-size: 15px;

    @include mq(tablet) {
      padding: 15px;
    }

    @include mq(phone) {
      padding: 10px 0;
    }
  }

  .collection__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 470px;

    @include mq('phone') {
      max-height: 500px;
    }
  }
}

.slick-dots {
  position: initial !important;

  button {
    &::before {
      font-size: 13px !important;
    }

    &:hover {
      opacity: 0.4 !important;
    }
  }

  .slick-active button {
    &::before {
      opacity: 1 !important;
      color: $baseOrange !important;
    }
  }
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px !important;
}

.book-list__empty {
  margin: 20px 10px;
  font-size: 18px;
  text-align: center;
}
