@import '~assets/sass/config.scss';

$shadowBorderLeft: -1px 0 0 0 rgba(196, 196, 196, 1);

.media-nav-mobile {
  display: flex;
  flex-direction: row;
  transition: 0.65s ease;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

  @include mq('tablet') {
    position: relative;
    z-index: 99;
  }
}

.media-nav-mobile-parent {
  width: 100%;
}

.media-nav-mobile-children {
  width: 100%;
}

.media-filter-select {
  .media-nav-select-mobile {
    &.media-filter-select_custom__control {
      height: 43px;
      border-radius: 8px;
      z-index: 800;
      box-shadow: none;
      padding-left: 12px;

      @include mq('phone', max) {
        height: 40px;
        padding-left: 5px;
      }
    }

    & .media-filter-select_custom__placeholder,
    & .media-filter-select_custom__single-value {
      font-size: 1.3rem;
    }

    &.media-filter-select_custom__value-container {
      @include mq('phone', max) {
        padding-left: 0;
      }
    }

    &.media-filter-select_custom__single-value {
      @include mq('phone', max) {
        border-width: 2px;
      }
    }

    &.media-filter-select_custom__menu {
      width: 50%;
      padding-bottom: 10px;
      left: 25%;
      z-index: 99;

      @include mq('phone', max) {
        width: 100%;
        left: 50%;
        padding-bottom: 0;
      }
    }

    &.media-filter-select_custom__menu-list {
      padding-bottom: 20px;
      overflow: inherit;
      max-height: none;

      & .media-filter-select_custom__option + .media-filter-select_custom__option {
        margin-top: 16px;
      }

      @include mq('phone', max) {
        padding: 0 10px 10px;

        & .media-filter-select_custom__option {
          padding: 8px 5px;
          font-size: 1.3rem;
          margin-top: 16px;
        }
      }
    }

    &.media-nav-select-child {
      &.media-filter-select_custom__control {
        border-radius: 8px 0 0 8px;
      }

      @include mq('phone', max) {
        & .media-filter-select_custom__option {
          padding: 8px 2px;
          font-size: 1.3rem;
          white-space: normal;
        }
      }

      &.media-filter-select_custom__menu {
        width: 100%;
        padding-bottom: 10px;
        left: 50%;
      }
    }

    &.media-nav-select-mobile-child {
      &.media-filter-select_custom__menu {
        width: 100%;
        padding-bottom: 10px;
        left: 50%;
      }

      &.media-filter-select_custom__control {
        border-radius: 0 8px 8px 0;
        box-shadow: $shadowBorderLeft;
      }
    }
  }
}
