.cp__date-head {
  display: grid;
  gap: 43px;
  grid-template-columns: auto auto 1fr;

  @media (max-width: 1200px) {
    gap: 10px;
  }

  @media (max-width: 1024px) {
    gap: 0;
    grid-template-columns: auto auto auto;
  }

  @media (max-width: 768px) {
    gap: 8px;
    grid-template-columns: 1fr;
    grid-template-areas: 'start' 'center' 'end';
  }
}

.auto_error {
  color: #ff2121;
  white-space: nowrap;
  position: absolute;
  right: 0;
  bottom: -17px;
}

.cp-ac__title {
  @media (max-width: 1200px) {
    font-size: 18px;
  }

  @media (max-width: 768px) {
    font-size: 13px;
    max-width: 203px;
    margin: 0 auto;
  }
}

.cp__step-two {
  @media (max-width: 1024px) {
    padding: 10px;

    .cp__field-wrapper {
      gap: 5px;

      span {
        position: relative;
        top: 0;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 14px 4px 4px;

    .cp__field-wrapper {
      gap: 5px;

      span {
        position: relative;
        top: 0;
      }
    }
  }
}

.cp__date-end {
  margin-bottom: 13px;

  @media (max-width: 768px) {
    grid-area: end;
    margin-bottom: 0;
    flex-direction: row;
    align-items: center;
  }
}

.cp__all-chapters {
  @media (max-width: 768px) {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

.cp__date-start {
  padding-right: 15px;

  @media (max-width: 768px) {
    padding-right: 0;
    flex-direction: row;
    align-items: center;
  }
}

.mobile-top {
  grid-area: start;
  display: flex;
  gap: 15px;
}

.cp__days {
  @media (max-width: 768px) {
    grid-area: center;
  }
}

.cp__center {
  @media (max-width: 1024px) {
    margin-right: 20px;
  }

  @media (max-width: 768px) {
    margin-right: 0;
  }
}

.cp__new-zavet {
  border: 1px solid #ccc;

  @media (max-width: 768px) {
    border-radius: 5px;
    margin-top: 8px;
  }
}

.cp__veth-zavet {
  border: 1px solid #dcdcdc;
  margin: 31px auto 0;
  max-width: 1118px;
}

.cp__block-head--yellow {
  font-weight: 700;
  transition: all 0.2s;
  position: relative;
  border: 1px solid #dcdcdc;
  background: linear-gradient(180deg, #ffdc81 18.75%, #ffd35c 100%);
  font-size: 2rem;
  color: #243737;
  cursor: pointer;
  text-align: center;

  @media (max-width: 768px) {
    border-radius: 5px 5px 0 0;
    border: 1px solid #fad162;
    background: linear-gradient(180deg, #ffdc81 18.75%, #ffd35c 100%);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.25) inset;
  }
}

.cp__block-head--gray {
  border: 1px solid #dcdcdc;
  background: #eee;

  @media (max-width: 768px) {
    border: 1px solid #d6d6d6;
    background: linear-gradient(180deg, #fff 0%, rgba(234, 232, 232, 0.9) 80.69%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

.cp__chapters-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 15px;

  @media (max-width: 1200px) {
    gap: 9px 12px;
  }

  @media (max-width: 1024px) {
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    gap: 2px;
    grid-template-columns: 1fr;
  }
}

.cp__chapters-btn {
  font-size: 15px !important;
  padding: 9px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: 1024px) {
    padding: 7px 0;
    font-size: 14px !important;
  }

  @media (max-width: 768px) {
    padding: 7px 0;
    font-weight: 400;
    font-size: 12px !important;
  }
}

.cp__block-content[data-cols='1'] {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 18px;

  .cp__chapters-wrapper {
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: 1024px) {
      gap: 2px;
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
      gap: 2px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.cp__block-content[data-cols='2'] {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 18px;

  .cp__chapters-wrapper {
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 1024px) {
      gap: 2px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      gap: 2px;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.cp__block-content[data-cols='3'] {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 18px;

  .cp__branch-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .cp__chapters-wrapper {
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 1024px) {
      gap: 2px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      gap: 2px;
      grid-template-columns: repeat(1, 1fr);

      .cp__branch-1 {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.cp__branch-1 {
  padding-right: 48px;
  padding-left: 40px;
  border-right: 1px solid #dcdcdc;

  @media (max-width: 1200px) {
    padding-right: 7px;
    padding-left: 7px;
  }
}

.cp__branch-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2rem;
  color: #6e6e6e;
  font-weight: 700;

  @media (max-width: 1024px) {
    font-size: 18px;
    margin-bottom: 9px;
  }

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.cp__apply {
  margin-top: 14px;
  display: block;
  color: #383838;
  border-radius: 76px;
  margin-right: 40px;
  padding: 6px 13px 7px 12px;
  margin-left: auto;
  border: 1px solid #f9d063;
  background: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;

  @media (max-width: 1200px) {
    margin-right: 30px;
  }

  @media (max-width: 768px) {
    margin-right: 13px;
    margin-top: 6px;
    font-size: 14px !important;
  }
}

.cp__buttons-send {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;

  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
  }
}
