@import '~assets/sass/config.scss';

.media-filter-default-popup-content {
  width: 100%;

  & p {
    @include LatoBold;

    font-size: 2.4rem;
    line-height: 20px;
    background: #eee;
    padding: 28px 0 23px;
    text-align: center;

    @include mq('phone') {
      font-size: 1.4rem;
      padding-bottom: 20px;
      padding-top: 20px;
    }
  }
}

.media-filter-default-popup-item {
  padding: 22px 10px 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(125px, auto));

  @include mq('phone') {
    padding: 20px 5px;
  }
}

.media-default-item {
  background: $grayGradient;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  line-height: 20px;
  padding: 7px 3px;
  white-space: pre-line;
  cursor: pointer;

  &.active,
  &:hover {
    background: $orangeGradient;
    border-color: $cWhite;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
  }

  @include mq('phone') {
    font-size: 0.9rem;
    padding: 2px 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
