@import '../../assets/sass/config';

.list {
  flex: 1 1 auto;
}

.list__item {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid $baseGrayLight;
  margin: -1px -1px 0 -1px;
  transition: border 0.4s;
  width: 100%;
  background-color: $cWhite;

  &:hover {
    z-index: 1;
  }

  @include mq('tablet') {
    border: transparent;
    padding: 0;

    &:hover {
      border-right: transparent;
    }
  }
}

.list__item-link {
  @include Lato;

  flex: 1 1 auto;
  padding: 15px 5px 15px 32px;
  cursor: pointer;
  transition: color 0.4s;
  word-break: break-word;
  font-size: 1.5rem;

  @include mq('tablet', min) {
    &:hover {
      color: $baseOrange;

      .preaching-author {
        color: $baseOrange;
        transition: 0.45s;
      }
    }
  }

  @include mq('tablet') {
    padding-right: 5px;
  }
}

.preaching-author {
  color: $newsDateColor;
}

.list__item-actions {
  flex: 0 0 auto;
  padding: 0 30px;
}
