@import '~assets/sass/config';

.interpretation_detail__content__group {
  margin: 12px 0;
  color: gray;
  padding: 0 16px;

  @include mq('phone') {
    padding: 0 5px;
    text-align: left;
  }
}

.content__group-link {
  @include LatoBold;

  border-bottom: 2px solid $baseOrange;
  font-size: 1.5rem;
}
