@import '~assets/sass/config.scss';

.material__book-info {
  margin-bottom: 16px;
}

.book-info__main {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  & .book-info__name {
    margin-bottom: 20px;
  }
}

.book-info__tags {
  margin-top: 12px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  border-bottom: transparent;
  flex-flow: wrap;
}

.book-info__tag {
  margin-right: 20px;
  margin-bottom: 5px;
}

.book-info__name {
  @include Lato();

  font-weight: 700;
  line-height: 20px;
  font-size: 1.8rem;

  @include mq(1024px) {
    font-size: 1.4rem;
    line-height: 20px;
  }

  @include mq('phone') {
    font-size: 1.2rem;
  }
}

.book-info__author {
  @include Lato();

  font-weight: 700;
  font-size: 1.4rem;

  @include mq(1024px, max) {
    font-size: 1.2rem;
  }
}

.book-info_img_link {
  float: left;
  display: block;
  height: 220px;
  margin-right: 18px;
  border-radius: 2px;
  overflow: hidden;

  &.book-info-motivator,
  &.book-info-video {
    position: relative;
    width: 100%;
  }

  &.book-info-motivator {
    height: 276px;

    @include mq('tablet-wide') {
      height: 226px;
    }

    @include mq('phone') {
      height: 190px;
    }
  }

  &.book-info-video {
    height: 220px;

    @include mq('tablet-wide') {
      height: 200px;
    }

    @include mq('tablet') {
      height: 200px;
    }

    @include mq('phone', max) {
      height: 155px;
      margin: 0 auto;
    }

    @include mq($phoneSE, max) {
      @include mq($phoneSE, min) {
        width: 250px;
        height: 140px;
      }
    }

    .book-info__img {
      width: 100%;
      object-fit: fill;
      height: 134%;
      position: relative;
      bottom: 17%;
    }
  }

  &.book-info__img_video {
    width: 100%;

    &.isBigImg {
      .book-info__img {
        width: 100%;
      }
    }

    @include mq('tablet-wide', max) {
      width: 279px;
    }

    @include mq('phone', max) {
      max-width: 278px;
      width: 100%;
      margin-right: 0;
    }
  }
}

.book-info__img {
  object-fit: contain;
  height: 100%;

  @include mq('phone') {
    width: 100%;
  }
}

.book-info-main {
  .book-info__img {
    max-width: 200px;

    @include mq('phone') {
      max-width: 150px;
    }
  }
}
