@import '~assets/sass/config.scss';

.media-filter-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.media-filter-default-popup {
  display: flex;
  position: absolute;
  top: 95%;
  right: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: $cWhite;
  z-index: 1;
  border: 1px solid $baseOrange;
  border-top: none;
  border-radius: 0 0 2px 2px;
  transition: top 0.65s ease-out, opacity 0.25s ease-out;
  pointer-events: none;

  .media-default-item {
    pointer-events: none;
  }

  @include mq('tablet') {
    top: 80%;
  }

  @include mq('phone') {
    top: 20%;
    z-index: 11;
  }

  &.active {
    top: 80%;
    opacity: 1;
    visibility: visible;
    pointer-events: all;

    .media-default-item {
      pointer-events: all;
    }
  }
}

.media-filter-default-input {
  height: 100%;
  display: block;
  width: 100%;
  position: relative;
}

.media-filter-default-delete {
  position: absolute;
  font-size: 1rem;
  right: 25px;
  top: 50%;
  z-index: 10;
  transform: translate(0, -50%);
  cursor: pointer;
  opacity: 0.5;
  transition: 0.65s ease;

  @include mq('phone', max) {
    right: 20px;
  }

  &:hover {
    opacity: 1;
  }
}
