@import '../../../assets/sass/config';

.lk-content {
  flex: 1 1 100%;

  @include mq('tablet') {
    margin-left: 10px !important;
  }
}

.urp__remainder {
  flex: 0 0 240px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  border-right: 1px solid $baseGrayLight;

  @include mq('phone') {
    margin: 0;
    justify-content: left;
    padding: 0 19px;
    border-bottom: transparent;
    flex: initial;
  }
}

.urp__remainder-notice {
  font-size: 1.3rem;
  color: $baseRed;
}
