@import '~assets/sass/config';

.media-controls-item {
  font-size: 1.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 17px;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid $baseOrange;

  .multi-icon {
    display: flex;
  }

  & p {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  & svg.svg-inline {
    width: 13px;
    height: 12px;
    margin-right: 10px;

    & path {
      transition: 0.65s ease;
    }
  }

  &:hover {
    & svg.svg-inline path {
      transition: 0.65s ease;
      fill: $baseOrange;
    }
  }
}
