@import '~assets/sass/config.scss';

.media-filter-select {
  margin-right: 1px;

  &.media_filter_select_default {
    width: 60%;

    & .media-filter-select_custom__control {
      box-shadow: $shadowBorderLeft, $shadowBorderRight;
      border-radius: 0;
    }
  }

  & .media-filter-select_custom__placeholder,
  & .media-filter-select_custom__single-value {
    border-bottom: 1px solid $baseOrange;
    border-radius: 0;
    color: $baseGray;
    font-size: 1.4rem;
    font-weight: 900;
    white-space: nowrap;

    @include mq('tablet') {
      font-size: 1.3rem;
    }
  }

  .media-filter-select_custom__control {
    height: 54px;
    border-radius: auto;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 0;

    @include mq('phone', max) {
      height: 40px;
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .media-filter-select_custom__control {
    z-index: 8;

    @include mq('phone', max) {
      z-index: auto;
    }

    &--menu-is-open {
      .media-filter-select_custom__dropdown-indicator {
        background-image: url('../../../assets/images/icons/arrow-up.svg');
      }
    }
  }

  .media-filter-select_custom__control--is-disabled {
    & .media-filter-select_custom__placeholder {
      color: $baseDefault;
    }
  }

  .media-filter-select_custom__dropdown-indicator {
    width: 36px;
    height: 36px;
    background-image: url('../../../assets/images/icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;

    & svg {
      display: none;
    }

    @include mq('phone', max) {
      width: 8px;
      height: 4px;
      background-size: contain;
      padding: 0;
    }
  }

  // options
  .media-filter-select_custom__menu {
    border-radius: 0;
    top: 35px;
    z-index: 2;
    width: 250%;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid $baseOrange;
    border-radius: 0 0 8px 8px;
    padding-top: 5px;
    box-shadow: none;

    @include mq('tablet') {
      width: 350%;
    }

    @include mq('phone', max) {
      width: 100%;
      top: 25px;
    }
  }

  .media-filter-select_custom__indicator-separator {
    display: none;
  }

  .media-filter-select_custom--is-disabled {
    & .media-filter-select_custom__menu .media-filter-select_custom__menu-list {
      grid-template-columns: auto;
    }
  }

  .media-filter-select_custom__menu-list {
    padding: 20px 10px 20px;

    & .media-filter-select_custom__option {
      width: 100%;
      border-radius: 8px;
      text-align: center;
      justify-content: center;
      border: 1px solid rgba(255, 255, 255, 0.5);
      transition: 0.85s ease;
      white-space: pre-line;
      padding: 7px 5px;
      display: flex;
      align-items: center;

      &:hover {
        background: $orangeGradient;
        border-color: $cWhite;
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
      }

      @include mq('phone', max) {
        padding: 7px 5px;
        font-size: 1rem;
      }
    }

    @include mq('phone', max) {
      padding: 0 5px 10px;
      font-size: 1.3rem;
      margin-bottom: 5px;
    }
  }

  @include mq('phone', max) {
    &.media_filter_select_default {
      flex: 1 0;
    }

    &.media_filter_select_default {
      & .media-filter-select_custom__control {
        z-index: 2;
        box-shadow: $shadowBorderLeft;
      }

      & .media-filter-select_custom__menu {
        width: 200%;
        left: 50%;
        top: 20px;
        z-index: 1;
      }
    }

    & .media-filter-select_custom__value-container {
      padding-left: 0;
    }
  }
}
