@import '~assets/sass/config';

.icon {
  display: flex;
  overflow: visible;
  justify-content: center;
  align-items: center;

  &_circle {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: $baseGrayMedia;
    color: $baseDefault;
    font-size: 1.3rem;
    text-align: center;
    line-height: 26px;
    padding: 0;
    margin-right: 5px;
  }
}

svg:not(:root).svg-inline {
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.2em;
  width: 1.125em;
}

.user__bookmarks {
  .icon {
    padding-left: 1px;
  }
}

.telegram {
  fill: none;
  stroke: #000;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
