@import '../MainPage/styles.scss';

.text-result {
  text-align: center;
  color: #000;
  margin: 28px 0 20px;
  font-size: 18px;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.result__title-answer {
  margin-bottom: 15px;
  font-size: 18px;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 13px;
  }
}

.green_mark {
  font-weight: 700;
  color: #09e511;
}

.result__img-wrapper {
  position: relative;
  width: min-content;
  color: #828282;
  text-align: center;
  font-size: 14px;
  font-weight: 800;

  span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }

  .gold {
    color: #cb9c23;
  }
}

.result__alert {
  display: flex;
  align-items: center;
  color: #2f2f2f;
  margin: 20px 11px 0 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 18px;
  text-align: center;
  padding: 8px 11px 8px 20px;
  gap: 9px;

  @media (max-width: 768px) {
    font-size: 10px;
    padding: 5px;
  }
}
