.rpd__head {
  display: flex;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  background: white;
  justify-content: space-between;
  padding: 0 18px 13px 25px;
  gap: 32px;

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 14px;
  }
}

.rpd__history {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.rpd__arrow-wrapper {
  position: relative;
  max-width: 468px;
  min-width: 310px;
  width: 100%;
  display: flex;
  align-items: center;

  div {
    display: flex;
    align-items: center;
  }

  @media (max-width: 1024px) {
    max-width: 100%;
  }
}

.rpd__date {
  width: 461.5px;
  padding: 0 12px 0 8px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  height: 22px;
  background-repeat: no-repeat;
  position: relative;
  background-size: 100%;

  span {
    position: relative;
    top: 1px;
    z-index: 5;
  }

  @media (max-width: 1024px) {
    font-size: 17px;
    height: 35px !important;
    width: 100%;
    max-width: 100% !important;

    img {
      height: 35px !important;
    }
  }

  @media (max-width: 767px) {
    font-size: 12px;
    height: 17px !important;

    & > span {
      top: 2px;
    }
  }

  img {
    @media (max-width: 767px) {
      height: 20px !important;
    }
  }
}

.rpd__blue-arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -1px;
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 700;
  width: 267px;
  white-space: nowrap;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../../../../assets/images/plan-year.png');

  @media (max-width: 1024px) {
    height: 39px;
    font-size: 17px;
    width: 322px;
    transform: translateX(-50%);
  }

  @media (max-width: 767px) {
    font-size: 13px;
    max-width: 200px !important;
    height: 23px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: 500px) {
    font-size: 12px;
    max-width: 180px !important;
    height: 21px;
  }
}

.rpd__arrow-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  right: 0;
  width: 100%;
}

.rpd__head-min {
  padding-top: 7px !important;

  @media (min-width: 1024px) {
    padding: 18px 10px 9px;
    flex-direction: column;
    align-items: center;
    gap: 7px;

    .rpd__blue-arrow {
      max-width: 267px;
      width: 100%;
    }

    .rpd__date {
      flex-grow: 1;
      width: 100%;
      max-width: 520px;
    }
  }
}

.rpd__d {
  margin-top: 6px;
}
