.cpd-main_block {
  border: 1px solid #f0f0f0;
  background: #fff;
  padding: 16px 7px 33px 11px;

  @media (max-width: 1200px) {
    background: transparent;
    padding: 0;
    border: none;
  }

  @media (max-width: 1024px) {
  }
}

.cpd-main {
  @media (max-width: 768px) {
    border: 1px solid #f0f0f0;
    background: #fff;
    border-radius: 5px;
    padding: 16px 7px 33px 11px;
  }
}

.cpd__date {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  color: #f90;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: normal;

  @media (max-width: 768px) {
    font-size: 11px;
  }
}

.chapters-translate {
  display: flex;
  margin-right: 14px;
  gap: 41px;
  align-items: end;
  justify-content: space-between;

  @media (max-width: 1200px) {
    gap: 14px;
    margin-right: 0;
  }
}

.cpd__top {
  position: relative;
  z-index: 1;

  @media (max-width: 1200px) {
    border: 1px solid #f0f0f0;
    background: #fff;
    padding: 16px 7px 33px 11px;
  }

  @media (max-width: 1024px) {
    border: none;
  }

  @media (max-width: 768px) {
    border: none;
    padding: 0;
    margin-left: auto;
    max-width: 280px;
  }
}
