@import '../../assets/sass/config';

.main-section {
  background-color: $baseWhiteHome;
  padding-top: 30px;

  @include mq('tablet') {
    padding-top: 10px;
  }

  @include mq('phone') {
    padding-top: 60px;
  }

  @include mq(767px, 'fixed') {
    padding-top: 84px;
  }
}

.wrapper {
  &.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 20px;

    @include mq('tablet') {
      gap: 30px;
    }

    @include mq('phone') {
      gap: 15px;
      padding-bottom: 10px;
    }
  }
}

.main-page {
  &__h3 {
    margin: 15px 0 25px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;

    @include mq(phone) {
      margin: 25px 0 15px;
      font-size: 24px;
      line-height: 34px;
      text-align: center;
    }
  }
}

.main-page__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 70px;

  @include mq('tablet') {
    justify-content: space-around;
  }

  &::after {
    content: '';
    width: 375px;
  }
}

.promo {
  @include mq(tablet) {
    flex-wrap: wrap;
    height: 100%;
  }

  padding-top: 30px;
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;

  .slick {
    $s: &;

    &-slider {
      width: 100%;
      position: relative;
      overflow: hidden;
      box-sizing: border-box;

      @media (max-width: 600px) {
        padding: 0 20px;
      }

      .slick-arrow {
        &::before {
          color: black;
        }
      }

      .slick-prev {
        left: 0 !important;
      }

      .slick-next {
        right: 0 !important;
      }
    }

    &-slide {
      padding: 0 6.5px;

      .external-video {
        padding-bottom: 56.25%;
      }

      @media (max-width: 1023px) {
        .external-video {
          margin: 0;
          width: 100%;
        }
      }
    }
  }
}

.promo__left {
  display: flex;
  width: 55%;
  margin-right: 10px;
  position: relative;
  overflow: hidden;

  @include mq(tablet) {
    margin: 0 0 10px;
    width: 100%;
  }

  .slick-slider {
    width: 100%;

    @include mq('phone', min) {
      @include mq('tablet') {
        height: 450px;
      }
    }
  }

  @include mq('phone', max) {
    margin-bottom: 2px;
  }

  .slider__responsive-img {
    position: absolute;
  }
}

.promo__left-video {
  @include mq('phone', max) {
    height: 190px;
    margin-bottom: 8px;
    margin-top: 5px;

    .video-activated,
    iframe {
      height: 100%;
    }

    .main-page__slide-video {
      height: 190px;
    }
  }
}

.video-newSite-right,
.video-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.video-newSite-right {
  cursor: pointer;
}

.promo__right {
  width: 45%;

  .main-page__tile {
    background-color: $cBlack;
    overflow: hidden;
  }

  .main-page-video {
    padding: 0;

    &::before,
    &::after {
      content: '';
      z-index: 0;
      width: 0;
      height: 0;
    }

    iframe {
      height: 100%;
      width: 100%;
    }
  }

  @include mq(tablet) {
    margin: 0 0 10px;
    width: 100%;
  }
}

.main-page__slide {
  height: 100%;
  overflow: hidden;
  color: $cWhite;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-size: cover;
  background-color: $cBlack;
  background-repeat: no-repeat;

  &:hover {
    color: white;
  }

  &_dark {
    color: $baseGray;
  }

  @include mq(phone) {
    height: 400px;
  }

  .btn {
    position: relative;
    z-index: 1;
    margin-top: 16px;

    @include mq(phone) {
      padding: 10px 30px 12px;
    }
  }

  .main-page__slide-without-text {
    margin-top: auto;
  }
}

.main-page__text-container {
  padding: 12px;
  position: relative;
  min-height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {
    transition: 0.7s ease;
    color: $baseOrange;
  }

  @include mq('phone', max) {
    padding: 15px;
    min-height: 38%;
  }
}

.main-page__slide-text {
  font-size: 2.2rem;
  color: $cWhite;

  @include Lato();

  position: relative;
  line-height: 2.2rem;
  width: 100%;
  margin-bottom: 6px;
}

.main-page__slide-title {
  @include LatoBlack;

  font-size: 3.1rem;
  line-height: 3.1rem;
  position: relative;
  z-index: 1;

  @include mq(phone) {
    font-size: 2.3rem;
    line-height: 2.5rem;
    margin-bottom: 5px;
  }
}

.main-page__slide-desc {
  position: relative;
  z-index: 1;

  @include LatoSemiBold;

  font-size: 1.8rem;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  display: flex;

  @include mq('phone', max) {
    font-size: 1.7rem;
    line-height: 2rem;
  }
}

.main-page__slide-link {
  position: relative;
  z-index: 1;

  @include LatoSemiBold;

  font-size: 1.7rem;
  line-height: 1.9rem;
  color: $baseOrange;
  border-bottom: 1px solid $baseOrange;
}

.main-page__tiles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.slider__small_ld,
.slider__small_rd {
  .main-page__tile {
    margin-bottom: 0;
  }
}

.slider__small_ld {
  order: 3;
}

.slider__small_lu {
  order: 1;
}

.slider__small_ru {
  order: 2;
}

.slider__small_rd {
  order: 4;
}

.main-page__tile {
  position: relative;
  width: 100%;
  display: flex;
  height: 205px;
  color: $cWhite;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  &:nth-child(odd) {
    margin-right: 10px;
  }

  margin-bottom: 10px;

  @include mq('phone', max) {
    height: 180px;
  }

  @include mq(767px, min) {
    @include mq('tablet', max) {
      height: 240px;
    }
  }

  &:hover {
    color: $cWhite;
  }
}

.right-slider__container {
  width: 49%;
}

.main-page__container {
  padding: 10px;
  position: relative;
  width: 100%;
  overflow: hidden;

  @include mq(767px, min) {
    @include mq('tablet', max) {
      padding: 14px;
    }
  }

  @include mq('phone') {
    padding: 8px;
  }

  &::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .main-page__tile-description {
    display: none;
  }

  &:hover {
    transition: 0.5s ease;
    color: $baseOrange;
    cursor: pointer;

    .main-page__tile-description {
      display: flex;
    }
  }
}

.main-page__tile-title {
  position: relative;
  width: 100%;

  @include LatoBlack();

  font-size: 1.7rem;
  line-height: 2rem;
  z-index: 2;

  @include mq('phone', min) {
    @include mq('tablet') {
      font-size: 1.8rem;
      line-height: 1.8rem;
    }
  }

  @include mq(phone) {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
}

.main-page__bible {
  border: 1px solid $baseGrayLight;
  border-radius: 2px;

  @include mq('tablet') {
    .tabs__content {
      padding: 0;
    }
  }
}

.main-page__tile-description {
  margin-top: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.7rem;
  overflow: hidden;

  @include Lato();

  @include mq('phone', min) {
    @include mq('tablet') {
      font-size: 1.7rem;
      line-height: 2rem;
    }
  }

  @include mq('phone', max) {
    font-size: 1.4rem;
  }
}

.main-page__rga,
.main-page__lid,
.main-page__news {
  min-height: 200px;
  width: 100%;
}

.main-page__lid {
  .container {
    padding: 0;
  }
}

.main-page__updates {
  max-width: 800px;
  margin: 0 auto;

  @include mq('tablet-wide') {
    max-width: 100%;
  }
}

.main-page__total-interp {
  @include mq(phone) {
    order: 1;
  }
}

.video-newSite {
  width: 100%;
  position: absolute;
  cursor: pointer;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  iframe {
    width: 100%;
  }
}

.main-page__container-empty {
  padding: 0;
  height: 0;
  min-height: 0;
}

@include mq('tablet', min) {
  .swiper-slide {
    width: 100.05% !important;
  }
}

.video__media {
  width: 100%;
  height: 100%;
  border: none;

  @include mq('tablet', max) {
    height: 100%;
  }
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: block;
  padding: 0;
  width: 68px;
  height: 48px;
  border: none;
  background-color: transparent;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video__button-shape {
  fill: #212121;
  fill-opacity: 0.8;
}

.video__button-icon {
  fill: #fff;
}

.video__button:focus {
  outline: none;
}

.video-newSite:hover .video__button-shape,
.video-newSite-right:hover .video__button-shape,
.video__button:focus .video__button-shape {
  fill: #f00;
  fill-opacity: 1;
}

.slick-arrow {
  z-index: 10;
  background-position: center;
  background-repeat: no-repeat;
  height: 44px;
  width: 27px;
  transition: opacity 0.4s ease;

  &::before {
    content: '';
  }
}

.slick-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23f9d063'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;

  &:hover {
    opacity: 0.6;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23f9d063'%2F%3E%3C%2Fsvg%3E");
  }
}

.slick-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23f9d063'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;

  &:hover {
    opacity: 0.6;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23f9d063'%2F%3E%3C%2Fsvg%3E");
  }
}

.slider__picture {
  position: absolute;
}

.slider__responsive-img {
  width: 100%;
  height: auto;
}

.slider__picture {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-slider {
  overflow: hidden;
}

.slick-list,
.slick-track {
  height: 100%;

  @include mq(1024px) {
    //height: 420px;
  }
}

@include mq('tablet') {
  .slick-track {
    & .slick-current {
      height: 100%;
    }
  }
}

@include mq('phone', min) {
  .slick-slide > div,
  .slick-slide > div > div {
    height: 100%;
  }
}

.slick-slider .slick-arrow {
  display: none;
  height: 14px;
  width: 8px;
}

.subscribe-reading-plan.btn {
  width: fit-content;

  @include mq('phone') {
    width: 100%;
    padding: 10px;
    font-size: 1.3rem;
  }
}
