@import '../../assets/sass/config';

.latest-interpritations__totalCount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 123px;
  max-width: 740px;
  border-radius: 4px;
  border: 1px solid $baseGrayLight;
  background-color: $cWhite;
  margin: 0 auto;
  padding: 0 40px;

  @include mq('tablet-wide') {
    max-width: 100%;
  }

  @include mq(phone) {
    padding: 0 20px;
  }

  > div {
    flex: 1 1 0;
  }

  &__text {
    @include mq(phone) {
      margin-right: 8px;
    }

    p {
      text-align: center;
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 26px;

      @include mq(phone) {
        font-size: 1.4rem;
      }
    }
  }

  &__numbers {
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      width: 4px;
      height: 73px;
      margin-right: 14px;
      background-color: $baseOrange;
    }

    div {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 0;
    }

    p {
      font-size: 3.6rem;
      font-weight: 900;
      line-height: 1;

      @include mq(phone) {
        font-weight: 700;
        font-size: 2.6rem;
      }
    }

    span {
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
}
