@import '~assets/sass/config.scss';

.comments {
  margin-top: 50px;
}

.comments-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;

  @include mq('phone', max) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.comments-head-item {
  display: flex;

  & p {
    @include LatoBold;

    font-size: 2.2rem;
    line-height: 24px;
  }

  & span {
    margin-left: 5px;
    color: $baseDefault;
    font-size: 1.6rem;
    line-height: 24px;
  }

  @include mq('phone', max) {
    margin-bottom: 10px;

    & p {
      font-size: 1.8rem;
    }
  }
}

.comments-btn {
  height: 36px;
  min-width: 200px;

  & .mediaBth {
    width: 100%;
  }

  @include mq('phone', max) {
    width: 100%;
  }
}

.comment {
  position: relative;
  padding: 24px;
  background: $cWhite;
  border: 1px solid $baseGrayLight;
  border-radius: 4px;
  transition: border-color 0.65s ease;

  &:hover {
    border-color: $baseOrange;

    .comment-close {
      opacity: 1;
    }
  }
}

.comment + .comment {
  margin-top: 8px;
}

.comment-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  & p {
    @include LatoBold;

    font-size: 1.4rem;
    line-height: 24px;
  }

  & span {
    @include LatoItalic;

    color: $baseDefault;
    font-size: 1.4rem;
    line-height: 24px;
  }
}

.comment-desc-btn {
  margin-top: 10px;

  .mediaBth {
    width: auto;
    padding: 0;
    padding-bottom: 2px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $baseOrange;
    font-size: 1.5rem;
    line-height: 18px;
    transition: 0.65s ease;

    &:hover {
      background: none;
      border-color: $cWhite;
    }
  }
}

.comment-close {
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: opacity 0.25s ease;

  &:hover {
    & span {
      background-color: $baseOrange;
    }
  }
}

.close-icon {
  position: relative;
  width: 10px;
  height: 10px;

  & span {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: $cBlack;
    transform: rotate(-45deg);

    &:first-child {
      transform: rotate(45deg);
    }
  }
}

.comment-btn {
  width: 200px;
  margin: auto;
  margin-top: 24px;
  background: linear-gradient(180deg, #fff 0%, #f3f3f3 100%);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 24px;

  & .mediaBth {
    width: 100%;
    border: none;
  }
}

.form__submit_align-comment-btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;

  .form__submit-button {
    @include LatoBold;

    background: linear-gradient(180deg, #fff 0%, #f3f3f3 100%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 24px;

    &:hover {
      color: $cBlack;
      background: $baseOrange;
    }
  }

  @include mq('tablet') {
    margin-bottom: 50px;
  }

  @include mq('phone', max) {
    margin-top: 16px;
    margin-bottom: 0;
  }
}

.comment-form {
  & p {
    @include LatoBold;

    font-size: 2.2rem;
    line-height: 24px;
    margin-bottom: 24px;
  }

  & .textfield__label {
    font-size: 1.4rem;
    line-height: 17px;
    color: $textLabel;
    letter-spacing: 0.2px;
  }

  & .textfield__input-wrap {
    margin-top: 8px;

    & .textfield__input {
      height: 40px;
    }
  }

  @include mq('phone', max) {
    & p {
      font-size: 1.8rem;
    }
  }
}

.comment-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  @include mq('phone', max) {
    flex-direction: column;
    margin-bottom: 16px;
  }

  .textfield + .textfield {
    margin-left: 23px;

    @include mq('phone', max) {
      margin-left: 0;
      margin-top: 16px;
    }
  }

  & .textfield {
    width: 100%;
  }
}

.comment-form .textfield__input-wrap .textfield__input[type='textarea'] {
  height: 114px;
}

.media-subscriber-success {
  @include LatoBold;

  text-align: center;
  font-size: 2rem;
}
