@import '~assets/sass/config';

.verse__parallels {
  border-top: none;
}

.verse__parallel {
  padding: 30px;
  border-top: 1px solid $baseGrayLight;
  margin-top: -1px;

  @include mq('tablet') {
    padding: 20px;
  }
}

.verse__parallel-name {
  display: block;

  @include LatoBold;

  font-size: 2rem;
  margin-bottom: 20px;
}
