.rpt-wrapper {
  margin-bottom: 30px;
  position: relative;

  @media (max-width: 1200px) {
    margin-bottom: 15px;
  }

  @media (max-width: 1024px) {
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    margin-bottom: 15px;
  }
}

.rpt-title {
  font-size: 3.3rem;
  line-height: 1;

  @media (max-width: 1200px) {
    font-size: 2.4rem;
  }

  @media (max-width: 1024px) {
    font-size: 2.4rem;
  }

  @media (max-width: 768px) {
    font-size: 1.9rem;
  }
}

.margin {
  margin-bottom: 30px;

  @media (max-width: 1200px) {
    margin-bottom: 15px;
  }

  @media (max-width: 1024px) {
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    margin-bottom: 15px;
  }
}

.rpt-btn {
  border-radius: 76px;
  position: absolute;
  top: -25px;
  text-align: center;
  right: 0;
  padding: 10px 4px;
  border: 1px solid #f9d063;
  font-size: 14px;
  font-weight: 400;
  min-width: 112px;
  background: #fff;

  @media (max-width: 1200px) {
    min-width: 100px;
  }

  @media (max-width: 768px) {
    width: auto;
    min-width: 0;
    padding: 3px;
    font-size: 10px;
  }
}
