@import '~assets/sass/config.scss';

.materials__header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-items: center;
  position: relative;
  top: 0;
  z-index: 8;
  background: $baseGrayBody;
  padding-bottom: 20px;

  @include mq('tablet', max) {
    padding-bottom: 20px;
  }

  @include mq('phone') {
    z-index: inherit;
  }
}
