@import '../../assets/sass/config';

.select {
  position: relative;
  z-index: 2;
}

.select__value {
  @include LatoBold;

  font-size: 1.4rem;
  padding-bottom: 1px;
  border-bottom: 1px solid #f9d063;
  cursor: pointer;
  transition: color 0.4s;

  &:hover {
    color: $baseOrange;
  }

  svg {
    margin-left: 5px;
  }
}

.select__options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $cWhite;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
  z-index: 1;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.select__option {
  margin-top: -1px;
  white-space: nowrap;
  padding: 0 20px;
  border: 1px solid $baseGrayLight;
  line-height: 40px;
  cursor: pointer;

  &:hover {
    color: $baseOrange;
  }
}
