@import '~assets/sass/config';

.search-container {
  display: flex;

  @include mq('tablet') {
    flex-direction: column;
  }
}

.search-content {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 1 100%;
  margin-left: 22px;

  @include mq('tablet') {
    margin-left: 0;
  }
}

.search-content-page {
  margin-top: 30px;

  @include mq('tablet') {
    margin-top: 0;
  }
}
