@import '../../assets/sass/config';

.btn {
  display: inline-block;
  cursor: pointer;
  background-color: $baseOrange;
  border-radius: 25px;
  font-size: 1.6rem;
  padding: 12px 45px;
  transition: background-color 0.4s;
  white-space: nowrap;
  text-align: center;

  @include mq('tablet', max) {
    width: initial;
  }

  &:hover,
  &:focus {
    background-color: $baseOrange_hover;
  }

  .icon + * {
    margin-left: 10px;
  }

  &_circle {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: $baseGrayMedia;
    color: $baseDefault;
    font-size: 1.3rem;
    padding: 0;
  }

  &_delete {
    background-color: $baseLilac;

    &:hover,
    &:focus {
      background-color: $baseLilac_hover;
    }
  }

  &.rect {
    border-radius: 7px;
  }

  &.fluid {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  &.bold {
    font-size: 20px;
    font-weight: bold;
  }

  &_small {
    font-size: 1.4rem;
    padding: 10px 30px;
  }

  &_complete {
    background-color: $baseGreen;

    &:hover,
    &:focus {
      background-color: $baseGreen_hover;
    }
  }

  &_disabled {
    opacity: 0.8;
    cursor: not-allowed;

    &:hover {
      background-color: $baseOrange;
    }

    .icon {
      animation: 1s linear 0s normal none infinite running rotate;

      svg {
        height: auto;
      }
    }
  }

  &.red {
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(
                    180deg,
                    #f5767c 0%,
                    #ef5251 21%,
                    #da4f4e 49%,
                    #b74240 80%,
                    #ae3834 100%
    );
    color: white;

    @include Lato();

    &:hover {
      color: white;
      opacity: 0.8;
      background-image: linear-gradient(
                      180deg,
                      #f5767c 10%,
                      #ef5251 35%,
                      #da4f4e 42%,
                      #b74240 70%,
                      #ae3834 80%
      );
    }
  }

  &.grey {
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #f3f3f3;
    background-image: linear-gradient(180deg, #fff 0%, #f3f3f3 100%);

    &:hover {
      opacity: 0.8;
      background-image: linear-gradient(to top, #ffde88 0%, #efae04 100%);
      border: 1px solid $baseOrange;
    }
  }

  &_gradiend {
    text-align: center;
    width: 190px;

    @include LatoBold;

    font-size: 1.3rem;
    background: linear-gradient(180deg, #fff 0%, #f3f3f3 100%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    line-height: 29px;
    padding: 7px 0;
    border-radius: 8px;
    transition: background 0.65s ease-in;
    white-space: nowrap;

    &:hover {
      color: $baseGray;
      background: #efae04;
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
    }

    &.active {
      border-color: $cWhite;
      background: linear-gradient(360deg, #ffde88 0.92%, #efae04 98.65%);
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
    }

    @include mq(1024px) {
      width: 150px;
    }

    @include mq('tablet') {
      width: 120px;
      line-height: 16px;
      padding: 3px 0;
      font-size: 1.2rem;
      margin-top: 0;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.2);
      white-space: normal;
    }

    @include mq('phone') {
      font-size: 1rem;
      white-space: nowrap;

      &:nth-child(-n + 3) {
        width: 78px;
      }

      &:nth-child(n + 4) {
        width: 122px;
      }
    }

    @include mq(480px) {
      &:nth-child(n + 4) {
        width: 122px;
        margin-top: 10px;
      }
    }
  }
}

.delete {
  @include mq('phone') {
    position: relative;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
