@import '~assets/sass/config';

.bible-media {
  width: 100%;
  height: 100%;

  &.bible-media-not-empty {
    @include mq('phone') {
      border: none;
    }
  }

  .bible-media__content {
    border: 1px solid $baseGrayLight;
  }

  .bible-media-tabs-right {
    .side__interpretators div {
      div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-right: 0 !important;
      }
    }

    .side__interpretators .list__item {
      display: flex;
      max-width: 100%;
      margin: 0;
    }
  }

  .side__interpretators .list__item {
    border: none;
    max-width: 270px;
    margin: 0;

    @include mq('phone') {
      min-width: 100%;
    }
  }
}

.bible-media__default {
  padding: 30px 40px 15px 40px;
}

.bible-media__empty {
  position: relative;
  padding: 15px 20px;
  text-align: center;
  min-height: 300px;
}

.extend {
  &.bible-not-left {
    margin-left: 0;
  }

  .bible-media__title {
    text-align: left;

    @include LatoBold;
  }

  .bm-questions {
    margin-top: 20px;
  }
}

.side_right {
  &.extend {
    @include mq('tablet') {
      margin-left: 0;
    }

    .bible-media__nav {
      flex-direction: row;
    }

    .bible-media-not-empty {
      .bible-media__nav .bible-media__nav-item {
        width: 100%;
        margin: 16px 0 0;
      }
    }

    &.bible-not-left .bible-media-not-empty .bible-media__nav,
    &.bible-not-left .bible-media__nav,
    .bible-media__nav {
      flex-direction: row;
    }

    &.bible-not-left .bible-media-not-empty .bible-media__nav .bible-media__nav-item,
    &.bible-not-left .bible-media__nav .bible-media__nav-item,
    .bible-media__nav .bible-media__nav-item {
      width: calc((100% - 64px) / 4);
      margin: 16px 8px 0 8px;
    }
  }

  .bible-media__nav {
    flex-direction: column;

    .bible-media__nav-item {
      width: 100%;
      margin: 16px 0 0;
    }
  }
}

.bible-media__nav {
  display: flex;
}
