.cpd__layout {
  display: grid;
  grid-template-columns: 247px 1fr 272px;
  gap: 15px;

  & .bible_right {
    margin-left: 0;
  }

  @media (max-width: 1200px) {
    grid-template-columns: 205px 1fr 272px;
    gap: 10px;

    & .bible_right {
      margin-left: 15px;
    }
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr 272px;
    gap: 0;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 0;

    & .bible_right {
      margin-left: 0;
    }
  }
}

.game__btn-first {
  width: 350px;
  display: flex;
  padding: 5px 24px 5px 44px;
  align-items: center;
  font-size: 18px !important;
  gap: 17px;
  position: relative;
  font-style: normal;
  font-weight: 700;

  svg {
    flex-shrink: 0;
  }

  &.result {
    padding: 13px 17px 17px 35px;
  }

  @media (max-width: 1200px) {
    font-size: 13px !important;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    width: 240px;
  }

  @media (max-width: 768px) {
    max-width: 240px;
    font-weight: 500;
    font-size: 12px !important;
  }
}

.game__btn {
  width: 350px;
  font-size: 18px !important;
  padding: 14px 0;
  position: relative;
  text-align: center;

  @media (max-width: 1200px) {
    font-size: 13px !important;
    padding: 10px 0;
    justify-content: center;
    width: 240px;
  }

  @media (max-width: 768px) {
    max-width: 240px;
    font-weight: 500;
    font-size: 12px !important;
  }
}

.arrow-btn-first {
  position: absolute;
  right: 16px;

  @media (max-width: 1200px) {
    right: 10px;
    width: 9px;
  }
}

.buttons-game {
  display: flex;
  margin-top: 20px;
  align-items: center;
  gap: 15px;
  flex-direction: column;

  @media (max-width: 768px) {
    gap: 10px;
  }
}

.game__or {
  color: #888;
  text-align: center;
  font-size: 16px;
  font-weight: 900;

  @media (max-width: 768px) {
    display: flex;
    font-weight: 700;
    font-size: 12px;
    align-items: center;
    gap: 9px;

    &::after,
    &::before {
      content: '';
      height: 1px;
      width: 103.211px;
      background: #d6d6d6;
      flex-grow: 1;
      display: block;
      position: relative;
    }
  }
}

.game-label {
  display: flex;
  padding-top: 5px;
  align-items: center;
  color: #676666;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 150px;

  @media (max-width: 1200px) {
    margin-bottom: 0;

    .checkmark {
      width: 18px;
      height: 18px;

      ::after {
        left: 5px;
        top: 2px;
        width: 4px;
        height: 8px;
      }
    }

    .container-label {
      font-size: 11px !important;
    }
  }
}

.main__container {
  position: relative;
}

.cpd__admin {
  position: absolute;
  right: 0;
  top: -25px;
  color: #929292;
  text-align: right;
  font-size: 18px;
  font-weight: 900;

  @media (max-width: 768px) {
    font-size: 11px;
    top: -17px;
  }
}

.cpd-wrapper_main {
  @media (max-width: 1024px) {
    background: white;
    padding: 11px 20px 13px;
  }

  @media (max-width: 768px) {
    background: transparent;
    border: none;
    padding: 0;
  }
}

.content__wrapper {
  @media (max-width: 1024px) {
    border: 1px solid #f0f0f0;
    background: #fff;
  }

  @media (max-width: 768px) {
    background: transparent;
    border: none;
  }
}

.cpd__aside {
  @media (max-width: 1024px) {
    display: none;
  }
}

.cpd__right {
  @media (max-width: 1024px) {
    display: none;
  }
}

.chapters__top {
  display: flex;
  justify-content: center;
}

.slider-plan {
  width: 100%;
  max-width: 450px;
  overflow: visible;
  margin-left: 10px;

  @media (max-width: 850px) {
    max-width: 350px;
  }
}

.arrow-days.next {
  right: -11px;
  top: 11px;
  width: 12px;
}

.arrow-days.prev {
  left: -11px;
  width: 12px;
  top: 11px;
}

.slider-wrapper-d {
  margin-left: 19px;
  margin-bottom: 7px;
  width: 100%;
}

.title-slider {
  margin-bottom: 5px;
  font-size: 15px;
}

.plan-day {
  position: relative;
  border-bottom: 2px solid #fff;
  display: inline-block;

  &.passed {
    &::after {
      content: '';
      display: inline-block;
      position: relative;
      width: 5px;
      height: 5px;
      margin-left: 3px;
      top: -2px;
      border-radius: 50%;
      background: #09e511;
    }
  }

  &.late {
    &::after {
      content: '';
      display: inline-block;
      position: relative;
      width: 5px;
      height: 5px;
      margin-left: 3px;
      top: -2px;
      border-radius: 50%;
      background: #f8231f;
    }
  }

  &.select-day {
    background: #f9f8f6;
    border-bottom: 2px solid #f9d063;
  }
}

.tab-item {
  display: none !important;
}
