@import '../../assets/sass/config';

.social {
  color: $cWhite;

  @include mq(767px, 'fixed') {
    padding: 0 8px;
  }
}

.social__title {
  margin-right: 10px;

  &:empty {
    margin: 0;
  }
}

.social__links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include mq('desktop', max) {
    max-width: 190px;
  }

  @include mq('tablet') {
    max-width: initial;
  }

  path {
    fill: $cBlack;
    stroke: none;
  }
}

.social__links-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 2px;
  margin-right: 20px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 0;
  transition: background-color 0.3s;
  background-color: $cWhite;
  cursor: pointer;
  margin-bottom: 10px;

  @include mq('tablet') {
    margin-right: 10px;
  }

  &:last-child {
    margin-right: 0;
  }

  &_ok {
    background-color: $baseOrangeSocial;
  }
}

.header {
  .social__links {
    @include mq('phone', max) {
      flex-wrap: wrap;
      margin: 12px 6px;
      max-width: 100%;
    }
  }

  .social__links-item {
    transition: 0.4s ease;

    @include mq('phone', max) {
      width: 36px;
      margin: 12px 24px;

      .social__links-icon {
        width: 100%;
        height: 100%;
      }
    }

    @include mq('phone', min) {
      @include mq('tablet', max) {
        width: 23px;
        height: 23px;
        margin-right: 7px;
      }
    }

    &:hover {
      background-color: $baseOrange;
    }
  }
}

.telegram-icon {
  width: 22px;
  height: 22px;
}
