@import '~assets/sass/config';

.media-motivator-content-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  cursor: pointer;
  text-align: left;

  & .media-content-info-item {
    border-bottom: 1px solid $cWhite;
    line-height: 20px;
    font-size: 1.5rem;
    font-weight: normal;
  }

  .media-motivator-item {
    span {
      border-bottom: 1px solid $cWhite;
      transition: border-color 0.65s ease;
    }

    &:hover {
      span {
        border-color: $baseOrange;
      }
    }
  }

  .media-motivator-title {
    cursor: default;
  }
}
