@import '../../assets/sass/config';

.video__item-sticker {
  @include LatoBold;

  color: $cBlack;
  font-size: 14px;
  padding: 3px 9px;
  border-radius: 15px;
  margin-right: 8px;

  &-absolute {
    bottom: 12px;
    right: -4px;
    position: absolute;
  }

  @include mq('phone') {
    right: 2px;
  }
}
