@import '../../assets/sass/config';

.lazy-load-image-background.blur {
  filter: blur(15px);
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  filter: blur(0);
  transition: filter 0.3s;
}

.lazy-load-image-background.blur > img {
  opacity: 0;
}

.lazy-load-image-background.blur.lazy-load-image-loaded > img {
  opacity: 1;
  transition: opacity 0.3s;
}

.video__list-separate {
  @include LatoBold;

  font-size: 2.2rem;
  line-height: 2.4rem;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid $baseGrayLight;

  @include mq('phone') {
    font-size: 18px;
  }
}

.video__list-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  &::after {
    content: '';
    display: block;
    height: 0;
    flex: 1 1 auto;
  }

  @include mq('tablet') {
    margin-right: 0;
    justify-content: space-around;
  }
}

.video__item {
  width: 200px;
  margin-right: 40px;
  display: block;
  margin-bottom: 48px;

  @include mq('tablet') {
    margin-right: 0;
    margin-bottom: 30px;
    width: 48%;

    &:nth-child(2n) {
      margin-left: 10px;
    }
  }
}

.mobile__tabs {
  display: flex;
}

.video__item-sticker {
  @include LatoBold;

  color: $cBlack;
  background-color: $baseOrange_sticker;
  font-size: 14px;
  padding: 3px 9px;
  border-radius: 15px;
  margin-right: 8px;

  &-absolute {
    bottom: 12px;
    right: -4px;
    position: absolute;
  }

  @include mq('phone') {
    right: 2px;
  }
}

.video__item-tabs {
  top: 12px;
}

.video__item-title {
  @include LatoBold;

  font-size: 1.5rem;
  margin-bottom: 5px;
}

.video__item-preview {
  position: relative;
  margin-bottom: 10px;
}

.video__item-author {
  @include LatoSemiBold;

  line-height: 1.7rem;
}

.video__item-new {
  margin-top: 4px;
  margin-left: -2px;
}

.video-detail.content-area-for-side {
  padding-top: 0;

  @include mq('tablet') {
    padding-left: 0;
    padding-right: 0;
  }
}

.video-detail__title {
  @include LatoBold;

  font-size: 2.4rem;
  padding-bottom: 5px;
  border-bottom: 1px solid $baseGrayLight;
  margin-bottom: 30px;
}

.video-detail__title_main {
  margin: 32px 32px 30px 32px;

  @include mq('tablet') {
    margin: 5px 0 24px 0;
  }
}

.video-detail__video {
  margin-bottom: 30px;

  iframe {
    // width: 100%;
    // height: 450px;
    @include mq('tablet') {
      height: 170px;
    }

    @include mq(500px, min) {
      @include mq('tablet') {
        height: 450px;
      }
    }
  }
}

.video-detail__description {
  white-space: pre-line;
  text-align: justify;

  + .video-detail__description {
    margin-top: 30px;
  }
}

.other-video__list {
  height: 100%;
  padding-bottom: 30px;
}

.other-video__title {
  font-size: 1rem;
  color: $baseDefaultGray;
  margin-bottom: 5px;
}

.other-video__item {
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;

  &:first-child {
    padding-bottom: 10px;
    border-bottom: 1px solid $baseGrayLight;
    margin-bottom: 15px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.other-video__item-preview {
  flex: 0 0 110px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.other-video__item-info {
  flex: 1 1 auto;
}

.other-video__item-title {
  @include LatoBold;

  font-size: 1.2rem;
  margin-bottom: 4px;
}

.other-video__item-author {
  font-size: 1rem;
  color: $baseDefaultGray;
}

.video {
  @include mq('tablet') {
    margin-bottom: 35px;
  }
}

.video-content {
  width: 100%;

  @include mq('tablet') {
    margin-left: 0;
  }
}

.video-side {
  @include mq('tablet') {
    width: 100%;

    .video-select {
      margin-bottom: 0;
    }
  }
}

.video__body {
  position: relative;
  width: 100%;
  background: #fff;
  padding: 0;
  border: 1px solid $baseGrayLight;

  .paper {
    border: none;
  }

  .content {
    .paper {
      min-height: 600px;
      position: relative;

      @include mq('tablet', max) {
        min-height: 300px;
      }
    }
  }

  @include mq('tablet') {
    padding: 10px;

    .paper {
      background-color: transparent;
    }

    .video_two-col {
      flex-direction: column;
    }
  }

  .video-detail {
    flex-direction: column;

    @include mq('phone') {
      min-height: initial;
    }
  }

  @include mq(1024px, min) {
    @include mq(1024px) {
      .wrapper_two-col {
        flex-direction: row;
      }
    }
  }

  .video {
    border: transparent;
  }

  @include mq('tablet', min) {
    .video-side {
      border-bottom: transparent;
    }
  }
}

.video_two-col {
  .side {
    @include mq('tablet') {
      background-color: transparent;
      width: 100%;
      margin-bottom: 25px;
    }
  }

  @include mq('tablet', min) {
    .side_right {
      height: 750px;
      flex: 0 0 260px;

      .other-video {
        height: 100%;
      }
    }
  }
}

.video {
  .video-side {
    @include mq('tablet') {
      justify-content: space-around;
    }

    @include mq(769px, min) {
      border: 1px solid $baseGrayLight;
    }

    .list__item:last-child {
      border-bottom: transparent;
    }
  }
}

.other-video {
  @include mq('tablet') {
    width: 100%;
  }
}

.video__wrapper {
  @include mq('tablet') {
    padding-top: 0;

    .video {
      border: transparent;
    }
  }
}

@include mq(1024px, min) {
  @include mq(1024px) {
    .video-page {
      .wrapper_two-col {
        flex-direction: row;
      }
    }
  }
}

.video-detail-container {
  position: relative;
  overflow: hidden;
  padding-top: 0;
  margin-bottom: 30px;
}

.video-detail-iframe {
  position: relative;
  height: 314px;
  width: 100%;

  @include mq('phone', max) {
    height: 210px;
  }

  @include mq('phone', min) {
    @include mq('tablet', max) {
      height: 420px;
    }
  }
}

.select-adaptive {
  width: 100%;
  margin-bottom: 20px;
}
