@import '~assets/sass/config';

.media-content-info {
  margin-top: 6px;

  & .media-content-title {
    font-size: 1.4rem;
    padding-right: 10px;
  }

  & .media-content-author {
    color: $newsDateColor;
    line-height: 14px;
  }
}
