.add-bookmark {
  position: relative;
}

.widget__bookmarks {
  max-height: 270px !important;
  overflow-y: scroll;
  overflow-x: hidden;

  .list__item-link {
    padding: 10px 20px;
  }

  .lk__bookmark-item {
    display: flex;
    flex-direction: row;
  }
}

.user__bookmarks {
  border: transparent;
  background-color: transparent;
  outline: transparent;
}
