@import '~assets/sass/config';

.media-multi-body {
  &__listen {
    padding-bottom: 34px;
  }

  &__play {
    display: block;
    overflow-y: auto;
    padding: 30px;

    &.media-video-heigtht {
      min-height: 500px;
    }
  }

  &__book {
    padding: 32px 30px 0;
  }

  @include mq('phone', max) {
    &__play,
    &__book {
      padding: 20px 10px;
    }
  }
}

.media-multi-body-preloader {
  position: relative;
  height: 150px;
}
