@import '../../assets/sass/config';

.orphus {
  width: 100%;
  background-color: $cWhite;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  margin: 30px 0;
  border: 1px solid $baseGrayLight;

  @include mq('tablet', max) {
    display: none;
  }
}

.orphus__title {
  padding: 21px 16px 12px 22px;
  border-bottom: 1px solid $baseGrayMediaLight;

  @include LatoBlack;

  font-size: 1.8rem;
  line-height: 2rem;
}

.orphus__main-container {
  padding: 14px 0 21px;
}

.orphus__main-text {
  color: $baseGray;
  opacity: 0.8;

  @include Lato;

  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
}

.orphus__main-keywords {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.orphus__keyword {
  border-radius: 20px;
  background-color: $baseGrayMedia;
  padding: 8px 30px;
  font-size: 1.5rem;

  @include Lato;

  font-weight: 500;

  &:first-child {
    margin-right: 8px;
  }

  &:last-child {
    margin-left: 8px;
  }
}

.orphus__hidden {
  display: none;
}
