@import '~assets/sass/config';

.bible-group.container {
  @include mq('phone') {
    padding: 0;
    border: none;
    background: none;

    & .bible-group__search__city-list {
      background: $cWhite;
      padding: 10px;
      border: 1px solid $baseGrayLight;
      margin-bottom: 20px;
    }
  }
}
