@import '../../assets/sass/config';

.preaching__verses-group {
  margin-bottom: 40px;
  max-width: 500px;
}

.preaching__verses-type {
  @include LatoBold;

  font-size: 2rem;
  padding-bottom: 3px;
  border-bottom: 1px solid $baseGrayLight;
  margin-bottom: 20px;
}

.preaching__verses-short {
  @include LatoBold;

  font-size: 1.5rem;
  padding-bottom: 1px;
  border-bottom: 1px solid $baseOrange;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.preaching__verses-list {
  margin-top: 10px;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
}

.preaching__verses-item {
  margin-right: 5px;

  sup {
    margin-right: 3px;
  }
}

.preacher__item {
  &.active {
    background-color: $baseGrayBody;
    border-left: 4px solid $baseOrange;
    z-index: 1;
  }
}

.verse__preacher-links {
  margin-bottom: 30px;

  span {
    margin-right: 10px;
  }
}

.preaching-side {
  @include mq('tablet', min) {
    display: none;
  }

  @include mq('tablet') {
    margin-bottom: 16px;
  }

  width: 100%;

  & > div {
    width: 100%;
  }
}

.preaching {
  padding: 0;

  .preaching-side__wrapper {
    @include mq(769px, max) {
      display: none;
    }

    @include mq('tablet') {
      display: none;
    }

    @include mq('phone', min) {
      @include mq('tablet') {
        border: 1px solid $baseGrayLight;
      }
    }
  }

  .select-adaptive {
    @include mq('phone') {
      margin-bottom: 24px;
    }
  }
}

.preacher__subtitle {
  @include mq('tablet') {
    margin-top: 12px;
  }
}

.celebration {
  width: 100%;

  .verse__preaching {
    border: none;
    border-radius: none;
  }

  @include mq('phone') {
    padding: 20px 20px;
  }

  .content-area-for-side {
    flex-direction: column;
    justify-content: start;
  }

  .celebration__right {
    @include mq(769px, max) {
      display: none;
    }
  }

  &__about {
    padding: 25px 30px;

    @include mq('phone') {
      padding: 0;
    }
  }

  &__list_content {
    border: none;
    margin-top: 0;
  }
}

.preaching-page {
  .side__interpretators {
    & > div {
      & > div {
        overflow-x: initial !important;
        max-height: 100% !important;
      }
    }
  }

  @include mq('tablet', min) {
    .side__item {
      margin-bottom: 0;
    }
  }

  @include mq('tablet') {
    padding: 0;

    .page__body {
      padding: 0 0 30px;
      margin-top: 0;
    }

    .exegetes__list {
      .content {
        margin: 0;
        padding: 0;
      }
    }
  }

  @include mq('phone', min) {
    @include mq('tablet') {
      .preaching-side__wrapper {
        margin-bottom: 10px;
      }
    }
  }

  .celebration__desc {
    display: inline;
  }

  .verse__preaching-occasion {
    margin-top: 10px;
  }

  @include mq(1024px, min) {
    @include mq(1024px) {
      .preaching {
        flex-direction: row;
      }
    }
  }
}

.content-item {
  display: flex;
  flex: 1 1 100%;

  .preaching_content_two-col {
    display: flex;
    width: 100%;

    @include mq('desktop', max) {
      flex-direction: column-reverse;
    }
  }

  @include mq('tablet') {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.content_two-col .cerebration__rigth__menu {
  flex: 0 0 219px;

  @include mq('desktop', max) {
    flex: auto;
  }
}

.cerebration__rigth__menu {
  border: none;

  @include mq('desktop', max) {
    width: 100%;
    margin-bottom: 16px;
  }
}

.cerebration__head {
  padding: 15px 10px;
}

.cerebration__item {
  position: relative;
  height: 47px;
  border: none;
  border-top: 1px solid $baseGrayLight;
  border-bottom: 1px solid $baseGrayLight;
}

.cerebration__item:hover {
  border-color: $baseGrayLight;
}

.cerebration__item.active {
  border-left: none;
  // TODO: если будет не нужно убрать(20.11.19)
  // background: none;
  padding-left: -6px;
}

.cerebration__item__link {
  padding: 2px 2px 2px 26px;
  cursor: pointer;
  transition: color 0.4s, border-color 0.4s;
  line-height: 21px;
  font-size: 1.3rem;
}

.celebration__about {
  position: relative;

  & .preaching_list_content {
    padding: 0;
  }
}

.preaching-page {
  & .preaching_list_content {
    position: relative;
    padding: 30px 0 0 30px;
    border: none;
    margin: 0;
    min-height: 300px;
    width: 100%;

    @include mq('phone') {
      padding: 0;
    }
  }
}
